Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'

Fix bug of test_bn_adapt
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_builder.py
  tests/torch/nas/creators.py
  tests/torch/nas/test_all_elasticity.py
  tests/torch/nas/test_ps_controller.py
  tests/torch/nas/test_search.py
Labels: NNCF PT, experimental

Fix Pylint
  tests/torch/nas/test_ps_controller.py
  tests/torch/nas/test_search.py
Labels: NNCF PT

Fix Pylint
  tests/torch/nas/test_ps_controller.py
Labels: NNCF PT

Fix test to restore from state with bn_params
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_builder.py
  tests/torch/nas/test_all_elasticity.py
Labels: NNCF PT, experimental

Fix Pylint
  tests/torch/nas/test_all_elasticity.py
Labels: NNCF PT

Fix test
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX

Fix export of SOTA checkpoints for e2e validation
  nncf/torch/exporter.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_functions.py
  tests/torch/helpers.py
  tests/torch/nas/models/synthetic.py
  tests/torch/nas/test_elastic_depth.py
  tests/torch/nas/test_onnx_export.py
  tests/torch/quantization/test_onnx_export.py
  tests/torch/quantization/test_overflow_issue_export.py
Labels: NNCF PT

Made a workaround for hang on export NAS models
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elasticity_controller.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/onnx_export.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_controller.py
  nncf/torch/exporter.py
  nncf/torch/quantization/quantize_functions.py
  tests/torch/nas/test_all_elasticity.py
  tests/torch/nas/test_elastic_depth.py
  tests/torch/nas/test_onnx_export.py
Labels: NNCF PT, experimental

Made OrdereEnum int based
  nncf/common/utils/ordered_enum.py
Labels: NNCF Common

PR #1134 unfinished changes
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/torch/accuracy_aware_training/runner.py
Labels: NNCF PT, NNCF Common

AdaptiveCompressionTrainingLoop improvements
  examples/torch/classification/configs/pruning/resnet18_cifar10_accuracy_aware.json
  examples/torch/classification/main.py
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/config/schemata/accuracy_aware.py
  nncf/config/schemata/defaults.py
  nncf/torch/accuracy_aware_training/runner.py
  nncf/torch/pruning/filter_pruning/algo.py
  tests/torch/accuracy_aware_training/test_runner.py
  tests/torch/accuracy_aware_training/test_training_loop.py
Labels: NNCF PT, NNCF Common

Removed changes related to performing experiments
  examples/torch/classification/configs/pruning/resnet18_cifar10_accuracy_aware.json
  examples/torch/classification/main.py
Labels: NNCF PT

Removed to-dos
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/torch/accuracy_aware_training/runner.py
  tests/torch/accuracy_aware_training/test_training_loop.py
Labels: NNCF PT, NNCF Common

Pylint highlighted changes
  nncf/common/accuracy_aware_training/training_loop.py
Labels: NNCF Common

Distributed test fix
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/torch/accuracy_aware_training/runner.py
Labels: NNCF PT, NNCF Common

Refactored common, tf, pt AA and AC runners implementations. Added support for tensorflow accuracy aware loops.
  examples/tensorflow/classification/main.py
  nncf/common/accuracy_aware_training/runner.py
  nncf/tensorflow/accuracy_aware_training/keras_model_utils.py
  nncf/tensorflow/accuracy_aware_training/runner.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/torch/accuracy_aware_training/runner.py
  tests/tensorflow/accuracy_aware_training/test_keras_api.py
Labels: NNCF PT, NNCF TF, NNCF Common

TF enum & scheduler disabling fixes
  nncf/common/compression.py
  nncf/tensorflow/accuracy_aware_training/runner.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
Labels: NNCF TF, NNCF Common

Reverted enum related changes
  nncf/common/compression.py
Labels: NNCF Common

Removed checkpoint copying due to tensorflow issues
  nncf/common/accuracy_aware_training/runner.py
  nncf/tensorflow/accuracy_aware_training/runner.py
  nncf/torch/accuracy_aware_training/runner.py
Labels: NNCF PT, NNCF TF, NNCF Common

Pylint fixes
  examples/tensorflow/classification/main.py
  nncf/tensorflow/accuracy_aware_training/runner.py
Labels: NNCF TF

Review & failed test changes
  examples/tensorflow/object_detection/main.py
  examples/torch/object_detection/main.py
  examples/torch/semantic_segmentation/main.py
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/training_loop.py
  tests/tensorflow/sparsity/magnitude/test_algorithm.py
Labels: NNCF PT, NNCF TF, NNCF Common

Removed ordered enum
  nncf/common/utils/ordered_enum.py
Labels: NNCF Common

PT: create log_dir only on the main process
  nncf/common/accuracy_aware_training/runner.py
  nncf/tensorflow/accuracy_aware_training/runner.py
  nncf/torch/accuracy_aware_training/runner.py
Labels: NNCF PT, NNCF TF, NNCF Common

Pylint fix
  nncf/tensorflow/accuracy_aware_training/runner.py
Labels: NNCF TF

Add traversing from weight nodes
  nncf/common/insertion_point_graph.py
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/experimental/onnx/graph/onnx_graph.py
Labels: experimental, NNCF Common

Applied comments
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: none

Add get_activation_port_ids_for_bias_node func
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Labels: none

Update tests
  tests/common/quantization/test_ignore_post_processing.py
  tests/common/quantization/test_quantizer_propagation_graph.py
Labels: NNCF Common

Update return value
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Labels: none

Update tests x2
  tests/common/quantization/test_quantizer_propagation_solver.py
  tests/torch/quantization/test_solver_quantization_traits.py
Labels: NNCF PT, NNCF Common

Made checkpoint_path_extension variable in caps; tweaked another train_epoch_fn signature
  examples/tensorflow/object_detection/main.py
  nncf/common/accuracy_aware_training/runner.py
  nncf/tensorflow/accuracy_aware_training/runner.py
  nncf/torch/accuracy_aware_training/runner.py
Labels: NNCF PT, NNCF TF, NNCF Common

Update tests x3
  nncf/common/quantization/quantizer_propagation/graph.py
Labels: NNCF Common

Remove Optional from ONNXTargetPoint
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Labels: experimental

Add get_bias_port_id for FBC
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX, experimental

Fix E2E
  nncf/experimental/quantization/__init__.py
  tests/onnx/benchmarking/run_ptq.py
  tests/onnx/benchmarking/utils.py
Labels: NNCF ONNX, experimental

Add legal
  nncf/experimental/quantization/__init__.py
  tests/onnx/benchmarking/run_ptq.py
Labels: NNCF ONNX, experimental

Fix export of SOTA checkpoints for e2e validation (#1384)
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elasticity_controller.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/onnx_export.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_controller.py
  nncf/torch/exporter.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_functions.py
  tests/torch/helpers.py
  tests/torch/nas/models/synthetic.py
  tests/torch/nas/test_all_elasticity.py
  tests/torch/nas/test_elastic_depth.py
  tests/torch/nas/test_onnx_export.py
  tests/torch/quantization/test_onnx_export.py
  tests/torch/quantization/test_overflow_issue_export.py
Labels: NNCF PT, experimental

Fix error in PS builder
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_builder.py
Labels: experimental

Add some improvements in the code structure of post-training (#1382)
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/experimental/onnx/quantization/default_quantization.py
  nncf/experimental/onnx/statistics/aggregator.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX, experimental

Fix reshape model test
  nncf/experimental/onnx/graph/onnx_graph.py
  tests/onnx/quantization/test_graphs.py
Labels: NNCF ONNX, experimental
