Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'

Export scalar in case of single-channel per-channel Q-DQ quantization
  nncf/torch/quantization/layers.py
Labels: NNCF PT

dump_graph=False
  nncf/torch/quantization/quantize.py
Labels: NNCF PT

replied to comment
  examples/post_training_quantization/torch/mobilenet_v2/README.md
  examples/post_training_quantization/torch/mobilenet_v2/main.py
Labels: documentation

Post-Training Quantization of MobileNet v2 PyTorch Model (#1365)
  .gitignore
  examples/experimental/torch/mobilenet_v2/main.py
  examples/experimental/torch/mobilenet_v2/utils.py
  examples/post_training_quantization/torch/mobilenet_v2/README.md
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  nncf/torch/quantization/quantize.py
Labels: NNCF PT, documentation

Fix correct picking signed or unsigned tensor
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/quantization/algorithms/min_max/utils.py
Labels: experimental

Update test
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX

Add docstring
  nncf/quantization/algorithms/min_max/utils.py
Labels: none

Export Q-DQ for correct axis in torch (#1406)
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_functions.py
Labels: NNCF PT

Reduce model scope to test the validation
  tests/post_training/model_scope.py
Labels: none

[PTQ] MinMax algo improvements
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/utils.py
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX, experimental

rebase
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX

Add meta to report
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Added output of the results to console
  tests/post_training/test_quantize_conformance.py
Labels: none

Remove unnecessary method; Add insertion value info in graph input
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
Labels: experimental

Tweaked ACTL parameters description. Added an example plot reflecting compression progress by ACTL.
  docs/accuracy_aware_model_training/AdaptiveCompressionLevelTraining.md
  docs/accuracy_aware_model_training/actl_progress_plot.png
Labels: documentation

Update html generation based on yattag
  tests/onnx/requirements.txt
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Removed tqdm to avoid logs flooding
  tests/post_training/test_quantize_conformance.py
Labels: none

Made horizontal lines dashed
  docs/accuracy_aware_model_training/actl_progress_plot.png
Labels: documentation

Reshufled structure and verified before parallelizing it
  tests/post_training/test_quantize_conformance.py
Labels: none

Move ONNX parameters to experimental
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Labels: experimental

Fix pylint
  nncf/experimental/onnx/graph/model_transformer.py
Labels: experimental

Fix imports
  nncf/experimental/onnx/graph/transformations/commands.py
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX, experimental

Fix missed docstring
  nncf/quantization/algorithms/min_max/utils.py
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX

Apply comments
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  tests/onnx/utils.py
Labels: NNCF ONNX, experimental

Update formula
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/quantization/algorithms/min_max/utils.py
Labels: experimental

Do not send telemetry if in pytest
  nncf/telemetry/wrapper.py
  tests/common/test_telemetry.py
Labels: NNCF Common

Roolback node names
  nncf/experimental/onnx/graph/nncf_graph_builder.py
Labels: experimental

Remove the fix for extensions build in PT
  nncf/torch/__init__.py
  nncf/torch/dynamic_graph/patch_pytorch.py
Labels: NNCF PT

Add test
  tests/onnx/quantization/test_scale_zero_point_calculation.py
Labels: NNCF ONNX

Add license
  tests/onnx/utils.py
Labels: NNCF ONNX

fix comments
  nncf/common/graph/utils.py
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/tensorflow/sparsity/rb/algorithm.py
  nncf/torch/model_creation.py
  tests/common/graph/test_utils.py
Labels: NNCF PT, NNCF TF, NNCF Common

Change name file from utils to opset_converter
  tests/onnx/benchmarking/run_ptq.py
  tests/onnx/opset_converter.py
  tests/onnx/quantization/common.py
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX

Update generating table
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Tests were added
  tests/openvino/pot/test_engine.py
  tests/openvino/pot/utils.py
Labels: NNCF OpenVINO

Do not send telemetry if in pytest (#1415)
  nncf/telemetry/wrapper.py
  tests/common/test_telemetry.py
Labels: NNCF Common

Removed specialized export for NAS models.
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elasticity_controller.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/onnx_export.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_controller.py
  tests/torch/nas/test_all_elasticity.py
  tests/torch/nas/test_elastic_depth.py
Labels: NNCF PT, experimental

Change scale and zero_point to np.array type
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/quantization/algorithms/min_max/utils.py
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX, experimental

No weights override on sparsity/pruning model's export
  nncf/torch/pruning/filter_pruning/layers.py
  nncf/torch/sparsity/layers.py
  tests/torch/pruning/filter_pruning/test_layers.py
  tests/torch/test_algo_common.py
Labels: NNCF PT

Merge cells
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Fix typo
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX
