Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'

Update onnxruntime-openvino==1.13.1
  setup.py
Labels: dependencies

Rollback changes with ONNXGraph
  nncf/experimental/onnx/graph/onnx_graph.py
Labels: experimental

Pyling fixes
  nncf/quantization/algorithms/default/algorithm.py
  tests/onnx/benchmarking/performance_checker.py
  tests/onnx/benchmarking/run_ptq.py
Labels: NNCF ONNX

added openvino extra argument to setup.py (#1349)
  nncf/__init__.py
  nncf/experimental/post_training/algorithms/quantization/fast_bias_correction/__init__.py
  nncf/experimental/post_training/algorithms/quantization/min_max/__init__.py
  nncf/experimental/post_training/graph/__init__.py
  nncf/experimental/post_training/samplers.py
  setup.py
  tests/common/helpers.py
  tests/openvino/conftest.py
  tests/openvino/install_checks.py
  tests/openvino/requirements.txt
  tests/openvino/test_install.py
Labels: dependencies, NNCF OpenVINO, experimental, NNCF Common

Update torch version
  setup.py
Labels: dependencies

Update docstrings
  nncf/experimental/onnx/engine.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
  tests/onnx/quantization/common.py
Labels: NNCF ONNX, experimental

Comments & fixes
  examples/experimental/onnx/classification/accuracy.py
  nncf/quantization/algorithms/__init__.py
  nncf/quantization/algorithms/default/algorithm.py
  nncf/quantization/compression_builder.py
  nncf/quantization/factories.py
Labels: none

Update docstrings; Remove infer_models_shape in ONNXModelTransformer
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/onnx_graph.py
Labels: experimental

Fix pylint
  nncf/experimental/onnx/graph/model_transformer.py
Labels: experimental

Update torch
  setup.py
Labels: dependencies

Restricted ninja version to be not higher than 1.11
  setup.py
Labels: dependencies

Restricted ninja version to be not higher than 1.11 (#1356)
  setup.py
Labels: dependencies

Just sorted lines in reference .dot files
  tests/torch/data/reference_graphs/quantized/autoq/inception_v3_device_VPU__eval_subset_ratio_0.4__with_ignored_scopes.dot
  tests/torch/data/reference_graphs/quantized/autoq/inception_v3_device_VPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_VPU.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_VPU__eval_subset_ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_VPU__eval_subset_ratio_0.4__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_VPU__iter_number_4__warmup_iter_number_2.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_VPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/squeezenet1_1_device_VPU.dot
  tests/torch/data/reference_graphs/quantized/autoq/ssd_vgg_512_test_device_VPU__eval_subset_ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/ssd_vgg_512_test_device_VPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_VPU__mode_liberal__ratio_1.3__with_target_scopes.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_VPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_VPU__mode_liberal__ratio_1.5__with_ignored_scopes.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_VPU__mode_strict__ratio_1.dot
  tests/torch/data/reference_graphs/quantized/hawq/resnet50_device_VPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/resnet50_device_VPU__mode_strict__ratio_1.11.dot
  tests/torch/data/reference_graphs/quantized/hawq/squeezenet1_1_device_VPU__mode_strict.dot
  tests/torch/data/reference_graphs/quantized/hawq/ssd_vgg_512_test_device_VPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/ssd_vgg_512_test_device_VPU__mode_strict__ratio_1.09.dot
Labels: NNCF PT

Actualized pattern-merging reference graph
  nncf/common/insertion_point_graph.py
  tests/torch/data/reference_graphs/pattern_merging/basic_pattern.dot
  tests/torch/data/reference_graphs/pattern_merging/broken_output_edges_pattern.dot
  tests/torch/data/reference_graphs/pattern_merging/no_pattern.dot
Labels: NNCF PT, NNCF Common

Actualized reference graphs for mobilenet_v2
  tests/torch/data/reference_graphs/magnitude_sparsity/mobilenet_v2.dot
  tests/torch/data/reference_graphs/original/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized/symmetric/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/mobilenet_v2.dot
  tests/torch/data/reference_graphs/rb_sparsity/mobilenet_v2.dot
Labels: NNCF PT

Addressed comment to save graph without unnecessary data
  nncf/common/utils/dot_file_rw.py
  tests/torch/data/reference_graphs/pattern_merging/basic_pattern.dot
  tests/torch/data/reference_graphs/pattern_merging/broken_output_edges_pattern.dot
  tests/torch/data/reference_graphs/pattern_merging/no_pattern.dot
  tests/torch/test_nncf_network.py
Labels: NNCF PT, NNCF Common

Make NNCFGraph building as inference graph; Update models graphs
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
  tests/onnx/data/reference_graphs/quantization/densenet121.dot
  tests/onnx/data/reference_graphs/quantization/googlenet.dot
  tests/onnx/data/reference_graphs/quantization/icnet_camvid.dot
  tests/onnx/data/reference_graphs/quantization/inception_v3.dot
  tests/onnx/data/reference_graphs/quantization/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/quantization/resnet18.dot
  tests/onnx/data/reference_graphs/quantization/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/unet_camvid.dot
  tests/onnx/data/reference_graphs/quantization/vgg16.dot
Labels: NNCF ONNX, experimental

added support for ignored_scope in quantize method for ONNX, Torch, TensorFlow backends
  nncf/onnx/quantization/quantize.py
  nncf/parameters.py
  nncf/quantization/quantize.py
  nncf/tensorflow/quantization/quantize.py
  nncf/torch/quantization/quantize.py
  tests/common/test_parameters.py
  tests/openvino/install_checks.py
Labels: NNCF PT, NNCF TF, NNCF OpenVINO, NNCF Common

Added test for searching MHSA and FF in SwinTransformer
  tests/torch/data/search_building_block/SWIN MS
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
Labels: NNCF PT

corrected names of reference files
  tests/torch/data/search_building_block/bert.json
  tests/torch/data/search_building_block/efficientnet-b0.json
  tests/torch/data/search_building_block/inception3_big_blocks.json
  tests/torch/data/search_building_block/inception3_small_blocks.json
  tests/torch/data/search_building_block/mobilenetv2.json
  tests/torch/data/search_building_block/one_mhsa.json
  tests/torch/data/search_building_block/pnasnetb.json
  tests/torch/data/search_building_block/resnet50.json
  tests/torch/data/search_building_block/resnext29_32x4d.json
  tests/torch/data/search_building_block/squeezenet1_0.json
  tests/torch/data/search_building_block/ssd_mobilenet.json
  tests/torch/data/search_building_block/swin_ms.json
  tests/torch/data/search_building_block/vit.json
  tests/torch/data/search_building_block/wave2vec_2.0.json
  tests/torch/experimental/search_building_blocks/test_search_building_blocks.py
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
Labels: NNCF PT

Remove undeleted code
  tests/onnx/quantization/common.py
  tests/onnx/test_metatypes.py
  tests/onnx/test_model_transformer.py
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX

Update graphs for torchvision models; Remove skipping shufflenet
  tests/onnx/data/reference_graphs/original_nncf_graph/densenet121.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/googlenet.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/inception_v3.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/resnet18.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/vgg16.dot
  tests/onnx/data/reference_graphs/quantization/densenet121.dot
  tests/onnx/data/reference_graphs/quantization/googlenet.dot
  tests/onnx/data/reference_graphs/quantization/inception_v3.dot
  tests/onnx/data/reference_graphs/quantization/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/vgg16.dot
  tests/onnx/quantization/test_classification_models_graph.py
Labels: NNCF ONNX

pylint happy
  examples/experimental/tensorflow/mobilenet_v2/main.py
  nncf/experimental/post_training/algorithms/quantization/algorithm.py
  nncf/onnx/quantization/quantize.py
  nncf/openvino/quantization/quantize.py
  nncf/parameters.py
  nncf/torch/quantization/quantize.py
  tests/common/pruning/test_utils.py
  tests/common/quantization/mock_graphs.py
Labels: NNCF PT, NNCF OpenVINO, experimental, NNCF Common

Remove contiguous grad_output warning
  nncf/torch/binarization/binarize_functions.py
  nncf/torch/quantization/quantize_functions.py
Labels: NNCF PT

Actualized some reference .dot files (#1355)
  nncf/common/insertion_point_graph.py
  nncf/common/utils/dot_file_rw.py
  tests/torch/data/reference_graphs/magnitude_sparsity/mobilenet_v2.dot
  tests/torch/data/reference_graphs/original/mobilenet_v2.dot
  tests/torch/data/reference_graphs/pattern_merging/basic_pattern.dot
  tests/torch/data/reference_graphs/pattern_merging/broken_output_edges_pattern.dot
  tests/torch/data/reference_graphs/pattern_merging/no_pattern.dot
  tests/torch/data/reference_graphs/quantized/autoq/inception_v3_device_VPU__eval_subset_ratio_0.4__with_ignored_scopes.dot
  tests/torch/data/reference_graphs/quantized/autoq/inception_v3_device_VPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_VPU.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_VPU__eval_subset_ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_VPU__eval_subset_ratio_0.4__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_VPU__iter_number_4__warmup_iter_number_2.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_VPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/squeezenet1_1_device_VPU.dot
  tests/torch/data/reference_graphs/quantized/autoq/ssd_vgg_512_test_device_VPU__eval_subset_ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/ssd_vgg_512_test_device_VPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_VPU__mode_liberal__ratio_1.3__with_target_scopes.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_VPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_VPU__mode_liberal__ratio_1.5__with_ignored_scopes.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_VPU__mode_strict__ratio_1.dot
  tests/torch/data/reference_graphs/quantized/hawq/resnet50_device_VPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/resnet50_device_VPU__mode_strict__ratio_1.11.dot
  tests/torch/data/reference_graphs/quantized/hawq/squeezenet1_1_device_VPU__mode_strict.dot
  tests/torch/data/reference_graphs/quantized/hawq/ssd_vgg_512_test_device_VPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/ssd_vgg_512_test_device_VPU__mode_strict__ratio_1.09.dot
  tests/torch/data/reference_graphs/quantized/symmetric/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/mobilenet_v2.dot
  tests/torch/data/reference_graphs/rb_sparsity/mobilenet_v2.dot
  tests/torch/test_nncf_network.py
Labels: NNCF PT, NNCF Common

Rollback yolov5 patch changes
  examples/experimental/onnx/yolov5/0001-Add-NNCF-ONNX-PTQ-example-notebook.patch
Labels: none

Added test for searching MHSA and FF in SwinTransformer (#1350)
  tests/torch/data/search_building_block/bert.json
  tests/torch/data/search_building_block/efficientnet-b0.json
  tests/torch/data/search_building_block/inception3_big_blocks.json
  tests/torch/data/search_building_block/inception3_small_blocks.json
  tests/torch/data/search_building_block/mobilenetv2.json
  tests/torch/data/search_building_block/one_mhsa.json
  tests/torch/data/search_building_block/pnasnetb.json
  tests/torch/data/search_building_block/resnet50.json
  tests/torch/data/search_building_block/resnext29_32x4d.json
  tests/torch/data/search_building_block/squeezenet1_0.json
  tests/torch/data/search_building_block/ssd_mobilenet.json
  tests/torch/data/search_building_block/swin_ms.json
  tests/torch/data/search_building_block/vit.json
  tests/torch/data/search_building_block/wave2vec_2.0.json
  tests/torch/experimental/search_building_blocks/test_search_building_blocks.py
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
Labels: NNCF PT

Fix
  nncf/torch/binarization/binarize_functions.py
Labels: NNCF PT

Replaced onnx/experimental/datasets
  examples/experimental/onnx/classification/imagenet_dataset.py
  examples/experimental/onnx/classification/onnx_ptq_classification.py
  examples/experimental/onnx/semantic_segmentation/onnx_ptq_segmentation.py
  examples/experimental/onnx/semantic_segmentation/segmentation_dataset.py
  nncf/experimental/onnx/datasets/__init__.py
Labels: experimental

Rollback NNCFGraph rebuilding
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
  tests/onnx/data/reference_graphs/original_nncf_graph/densenet121.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/fcn-resnet50-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/googlenet.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/inception_v3.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/resnet18.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/retinanet-9.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/vgg16.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/yolov2-coco-9.dot
  tests/onnx/data/reference_graphs/quantization/densenet121.dot
  tests/onnx/data/reference_graphs/quantization/googlenet.dot
  tests/onnx/data/reference_graphs/quantization/icnet_camvid.dot
  tests/onnx/data/reference_graphs/quantization/inception_v3.dot
  tests/onnx/data/reference_graphs/quantization/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/quantization/resnet18.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/unet_camvid.dot
  tests/onnx/data/reference_graphs/quantization/vgg16.dot
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/quantization/test_segmentation_models_graph.py
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX, experimental

Change export of classification models; Add skipping of some of them
  tests/onnx/data/reference_graphs/original_nncf_graph/densenet121.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/googlenet.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/resnet18.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/vgg16.dot
  tests/onnx/data/reference_graphs/quantization/densenet121.dot
  tests/onnx/data/reference_graphs/quantization/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/quantization/resnet18.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/vgg16.dot
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX

Fix typos
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/quantization/test_segmentation_models_graph.py
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX, experimental

Rollback detection model graphs
  tests/onnx/data/reference_graphs/original_nncf_graph/fcn-resnet50-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/retinanet-9.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/yolov2-coco-9.dot
Labels: NNCF ONNX

Add inference skipping
  tests/onnx/quantization/test_classification_models_graph.py
Labels: NNCF ONNX

Update export
  tests/onnx/quantization/test_min_max_ptq_graph_equal.py
  tests/onnx/sanity_tests/test_classification_sanity_sample.py
Labels: NNCF ONNX

Add test skipping
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_segmentation_models_graph.py
Labels: NNCF ONNX

Fix pylint
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  tests/onnx/quantization/common.py
Labels: NNCF ONNX, experimental

Change tests skipping
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/sanity_tests/test_classification_sanity_sample.py
Labels: NNCF ONNX

Make some methods static
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
Labels: experimental

Remove contiguous grad_output warning (#1357)
  nncf/torch/binarization/binarize_functions.py
  nncf/torch/quantization/quantize_functions.py
Labels: NNCF PT
