Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

mobilenet v2 post-training quantization example for OpenVINO backend
  .gitignore
  examples/experimental/openvino/mobilenet_v2/main.py
  examples/experimental/openvino/mobilenet_v2/requirements.txt
  examples/experimental/openvino/mobilenet_v2/utils.py
  examples/post_training_quantization/openvino/mobilenet_v2/README.md
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
Labels: documentation

Add ImageNet subset size selection
  tests/post_training/conftest.py
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
Labels: none

pylint was fixed
  tests/openvino/pot/test_engine.py
Labels: NNCF OpenVINO

Update docstring
  nncf/quantization/algorithms/min_max/utils.py
Labels: none

Add restriction for the weight tensor type
  nncf/quantization/algorithms/min_max/utils.py
Labels: none

fix comments
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Labels: none

Update examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
Labels: none

Refactored torch and onnx to factory
  tests/post_training/test_quantize_conformance.py
Labels: none

Remove ONNXModelNormalizer (#1364)
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/experimental/onnx/model_normalizer.py
  nncf/experimental/quantization/compression_builder.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/onnx/benchmarking/run_ptq.py
  tests/onnx/opset_converter.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX, experimental

Changed to fabric for parallelization. Reduced dataset size
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
  tests/post_training/utils.py
Labels: none

[PTQ] MinMax algo improvements (#1411)
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX, experimental

Merge fix
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX, experimental

Tests for AA algorithm (#1417)
  tests/openvino/pot/test_engine.py
  tests/openvino/pot/utils.py
Labels: NNCF OpenVINO

Update test_quantize_conformance.py
  tests/post_training/test_quantize_conformance.py
Labels: none

Fix import
  tests/onnx/quantization/test_scale_zero_point_calculation.py
Labels: NNCF ONNX

Fix merging cells of the Provider names
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Fix pylint
  nncf/torch/dynamic_graph/patch_pytorch.py
Labels: NNCF PT

Post-Training Quantization of MobileNet v2 OpenVINO Model (#1414)
  .gitignore
  examples/experimental/openvino/mobilenet_v2/main.py
  examples/experimental/openvino/mobilenet_v2/requirements.txt
  examples/experimental/openvino/mobilenet_v2/utils.py
  examples/post_training_quantization/openvino/mobilenet_v2/README.md
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
Labels: documentation

Minor fix
  nncf/openvino/engine.py
  tests/openvino/pot/test_engine.py
Labels: NNCF OpenVINO

Divide is_ov_ep_only to disable-ov-ep and enable-cpu-ep
  tests/onnx/conftest.py
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Fix pylint
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Fix typo
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

BootstrapNAS Transformers patch
  examples/experimental/torch/classification/bootstrap_nas.py
  examples/experimental/torch/classification/bootstrap_nas_search.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_controller.py
  third_party_integration/huggingface_transformers/BootstrapNAS_HF/0001-Modifications-for-BootstrapNAS-usage.patch
  third_party_integration/huggingface_transformers/BootstrapNAS_HF/README.md
Labels: documentation, experimental

Tests for AA algorithm (#1417)
  tests/openvino/pot/test_engine.py
  tests/openvino/pot/utils.py
Labels: NNCF OpenVINO

Remove ONNXModelNormalizer (#1364)
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/experimental/onnx/model_normalizer.py
  nncf/experimental/quantization/compression_builder.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/onnx/benchmarking/run_ptq.py
  tests/onnx/opset_converter.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX, experimental

[PTQ] MinMax algo improvements (#1411)
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX, experimental

Post-Training Quantization of MobileNet v2 OpenVINO Model (#1414)
  .gitignore
  examples/experimental/openvino/mobilenet_v2/main.py
  examples/experimental/openvino/mobilenet_v2/requirements.txt
  examples/experimental/openvino/mobilenet_v2/utils.py
  examples/post_training_quantization/openvino/mobilenet_v2/README.md
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
Labels: documentation

Tests for AA algorithm (#1417)
  tests/openvino/pot/test_engine.py
  tests/openvino/pot/utils.py
Labels: NNCF OpenVINO

Post-Training Quantization of MobileNet v2 OpenVINO Model (#1414)
  .gitignore
  examples/experimental/openvino/mobilenet_v2/main.py
  examples/experimental/openvino/mobilenet_v2/requirements.txt
  examples/experimental/openvino/mobilenet_v2/utils.py
  examples/post_training_quantization/openvino/mobilenet_v2/README.md
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
Labels: documentation

Add pass qconfig from QPS
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/onnx/quantization/test_quantizer_config.py
Labels: NNCF ONNX

Add calculation quantizer parameters based on qconfig
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Labels: experimental

update error message
  nncf/common/graph/utils.py
Labels: NNCF Common

Add DepthwiseConvMetatype (in progress)
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/quantization/default_quantization.py
Labels: experimental

Make getting row colors before generating final df
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Add depthwiseconv
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: experimental

Add hack for getting weight tensor
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: experimental

Fix bug
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: experimental

Add DepthwiseMetatype to LAYERS_WITH_BIAS_METATYPES
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
Labels: experimental

Add new minmax params to PTQ
  nncf/quantization/algorithms/post_training/algorithm.py
Labels: none

Add DepwthiseMetatype to patterns
  nncf/experimental/onnx/hardware/pattern_operations.py
Labels: experimental

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'
