Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'

Update onnx models to no have weights; Remove tiny_yolov2 from test
  tests/onnx/data/models/MaskRCNN-12.onnx
  tests/onnx/data/models/densenet-7.onnx
  tests/onnx/data/models/densenet-8.onnx
  tests/onnx/data/models/densenet-9.onnx
  tests/onnx/data/models/fcn-resnet50-12.onnx
  tests/onnx/data/models/icnet_camvid.onnx
  tests/onnx/data/models/retinanet-9.onnx
  tests/onnx/data/models/ssd-12.onnx
  tests/onnx/data/models/ssd_mobilenet_v1_12.onnx
  tests/onnx/data/models/tiny-yolov2.onnx
  tests/onnx/data/models/unet_camvid.onnx
  tests/onnx/data/models/yolov2-coco-9.onnx
  tests/onnx/data/models/yolov3-12.onnx
  tests/onnx/quantization/helper.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_segmentation_models_graph.py
Labels: NNCF ONNX

Add docstring
  tests/onnx/quantization/helper.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_segmentation_models_graph.py
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX

Change to random weights
  tests/onnx/quantization/helper.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_segmentation_models_graph.py
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX

Add telemetry to NNCF (#1339)
  nncf/common/composite_compression.py
  nncf/common/compression.py
  nncf/config/telemetry_extractors.py
  nncf/experimental/quantization/compression_builder.py
  nncf/experimental/quantization/telemetry_extractors.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elasticity_controller.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_controller.py
  nncf/onnx/quantization/quantize.py
  nncf/openvino/quantization/quantize.py
  nncf/quantization/telemetry_extractors.py
  nncf/telemetry/__init__.py
  nncf/telemetry/decorator.py
  nncf/telemetry/events.py
  nncf/telemetry/extractors.py
  nncf/telemetry/wrapper.py
  nncf/tensorflow/exporter.py
  nncf/tensorflow/helpers/model_creation.py
  nncf/torch/exporter.py
  nncf/torch/model_creation.py
  setup.py
  tests/common/test_telemetry.py
  tests/onnx/models.py
  tests/onnx/test_telemetry.py
  tests/openvino/requirements.txt
  tests/openvino/test_telemetry.py
  tests/shared/datasets.py
  tests/shared/helpers.py
  tests/tensorflow/test_telemetry.py
  tests/torch/test_telemetry.py
Labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, experimental, NNCF Common

Deploying to doc_pages from @ openvinotoolkit/nncf@f1d8c2662ce063a4a43247bd9dd6e81c7ebcd7ee 🚀
  index.html
Labels: none

Add ov_ep_only parameter
  tests/onnx/conftest.py
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Improved Adaptive Compression Training Loop support by OTX (#1401)
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/tensorflow/accuracy_aware_training/runner.py
  nncf/torch/accuracy_aware_training/runner.py
Labels: NNCF PT, NNCF TF, NNCF Common

Introduce OpenVINO native ModelTransformer
  nncf/common/utils/backend.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/openvino_native/__init__.py
  nncf/experimental/openvino_native/engine.py
  nncf/experimental/openvino_native/graph/__init__.py
  nncf/experimental/openvino_native/graph/metatypes/__init__.py
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/graph/transformations/commands.py
  nncf/experimental/openvino_native/tensor.py
  nncf/quantization/quantize.py
  tests/openvino_native/models.py
  tests/openvino_native/test_model_transformer.py
Labels: experimental, NNCF Common

Fix engine
  nncf/experimental/openvino_native/engine.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
Labels: experimental

refactoring
  nncf/experimental/openvino_native/engine.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
Labels: experimental

Add add special Input and Output nodes to NNCFGraph
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  tests/openvino/native/test_metatypes.py
Labels: NNCF OpenVINO, experimental

Update OV metatypes
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
Labels: experimental

Test model with 2 inputs
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  tests/openvino/native/models.py
  tests/openvino/native/test_metatypes.py
Labels: NNCF OpenVINO, experimental

Fix comments
  nncf/common/utils/backend.py
  nncf/experimental/openvino_native/engine.py
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/quantization/quantize.py
  tests/openvino/native/__init__.py
  tests/openvino/native/models.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/pot/__init__.py
  tests/openvino/pot/quantization/__init__.py
  tests/openvino/pot/quantization/test_helpers.py
Labels: NNCF OpenVINO, experimental, NNCF Common

change dataset food101 -> imagenette
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  nncf/torch/quantization/quantize.py
Labels: NNCF PT

Fix comments
  nncf/experimental/openvino_native/engine.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
Labels: experimental

Update engine
  nncf/experimental/openvino_native/engine.py
Labels: experimental

Add test; Change filling random weights by zero weights
  tests/onnx/test_weightless_model.py
  tests/onnx/weightless_model.py
Labels: NNCF ONNX

Update func name everywhere
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_segmentation_models_graph.py
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX

Fix bug
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Update models to have no biases
  tests/onnx/data/models/MaskRCNN-12.onnx
  tests/onnx/data/models/fcn-resnet50-12.onnx
  tests/onnx/data/models/icnet_camvid.onnx
  tests/onnx/data/models/retinanet-9.onnx
  tests/onnx/data/models/ssd-12.onnx
  tests/onnx/data/models/ssd_mobilenet_v1_12.onnx
  tests/onnx/data/models/unet_camvid.onnx
  tests/onnx/data/models/yolov2-coco-9.onnx
  tests/onnx/data/models/yolov3-12.onnx
  tests/onnx/weightless_model.py
Labels: NNCF ONNX

Add mock into quantization tests
  tests/onnx/data/models/MaskRCNN-12.onnx
  tests/onnx/data/models/fcn-resnet50-12.onnx
  tests/onnx/data/models/icnet_camvid.onnx
  tests/onnx/data/models/retinanet-9.onnx
  tests/onnx/data/models/ssd-12.onnx
  tests/onnx/data/models/ssd_mobilenet_v1_12.onnx
  tests/onnx/data/models/unet_camvid.onnx
  tests/onnx/data/models/yolov2-coco-9.onnx
  tests/onnx/data/models/yolov3-12.onnx
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/quantization/test_segmentation_models_graph.py
  tests/onnx/test_weightless_model.py
  tests/onnx/weightless_model.py
Labels: NNCF ONNX

Fix bug
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Export Q-DQ for correct axis in torch
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_functions.py
Labels: NNCF PT

replied to comments
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
Labels: none

replied to comments
  .gitignore
  examples/post_training_quantization/torch/mobilenet_v2/README.md
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
Labels: documentation

replied to comments
  examples/post_training_quantization/torch/mobilenet_v2/main.py
Labels: none

set DATASET_PATH=~/.cache/nncf/datasets
  examples/post_training_quantization/torch/mobilenet_v2/main.py
Labels: none

Introduce OpenVINO native support (#1391)
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/openvino_native/__init__.py
  nncf/experimental/openvino_native/engine.py
  nncf/experimental/openvino_native/graph/__init__.py
  nncf/experimental/openvino_native/graph/metatypes/__init__.py
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/graph/transformations/commands.py
  tests/openvino/native/__init__.py
  tests/openvino/native/models.py
  tests/openvino/native/test_metatypes.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/pot/__init__.py
  tests/openvino/pot/quantization/__init__.py
  tests/openvino/pot/quantization/test_helpers.py
Labels: NNCF OpenVINO, experimental

Fix pylint
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Improve graph sorting
  tests/common/graph/nx_graph.py
Labels: NNCF Common

Align ref graph checking in ONNX
  tests/onnx/quantization/common.py
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX

Use tmp path for ONNX NNCF graph building tests
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX

Use tmp path for ONNX NNCF graph building tests
  tests/onnx/data/reference_graphs/original_nncf_graph/MaskRCNN-12.dot
  tests/onnx/quantization/test_classification_models_graph.py
Labels: NNCF ONNX

Pylint fixes
  tests/common/graph/nx_graph.py
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX, NNCF Common

Fix pylint
  tests/common/graph/nx_graph.py
  tests/onnx/quantization/common.py
Labels: NNCF ONNX, NNCF Common

Fix argcount
  tests/onnx/quantization/test_classification_models_graph.py
Labels: NNCF ONNX

Use regex when extracting node IDs
  tests/common/graph/nx_graph.py
Labels: NNCF Common

Add function check_config_matches_graph
  nncf/common/graph/utils.py
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/tensorflow/sparsity/rb/algorithm.py
  nncf/torch/model_creation.py
  tests/common/graph/test_utils.py
Labels: NNCF PT, NNCF TF, NNCF Common

Fix ignored_scopes
  docs/compression_algorithms/Binarization.md
  tests/torch/data/configs/resnet18_cifar100_bin_xnor.json
  tests/torch/data/configs/resnet18_cifar10_staged_quant.json
Labels: NNCF PT, documentation
