Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'

Add Q/DQ metatypes; Update _is_quantized_weights
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/quantization/default_quantization.py
  nncf/experimental/post_training/algorithms/quantization/fast_bias_correction/algorithm.py
  nncf/experimental/post_training/algorithms/quantization/fast_bias_correction/onnx_backend.py
Labels: experimental

Update ref graphs
  tests/onnx/data/reference_graphs/quantization/synthetic/linear_model.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/many_input_ports_quantizable_model.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/one_convolutional_model.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/one_input_port_quantizable_model.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/reshape_weight_model.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/weight_sharing_model.dot
Labels: NNCF ONNX

Add is_shared, layer_name to NNCFGraph
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
Labels: experimental

Remove ONNXModelNormalizer
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/experimental/onnx/model_normalizer.py
  nncf/experimental/post_training/compression_builder.py
  tests/onnx/benchmarking/run_ptq.py
  tests/onnx/quantization/common.py
  tests/onnx/test_nncf_graph_builder.py
  tests/onnx/utils.py
Labels: NNCF ONNX, experimental

Fix tests
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/sanity_tests/test_classification_sanity_sample.py
Labels: NNCF ONNX

Remove multiprocessing_distributed from the configs
  examples/torch/classification/configs/quantization/inception_v3_imagenet.json
  examples/torch/classification/configs/quantization/inception_v3_imagenet_int8.json
  examples/torch/classification/configs/sparsity/inception_v3_imagenet_rb_sparsity.json
  examples/torch/semantic_segmentation/configs/icnet_camvid.json
  examples/torch/semantic_segmentation/configs/icnet_camvid_int8.json
  examples/torch/semantic_segmentation/configs/icnet_camvid_magnitude_sparsity_int8.json
  examples/torch/semantic_segmentation/configs/unet_camvid.json
  examples/torch/semantic_segmentation/configs/unet_camvid_int8.json
  examples/torch/semantic_segmentation/configs/unet_camvid_magnitude_sparsity_int8.json
  examples/torch/semantic_segmentation/configs/unet_mapillary.json
  examples/torch/semantic_segmentation/configs/unet_mapillary_magnitude_sparsity_int8.json
  examples/torch/semantic_segmentation/configs/unet_mapillary_pruning_geometric_median.json
  tests/torch/sota_checkpoints_eval.json
  tests/torch/test_sota_checkpoints.py
Labels: NNCF PT

Comments were resolved
  examples/experimental/openvino/ssd_mobilenet_v1_fpn/main.py
  nncf/openvino/quantization/accuracy_aware.py
  nncf/openvino/quantization/quantize.py
Labels: NNCF OpenVINO

Apply styleguide to imports
  examples/experimental/onnx/classification/onnx_ptq_classification.py
  examples/experimental/onnx/semantic_segmentation/onnx_ptq_segmentation.py
  nncf/common/engine.py
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/default/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/graph/model_transformer.py
  tests/onnx/benchmarking/run_ptq.py
Labels: NNCF ONNX, NNCF Common

Added baseline for tests
  tests/post_training/README.md
  tests/post_training/conftest.py
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Labels: documentation

Comments were resolved
  nncf/__init__.py
  nncf/openvino/quantization/quantize.py
  nncf/parameters.py
  nncf/quantization/quantize.py
Labels: NNCF OpenVINO

Added performance benchmarking for Torch FP32 and INT8 models
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Labels: none

Remove multiprocessing_distributed from the configs (#1358)
  examples/torch/classification/configs/quantization/inception_v3_imagenet.json
  examples/torch/classification/configs/quantization/inception_v3_imagenet_int8.json
  examples/torch/classification/configs/sparsity/inception_v3_imagenet_rb_sparsity.json
  examples/torch/semantic_segmentation/configs/icnet_camvid.json
  examples/torch/semantic_segmentation/configs/icnet_camvid_int8.json
  examples/torch/semantic_segmentation/configs/icnet_camvid_magnitude_sparsity_int8.json
  examples/torch/semantic_segmentation/configs/unet_camvid.json
  examples/torch/semantic_segmentation/configs/unet_camvid_int8.json
  examples/torch/semantic_segmentation/configs/unet_camvid_magnitude_sparsity_int8.json
  examples/torch/semantic_segmentation/configs/unet_mapillary.json
  examples/torch/semantic_segmentation/configs/unet_mapillary_magnitude_sparsity_int8.json
  examples/torch/semantic_segmentation/configs/unet_mapillary_pruning_geometric_median.json
  tests/torch/sota_checkpoints_eval.json
  tests/torch/test_sota_checkpoints.py
Labels: NNCF PT

Update comment
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
Labels: experimental

Comments were resolved
  nncf/__init__.py
  nncf/openvino/quantization/quantize.py
  nncf/parameters.py
  nncf/quantization/quantize.py
Labels: NNCF OpenVINO

Revert "Update comment"
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
Labels: experimental

Update comment; Remove onnx model checking in ONNXModelNormalizer
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/model_normalizer.py
Labels: experimental

pylint was fixed
  nncf/openvino/quantization/accuracy_aware.py
  nncf/openvino/quantization/quantize.py
Labels: NNCF OpenVINO

Make torch part working
  tests/post_training/README.md
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Labels: documentation

Defined output as an option
  tests/post_training/README.md
  tests/post_training/conftest.py
  tests/post_training/test_quantize_conformance.py
Labels: documentation

Structured code
  tests/post_training/test_quantize_conformance.py
Labels: none

Update comment with adding BN info
  nncf/experimental/onnx/graph/nncf_graph_builder.py
Labels: experimental

Add more comments
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_min_max_ptq_graph_equal.py
  tests/onnx/sanity_tests/test_classification_sanity_sample.py
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX

Switch torch to 1.12.1
  setup.py
  tests/onnx/data/reference_graphs/original_nncf_graph/densenet121.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/resnet18.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/densenet121.dot
  tests/onnx/data/reference_graphs/quantization/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/quantization/resnet18.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/vgg16.dot
  tests/onnx/test_nncf_graph_builder.py
Labels: dependencies, NNCF ONNX

Fixed loading of previous mobilenet checkpoints.
  nncf/torch/utils.py
Labels: NNCF PT

Added docstring for BNTrainingStateSwitcher
  nncf/torch/exporter.py
Labels: NNCF PT

Weekly test with mixed precision is introduced
  examples/torch/classification/main.py
  examples/torch/common/utils.py
  tests/torch/conftest.py
  tests/torch/test_compression_training.py
Labels: NNCF PT

Fix typo
  tests/onnx/benchmarking/run_ptq.py
Labels: NNCF ONNX

State for depth and width indicators
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_depth.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  tests/torch/nas/test_all_elasticity.py
Labels: NNCF PT, experimental

Get openvino working
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Labels: none

PTQ ONNX Update requirements (#1280)
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/model_normalizer.py
  setup.py
  tests/onnx/data/reference_graphs/original_nncf_graph/densenet121.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/googlenet.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/inception_v3.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/resnet18.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/vgg16.dot
  tests/onnx/data/reference_graphs/quantization/densenet121.dot
  tests/onnx/data/reference_graphs/quantization/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/quantization/resnet18.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/vgg16.dot
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_min_max_ptq_graph_equal.py
  tests/onnx/quantization/test_segmentation_models_graph.py
  tests/onnx/sanity_tests/test_classification_sanity_sample.py
  tests/onnx/sanity_tests/test_segmentation_sanity_sample.py
  tests/onnx/test_e2e_ptq.py
  tests/onnx/test_nncf_graph_builder.py
Labels: dependencies, NNCF ONNX, experimental

Add link to the Model Optimization guide
  README.md
Labels: documentation

Apply comments
  examples/experimental/onnx/classification/imagenet_dataset.py
  examples/experimental/onnx/classification/onnx_ptq_classification.py
  examples/experimental/onnx/mobilenet_v2/main.py
  examples/experimental/onnx/semantic_segmentation/onnx_ptq_segmentation.py
  examples/experimental/onnx/semantic_segmentation/segmentation_dataset.py
  nncf/common/engine.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistic_point.py
  nncf/experimental/onnx/engine.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/statistics/aggregator.py
  nncf/experimental/quantization/compression_builder.py
  nncf/onnx/quantization/quantize.py
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/default/__init__.py
  nncf/quantization/algorithms/default/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/graph/__init__.py
  nncf/quantization/graph/model_transformer.py
  tests/onnx/benchmarking/performance_checker.py
  tests/onnx/benchmarking/run_ptq.py
  tests/onnx/quantization/common.py
Labels: NNCF ONNX, experimental, NNCF Common

Rollback default renaming
  nncf/quantization/algorithms/post_training/__init__.py
  nncf/quantization/algorithms/post_training/algorithm.py
Labels: none

Accuracy aware quantization for OpenVINO backend (#1348)
  examples/experimental/openvino/ssd_mobilenet_v1_fpn/main.py
  nncf/__init__.py
  nncf/data/dataset.py
  nncf/openvino/engine.py
  nncf/openvino/quantization/accuracy_aware.py
  nncf/openvino/quantization/quantize.py
  nncf/openvino/utils.py
  nncf/parameters.py
  nncf/quantization/__init__.py
  nncf/quantization/quantize.py
Labels: NNCF OpenVINO

Drop empty folder
  nncf/quantization/statistics/__init__.py
Labels: none

Drop extra
  nncf/experimental/onnx/engine.py
Labels: experimental

Make all three backends working
  tests/post_training/test_quantize_conformance.py
Labels: none

Update protobuf version
  examples/tensorflow/requirements.txt
  tests/torch/requirements.txt
Labels: NNCF PT, NNCF TF

Add reporting
  tests/post_training/conftest.py
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Labels: none

Add link to the Model Optimization guide (#1368)
  README.md
Labels: documentation
