Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

Fixed some comments
  tests/post_training/README.md
  tests/post_training/requirements.txt
Labels: documentation

Apply comments
  nncf/common/engine.py
  nncf/common/factory.py
Labels: NNCF Common

Revert basic handler state and rename state in depth and width handlers
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/base_handler.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_depth.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
Labels: experimental

Fixed all comments
  tests/post_training/test_quantize_conformance.py
Labels: none

Apply comments
  nncf/common/engine.py
  nncf/common/factory.py
  nncf/experimental/onnx/engine.py
Labels: experimental, NNCF Common

Fixed all comments
  tests/post_training/test_quantize_conformance.py
Labels: none

Rollback renaming
  nncf/common/engine.py
  nncf/experimental/onnx/engine.py
Labels: experimental, NNCF Common

Apply comment
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
Labels: none

Make OrderedEnum int based (#1374)
  nncf/api/compression.py
  nncf/common/composite_compression.py
  nncf/common/graph/transformations/commands.py
  nncf/common/utils/ordered_enum.py
  nncf/quantization/algorithms/definitions.py
  nncf/torch/nncf_network.py
Labels: NNCF PT, NNCF Common

Add target_framework option for run_ptq; Remove perfomance_checker script
  tests/onnx/benchmarking/performance_checker.py
  tests/onnx/benchmarking/run_ptq.py
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Fix import
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
Labels: none

ONNX E2E add filtering launchers (#1375)
  tests/onnx/benchmarking/performance_checker.py
  tests/onnx/benchmarking/run_ptq.py
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

BNAS: State for depth and width indicators (#1367)
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_depth.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  tests/torch/nas/test_all_elasticity.py
Labels: NNCF PT, experimental

Restore the hack to reinstall protobuf for tensorflow_datasets
  examples/tensorflow/requirements.txt
  setup.py
Labels: dependencies, NNCF TF

End-to-end tests for post-training API (#1372)
  tests/post_training/README.md
  tests/post_training/conftest.py
  tests/post_training/model_scope.py
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Labels: documentation

Simplify PTQ Engine (#1376)
  nncf/common/engine.py
  nncf/common/factory.py
  nncf/common/graph/factory.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/experimental/onnx/engine.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/statistics/aggregator.py
  nncf/experimental/quantization/compression_builder.py
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
Labels: experimental, NNCF Common

Place Constant subgraphs filtering to InsertionPointGraph
  nncf/common/insertion_point_graph.py
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: NNCF Common

Restore the hack to force reinstall protobuf package in TF samples (#1373)
  examples/tensorflow/requirements.txt
  setup.py
Labels: dependencies, NNCF TF

Fix merging
  nncf/experimental/quantization/compression_builder.py
Labels: experimental

Add some improvements in the code structure
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/experimental/onnx/quantization/default_quantization.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  tests/onnx/quantization/test_graphs.py
Labels: NNCF ONNX, experimental

Update get_weight_tensor()
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Labels: none

Add skipping filtering IPGraph for testcases
  nncf/common/quantization/quantizer_propagation/graph.py
Labels: NNCF Common

Add docstring
  nncf/common/insertion_point_graph.py
Labels: NNCF Common

Added small clarifications about compression ratio in HAWQ
  docs/compression_algorithms/Quantization.md
Labels: documentation

Added small clarifications about compression ratio in HAWQ (#1383)
  docs/compression_algorithms/Quantization.md
Labels: documentation

Refactor install tests to reuse code
  tests/cross_fw/install/__init__.py
  tests/cross_fw/install/conftest.py
  tests/cross_fw/install/install_checks_openvino.py
  tests/cross_fw/install/install_checks_tf.py
  tests/cross_fw/install/install_checks_torch.py
  tests/cross_fw/install/requirements.txt
  tests/cross_fw/install/test_install.py
  tests/openvino/conftest.py
  tests/openvino/test_install.py
  tests/shared/case_collection.py
  tests/shared/helpers.py
  tests/tensorflow/conftest.py
  tests/tensorflow/test_install.py
  tests/torch/conftest.py
  tests/torch/test_extensions_build.py
  tests/torch/test_install.py
Labels: NNCF PT, NNCF TF, NNCF OpenVINO

Change edge_name to port_id
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/experimental/onnx/statistics/aggregator.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Labels: experimental

Add some comments
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Labels: none

Fix typo
  nncf/quantization/algorithms/fast_bias_correction/backend.py
Labels: none

Fix pylint; fix tests
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
Labels: none

Add is_shared, layer_name
  nncf/experimental/onnx/graph/nncf_graph_builder.py
Labels: experimental

Apply comments
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: experimental

Add port_id for PRE_LAYER quantizer
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/experimental/onnx/statistics/aggregator.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Labels: experimental

Make port_id = None for weight target_points
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
Labels: experimental

Add port_id for weight ONNXTargetPoint
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Labels: experimental

Remove Optional from port_id
  nncf/experimental/onnx/graph/transformations/commands.py
Labels: experimental

Allow disabling of BN Adaptation
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/experimental/torch/nas/bootstrapNAS/training/lr_scheduler.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_builder.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_controller.py
  nncf/experimental/torch/nas/bootstrapNAS/training/scheduler.py
  tests/torch/nas/test_scheduler.py
Labels: NNCF PT, experimental

Fix BN Adapt in NAS
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_controller.py
  tests/torch/nas/test_ps_controller.py
  tests/torch/nas/test_search.py
Labels: NNCF PT, experimental

Fix Pylint
  tests/torch/nas/test_ps_controller.py
Labels: NNCF PT

Simplify bn_adapt enabling test
  tests/torch/nas/test_ps_controller.py
Labels: NNCF PT

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'
