Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'

Skip unet for sanity
  tests/onnx/sanity_tests/test_segmentation_sanity_sample.py
Labels: NNCF ONNX

added requirements for openvino examples
  examples/experimental/openvino/bert/requirements.txt
  examples/experimental/openvino/mobilenet_v2/requirements.txt
  examples/experimental/openvino/yolo_v5/requirements.txt
Labels: none

Added nncf path to PYTHONPATH variable
  docker/onnx/openvinoep/Dockerfile.dev
Labels: none

Fix pylint
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/sanity_tests/test_classification_sanity_sample.py
Labels: NNCF ONNX

Apply comments
  nncf/experimental/onnx/graph/onnx_graph.py
Labels: experimental

Support for Python 3.6 was removed
  README.md
  setup.py
Labels: dependencies, documentation

Added nncf path to PYTHONPATH variable (#1361)
  docker/onnx/openvinoep/Dockerfile.dev
Labels: none

Make inference graph building for NNCFGraph
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
Labels: experimental

Update E2E xfailed models
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Remove shape_inference from initialization of ONNXGraph (#1353)
  nncf/experimental/onnx/engine.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
  setup.py
Labels: dependencies, experimental

Support for Python 3.6 was removed (#1359)
  README.md
  setup.py
Labels: dependencies, documentation

Requirements.txt for OpenVINO examples (#1360)
  examples/experimental/openvino/bert/requirements.txt
  examples/experimental/openvino/mobilenet_v2/requirements.txt
  examples/experimental/openvino/yolo_v5/requirements.txt
Labels: none

Accuracy aware quantization for the OpenVINO backend
  examples/experimental/openvino/ssd_mobilenet_v1_fpn/main.py
  nncf/__init__.py
  nncf/data/dataset.py
  nncf/openvino/engine.py
  nncf/openvino/quantization/accuracy_aware.py
  nncf/openvino/quantization/quantize.py
  nncf/openvino/utils.py
  nncf/quantization/__init__.py
  nncf/quantization/quantize.py
Labels: NNCF OpenVINO

The docstring was added
  nncf/openvino/quantization/accuracy_aware.py
Labels: NNCF OpenVINO

The ignored_scope parameter was added
  nncf/openvino/quantization/quantize.py
  nncf/quantization/quantize.py
Labels: NNCF OpenVINO

Execution time was improved
  examples/experimental/openvino/ssd_mobilenet_v1_fpn/main.py
  nncf/openvino/engine.py
  nncf/openvino/quantization/accuracy_aware.py
  nncf/openvino/quantization/quantize.py
  nncf/quantization/quantize.py
Labels: NNCF OpenVINO

Update reference graphs
  tests/onnx/data/reference_graphs/original_nncf_graph/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/densenet121.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/fcn-resnet50-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/googlenet.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/inception_v3.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/resnet18.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/retinanet-9.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/ssd-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/many_input_ports_quantizable_model.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/reshape_weight_model.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/yolov2-coco-9.dot
  tests/onnx/data/reference_graphs/quantization/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/quantization/densenet121.dot
  tests/onnx/data/reference_graphs/quantization/fcn-resnet50-12.dot
  tests/onnx/data/reference_graphs/quantization/googlenet.dot
  tests/onnx/data/reference_graphs/quantization/icnet_camvid.dot
  tests/onnx/data/reference_graphs/quantization/inception_v3.dot
  tests/onnx/data/reference_graphs/quantization/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/quantization/resnet18.dot
  tests/onnx/data/reference_graphs/quantization/retinanet-9.dot
  tests/onnx/data/reference_graphs/quantization/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/ssd-12.dot
  tests/onnx/data/reference_graphs/quantization/ssd_mobilenet_v1_12.dot
  tests/onnx/data/reference_graphs/quantization/tiny-yolov2.dot
  tests/onnx/data/reference_graphs/quantization/unet_camvid.dot
  tests/onnx/data/reference_graphs/quantization/vgg16.dot
  tests/onnx/data/reference_graphs/quantization/yolov2-coco-9.dot
Labels: NNCF ONNX

Fix bug
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
Labels: experimental

F.embedding takes 2D tensor of weights, instead of 1D one.
  tests/torch/test_compressed_graph.py
Labels: NNCF PT

Fixed invalid input for EmbeddingBag
  tests/torch/test_layer_attributes.py
Labels: NNCF PT

Corrected test with invalid behavior on torch.tensor.__getitem__ (82065 issue)
  tests/torch/test_graph_building.py
Labels: NNCF PT

ConvBNActivation -> Conv2dNormActivation
  examples/torch/classification/configs/mixed_precision/mobilenet_v2_imagenet_mixed_int_manual.json
  examples/torch/classification/configs/mixed_precision/mobilenet_v2_imagenet_mixed_int_manual_staged.json
  examples/torch/classification/configs/sparsity_quantization/mobilenet_v2_imagenet_rb_sparsity_int8.json
  examples/torch/classification/models/mobilenet_v2_32x32.py
  tests/torch/data/hawq_reference/mobilenet_v2_requires_grad_per_param.json
  tests/torch/data/reference_graphs/const_sparsity/mobilenet_v2.dot
  tests/torch/data/reference_graphs/const_sparsity/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/magnitude_sparsity/mobilenet_v2.dot
  tests/torch/data/reference_graphs/magnitude_sparsity/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/nas/mobilenet_v2_depth.dot
  tests/torch/data/reference_graphs/nas/mobilenet_v2_kernel.dot
  tests/torch/data/reference_graphs/nas/mobilenet_v2_width.dot
  tests/torch/data/reference_graphs/nas/mobilenet_v3_small_depth.dot
  tests/torch/data/reference_graphs/nas/mobilenet_v3_small_kernel.dot
  tests/torch/data/reference_graphs/nas/mobilenet_v3_small_width.dot
  tests/torch/data/reference_graphs/original/mobilenet_v2.dot
  tests/torch/data/reference_graphs/original/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_device_VPU.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_device_VPU__eval_subset_ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_device_VPU__eval_subset_ratio_0.4__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_device_VPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/hawq/mobilenet_v2_.dot
  tests/torch/data/reference_graphs/quantized/hawq/mobilenet_v2_device_CPU.dot
  tests/torch/data/reference_graphs/quantized/hawq/mobilenet_v2_device_TRIAL.dot
  tests/torch/data/reference_graphs/quantized/hawq/mobilenet_v2_device_VPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/mobilenet_v2_device_VPU__mode_strict__ratio_1.02.dot
  tests/torch/data/reference_graphs/quantized/hw/CPU/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized/hw/GPU/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized/hw/VPU/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized/symmetric/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized/symmetric/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/rb_sparsity/mobilenet_v2.dot
  tests/torch/data/reference_graphs/rb_sparsity/mobilenet_v3_small.dot
  tests/torch/data/schema_validation_bad_configs/hawq_bitwidth_per_scope_format_mismatch.json
  tests/torch/quantization/test_hawq_precision_init.py
Labels: NNCF PT

Resolved "Unsupported: ONNX export of operator prim::ConstantChunk" - works with opset11
  tests/torch/modules/test_rnn.py
  tests/torch/quantization/test_unified_scales.py
Labels: NNCF PT

Increased tolerance for a single LSTM test case
  tests/torch/modules/test_rnn.py
Labels: NNCF PT

Adapted datasets.VOCDetection.parse_voc_xml call for new torchvision
  examples/torch/object_detection/datasets/voc0712.py
Labels: NNCF PT

Renamed layers in mobilenet_v3_small from torchvision
  tests/torch/data/reference_graphs/const_sparsity/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/magnitude_sparsity/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/nas/mobilenet_v3_small_depth.dot
  tests/torch/data/reference_graphs/nas/mobilenet_v3_small_kernel.dot
  tests/torch/data/reference_graphs/nas/mobilenet_v3_small_width.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/quantized/symmetric/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/rb_sparsity/mobilenet_v3_small.dot
Labels: NNCF PT

Fixed "AttributeError: '_SingleProcessDataLoaderIter' object has no attribute 'next'"
  examples/torch/semantic_segmentation/main.py
Labels: NNCF PT

removed obsolete warning
  nncf/torch/__init__.py
Labels: NNCF PT

use old implementation of inception_v3 from tests
  tests/torch/data/reference_graphs/quantized/autoq/inception_v3_device_VPU__eval_subset_ratio_0.4__with_ignored_scopes.dot
  tests/torch/data/reference_graphs/quantized/autoq/inception_v3_device_VPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_VPU__mode_liberal__ratio_1.3__with_target_scopes.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_VPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_VPU__mode_liberal__ratio_1.5__with_ignored_scopes.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_VPU__mode_strict__ratio_1.dot
  tests/torch/quantization/test_autoq_precision_init.py
  tests/torch/quantization/test_hawq_precision_init.py
Labels: NNCF PT

Adaptation of Export to ONNX
  nncf/torch/exporter.py
  tests/torch/test_onnx_export.py
Labels: NNCF PT

Moved to torch 1.12.1 and torchvision 0.10.1
  README.md
  examples/experimental/torch/classification/Quickstart.md
  examples/torch/requirements.txt
  nncf/torch/exporter.py
  nncf/version.py
  setup.py
Labels: dependencies, NNCF PT, documentation

proper hook registration and bn state changing
  nncf/torch/exporter.py
Labels: NNCF PT

Make pylint happy
  examples/torch/object_detection/layers/box_utils.py
  examples/torch/object_detection/layers/functions/detection.py
  examples/torch/object_detection/layers/functions/prior_box.py
  examples/torch/object_detection/layers/modules/l2norm.py
  nncf/torch/binarization/binarize_functions.py
  nncf/torch/functions.py
  nncf/torch/quantization/quantize_functions.py
  tests/torch/test_graph_building.py
  tools/benchmark_binarize_layers.py
  tools/benchmark_quantize_layers.py
Labels: NNCF PT

Save best subnet to onnx
  examples/experimental/torch/classification/bootstrap_nas.py
  examples/experimental/torch/classification/bootstrap_nas_search.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  tests/torch/nas/test_search.py
Labels: NNCF PT, experimental

Set Swish memory efficient to False
  examples/torch/common/models/classification/efficientnet.py
Labels: NNCF PT

Fix Pylint
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
Labels: experimental

fix: examples/tensorflow/requirements.txt to reduce vulnerabilities
  examples/tensorflow/requirements.txt
Labels: NNCF TF

updated link for 3rd party sanity test to install torch 1.12.1 with cuda 11
  tests/torch/test_sanity_third_party.py
Labels: NNCF PT

Apply comments
  examples/experimental/onnx/classification/onnx_ptq_classification.py
  examples/experimental/onnx/mobilenet_v2/main.py
  examples/experimental/onnx/semantic_segmentation/onnx_ptq_segmentation.py
  nncf/common/engine.py
  nncf/common/graph/factory.py
  nncf/experimental/onnx/engine.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/experimental/quantization/compression_builder.py
  nncf/onnx/quantization/quantize.py
  nncf/quantization/algorithms/__init__.py
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/default/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/api/__init__.py
  nncf/quantization/graph/model_transformer.py
  nncf/quantization/statistics/aggregator.py
  nncf/quantization/statistics/statistic_point.py
  tests/onnx/benchmarking/run_ptq.py
  tests/onnx/quantization/common.py
  tests/onnx/test_statistics_aggregator.py
Labels: NNCF ONNX, experimental, NNCF Common

Pylint
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/default/algorithm.py
Labels: experimental
