Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'

Add tracking to quantize_impl in ONNX
  nncf/onnx/quantization/quantize.py
  nncf/openvino/quantization/quantize.py
  nncf/quantization/telemetry_extractors.py
Labels: NNCF OpenVINO

Refactor setup.py for pip install
  setup.py
Labels: dependencies

Adjust install tests to remove direct setup.py approach
  tests/cross_fw/install/test_install.py
  tests/shared/helpers.py
Labels: none

Replace python setup.py with pip install in the README
  README.md
Labels: documentation

Adjust execution type in PT tests
  tests/cross_fw/install/install_checks_torch.py
  tests/cross_fw/install/test_install.py
  tests/shared/helpers.py
Labels: none

Rollback changes with TraversableGraph
  nncf/common/graph/graph.py
  nncf/common/graph/traversal.py
  nncf/common/graph/utils.py
  nncf/common/insertion_point_graph.py
  nncf/common/pruning/utils.py
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  tests/common/graph/test_graph_traversal.py
  tests/common/quantization/test_filter_constant_nodes.py
Labels: NNCF TF, NNCF Common

Remove direct setup.py installation (#1390)
  README.md
  setup.py
  tests/cross_fw/install/install_checks_torch.py
  tests/cross_fw/install/test_install.py
  tests/shared/helpers.py
Labels: dependencies, documentation

Fix pylint
  nncf/common/insertion_point_graph.py
Labels: NNCF Common

Align test command with other CI commands
  Makefile
Labels: none

Addressed PR review comments
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/runner_factory.py
  nncf/common/accuracy_aware_training/training_loop.py
Labels: NNCF Common

Fix torch package installation in install tests
  tests/cross_fw/install/test_install.py
  tests/shared/helpers.py
Labels: none

Fix HTML rendering for E2E ONNX
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Fix HTML rendering for E2E ONNX (#1397)
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Fixes
  nncf/openvino/quantization/quantize.py
  nncf/quantization/telemetry_extractors.py
  nncf/tensorflow/exporter.py
Labels: NNCF TF, NNCF OpenVINO

Add a quantize test version for ONNX telemetry
  nncf/quantization/quantize.py
  tests/onnx/models.py
  tests/onnx/test_telemetry.py
  tests/openvino/test_telemetry.py
  tests/shared/datasets.py
Labels: NNCF ONNX, NNCF OpenVINO

Add CPU EP
  tests/onnx/benchmarking/classification/onnx_models_configs/bvlcalexnet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/caffenet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/densenet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/efficientnet-lite4-11.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/googlenet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/inception-v1-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/mobilenetv2-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/resnet50-v1-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/resnet50-v2-7.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/shufflenet-9.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/shufflenet-v2-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/squeezenet1.0-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/vgg16-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/zfnet512-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/FasterRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/MaskRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ResNet101-DUC-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/fcn-resnet50-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/retinanet-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ssd-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ssd_mobilenet_v1_12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/tiny-yolov3-11.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/tinyyolov2-8.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/yolov2-coco-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/yolov3-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/yolov4.yml
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Fix bug
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Update req for sample
  examples/experimental/onnx/__init__.py
  examples/experimental/onnx/mobilenet_v2/requirements.txt
Labels: none

Apply comments
  nncf/common/insertion_point_graph.py
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: experimental, NNCF Common

Remove is_valid_metatype
  nncf/common/graph/operator_metatypes.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
Labels: experimental, NNCF Common

Removed unused import
  nncf/common/accuracy_aware_training/runner.py
Labels: NNCF Common

Fix torch install (#1396)
  tests/cross_fw/install/test_install.py
  tests/shared/helpers.py
Labels: none

Add enum serialization and use extractor name everywhere
  nncf/quantization/quantize.py
  nncf/telemetry/decorator.py
  nncf/telemetry/extractors.py
  tests/common/test_telemetry.py
Labels: NNCF Common

Remove fixed protobuf versions from requirements
  examples/tensorflow/requirements.txt
Labels: NNCF TF

Adaptive compression training loop improvements (#1343)
  examples/tensorflow/common/utils.py
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/runner_factory.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/config/schemata/accuracy_aware.py
  nncf/config/schemata/defaults.py
  nncf/tensorflow/accuracy_aware_training/keras_model_utils.py
  nncf/tensorflow/accuracy_aware_training/runner.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/torch/accuracy_aware_training/runner.py
  nncf/torch/pruning/filter_pruning/algo.py
  tests/tensorflow/accuracy_aware_training/test_keras_api.py
  tests/tensorflow/sparsity/magnitude/test_algorithm.py
  tests/torch/accuracy_aware_training/test_runner.py
  tests/torch/accuracy_aware_training/test_training_loop.py
Labels: NNCF PT, NNCF TF, NNCF Common

Deploying to doc_pages from @ openvinotoolkit/nncf@7ce12ad446365b7eeed10c44c33062f783615910 🚀
  index.html
  schema_doc.min.js
Labels: none

Adjust licensing files
  licensing/third-party-programs.txt
  tests/torch/nas/models/tcn.py
Labels: NNCF PT

Remove fixed protobuf versions from requirements (#1399)
  examples/tensorflow/requirements.txt
Labels: NNCF TF

Adjust licensing files (#1400)
  licensing/third-party-programs.txt
  tests/torch/nas/models/tcn.py
Labels: NNCF PT

Add filtration step in fusing of hw patterns
  nncf/common/insertion_point_graph.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/hardware/fused_patterns.py
  nncf/experimental/onnx/hardware/patterns.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/onnx/data/reference_graphs/original_nncf_graph/densenet121.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/fcn-resnet50-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/googlenet.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/inception_v3.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/retinanet-9.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/ssd-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/yolov2-coco-9.dot
  tests/onnx/data/reference_graphs/quantization/densenet121.dot
  tests/onnx/data/reference_graphs/quantization/fcn-resnet50-12.dot
  tests/onnx/data/reference_graphs/quantization/googlenet.dot
  tests/onnx/data/reference_graphs/quantization/icnet_camvid.dot
  tests/onnx/data/reference_graphs/quantization/inception_v3.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/quantization/retinanet-9.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/ssd-12.dot
  tests/onnx/data/reference_graphs/quantization/yolov2-coco-9.dot
  tests/onnx/quantization/test_classification_models_graph.py
Labels: NNCF ONNX, experimental, NNCF Common

Linear output shape collection fix (#1389)
  nncf/torch/pruning/utils.py
  tests/torch/pruning/filter_pruning/test_algo.py
  tests/torch/pruning/helpers.py
Labels: NNCF PT

Remove redundant ONNX samples and split requirements (#1392)
  Makefile
  examples/experimental/onnx/__init__.py
  examples/experimental/onnx/classification/README.md
  examples/experimental/onnx/classification/__init__.py
  examples/experimental/onnx/classification/accuracy.py
  examples/experimental/onnx/classification/imagenet_dataset.py
  examples/experimental/onnx/classification/onnx_ptq_classification.py
  examples/experimental/onnx/common/argparser.py
  examples/experimental/onnx/common/sample_config.py
  examples/experimental/onnx/mobilenet_v2/requirements.txt
  examples/experimental/onnx/requirements.txt
  examples/experimental/onnx/semantic_segmentation/README.md
  examples/experimental/onnx/semantic_segmentation/__init__.py
  examples/experimental/onnx/semantic_segmentation/onnx_ptq_segmentation.py
  examples/experimental/onnx/semantic_segmentation/segmentation_dataset.py
  examples/experimental/onnx/yolov5/0001-Add-NNCF-ONNX-PTQ-example-notebook.patch
  examples/experimental/onnx/yolov5/README.md
  nncf/experimental/onnx/common.py
  setup.py
  tests/cross_fw/install/common.py
  tests/cross_fw/install/install_checks_onnx.py
  tests/cross_fw/install/install_checks_openvino.py
  tests/onnx/requirements.txt
  tests/onnx/sanity_tests/__init__.py
  tests/onnx/sanity_tests/test_classification_sanity_sample.py
  tests/onnx/sanity_tests/test_segmentation_sanity_sample.py
  tests/onnx/test_infer_input_shape.py
Labels: dependencies, NNCF ONNX, documentation, experimental

Update report creation
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Fix bug
  nncf/common/insertion_point_graph.py
Labels: NNCF Common

Fix pylint
  nncf/common/insertion_point_graph.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
Labels: experimental, NNCF Common

Remove unnecessary method
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Labels: none

Rollback patterns
  nncf/experimental/onnx/hardware/fused_patterns.py
  nncf/experimental/onnx/hardware/patterns.py
Labels: experimental

Update configs
  tests/onnx/benchmarking/classification/onnx_models_configs/efficientnet-lite4-11.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/MaskRCNN-12.yml
Labels: NNCF ONNX

Added returining loss by train_fn; fixed multiple optimizers support
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/tensorflow/accuracy_aware_training/runner.py
  nncf/torch/accuracy_aware_training/runner.py
Labels: NNCF PT, NNCF TF, NNCF Common

Update reference; Update generate_report
  tests/onnx/data/reference_model_accuracy/reference.json
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX
