Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

Add OV IR to PTQ API
  ReleaseNotes.md
Labels: none

Add a note on DW conv
  ReleaseNotes.md
Labels: none

Add ONNX/ONNXRT versions
  ReleaseNotes.md
Labels: none

Add filtered e2e model list
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

minmax algorithm has been added to the post training conformance tests
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/post_training/conftest.py
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
Labels: none

Add links
  ReleaseNotes.md
Labels: none

Add OpenVINO target
  tests/onnx/benchmarking/classification/openvino_models_configs/bvlcalexnet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/caffenet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/densenet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/efficientnet-lite4-11.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/googlenet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/inception-v1-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/mobilenetv2-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/resnet50-v1-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/resnet50-v2-7.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/shufflenet-9.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/shufflenet-v2-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/squeezenet1.0-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/zfnet512-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/FasterRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/MaskRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/ResNet101-DUC-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/fcn-resnet50-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/retinanet-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/ssd-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/ssd_mobilenet_v1_12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/tiny-yolov3-11.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/tinyyolov2-8.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/yolov2-coco-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/yolov3-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/yolov4.yml
  tests/onnx/conftest.py
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

add vgg
  tests/onnx/benchmarking/classification/openvino_models_configs/vgg16-12.yml
Labels: NNCF ONNX

Apply comments
  nncf/common/graph/patterns.py
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
Labels: experimental, NNCF Common

Merge PatternsManager & PatternNames
  nncf/common/graph/patterns.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: experimental, NNCF Common

Comments
  ReleaseNotes.md
Labels: none

Add target tag
  tests/onnx/benchmarking/classification/openvino_models_configs/bvlcalexnet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/caffenet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/densenet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/efficientnet-lite4-11.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/googlenet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/inception-v1-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/mobilenetv2-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/resnet50-v1-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/resnet50-v2-7.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/shufflenet-9.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/shufflenet-v2-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/squeezenet1.0-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/vgg16-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/zfnet512-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/FasterRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/MaskRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/ResNet101-DUC-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/fcn-resnet50-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/retinanet-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/ssd-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/ssd_mobilenet_v1_12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/tiny-yolov3-11.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/tinyyolov2-8.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/yolov2-coco-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/yolov3-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/yolov4.yml
  tests/onnx/conftest.py
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Add OpenVINO target
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Highlight patterns into own functions
  nncf/onnx/hardware/fused_patterns.py
  nncf/onnx/hardware/patterns.py
Labels: none

Rewrite patterns in terms of join_patterns(); Fix bug with join_patterns()
  nncf/common/graph/patterns.py
  nncf/onnx/hardware/fused_patterns.py
  nncf/onnx/hardware/patterns.py
Labels: NNCF Common

Comments were resolved
  nncf/onnx/graph/node_utils.py
  nncf/onnx/graph/transformations/command_creation.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Labels: none

Apply comments
  README.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Update ONNX
  nncf/common/graph/patterns.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/onnx/hardware/fused_patterns.py
  nncf/onnx/hardware/pattern_operations.py
Labels: experimental, NNCF Common

Optimize patterns
  nncf/common/graph/patterns.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
Labels: experimental, NNCF Common

Formatting
  nncf/common/graph/patterns.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/onnx/hardware/fused_patterns.py
Labels: experimental, NNCF Common

Update OV patterns
  nncf/common/graph/patterns.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/onnx/hardware/fused_patterns.py
Labels: experimental, NNCF Common

Update
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
Labels: experimental

Update Algo
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/quantization/algorithms/fast_bias_correction/ov_backend.py
  nncf/quantization/quantize.py
Labels: experimental

todo was removed
  nncf/quantization/algorithms/bias_correction/algorithm.py
Labels: none

Update FBC OV backend
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/__init__.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/ov_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF OpenVINO, experimental

Update tests
  tests/openvino/native/data/reference_graphs/original_nncf_graph/ConvModel.dot
  tests/openvino/native/data/reference_graphs/quantized/ConvModel.dot
  tests/openvino/native/test_metatypes.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF OpenVINO

Update HBC
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/graph/transformations/commands.py
  nncf/experimental/openvino_native/quantization/algorithms/bias_correction/__init__.py
  nncf/experimental/openvino_native/quantization/algorithms/bias_correction/ov_backend.py
  nncf/experimental/openvino_native/statistics/collectors.py
  nncf/experimental/openvino_native/statistics/statistics.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/quantize.py
Labels: experimental

Revert quantize
  nncf/quantization/quantize.py
Labels: none

Apply comments
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/ov_backend.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Labels: experimental

Update comment
  nncf/common/graph/patterns.py
Labels: NNCF Common

Update requirements
  tests/onnx/benchmarking/requirements.txt
Labels: NNCF ONNX

Comments were resolved
  nncf/onnx/graph/node_utils.py
Labels: none

Minor improvements and code refactoring (#1519)
  nncf/onnx/graph/node_utils.py
  nncf/onnx/graph/transformations/command_creation.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Labels: none

Add an entry on OV
  ReleaseNotes.md
Labels: none

Apply comments
  README.md
Labels: documentation

typo
  README.md
Labels: documentation

Update docs/compression_algorithms/post_training/Quantization.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Add release notes for v2.4.0 and update version (#1514)
  ReleaseNotes.md
  nncf/version.py
Labels: none

Update docs/compression_algorithms/post_training/Quantization.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Update docs/compression_algorithms/post_training/Quantization.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'
