Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'

Update test to use PTQ instead MinMax
  tests/onnx/quantization/test_quantizer_config.py
Labels: NNCF ONNX

Extend test_metatypes by adding DepthwiseConv
  tests/onnx/models.py
  tests/onnx/test_metatypes.py
Labels: NNCF ONNX

Update test_statistics_aggregator
  tests/onnx/models.py
  tests/onnx/test_statistics_aggregator.py
Labels: NNCF ONNX

Fix bug with calculation of levels
  nncf/experimental/onnx/quantization/quantizer_parameters.py
Labels: experimental

Add test on calculation quantizers params
  tests/onnx/quantization/test_scale_zero_point_calculation.py
Labels: NNCF ONNX

Rename
  tests/onnx/quantization/test_calculation_quantizer_params.py
Labels: NNCF ONNX

Added parallel execution of quantization and validation
  tests/post_training/test_quantize_conformance.py
  tests/post_training/utils.py
Labels: none

mobilenet v2 post-training quantization example for ONNX backend
  .gitignore
  examples/experimental/onnx/mobilenet_v2/main.py
  examples/experimental/onnx/mobilenet_v2/requirements.txt
  examples/experimental/onnx/mobilenet_v2/utils.py
  examples/post_training_quantization/onnx/mobilenet_v2/README.md
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
Labels: documentation

replied to comments
  Makefile
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
Labels: none

pylint happy
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
Labels: none

Remove the fix for extensions build in PT (#1416)
  nncf/torch/__init__.py
  nncf/torch/dynamic_graph/patch_pytorch.py
Labels: NNCF PT

Removed specialized export for NAS models. (#1419)
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elasticity_controller.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/onnx_export.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_controller.py
  tests/torch/nas/test_all_elasticity.py
  tests/torch/nas/test_elastic_depth.py
Labels: NNCF PT, experimental

Fix calculation zero point for ONNX (#1410)
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  tests/onnx/quantization/test_scale_zero_point_calculation.py
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX, experimental

Fix for accuracy control (#1422)
  nncf/openvino/engine.py
  tests/openvino/pot/test_engine.py
Labels: NNCF OpenVINO

Update BC
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
Labels: none

Update fbc, fix pylint
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Labels: none

Comments
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/transformations/commands.py
Labels: experimental

Apply comments & add test
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  tests/onnx/data/reference_graphs/quantization/synthetic/removed_nodes_in_linear_model.dot
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX, experimental

HBC initial commit
  nncf/common/tensor_statistics/collectors.py
  nncf/common/tensor_statistics/statistics.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/experimental/onnx/statistics/collectors.py
  nncf/experimental/onnx/statistics/statistics.py
  nncf/onnx/quantization/quantize.py
  nncf/quantization/algorithms/bias_correction/__init__.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
Labels: experimental, NNCF Common

Fix pylint
  nncf/experimental/onnx/graph/model_transformer.py
Labels: experimental

Added BiasCorrection to confirmance, apply comments, fixes
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  tests/post_training/model_scope.py
Labels: none

Update collector description
  nncf/common/tensor_statistics/collectors.py
Labels: NNCF Common

Pylint, tests & two comments
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX, experimental

Pylint fix
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX

Updated model transformer with value_info
  nncf/experimental/onnx/graph/model_transformer.py
Labels: experimental

Add weight quantization configs
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: none

Update docs
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: none

Add default quantization config test
  tests/onnx/quantization/test_quantizer_config.py
Labels: NNCF ONNX

fix typo
  tests/onnx/quantization/test_quantizer_config.py
Labels: NNCF ONNX

fix pylint
  nncf/quantization/algorithms/post_training/algorithm.py
Labels: none

Add test_ptq_params; Fix bug with granularity in constraints
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
Labels: NNCF ONNX, experimental

Update TargetDevice
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
Labels: NNCF ONNX

Removed `from_str` methods from Enum classes
  nncf/common/hardware/config.py
  nncf/common/quantization/initialization/range.py
  nncf/common/quantization/structs.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elasticity_builder.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elasticity_dim.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_builder.py
  nncf/experimental/torch/nas/bootstrapNAS/training/stage_descriptor.py
  nncf/experimental/torch/search_building_blocks/search_blocks.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/precision_init/hawq_init.py
Labels: NNCF PT, NNCF TF, experimental, NNCF Common

Via ThreadPool
  tests/post_training/conftest.py
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
  tests/post_training/utils.py
Labels: none

Fix typos
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/onnx/models.py
  tests/onnx/quantization/test_quantizer_config.py
Labels: NNCF ONNX

Add Sum opname to ONNXAddLayerMetatype
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
Labels: experimental

Fix pylint
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
Labels: NNCF ONNX, experimental

updated makefile
  Makefile
Labels: none

Fix pylint
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/post_training/algorithm.py
Labels: none

Fix transform_fn
  tests/onnx/quantization/common.py
Labels: NNCF ONNX
