Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

Update docs/compression_algorithms/post_training/Quantization.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Apply comments
  README.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Update docs/compression_algorithms/post_training/Quantization.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Update docs/compression_algorithms/post_training/Quantization.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Use safe_open across NNCF (#1510)
  nncf/experimental/torch/nas/bootstrapNAS/search/evaluator.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/torch/pruning/filter_pruning/algo.py
Labels: NNCF PT, experimental

Missing __init__.py files were added (#1518)
  nncf/experimental/openvino_native/quantization/__init__.py
  nncf/experimental/openvino_native/quantization/algorithms/__init__.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/__init__.py
Labels: experimental

Fix comparing tuple with list in PTQuantizerSpec (#1512)
  nncf/torch/quantization/layers.py
Labels: NNCF PT

Use parse_voc_xml in a backwards-compatible way with old torchvision (#1515)
  examples/torch/object_detection/datasets/voc0712.py
Labels: NNCF PT

Fix incorrect comment in ONNX sample (#1521)
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
Labels: none

Add release notes for v2.4.0 and update version (#1514)
  ReleaseNotes.md
  nncf/version.py
Labels: none

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Apply suggestions from code review
  README.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Update docs/compression_algorithms/post_training/Quantization.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Apply suggestions from code review
  README.md
  docs/compression_algorithms/post_training/ONNX.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Apply comments
  docs/compression_algorithms/post_training/ONNX.md
Labels: documentation

Fix links
  README.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Apply comments
  README.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Remove unnecessary dependencies
  examples/tensorflow/requirements.txt
  nncf/common/hardware/config.py
  nncf/openvino/quantization/accuracy_aware.py
  setup.py
  tests/experimental/tensorflow/test_compressed_graph.py
  tests/experimental/tensorflow/test_context_independence.py
  tests/openvino/requirements.txt
  tests/tensorflow/pruning/helpers.py
  tests/tensorflow/quantization/utils.py
  tests/tensorflow/sparsity/magnitude/test_algorithm.py
  tests/tensorflow/sparsity/magnitude/test_scheduler.py
  tests/tensorflow/sparsity/rb/test_components.py
  tests/tensorflow/sparsity/test_common.py
  tests/tensorflow/test_bn_adaptation.py
  tests/tensorflow/test_compressed_graph.py
  tests/tensorflow/test_ignored_scopes.py
Labels: dependencies, NNCF TF, NNCF OpenVINO, NNCF Common

Update nncf/common/graph/patterns.py
  nncf/common/graph/patterns.py
Labels: NNCF Common

Add more models
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

pylint
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Apply comment
  examples/post_training_quantization/onnx/mobilenet_v2/README.md
Labels: documentation

update
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/ov_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Labels: experimental

Apply comments
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/graph/transformations/commands.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/ov_backend.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/graph/node_utils.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
Labels: experimental

[OV] Support all configurations of input data for OVNativeEngine
  nncf/experimental/openvino_native/engine.py
  tests/openvino/native/models.py
  tests/openvino/native/test_engine.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF OpenVINO, experimental

Rollback major changes
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Labels: none

Fix comments
  nncf/experimental/openvino_native/engine.py
  tests/openvino/native/models.py
  tests/openvino/native/test_engine.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF OpenVINO, experimental

Update QuantizedModel edge attrs
  tests/openvino/native/data/reference_graphs/original_nncf_graph/removed_nodes_in_QuantizedModel.dot
Labels: NNCF OpenVINO

Apply comments
  README.md
  docs/compression_algorithms/post_training/ONNX.md
  docs/compression_algorithms/post_training/Quantization.md
  examples/post_training_quantization/onnx/mobilenet_v2/README.md
Labels: documentation

Remove addict from OV tests
  tests/openvino/pot/test_engine.py
  tests/openvino/requirements.txt
Labels: NNCF OpenVINO

Add Inception model
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Fix pylint
  tests/openvino/native/test_engine.py
Labels: NNCF OpenVINO

Apply comments
  nncf/experimental/openvino_native/engine.py
Labels: experimental

add prepare_for_inference
  nncf/torch/prepare_for_inference.py
  nncf/torch/pruning/operations.py
  tests/torch/test_prepare_for_inference.py
Labels: NNCF PT

Update nncf/experimental/openvino_native/engine.py
  nncf/experimental/openvino_native/engine.py
Labels: experimental

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'
