Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

Test updated
  nncf/torch/dynamic_graph/transform_graph.py
  tests/torch/nas/test_elastic_depth.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT

Compression algorithms new metatypes migration
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/visualization.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/default_quantization.py
  tests/torch/test_layer_attributes.py
Labels: NNCF PT, experimental

Module meattypes as subtypes
  nncf/torch/dynamic_graph/transform_graph.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/quantization/algo.py
  tests/torch/modules/test_rnn.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT

is_called_inside_nncf_module param for dynamic graph nodes
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/graph.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/default_quantization.py
  nncf/torch/utils.py
Labels: NNCF PT

Misspelled MSHA to MHSA
  nncf/experimental/torch/search_building_blocks/search_blocks.py
  tests/torch/data/search_building_block/bert.json
  tests/torch/data/search_building_block/one_mhsa.json
  tests/torch/data/search_building_block/swin_ms.json
  tests/torch/data/search_building_block/vit.json
  tests/torch/data/search_building_block/wave2vec_2.0.json
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
Labels: NNCF PT, experimental

Draft adding POT
  nncf/experimental/onnx/graph/model_transformer.py
  tests/onnx/benchmarking/classification/openvino_models_configs/bvlcalexnet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/caffenet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/densenet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/efficientnet-lite4-11.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/googlenet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/inception-v1-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/mobilenetv2-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/resnet50-v1-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/resnet50-v2-7.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/shufflenet-9.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/shufflenet-v2-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/squeezenet1.0-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/vgg16-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/zfnet512-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/FasterRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/MaskRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/ResNet101-DUC-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/fcn-resnet50-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/retinanet-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/ssd-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/ssd_mobilenet_v1_12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/tiny-yolov3-11.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/tinyyolov2-8.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/yolov2-coco-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/yolov3-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/yolov4.yml
  tests/onnx/conftest.py
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX, experimental

No weights override on sparsity model's export (#1405)
  nncf/torch/pruning/filter_pruning/layers.py
  nncf/torch/sparsity/layers.py
  tests/torch/pruning/filter_pruning/test_layers.py
  tests/torch/test_algo_common.py
Labels: NNCF PT

Fixed pylint and precommit
  examples/torch/common/models/classification/__init__.py
  examples/torch/common/models/classification/mobilenet_v2_tv_092.py
  examples/torch/common/models/classification/mobilenet_v3_tv_092.py
  tests/torch/data/hawq_reference/mobilenet_v2_requires_grad_per_param.json
  tests/torch/quantization/test_hawq_precision_init.py
  tests/torch/test_compressed_graph.py
Labels: NNCF PT

Disable exection in TensorFloat-32
  examples/tensorflow/classification/configs/sparsity_quantization/mobilenet_v3_large_imagenet_rb_sparsity_int8.json
  examples/tensorflow/classification/configs/sparsity_quantization/mobilenet_v3_small_imagenet_rb_sparsity_int8.json
  examples/tensorflow/classification/main.py
  examples/tensorflow/common/argparser.py
  examples/tensorflow/object_detection/main.py
  examples/tensorflow/segmentation/evaluation.py
  examples/tensorflow/segmentation/train.py
  tests/tensorflow/sota_checkpoints_eval.json
Labels: NNCF TF

Renamed MSHA to MHSA (#1433)
  nncf/experimental/torch/search_building_blocks/search_blocks.py
  tests/torch/data/search_building_block/bert.json
  tests/torch/data/search_building_block/one_mhsa.json
  tests/torch/data/search_building_block/swin_ms.json
  tests/torch/data/search_building_block/vit.json
  tests/torch/data/search_building_block/wave2vec_2.0.json
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
Labels: NNCF PT, experimental

Removed raising exception when we didn't succeed in pruning the model with ACT algo
  examples/common/__init__.py
  examples/common/utils.py
  examples/tensorflow/classification/main.py
  examples/tensorflow/object_detection/main.py
  examples/torch/classification/main.py
  examples/torch/object_detection/main.py
  examples/torch/semantic_segmentation/main.py
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/tensorflow/accuracy_aware_training/keras_model_utils.py
  nncf/tensorflow/accuracy_aware_training/runner.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/torch/accuracy_aware_training/runner.py
  nncf/torch/composite_compression.py
  nncf/torch/sparsity/magnitude/algo.py
  tests/tensorflow/accuracy_aware_training/test_keras_api.py
  tests/torch/accuracy_aware_training/test_training_loop.py
Labels: NNCF PT, NNCF TF, NNCF Common

Adjust logging in elastic width code (#1431)
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
Labels: experimental

Minor fixes / docstrings
  nncf/torch/dynamic_graph/transform_graph.py
  nncf/torch/utils.py
  tests/torch/nas/test_elastic_depth.py
  tests/torch/test_layer_attributes.py
Labels: NNCF PT

Fix L2Norm forward w/ export
  examples/torch/object_detection/layers/modules/l2norm.py
Labels: NNCF PT

Regenerate ONNX graphs from torch
  tests/onnx/data/reference_graphs/original_nncf_graph/densenet121.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/resnet18.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/quantization/densenet121.dot
  tests/onnx/data/reference_graphs/quantization/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/quantization/resnet18.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/vgg16.dot
Labels: NNCF ONNX

Fix icnet paddings
  examples/torch/common/models/segmentation/icnet.py
Labels: NNCF PT

Fix unsqueeze_helper
  nncf/torch/binarization/binarize_functions.py
Labels: NNCF PT

Use torch 1.13
  examples/torch/requirements.txt
  setup.py
  tests/torch/quantization/test_unified_scales.py
Labels: dependencies, NNCF PT

Add a WA for torch 1.13 shape inference failure on export
  nncf/torch/exporter.py
Labels: NNCF PT

Fix torchvision version for onnx
  setup.py
Labels: dependencies

Adjust TV version
  setup.py
Labels: dependencies

Relax patch version req'ts
  setup.py
Labels: dependencies

Adjust test_graph_builder reference .dot files
  tests/onnx/conftest.py
  tests/onnx/data/reference_graphs/original_nncf_graph/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/densenet121.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/googlenet.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/inception_v3.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/resnet18.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/ssd-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/vgg16.dot
Labels: NNCF ONNX

Adjust min_max tests
  tests/onnx/data/reference_graphs/quantization/densenet121.dot
  tests/onnx/data/reference_graphs/quantization/googlenet.dot
  tests/onnx/data/reference_graphs/quantization/inception_v3.dot
  tests/onnx/data/reference_graphs/quantization/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/quantization/resnet18.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/vgg16.dot
Labels: NNCF ONNX

Add ids to ONNX graph test cases
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX

Remove torch/tv reqs from ONNX
  setup.py
  tests/onnx/requirements.txt
Labels: dependencies, NNCF ONNX

Adaptive Compression Training Loop documentation tweaks and improvement (#1413)
  docs/accuracy_aware_model_training/AdaptiveCompressionLevelTraining.md
  docs/accuracy_aware_model_training/actl_progress_plot.png
Labels: documentation

Tweaks
  examples/tensorflow/classification/main.py
  examples/tensorflow/object_detection/main.py
Labels: NNCF TF

pylint happy
  examples/tensorflow/classification/configs/quantization/mobilenet_v3_large_imagenet_int8.json
  examples/tensorflow/classification/configs/quantization/mobilenet_v3_small_imagenet_int8.json
  examples/tensorflow/classification/main.py
  examples/tensorflow/object_detection/main.py
Labels: NNCF TF

Fix graph comparison
  tests/common/graph/nx_graph.py
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX, NNCF Common

P4 jpqd dev ww49 (#20)
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/functions.py
  nncf/experimental/torch/sparsity/movement/layers.py
  nncf/experimental/torch/sparsity/movement/loss.py
  nncf/experimental/torch/sparsity/movement/scheduler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  tests/torch/requirements.txt
  tests/torch/sparsity/movement/helpers.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_components.py
  tests/torch/sparsity/movement/test_scheduler.py
  tests/torch/sparsity/movement/test_training.py
Labels: NNCF PT, experimental

Refactor MovementSparsityConfigBuilder in movement/test_algo.py
  tests/torch/sparsity/movement/test_algo.py
Labels: NNCF PT

Patch to disable weights override on movement sparsity model's export
  nncf/experimental/torch/sparsity/movement/layers.py
Labels: experimental

modify ConfigBuilder of helper of movement tests
  tests/torch/sparsity/movement/helpers.py
Labels: NNCF PT

Add structured masking support for HuggingFace's Swin and refactor auto model family detection
  nncf/torch/sparsity/movement/structured_mask_strategy.py
Labels: NNCF PT

Patch config builder to exclude layer norm for movement algo test
  tests/torch/sparsity/movement/helpers.py
Labels: NNCF PT

Minor post rebase patch
  nncf/torch/sparsity/movement/algo.py
Labels: NNCF PT

Minor post rebased patch
  nncf/torch/functions.py
Labels: NNCF PT

fixes for full pytorch tests; schduler moved to movement folder; test refinements (#18)
  nncf/common/sparsity/schedulers.py
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/layers.py
  nncf/experimental/torch/sparsity/movement/loss.py
  nncf/experimental/torch/sparsity/movement/scheduler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_strategy.py
  nncf/torch/sparsity/collector.py
  tests/torch/data/schema_validation_good_configs/full_movement_sparsity_params.json
  tests/torch/sparsity/movement/examples/bert_tiny_uncased_mrpc_movement.json
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_components.py
  tests/torch/sparsity/movement/test_scheduler.py
  tests/torch/sparsity/movement/test_structured_mask.py
  tests/torch/sparsity/movement/test_training.py
Labels: NNCF PT, experimental, NNCF Common

move config builder, train pipeline, base callback, etc. to helper.py to clean the codes
  tests/torch/sparsity/movement/helpers.py
  tests/torch/sparsity/movement/test_algo.py
Labels: NNCF PT

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'
