Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

Pylint too many statements fix
  examples/tensorflow/object_detection/main.py
Labels: NNCF TF

Final minor changes on docstrings (#32)
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/functions.py
  nncf/experimental/torch/sparsity/movement/scheduler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_strategy.py
Labels: experimental

pylint fix + documentation change about fractional epoch (#34)
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
  nncf/experimental/torch/sparsity/movement/scheduler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
Labels: experimental

Revise MovementSparsity.md and update diagram
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
  nncf/experimental/torch/sparsity/movement/movement_sparsity_lifecycle.jpg
Labels: experimental

Explicit module types
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/visualization.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/default_quantization.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT, experimental

Fixed TF tests
  tests/tensorflow/accuracy_aware_training/test_keras_api.py
Labels: NNCF TF

Threshold for mobilenet_int4_int8 is updated
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT

Deploying to doc_pages from @ openvinotoolkit/nncf@12351f8f5e4954aaf4763ec7ae493fa6d7346b4e 🚀
  index.html
Labels: none

[Torch][SOTA eval] Threshold for mobilenet_int4_int8 is updated (#1441)
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT

Add common/scopes.py
  nncf/common/compression.py
  nncf/common/graph/utils.py
  nncf/common/pruning/node_selector.py
  nncf/common/quantization/config_assignment.py
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/scopes.py
  nncf/common/utils/helpers.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/quantization/init_range.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/tensorflow/sparsity/rb/algorithm.py
  nncf/torch/compression_method_api.py
  nncf/torch/dynamic_graph/transform_graph.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/init_range.py
  nncf/torch/utils.py
  tests/common/graph/test_utils.py
  tests/common/test_scopes.py
Labels: NNCF PT, NNCF TF, NNCF Common

Fix pylint
  nncf/torch/exporter.py
Labels: NNCF PT

Apply comments
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: experimental

Restore logging imports and mark legacy import as deprecated
  nncf/common/logging/logger.py
  nncf/common/utils/logger/__init__.py
Labels: NNCF Common

Move check_scopes_in_graph to common.scopes
  nncf/common/compression.py
  nncf/common/scopes.py
  nncf/tensorflow/api/compression.py
  nncf/torch/compression_method_api.py
Labels: NNCF PT, NNCF TF, NNCF Common

Docs
  nncf/common/scopes.py
Labels: NNCF Common

Metatype tests are updated
  tests/torch/test_pytorch_patch.py
Labels: NNCF PT

Add target
  Makefile
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

add whl
  tests/onnx/onnxruntime_openvino-1.14.0-cp38-cp38-linux_x86_64.whl
Labels: NNCF ONNX

Post-Training Quantization of MobileNet v2 TensorFlow Model (#1432)
  .gitignore
  examples/experimental/tensorflow/mobilenet_v2/main.py
  examples/experimental/tensorflow/mobilenet_v2/utils.py
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/README.md
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
Labels: documentation

make e2e green again
  tests/tensorflow/data/ac_configs/retinanet.yml
  tests/tensorflow/data/ac_configs/yolo_v4.yml
  tests/tensorflow/data/ac_configs/yolo_v4_int8_w_sym_ch_a_asym_t.yml
Labels: NNCF TF

add output_format: HWB to yolo_v2 ac configs
  examples/tensorflow/segmentation/configs/quantization/mask_rcnn_coco_int8.json
  tests/tensorflow/data/ac_configs/yolo_v4.yml
  tests/tensorflow/data/ac_configs/yolo_v4_int8_w_sym_ch_a_asym_t.yml
Labels: NNCF TF

Apply comments x2
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
Labels: experimental

Change commit
  .gitattributes
  Makefile
Labels: none

Apply comments x3
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/onnx/quantization/test_quantizer_config.py
Labels: NNCF ONNX

linter
  nncf/common/scopes.py
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  tests/torch/sparsity/movement/test_algo.py
Labels: NNCF PT, experimental, NNCF Common

Add --model_names option
  tests/onnx/conftest.py
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Fix typo
  tests/torch/test_pytorch_patch.py
Labels: NNCF PT

Added TrainingLoopStatistics
  examples/tensorflow/classification/main.py
  examples/tensorflow/object_detection/main.py
  examples/torch/classification/main.py
  examples/torch/object_detection/main.py
  examples/torch/semantic_segmentation/main.py
  nncf/common/accuracy_aware_training/statistics.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/tensorflow/accuracy_aware_training/keras_model_utils.py
  tests/tensorflow/accuracy_aware_training/test_keras_api.py
  tests/torch/accuracy_aware_training/test_training_loop.py
Labels: NNCF PT, NNCF TF, NNCF Common

Switch to torch 1.13 (#1407)
  examples/torch/common/models/segmentation/icnet.py
  examples/torch/object_detection/layers/modules/l2norm.py
  examples/torch/requirements.txt
  nncf/torch/binarization/binarize_functions.py
  nncf/torch/exporter.py
  setup.py
  tests/common/graph/nx_graph.py
  tests/onnx/conftest.py
  tests/onnx/data/reference_graphs/original_nncf_graph/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/densenet121.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/googlenet.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/inception_v3.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/resnet18.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/ssd-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/vgg16.dot
  tests/onnx/data/reference_graphs/quantization/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/quantization/densenet121.dot
  tests/onnx/data/reference_graphs/quantization/googlenet.dot
  tests/onnx/data/reference_graphs/quantization/inception_v3.dot
  tests/onnx/data/reference_graphs/quantization/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/quantization/resnet18.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/vgg16.dot
  tests/onnx/requirements.txt
  tests/onnx/test_nncf_graph_builder.py
  tests/torch/quantization/test_unified_scales.py
Labels: dependencies, NNCF PT, NNCF ONNX, NNCF Common

Remove _get_model_converter_and_graph from TFCompressionAlgorithmBuilder
  nncf/tensorflow/api/compression.py
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/tensorflow/sparsity/rb/algorithm.py
Labels: NNCF TF

Update Makefile
  Makefile
Labels: none

logger
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

doc
  nncf/common/scopes.py
Labels: NNCF Common

Generate configs online
  Makefile
  tests/onnx/benchmarking/classification/openvino_models_configs/bvlcalexnet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/caffenet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/densenet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/efficientnet-lite4-11.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/googlenet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/inception-v1-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/mobilenetv2-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/resnet50-v1-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/resnet50-v2-7.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/shufflenet-9.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/shufflenet-v2-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/squeezenet1.0-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/vgg16-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/zfnet512-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/FasterRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/MaskRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/ResNet101-DUC-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/fcn-resnet50-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/retinanet-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/ssd-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/ssd_mobilenet_v1_12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/tiny-yolov3-11.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/tinyyolov2-8.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/yolov2-coco-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/yolov3-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/yolov4.yml
  tests/onnx/requirements.txt
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

fix
  nncf/tensorflow/pruning/base_algorithm.py
Labels: NNCF TF

Make e2e green again (#1436)
  examples/tensorflow/segmentation/configs/quantization/mask_rcnn_coco_int8.json
  tests/tensorflow/data/ac_configs/retinanet.yml
  tests/tensorflow/data/ac_configs/yolo_v4.yml
  tests/tensorflow/data/ac_configs/yolo_v4_int8_w_sym_ch_a_asym_t.yml
Labels: NNCF TF

Adjust torch BKC version
  nncf/version.py
Labels: none

[Torch] Weighted nodes search by metatypes in quantization algo (#1428)
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/visualization.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/graph.py
  nncf/torch/dynamic_graph/transform_graph.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/default_quantization.py
  tests/torch/modules/test_rnn.py
  tests/torch/test_layer_attributes.py
  tests/torch/test_nncf_network.py
  tests/torch/test_pytorch_patch.py
Labels: NNCF PT, experimental

Fix tests
  nncf/common/logging/logger.py
  tests/torch/test_backward_compat.py
  tests/torch/test_load_model_state.py
Labels: NNCF PT, NNCF Common

Fix torch/torchvision versions in ONNX tests
  tests/onnx/requirements.txt
Labels: NNCF ONNX

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'
