Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'

Addressed review suggestions
  examples/tensorflow/classification/main.py
  examples/tensorflow/common/utils.py
  examples/tensorflow/object_detection/main.py
  examples/torch/classification/main.py
  examples/torch/object_detection/main.py
  examples/torch/semantic_segmentation/main.py
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/runner_factory.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/tensorflow/accuracy_aware_training/runner.py
  nncf/torch/accuracy_aware_training/runner.py
Labels: NNCF PT, NNCF TF, NNCF Common

Pylint tweak
  nncf/torch/accuracy_aware_training/runner.py
Labels: NNCF PT

Update get_weight_tensor; Add ONNXOpWithWeightsMetatype
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
  tests/onnx/quantization/test_classification_models_graph.py
Labels: NNCF ONNX, experimental

Changed initialize_training_loop_fns signature
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/tensorflow/accuracy_aware_training/runner.py
  nncf/torch/accuracy_aware_training/runner.py
Labels: NNCF PT, NNCF TF, NNCF Common

Improved ProgressBar formatting
  nncf/common/utils/progress_bar.py
Labels: NNCF Common

Update Metatypes; Fix bugs
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/utils.py
Labels: experimental

Fix pylint
  nncf/experimental/onnx/graph/onnx_graph.py
Labels: experimental

Rollback import
  tests/onnx/benchmarking/run_ptq.py
  tests/onnx/benchmarking/utils.py
Labels: NNCF ONNX

Tweaked tests according to the changes
  tests/common/test_progress_bar.py
Labels: NNCF Common

Fix search tests
  tests/torch/nas/test_search.py
Labels: NNCF PT

ProgressBar formatting improvement (#1388)
  nncf/common/utils/progress_bar.py
  tests/common/test_progress_bar.py
Labels: NNCF Common

BNAS: Allow disabling BN Adaptation (#1329)
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/experimental/torch/nas/bootstrapNAS/training/lr_scheduler.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_builder.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_controller.py
  nncf/experimental/torch/nas/bootstrapNAS/training/scheduler.py
  tests/torch/nas/creators.py
  tests/torch/nas/test_all_elasticity.py
  tests/torch/nas/test_ps_controller.py
  tests/torch/nas/test_scheduler.py
  tests/torch/nas/test_search.py
Labels: NNCF PT, experimental

Update codestyle
  nncf/common/graph/graph.py
  nncf/common/insertion_point_graph.py
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Labels: experimental, NNCF Common

Fixed incorrect parameter order
  nncf/common/accuracy_aware_training/runner_factory.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/torch/accuracy_aware_training/runner.py
Labels: NNCF PT, NNCF Common

Place filtration to an own class
  nncf/common/insertion_point_graph.py
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/utils.py
  tests/common/quantization/test_quantizer_propagation_graph.py
  tests/common/quantization/test_quantizer_propagation_solver.py
  tests/torch/quantization/test_solver_quantization_traits.py
Labels: NNCF PT, experimental, NNCF Common

Bumped onnx opset version on export to support Q-DQ format for per-channel quantization
  nncf/torch/binarization/binarize_functions.py
  nncf/torch/exporter.py
  tests/torch/quantization/test_adjust_padding.py
  tests/torch/test_onnx_export.py
Labels: NNCF PT

Fix Pylint
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
Labels: none

Linear output shape collection fix
  nncf/torch/pruning/utils.py
  tests/torch/pruning/filter_pruning/test_algo.py
  tests/torch/pruning/helpers.py
Labels: NNCF PT

mobilenet v2 post-training quantization example
  .gitignore
  examples/experimental/torch/mobilenet_v2/main.py
  examples/experimental/torch/mobilenet_v2/utils.py
  examples/post_training_quantization/torch/mobilenet_v2/README.md
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
Labels: documentation

Fix ONNX test
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX

Added support for multiple optimizers in save_checkpoint method
  nncf/torch/accuracy_aware_training/runner.py
Labels: NNCF PT

Pylint fix
  tests/torch/pruning/filter_pruning/test_algo.py
Labels: NNCF PT

Update examples/post_training_quantization/torch/mobilenet_v2/README.md
  examples/post_training_quantization/torch/mobilenet_v2/README.md
Labels: documentation

Update examples/post_training_quantization/torch/mobilenet_v2/README.md
  examples/post_training_quantization/torch/mobilenet_v2/README.md
Labels: documentation

Use ONNX opset 13 on torch export (#1386)
  nncf/torch/binarization/binarize_functions.py
  nncf/torch/exporter.py
  tests/torch/quantization/test_adjust_padding.py
  tests/torch/test_onnx_export.py
Labels: NNCF PT

Add test_filter_constant_nodes
  nncf/common/insertion_point_graph.py
  tests/common/quantization/common.py
  tests/common/quantization/metatypes.py
  tests/common/quantization/test_filter_constant_nodes.py
  tests/common/quantization/test_ignore_post_processing.py
Labels: NNCF Common

Update test
  tests/common/quantization/common.py
  tests/common/quantization/mock_graphs.py
  tests/common/quantization/test_filter_constant_nodes.py
  tests/common/quantization/test_ignore_post_processing.py
Labels: NNCF Common

Fix E2E ONNX (#1387)
  nncf/experimental/quantization/__init__.py
  tests/onnx/benchmarking/run_ptq.py
Labels: NNCF ONNX, experimental

Change channel_axis to weight_channel_axis; Update desciption
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/graph/onnx_graph.py
Labels: experimental

Update filtering using re
  tests/common/quantization/test_filter_constant_nodes.py
Labels: NNCF Common

Add common traversing func
  nncf/common/graph/graph.py
  nncf/common/graph/traversal.py
  nncf/common/graph/utils.py
  nncf/common/insertion_point_graph.py
  nncf/common/pruning/utils.py
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/quantization/algorithm.py
Labels: NNCF TF, NNCF Common

Fix bug
  nncf/common/graph/traversal.py
  nncf/common/graph/utils.py
  nncf/common/pruning/utils.py
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/quantization/algorithm.py
Labels: NNCF TF, NNCF Common

Add test case with no Input node
  tests/common/quantization/test_filter_constant_nodes.py
Labels: NNCF Common

Add test for graph traversing
  nncf/common/graph/traversal.py
  tests/common/graph/test_graph_traversal.py
Labels: NNCF Common

Add debug message
  nncf/common/insertion_point_graph.py
Labels: NNCF Common

Apply comments
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Labels: experimental

Apply comments x2
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/quantization/algorithms/min_max/backend.py
Labels: experimental

Apply comments x3
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/utils.py
Labels: experimental

Apply comments x4
  nncf/common/insertion_point_graph.py
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
Labels: experimental, NNCF Common

Fix EfficientNet test when searching for building blocks
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
Labels: NNCF PT
