Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'

Update labeler version (#1486)
  .github/workflows/labeler.yml
Labels: none

Update logic of using only MinMax
  tests/onnx/quantization/common.py
Labels: NNCF ONNX

Add dataset_meta for detectors
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

introduce cpu_spr target device
  nncf/onnx/quantization/quantize.py
  nncf/parameters.py
  nncf/tensorflow/quantization/quantize.py
  nncf/torch/quantization/quantize.py
Labels: NNCF PT, NNCF TF

added tests
  tests/onnx/quantization/test_ptq_params.py
  tests/openvino/pot/quantization/test_parameters.py
Labels: NNCF ONNX, NNCF OpenVINO

Labeler permissions
  .github/workflows/labeler.yml
Labels: none

Labeler permissions (#1488)
  .github/workflows/labeler.yml
Labels: none

Update deps
  setup.py
Labels: dependencies

Relax jsonschema requirements
  setup.py
Labels: dependencies

Added missed file
  tests/openvino/native/common.py
Labels: NNCF OpenVINO

Initial commit
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/transformations/commands.py
  tests/openvino/conftest.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/removed_nodes_in_ConvModel.dot
  tests/openvino/native/models.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF OpenVINO, experimental

Fix subset size for POT
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Rollback docstring changes [2]
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
Labels: none

Fix OV test
  tests/openvino/native/test_model_transformer.py
Labels: NNCF OpenVINO

Update FBC & entities
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/ov_backend.py
Labels: experimental

OV FBC initial commit
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/transformations/commands.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/ov_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/test_metatypes.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF OpenVINO, experimental

Fix pylint issues
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/ov_backend.py
Labels: none

Rollback docstring changes
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
Labels: none

Fix OV native test
  tests/openvino/native/test_model_transformer.py
Labels: NNCF OpenVINO

Update the ov.Model creation & ov version
  setup.py
  tests/openvino/native/models.py
  tests/openvino/pot/test_engine.py
Labels: dependencies, NNCF OpenVINO

calibration tool to test OpenVINO backend
  tests/openvino/requirements.txt
  tests/openvino/tools/README.md
  tests/openvino/tools/__init__.py
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO, documentation

Wrap telemetry object to ignore exceptions triggered in the telemetry backend
  nncf/telemetry/__init__.py
  nncf/telemetry/decorator.py
  nncf/telemetry/wrapper.py
  tests/common/test_telemetry.py
  tests/shared/helpers.py
Labels: NNCF Common

The algorithm for searching FQs to remove was added
  nncf/experimental/openvino_native/graph/metatypes/common.py
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/quantization/algorithms/accuracy_aware/__init__.py
  nncf/quantization/algorithms/accuracy_aware/utils.py
  tests/openvino/conftest.py
  tests/openvino/native/data/test_fq_remove_gt.json
  tests/openvino/native/data/test_fq_remove_resnet18_graph.json
  tests/openvino/native/test_fq_remove.py
  tests/openvino/native/test_metatypes.py
Labels: NNCF OpenVINO, experimental

Update the test
  nncf/experimental/openvino_native/graph/model_transformer.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/removed_nodes_in_ConvModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/removed_nodes_in_QuantizedModel.dot
  tests/openvino/native/models.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF OpenVINO, experimental

Rename method & command
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/transformations/commands.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF OpenVINO, experimental

Minor changes
  nncf/quantization/algorithms/accuracy_aware/utils.py
  tests/openvino/native/test_fq_remove.py
Labels: NNCF OpenVINO

ONNXNodeRemoving -> ONNXQFQNodeRemoving
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX, experimental

added short README
  tests/openvino/tools/README.md
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO, documentation

Remove CompressionBuilder (#1463)
  nncf/experimental/onnx/model_normalizer.py
  nncf/experimental/quantization/__init__.py
  nncf/experimental/quantization/compression_builder.py
  nncf/experimental/quantization/telemetry_extractors.py
  tests/onnx/benchmarking/run_ptq.py
  tests/onnx/quantization/common.py
  tests/onnx/test_telemetry.py
Labels: NNCF ONNX, experimental

Change descriptions
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/experimental/openvino_native/graph/transformations/commands.py
Labels: experimental

pylint happy
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

Fix modifiying config for Resnet101-DUC and tinyyolov2
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

replied to comments
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

Wrap telemetry object to ignore exceptions triggered in the telemetry backend (#1493)
  nncf/telemetry/__init__.py
  nncf/telemetry/decorator.py
  nncf/telemetry/wrapper.py
  tests/common/test_telemetry.py
  tests/shared/helpers.py
Labels: NNCF Common

Update requirements in preparation for Python 3.11 (#1490)
  setup.py
Labels: dependencies

Change onnxruntime-openvino to onnxruntime
  setup.py
Labels: dependencies

Specify license in setup.py
  setup.py
Labels: dependencies

Remove OpenVINOEP from model configs
  tests/onnx/benchmarking/classification/onnx_models_configs/bvlcalexnet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/caffenet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/densenet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/efficientnet-lite4-11.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/googlenet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/inception-v1-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/mobilenetv2-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/resnet50-v1-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/resnet50-v2-7.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/shufflenet-9.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/shufflenet-v2-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/squeezenet1.0-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/vgg16-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/zfnet512-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/FasterRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/MaskRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ResNet101-DUC-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/fcn-resnet50-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/retinanet-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ssd-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ssd_mobilenet_v1_12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/tiny-yolov3-11.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/tinyyolov2-8.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/yolov2-coco-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/yolov3-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/yolov4.yml
Labels: NNCF ONNX

Update provider name in test_e2e_ptq
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

support for setting target_device=CPU_SPR using config.json
  docs/ConfigFile.md
  nncf/common/hardware/config.py
  nncf/config/schema.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/torch/quantization/algo.py
  tests/common/test_hardware_config.py
  tests/onnx/quantization/test_ptq_params.py
Labels: NNCF PT, NNCF TF, NNCF ONNX, documentation, NNCF Common
