Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'

Minor fix
  nncf/common/quantization/quantizer_removal.py
Labels: NNCF Common

Fixed weekly NAS tests (#1508)
  tests/torch/data/configs/weekly/classification/cifar10/mobilenet_v2_nas_SMALL.json
  tests/torch/test_compression_training.py
Labels: NNCF PT

Algorithm for searching FQs to remove (#1492)
  nncf/common/quantization/quantizer_removal.py
  nncf/experimental/openvino_native/graph/metatypes/common.py
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  tests/common/quantization/metatypes.py
  tests/common/quantization/test_quantizer_removal.py
  tests/openvino/native/test_metatypes.py
Labels: NNCF OpenVINO, experimental, NNCF Common

Introduce OpenVINO native ModelTransformer
  nncf/common/utils/backend.py
  nncf/experimental/openvino_native/engine.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/tensor.py
  nncf/quantization/quantize.py
  tests/openvino_native/models.py
  tests/openvino_native/test_model_transformer.py
Labels: experimental, NNCF Common

rebase
  nncf/experimental/openvino_native/graph/transformations/commands.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  tests/openvino/native/test_metatypes.py
Labels: NNCF OpenVINO, experimental

Update patterns
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/hardware/__init__.py
  nncf/experimental/openvino_native/hardware/config.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/experimental/openvino_native/hardware/pattern_operations.py
  nncf/experimental/openvino_native/hardware/patterns.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/experimental/openvino_native/quantization/default_quantization.py
  nncf/experimental/openvino_native/statistics/aggregator.py
  nncf/experimental/openvino_native/statistics/collectors.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/openvino/native/quantization/__init__.py
  tests/openvino/native/test_statistics_aggregator.py
Labels: NNCF OpenVINO, experimental

Fix FQ calculation and add tests
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/quantization/quantizer_parameters.py
  tests/openvino/conftest.py
  tests/openvino/native/common.py
  tests/openvino/native/data/reference_scales/ConvModel_mixed.json
  tests/openvino/native/data/reference_scales/ConvModel_performance.json
  tests/openvino/native/data/reference_scales/LinearModel_mixed.json
  tests/openvino/native/data/reference_scales/LinearModel_performance.json
  tests/openvino/native/data/reference_scales/MatMul2DModel_mixed.json
  tests/openvino/native/data/reference_scales/MatMul2DModel_performance.json
  tests/openvino/native/data/reference_scales/mobilenet-v2-pytorch_mixed.json
  tests/openvino/native/data/reference_scales/mobilenet-v2-pytorch_performance.json
  tests/openvino/native/data/reference_scales/resnet-18-pytorch_mixed.json
  tests/openvino/native/data/reference_scales/resnet-18-pytorch_performance.json
  tests/openvino/native/data/reference_scales/yolo-v4-tiny-tf_mixed.json
  tests/openvino/native/data/reference_scales/yolo-v4-tiny-tf_performance.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_nncf_graph_builder.py
  tests/openvino/native/test_statistics_aggregator.py
  tests/openvino/omz_helpers.py
Labels: NNCF OpenVINO, experimental

refactoring
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
Labels: experimental

Add layer attrs
  nncf/common/factory.py
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/graph/transformations/commands.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/experimental/openvino_native/quantization/quantize.py
  nncf/experimental/openvino_native/quantization/quantizer_parameters.py
  nncf/experimental/openvino_native/tensor.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/openvino/native/test_metatypes.py
Labels: NNCF OpenVINO, experimental, NNCF Common

Refactoring
  nncf/experimental/openvino_native/engine.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Labels: experimental

Fix tests
  tests/openvino/native/test_metatypes.py
  tests/openvino/native/test_statistics_aggregator.py
Labels: NNCF OpenVINO

Update tests
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  tests/openvino/native/models.py
  tests/openvino/native/test_statistics_aggregator.py
Labels: NNCF OpenVINO, experimental

Fix comments
  nncf/common/utils/backend.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/tensor.py
  nncf/quantization/quantize.py
  tests/openvino_native/models.py
  tests/openvino_native/test_model_transformer.py
Labels: experimental, NNCF Common

[OV native] Support MinMax algo
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/transformations/commands.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/experimental/openvino_native/statistics/__init__.py
  nncf/experimental/openvino_native/statistics/collectors.py
  nncf/experimental/openvino_native/statistics/statistics.py
  nncf/experimental/openvino_native/tensor.py
Labels: experimental

Fix minmax algo
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/experimental/openvino_native/statistics/aggregator.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/openvino/native/test_statistics_aggregator.py
Labels: NNCF OpenVINO, experimental

Fix FQ params
  nncf/experimental/openvino_native/quantization/quantizer_parameters.py
Labels: experimental

Refactor quantization parameters
  nncf/experimental/openvino_native/graph/transformations/commands.py
  nncf/experimental/openvino_native/hardware/pattern_operations.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/experimental/openvino_native/quantization/default_quantization.py
  nncf/experimental/openvino_native/statistics/collectors.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/test_metatypes.py
  tests/openvino/native/test_statistics_aggregator.py
Labels: NNCF OpenVINO, experimental

Add docstring
  nncf/experimental/openvino_native/quantization/quantize.py
  nncf/experimental/openvino_native/quantization/quantizer_parameters.py
  tests/openvino/conftest.py
  tests/openvino/native/data/reference_scales/ConvModel_mixed.json
  tests/openvino/native/data/reference_scales/ConvModel_performance.json
  tests/openvino/native/data/reference_scales/LinearModel_mixed.json
  tests/openvino/native/data/reference_scales/LinearModel_performance.json
  tests/openvino/native/data/reference_scales/MatMul2DModel_mixed.json
  tests/openvino/native/data/reference_scales/MatMul2DModel_performance.json
  tests/openvino/native/data/reference_scales/mobilenet-v2-pytorch_mixed.json
  tests/openvino/native/data/reference_scales/mobilenet-v2-pytorch_performance.json
  tests/openvino/native/data/reference_scales/resnet-18-pytorch_mixed.json
  tests/openvino/native/data/reference_scales/resnet-18-pytorch_performance.json
  tests/openvino/native/data/reference_scales/yolo-v4-tiny-tf_mixed.json
  tests/openvino/native/data/reference_scales/yolo-v4-tiny-tf_performance.json
  tests/openvino/native/quantization/test_ptq_params.py
Labels: NNCF OpenVINO, experimental

Add AC
  tests/openvino/omz_helpers.py
Labels: NNCF OpenVINO

Add graph tests
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  tests/openvino/native/common.py
  tests/openvino/native/quantization/test_graphs.py
Labels: NNCF OpenVINO, experimental

Fix comments
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  tests/openvino/native/common.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/omz_helpers.py
Labels: NNCF OpenVINO, experimental

Add references
  nncf/common/factory.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/ConvModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/LinearModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/MatMul2DModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/WeightsModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/googlenet-v3-pytorch.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/mobilenet-v2-pytorch.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/mobilenet-v3-small-1.0-224-tf.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/resnet-18-pytorch.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/ssd_mobilenet_v1_coco.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/yolo-v4-tiny-tf.dot
  tests/openvino/native/data/reference_graphs/quantized/ConvModel.dot
  tests/openvino/native/data/reference_graphs/quantized/LinearModel.dot
  tests/openvino/native/data/reference_graphs/quantized/MatMul2DModel.dot
  tests/openvino/native/data/reference_graphs/quantized/mobilenet-v2-pytorch.dot
  tests/openvino/native/data/reference_graphs/quantized/mobilenet-v3-small-1.0-224-tf.dot
  tests/openvino/native/data/reference_graphs/quantized/resnet-18-pytorch.dot
  tests/openvino/native/data/reference_graphs/quantized/yolo-v4-tiny-tf.dot
  tests/openvino/native/quantization/test_graphs.py
Labels: NNCF OpenVINO, NNCF Common

Add comparator for OV models
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/test_nncf_graph_builder.py
Labels: NNCF OpenVINO, experimental

Minor fixes
  nncf/common/factory.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/hardware/pattern_operations.py
  nncf/experimental/openvino_native/quantization/quantize.py
  nncf/quantization/algorithms/post_training/algorithm.py
Labels: experimental, NNCF Common

Broadcast FQ values and support FP16 models
  Makefile
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/hardware/patterns.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/experimental/openvino_native/quantization/quantizer_parameters.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/mobilenet-v2-pytorch.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/mobilenet-v3-small-1.0-224-tf.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/resnet-18-pytorch.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/ssd_mobilenet_v1_coco.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/yolo-v4-tiny-tf.dot
  tests/openvino/native/data/reference_graphs/quantized/mobilenet-v2-pytorch.dot
  tests/openvino/native/data/reference_graphs/quantized/mobilenet-v3-small-1.0-224-tf.dot
  tests/openvino/native/data/reference_graphs/quantized/resnet-18-pytorch.dot
  tests/openvino/native/data/reference_graphs/quantized/yolo-v4-tiny-tf.dot
  tests/openvino/native/data/reference_scales/mobilenet-v2-pytorch_mixed.json
  tests/openvino/native/data/reference_scales/mobilenet-v2-pytorch_performance.json
  tests/openvino/native/data/reference_scales/resnet-18-pytorch_mixed.json
  tests/openvino/native/data/reference_scales/resnet-18-pytorch_performance.json
  tests/openvino/native/data/reference_scales/yolo-v4-tiny-tf_mixed.json
  tests/openvino/native/data/reference_scales/yolo-v4-tiny-tf_performance.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_nncf_graph_builder.py
Labels: NNCF OpenVINO, experimental

fix pylint
  tests/openvino/native/models.py
Labels: NNCF OpenVINO

rebase
  nncf/experimental/openvino_native/graph/transformations/commands.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/removed_nodes_in_QuantizedModel.dot
  tests/openvino/native/test_model_transformer.py
Labels: NNCF OpenVINO, experimental

regen stats
  tests/openvino/native/common.py
  tests/openvino/native/data/reference_scales/ConvModel_mixed.json
  tests/openvino/native/data/reference_scales/ConvModel_performance.json
  tests/openvino/native/data/reference_scales/LinearModel_mixed.json
  tests/openvino/native/data/reference_scales/LinearModel_performance.json
  tests/openvino/native/data/reference_scales/MatMul2DModel_mixed.json
  tests/openvino/native/data/reference_scales/MatMul2DModel_performance.json
Labels: NNCF OpenVINO

Update references
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/hardware/pattern_operations.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/ConvModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/LinearModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/MatMul2DModel.dot
  tests/openvino/native/data/reference_graphs/quantized/ConvModel.dot
  tests/openvino/native/data/reference_graphs/quantized/LinearModel.dot
  tests/openvino/native/data/reference_graphs/quantized/MatMul2DModel.dot
  tests/openvino/native/data/reference_scales/ConvModel_mixed.json
  tests/openvino/native/data/reference_scales/ConvModel_performance.json
  tests/openvino/native/data/reference_scales/LinearModel_mixed.json
  tests/openvino/native/data/reference_scales/LinearModel_performance.json
  tests/openvino/native/data/reference_scales/MatMul2DModel_mixed.json
  tests/openvino/native/data/reference_scales/MatMul2DModel_performance.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/omz_helpers.py
Labels: NNCF OpenVINO, experimental

pylint
  tests/openvino/native/quantization/test_fq_params_calculation.py
Labels: NNCF OpenVINO

fix test
  tests/openvino/native/quantization/test_fq_params_calculation.py
Labels: NNCF OpenVINO

Update dates
  nncf/experimental/openvino_native/graph/transformations/__init__.py
  nncf/experimental/openvino_native/statistics/__init__.py
  tests/openvino/native/quantization/__init__.py
Labels: NNCF OpenVINO, experimental

Refactoring
  nncf/experimental/openvino_native/hardware/pattern_operations.py
  nncf/experimental/openvino_native/hardware/patterns.py
  nncf/experimental/openvino_native/quantization/default_quantization.py
Labels: experimental

Fixed OV NNCF graph builder
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/experimental/openvino_native/hardware/pattern_operations.py
  nncf/experimental/openvino_native/hardware/patterns.py
  nncf/experimental/openvino_native/quantization/default_quantization.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/openvino/native/common.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/ConvModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/LinearModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/MatMul2DModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/WeightsModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/googlenet-v3-pytorch.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/removed_nodes_in_QuantizedModel.dot
  tests/openvino/native/data/reference_graphs/quantized/ConvModel.dot
  tests/openvino/native/data/reference_graphs/quantized/LinearModel.dot
  tests/openvino/native/data/reference_graphs/quantized/MatMul2DModel.dot
  tests/openvino/native/test_metatypes.py
Labels: NNCF OpenVINO, experimental

Update transformer patch (#2)
  nncf/common/pruning/shape_pruning_processor.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  tests/torch/nas/test_sanity_third_party.py
  tests/torch/test_sanity_third_party.py
Labels: NNCF PT, experimental, NNCF Common

Change Copyright year
  nncf/common/factory.py
  nncf/common/utils/backend.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/hardware/config.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/experimental/openvino_native/hardware/pattern_operations.py
  nncf/experimental/openvino_native/hardware/patterns.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/experimental/openvino_native/quantization/default_quantization.py
  nncf/experimental/openvino_native/quantization/quantize.py
  nncf/experimental/openvino_native/quantization/quantizer_parameters.py
  nncf/experimental/openvino_native/statistics/aggregator.py
  nncf/experimental/openvino_native/statistics/collectors.py
  nncf/experimental/openvino_native/statistics/statistics.py
  nncf/experimental/openvino_native/tensor.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/openvino/native/common.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/openvino/native/test_nncf_graph_builder.py
  tests/openvino/native/test_statistics_aggregator.py
  tests/openvino/omz_helpers.py
Labels: NNCF OpenVINO, experimental, NNCF Common

fix imports
  nncf/experimental/openvino_native/quantization/quantizer_parameters.py
  tests/openvino/native/common.py
Labels: NNCF OpenVINO, experimental

Use safe_open across NNCF
  nncf/experimental/torch/nas/bootstrapNAS/search/evaluator.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/torch/pruning/filter_pruning/algo.py
Labels: NNCF PT, experimental

Add release notes for v2.4.0 and update version
  ReleaseNotes.md
  nncf/version.py
Labels: none

Use safe_open across NNCF (#1510)
  nncf/experimental/torch/nas/bootstrapNAS/search/evaluator.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/torch/pruning/filter_pruning/algo.py
Labels: NNCF PT, experimental
