Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

Fix config ssd300_vgg_voc_pruning_geometric_median (#1465)
  examples/torch/object_detection/configs/ssd300_vgg_voc_pruning_geometric_median.json
Labels: NNCF PT

Renamed pruning_rate to pruning_level for TF pruning controller (#1458)
  docs/compression_algorithms/Pruning.md
  nncf/common/pruning/shape_pruning_processor.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/torch/pruning/filter_pruning/algo.py
  tests/tensorflow/pruning/test_algorithm.py
  tests/torch/pruning/filter_pruning/test_flops_pruning.py
  tests/torch/pruning/filter_pruning/test_set_pruning_rate.py
Labels: NNCF PT, NNCF TF, documentation, NNCF Common

Update test_sanity_sample.py
  tests/torch/test_sanity_sample.py
Labels: NNCF PT

Added implementation and tests for magnitude sparsity maximal compression rate
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/torch/sparsity/magnitude/algo.py
  tests/tensorflow/sparsity/magnitude/test_algorithm.py
  tests/torch/sparsity/magnitude/test_algo.py
Labels: NNCF PT, NNCF TF

Removed a warning
  nncf/common/accuracy_aware_training/training_loop.py
Labels: NNCF Common

[OV]: fixes for quantize_with_accuracy_control
  nncf/openvino/quantization/quantize.py
Labels: NNCF OpenVINO

Pylint tweak
  tests/tensorflow/sparsity/magnitude/test_algorithm.py
Labels: NNCF TF

disable sporadically hanging test
  tests/torch/test_sanity_sample.py
Labels: NNCF PT

update dependencies for experimental openvino examples
  Makefile
  examples/experimental/openvino/bert/requirements.txt
  examples/experimental/openvino/yolo_v5/requirements.txt
  tests/experimental/tensorflow/__init__.py
Labels: none

Introduced a suggestion to get_all_edges and refactored `DynamicGraph` class.
  nncf/common/graph/graph.py
  nncf/torch/dynamic_graph/graph.py
Labels: NNCF PT, NNCF Common

Adaptive Compression Training: removed exception when can't reach required accuracy drop (#1437)
  examples/tensorflow/classification/main.py
  examples/tensorflow/object_detection/main.py
  examples/torch/classification/main.py
  examples/torch/object_detection/main.py
  examples/torch/semantic_segmentation/main.py
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/statistics.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/tensorflow/accuracy_aware_training/keras_model_utils.py
  nncf/tensorflow/accuracy_aware_training/runner.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/torch/accuracy_aware_training/runner.py
  nncf/torch/composite_compression.py
  nncf/torch/sparsity/magnitude/algo.py
  tests/tensorflow/accuracy_aware_training/test_keras_api.py
  tests/torch/accuracy_aware_training/test_training_loop.py
Labels: NNCF PT, NNCF TF, NNCF Common

Extending makefile for OpenVINO, TensorFlow and PyTorch backends (#1449)
  Makefile
  examples/experimental/openvino/bert/requirements.txt
  examples/experimental/openvino/yolo_v5/requirements.txt
  tests/experimental/tensorflow/__init__.py
Labels: none

Added nncf badges
  README.md
Labels: documentation

Added nncf badges (#1475)
  README.md
Labels: documentation

fixed format of data items
  nncf/openvino/engine.py
Labels: NNCF OpenVINO

Data item format fix (#1476)
  nncf/openvino/engine.py
Labels: NNCF OpenVINO

[OV]: fixes for quantize_with_accuracy_control (#1470)
  nncf/openvino/quantization/quantize.py
Labels: NNCF OpenVINO

Added flops calculation for torch.matmul with 4D input in NAS
  nncf/common/graph/layer_attributes.py
  nncf/common/pruning/weights_flops_calculator.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/pruning/utils.py
  tests/torch/nas/creators.py
  tests/torch/nas/descriptors.py
  tests/torch/nas/test_flops.py
  tests/torch/nas/test_search.py
  tests/torch/test_compressed_graph.py
Labels: NNCF PT, experimental, NNCF Common

Added bmm + 3 NLP in tests
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/pruning/utils.py
  tests/torch/nas/test_flops.py
Labels: NNCF PT

updated references for densenet
  tests/torch/data/reference_graphs/nas/densenet_121_depth.dot
  tests/torch/data/reference_graphs/nas/densenet_121_kernel.dot
  tests/torch/data/reference_graphs/nas/densenet_121_width.dot
Labels: NNCF PT

enabled non-failing tests
  tests/torch/data/reference_graphs/nas/shufflenetv2_depth.dot
  tests/torch/data/reference_graphs/nas/shufflenetv2_width.dot
  tests/torch/data/reference_graphs/nas/squeezenet1_0_depth.dot
  tests/torch/data/reference_graphs/nas/squeezenet1_0_width.dot
  tests/torch/nas/test_all_elasticity.py
Labels: NNCF PT

Enabled non-failing NAS tests (#1478)
  tests/torch/data/reference_graphs/nas/shufflenetv2_depth.dot
  tests/torch/data/reference_graphs/nas/shufflenetv2_width.dot
  tests/torch/data/reference_graphs/nas/squeezenet1_0_depth.dot
  tests/torch/data/reference_graphs/nas/squeezenet1_0_width.dot
  tests/torch/nas/test_all_elasticity.py
Labels: NNCF PT

Introduced a suggestion to get_all_edges and refactored `DynamicGraph` (#1474)
  nncf/common/graph/graph.py
  nncf/torch/dynamic_graph/graph.py
  tests/torch/data/reference_graphs/nas/densenet_121_depth.dot
  tests/torch/data/reference_graphs/nas/densenet_121_kernel.dot
  tests/torch/data/reference_graphs/nas/densenet_121_width.dot
Labels: NNCF PT, NNCF Common

workaround for the hang
  tests/torch/data/configs/unet_camvid_int8.json
  tests/torch/data/configs/unet_camvid_rb_sparsity.json
  tests/torch/test_sanity_sample.py
Labels: NNCF PT

try to reproduce hang in DDP
  examples/torch/semantic_segmentation/main.py
Labels: NNCF PT

Type hints were fixed
  nncf/openvino/quantization/quantize.py
  nncf/quantization/quantize.py
Labels: NNCF OpenVINO

Type hints were fixed (#1480)
  nncf/openvino/quantization/quantize.py
  nncf/quantization/quantize.py
Labels: NNCF OpenVINO

Workaround for the hang in sanity tests with --cpu-only option (#1467)
  tests/torch/data/configs/unet_camvid_int8.json
  tests/torch/data/configs/unet_camvid_rb_sparsity.json
  tests/torch/test_sanity_sample.py
Labels: NNCF PT

NNCFGraph building was fixed for OpenVINO backend
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
Labels: experimental

OV HBC initial commit
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/transformations/commands.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
Labels: experimental

OV backend entity
  nncf/quantization/algorithms/bias_correction/ov_backend.py
Labels: none

Adjust torch BKC version (#1447)
  nncf/version.py
  tests/onnx/requirements.txt
Labels: NNCF ONNX

Replace all min_max_quantization to ptq_quantization
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/quantization/test_segmentation_models_graph.py
  tests/onnx/test_model_transformer.py
  tests/onnx/test_telemetry.py
Labels: NNCF ONNX

Fix issues with POT quantization for detectors
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Update labeler version
  .github/workflows/labeler.yml
Labels: none

Fix pylint issues
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/bias_correction/ov_backend.py
Labels: none

Rollback ptq to min_max
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/quantization/test_segmentation_models_graph.py
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX

Remove unnecessary changes
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_graphs.py
Labels: NNCF ONNX

Remove unnecessary changes x2
  tests/onnx/benchmarking/run_ptq.py
Labels: NNCF ONNX

Fix pylint
  tests/onnx/quantization/common.py
Labels: NNCF ONNX

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'
