Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'

Renamed pruning rate to pruning level for TF pruning controller
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
Labels: NNCF TF

Recover pytorch version < 1.12 (#1446)
  examples/torch/README.md
  examples/torch/requirements.txt
  nncf/torch/binarization/binarize_functions.py
  setup.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/ConvRelu6HSwishHSigmoid.dot
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
  tests/torch/nas/test_elastic_depth.py
  tests/torch/nas/test_sanity_sample.py
  tests/torch/sparsity/movement/test_model_saving.py
  tests/torch/sparsity/movement/test_structured_mask.py
  tests/torch/sparsity/movement/test_training.py
  tests/torch/test_graph_building.py
  tests/torch/test_models/synthetic.py
  tests/torch/test_sanity_sample.py
Labels: dependencies, NNCF PT, documentation

Rebase
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/quantization/test_segmentation_models_graph.py
Labels: NNCF ONNX

Added link to compatible torchvision and torch versions
  examples/torch/README.md
Labels: NNCF PT, documentation

Apply comments
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/quantization/test_segmentation_models_graph.py
Labels: NNCF ONNX

Fix typo
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX

PTTarget point translation fix
  nncf/torch/nncf_network.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT

Add junitxml
  Makefile
Labels: none

Reformatted maximal compression rate computation
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/torch/pruning/filter_pruning/algo.py
Labels: NNCF PT, NNCF TF

Add function check_config_matches_graph (#1404)
  docs/compression_algorithms/Binarization.md
  nncf/common/compression.py
  nncf/common/graph/utils.py
  nncf/common/pruning/node_selector.py
  nncf/common/quantization/config_assignment.py
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/scopes.py
  nncf/common/utils/helpers.py
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/tensorflow/api/compression.py
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/quantization/init_range.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/tensorflow/sparsity/rb/algorithm.py
  nncf/torch/compression_method_api.py
  nncf/torch/dynamic_graph/transform_graph.py
  nncf/torch/model_creation.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/init_range.py
  nncf/torch/utils.py
  tests/common/graph/test_utils.py
  tests/common/test_scopes.py
  tests/tensorflow/test_ignored_scopes.py
  tests/torch/data/configs/resnet18_cifar100_bin_xnor.json
  tests/torch/data/configs/resnet18_cifar10_staged_quant.json
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/test_algo_common.py
Labels: NNCF PT, NNCF TF, documentation, experimental, NNCF Common

Update mocking
  tests/onnx/quantization/common.py
  tests/onnx/weightless_model.py
Labels: NNCF ONNX

Added link to compatible torchvision and torch versions (#1459)
  examples/torch/README.md
Labels: NNCF PT, documentation

ONNX remove unnecessary test (#1457)
  tests/onnx/quantization/test_min_max_ptq_graph_equal.py
Labels: NNCF ONNX

tensorflow_addons~=0.16.1 (#1456)
  examples/tensorflow/requirements.txt
  tests/tensorflow/requirements.txt
Labels: NNCF TF

fixed again the install test for TensorFlow
  tests/cross_fw/install/test_install.py
  tests/shared/helpers.py
Labels: none

Fix docstring
  tests/onnx/weightless_model.py
Labels: NNCF ONNX

Fixed a division by zero if every operation is added to ignored scope (#1452)
  nncf/common/quantization/collectors.py
  tests/tensorflow/quantization/test_statistics.py
  tests/torch/quantization/test_quantization_metric.py
Labels: NNCF PT, NNCF TF, NNCF Common

Add init file
  tests/cross_fw/__init__.py
Labels: none

[Torch][Microfix] PTTarget point translation fix (#1460)
  nncf/torch/nncf_network.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT

ONNX Fix bug with minimum value for quantizer param calculation (#1455)
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/onnx/quantization/test_scale_zero_point_calculation.py
Labels: NNCF ONNX, experimental

Restore logging imports and mark legacy import as deprecated (#1442)
  nncf/common/logging/logger.py
  nncf/common/utils/logger/__init__.py
  tests/torch/test_backward_compat.py
  tests/torch/test_load_model_state.py
Labels: NNCF PT, NNCF Common

Fixed again the install test for TensorFlow (#1462)
  tests/cross_fw/install/test_install.py
  tests/shared/helpers.py
Labels: none

Fix ONNX test_install (#1454)
  Makefile
  tests/cross_fw/__init__.py
Labels: none

Torch quantization statistic collector moved to metatypes
  nncf/torch/quantization/metrics.py
Labels: NNCF PT

Remove CompressionBuilder
  nncf/experimental/onnx/model_normalizer.py
  nncf/experimental/quantization/__init__.py
  nncf/experimental/quantization/compression_builder.py
  nncf/experimental/quantization/telemetry_extractors.py
  tests/onnx/benchmarking/run_ptq.py
  tests/onnx/quantization/common.py
Labels: NNCF ONNX, experimental

Update run_ptq API to use quantize method
  tests/onnx/benchmarking/run_ptq.py
Labels: NNCF ONNX

Update onnx models to have no weights (#1402)
  tests/onnx/data/models/MaskRCNN-12.onnx
  tests/onnx/data/models/densenet-7.onnx
  tests/onnx/data/models/densenet-8.onnx
  tests/onnx/data/models/densenet-9.onnx
  tests/onnx/data/models/fcn-resnet50-12.onnx
  tests/onnx/data/models/icnet_camvid.onnx
  tests/onnx/data/models/retinanet-9.onnx
  tests/onnx/data/models/ssd-12.onnx
  tests/onnx/data/models/ssd_mobilenet_v1_12.onnx
  tests/onnx/data/models/tiny-yolov2.onnx
  tests/onnx/data/models/unet_camvid.onnx
  tests/onnx/data/models/yolov2-coco-9.onnx
  tests/onnx/data/models/yolov3-12.onnx
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/quantization/test_segmentation_models_graph.py
  tests/onnx/test_nncf_graph_builder.py
  tests/onnx/test_weightless_model.py
  tests/onnx/weightless_model.py
Labels: NNCF ONNX

Renamed other pruning_rate usages
  docs/compression_algorithms/Pruning.md
  nncf/common/pruning/shape_pruning_processor.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/torch/pruning/filter_pruning/algo.py
  tests/tensorflow/pruning/test_algorithm.py
  tests/torch/pruning/filter_pruning/test_flops_pruning.py
  tests/torch/pruning/filter_pruning/test_set_pruning_rate.py
Labels: NNCF PT, NNCF TF, documentation, NNCF Common

Revert "ONNX MinMax Fixes (#1427)"
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/hardware/pattern_operations.py
  nncf/experimental/onnx/quantization/default_quantization.py
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/onnx/models.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/onnx/test_metatypes.py
  tests/onnx/test_statistics_aggregator.py
Labels: NNCF ONNX, experimental

Revert "Fixed OpenVINO version (#1453)"
  setup.py
Labels: dependencies

Revert "[Torch] Weighted nodes search by metatypes in quantization algo (#1428)"
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/visualization.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/graph.py
  nncf/torch/dynamic_graph/transform_graph.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/default_quantization.py
  tests/torch/modules/test_rnn.py
  tests/torch/test_layer_attributes.py
  tests/torch/test_nncf_network.py
  tests/torch/test_pytorch_patch.py
Labels: NNCF PT, experimental

Revert "Make e2e green again (#1436)"
  examples/tensorflow/segmentation/configs/quantization/mask_rcnn_coco_int8.json
  tests/tensorflow/data/ac_configs/retinanet.yml
  tests/tensorflow/data/ac_configs/yolo_v4.yml
  tests/tensorflow/data/ac_configs/yolo_v4_int8_w_sym_ch_a_asym_t.yml
Labels: NNCF TF

Revert "Switch to torch 1.13 (#1407)"
  examples/torch/common/models/segmentation/icnet.py
  examples/torch/object_detection/layers/modules/l2norm.py
  examples/torch/requirements.txt
  nncf/torch/binarization/binarize_functions.py
  nncf/torch/exporter.py
  setup.py
  tests/common/graph/nx_graph.py
  tests/onnx/conftest.py
  tests/onnx/data/reference_graphs/original_nncf_graph/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/densenet121.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/googlenet.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/inception_v3.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/resnet18.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/ssd-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/vgg16.dot
  tests/onnx/data/reference_graphs/quantization/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/quantization/densenet121.dot
  tests/onnx/data/reference_graphs/quantization/googlenet.dot
  tests/onnx/data/reference_graphs/quantization/inception_v3.dot
  tests/onnx/data/reference_graphs/quantization/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/quantization/resnet18.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/vgg16.dot
  tests/onnx/requirements.txt
  tests/onnx/test_nncf_graph_builder.py
  tests/torch/quantization/test_unified_scales.py
Labels: dependencies, NNCF PT, NNCF ONNX, NNCF Common

Revert "Post-Training Quantization of MobileNet v2 TensorFlow Model (#1432)"
  .gitignore
  examples/experimental/tensorflow/mobilenet_v2/main.py
  examples/experimental/tensorflow/mobilenet_v2/utils.py
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/README.md
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/main.py
Labels: documentation

Revert "[Torch][SOTA eval] Threshold for mobilenet_int4_int8 is updated (#1441)"
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT

fixed the issue with import install tests
  Makefile
Labels: none

extending makefile for openvino, tensorflow and torch backends
  Makefile
Labels: none

Torch quantization statistic collector moved to metatypes (#1443)
  nncf/torch/quantization/metrics.py
Labels: NNCF PT

Remove incorrect ignored_scope that does not impact on ssd300_vgg_voc_pruning_geometric_median
  examples/torch/object_detection/configs/ssd300_vgg_voc_pruning_geometric_median.json
Labels: NNCF PT

Unified training loop current and final statistics; other minor tweaks
  examples/tensorflow/classification/main.py
  examples/tensorflow/object_detection/main.py
  examples/torch/classification/main.py
  examples/torch/object_detection/main.py
  examples/torch/semantic_segmentation/main.py
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/statistics.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/tensorflow/accuracy_aware_training/keras_model_utils.py
  tests/tensorflow/accuracy_aware_training/test_keras_api.py
  tests/torch/accuracy_aware_training/test_training_loop.py
Labels: NNCF PT, NNCF TF, NNCF Common
