Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

Pylint tweak
  tests/torch/composite/test_sparsity_quantization.py
Labels: NNCF PT

ONNX Change onnxruntime-openvino to onnxruntime (#1495)
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  setup.py
  tests/onnx/benchmarking/run_ptq.py
  tests/onnx/test_e2e_ptq.py
Labels: dependencies, NNCF ONNX

ONNX Move Out Experimental (#1499)
  Makefile
  nncf/common/factory.py
  nncf/experimental/onnx/graph/metatypes/__init__.py
  nncf/experimental/onnx/graph/transformations/__init__.py
  nncf/onnx/engine.py
  nncf/onnx/graph/__init__.py
  nncf/onnx/graph/metatypes/__init__.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/graph/onnx_graph.py
  nncf/onnx/graph/transformations/__init__.py
  nncf/onnx/graph/transformations/commands.py
  nncf/onnx/hardware/__init__.py
  nncf/onnx/hardware/config.py
  nncf/onnx/hardware/fused_patterns.py
  nncf/onnx/hardware/pattern_operations.py
  nncf/onnx/hardware/patterns.py
  nncf/onnx/quantization/default_quantization.py
  nncf/onnx/quantization/quantizer_parameters.py
  nncf/onnx/statistics/__init__.py
  nncf/onnx/statistics/aggregator.py
  nncf/onnx/statistics/collectors.py
  nncf/onnx/statistics/statistics.py
  nncf/onnx/tensor.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/onnx/benchmarking/README.md
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/onnx/test_metatypes.py
  tests/onnx/test_model_transformer.py
  tests/onnx/test_nncf_graph_builder.py
  tests/onnx/test_statistics_aggregator.py
  tests/onnx/weightless_model.py
Labels: NNCF ONNX, documentation, experimental, NNCF Common

calibrate tool was fixed
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

Time for the dataset's length estimation was improved
  nncf/openvino/engine.py
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

Add aliases for backend extra installation
  setup.py
Labels: dependencies

Use new version of requesting deterministic algorithms in PyTorch
  examples/torch/common/execution.py
Labels: NNCF PT

Fix for compression_rate property of PTCompositeCompressionAlgorithmController (#1500)
  nncf/torch/composite_compression.py
  tests/torch/composite/test_sparsity_quantization.py
Labels: NNCF PT

Update readme
  README.md
Labels: documentation

Fix some links
  README.md
Labels: documentation

Fix some links x2
  README.md
Labels: documentation

Use new version of requesting deterministic algorithms in PyTorch (#1503)
  examples/torch/common/execution.py
Labels: NNCF PT

Minor changes
  nncf/openvino/engine.py
Labels: NNCF OpenVINO

Optimization-Aware Training -> Compression-Aware Training
  README.md
Labels: documentation

NodeRemoving command for OV backend. (#1487)
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/transformations/commands.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/transformations/commands.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  tests/onnx/test_model_transformer.py
  tests/openvino/conftest.py
  tests/openvino/native/common.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/removed_nodes_in_QuantizedModel.dot
  tests/openvino/native/models.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF ONNX, NNCF OpenVINO, experimental

Time for the dataset's length estimation was improved (#1502)
  nncf/openvino/engine.py
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

Add aliases for backend extra installation (#1489)
  setup.py
Labels: dependencies

Added upper bound for maximal compression rate of ACTL (#1450)
  nncf/api/compression.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/common/composite_compression.py
  nncf/common/compression.py
  nncf/common/pruning/statistics.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/torch/pruning/filter_pruning/algo.py
  tests/tensorflow/accuracy_aware_training/test_keras_api.py
  tests/tensorflow/pruning/test_flops_pruning.py
  tests/torch/accuracy_aware_training/test_training_loop.py
  tests/torch/pruning/filter_pruning/test_flops_pruning.py
Labels: NNCF PT, NNCF TF, NNCF Common

Add Quantization to post-training; Add ONNX
  README.md
  docs/compression_algorithms/post_training/ONNX.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Deploying to doc_pages from @ openvinotoolkit/nncf@fbfd7ed7b3c1192b08011bbc5e8a96cc59897804 🚀
  index.html
Labels: none

Apply comments
  README.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Fix ignored scope setting in compression training test
  nncf/torch/model_creation.py
  tests/torch/data/configs/weekly/classification/cifar100/mobilenet_v2_rb_sparsity_int8.json
Labels: NNCF PT

Apply comments x2
  README.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Rollback
  README.md
Labels: documentation

Add ONNX results section
  README.md
  docs/compression_algorithms/post_training/ONNX.md
Labels: documentation

Fix ignored scope setting in compression training test (#1506)
  nncf/torch/model_creation.py
  tests/torch/data/configs/weekly/classification/cifar100/mobilenet_v2_rb_sparsity_int8.json
Labels: NNCF PT

Comments were applied
  nncf/common/quantization/quantizer_removing.py
  nncf/quantization/algorithms/accuracy_aware/__init__.py
  tests/common/quantization/metatypes.py
  tests/common/quantization/test_quantizer_removing.py
  tests/openvino/conftest.py
  tests/openvino/native/data/test_fq_remove_gt.json
  tests/openvino/native/data/test_fq_remove_resnet18_graph.json
  tests/openvino/native/test_fq_remove.py
Labels: NNCF OpenVINO, NNCF Common

Copyright was fixed
  nncf/common/quantization/quantizer_removing.py
  nncf/experimental/openvino_native/graph/metatypes/common.py
  tests/common/quantization/test_quantizer_removing.py
Labels: experimental, NNCF Common

Update bootstrapnas patch for transformers
  third_party_integration/huggingface_transformers/BootstrapNAS_HF/0001-Modifications-for-BootstrapNAS-usage.patch
Labels: none

Align tables with tf and torch
  README.md
Labels: documentation

Add links to ONNX results
  README.md
Labels: documentation

Fixed weekly NAS tests
  tests/torch/data/configs/weekly/classification/cifar10/mobilenet_v2_nas_SMALL.json
  tests/torch/test_compression_training.py
Labels: NNCF PT

Add results into samples with links to original models
  examples/post_training_quantization/onnx/mobilenet_v2/README.md
Labels: documentation

Comments were applied
  nncf/common/quantization/quantizer_removal.py
  nncf/experimental/openvino_native/graph/metatypes/common.py
  tests/common/quantization/test_quantizer_removal.py
Labels: experimental, NNCF Common

Fix commit of onnx model zoo
  examples/post_training_quantization/onnx/mobilenet_v2/README.md
Labels: documentation

Initial commit
  nncf/common/graph/patterns.py
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/hardware/__init__.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/experimental/openvino_native/hardware/pattern_operations.py
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: experimental, NNCF Common

Add new pattern BN_ACT_ARITHMETHIC_PERM
  nncf/onnx/hardware/fused_patterns.py
  tests/onnx/benchmarking/classification/onnx_models_configs/densenet-12.yml
Labels: NNCF ONNX

Minor fix the description
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: none

Fix calibrate tool (#1501)
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

Fixed weekly NAS tests (#1508)
  tests/torch/data/configs/weekly/classification/cifar10/mobilenet_v2_nas_SMALL.json
  tests/torch/test_compression_training.py
Labels: NNCF PT

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'
