Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'

Use parse_voc_xml in a backwards-compatible way with old torchvision
  examples/torch/object_detection/datasets/voc0712.py
Labels: NNCF PT

Add a line on JPQD
  ReleaseNotes.md
Labels: none

Fix comapring tuple with list in PTQuantizerSpec
  nncf/torch/quantization/layers.py
Labels: NNCF PT

Minor fix
  nncf/quantization/algorithms/fast_bias_correction/backend.py
Labels: none

__init__.py was added
  nncf/experimental/openvino_native/quantization/__init__.py
  nncf/experimental/openvino_native/quantization/algorithms/__init__.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/__init__.py
Labels: experimental

Missing __init__.py files were added (#1518)
  nncf/experimental/openvino_native/quantization/__init__.py
  nncf/experimental/openvino_native/quantization/algorithms/__init__.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/__init__.py
Labels: experimental

Signature for FBCAlgoBackend.bias_correction_command() was changed (#1517)
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
Labels: none

Fix comparing tuple with list in PTQuantizerSpec (#1512)
  nncf/torch/quantization/layers.py
Labels: NNCF PT

Comments were applied
  nncf/quantization/algorithms/bias_correction/backend.py
Labels: none

Redundant model_transformer property was removed
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Labels: experimental

pylint was fixed
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Labels: none

pylint was fixed
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
Labels: experimental

Redundant model_transformer property was removed from algo backends (#1520)
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Labels: experimental

pylint was fixed
  nncf/quantization/algorithms/min_max/backend.py
Labels: none

Use parse_voc_xml in a backwards-compatible way with old torchvision (#1515)
  examples/torch/object_detection/datasets/voc0712.py
Labels: NNCF PT

Update ONNX
  docs/compression_algorithms/post_training/ONNX.md
Labels: documentation

Update PTQ section
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Update main README
  README.md
Labels: documentation

Add usage for every backend
  README.md
Labels: documentation

Fix typo
  README.md
Labels: documentation

Fix typo x2
  README.md
Labels: documentation

More visible title for transformation func
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Minor refactoring
  nncf/onnx/functions.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Labels: none

Change OV to preview
  README.md
Labels: documentation

Fix incorrect comment
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
Labels: none

Add description of preview. Improve description
  README.md
  docs/compression_algorithms/post_training/ONNX.md
Labels: documentation

Update pattern; Add densenet-12 model into graph test
  nncf/onnx/hardware/fused_patterns.py
  tests/onnx/quantization/test_classification_models_graph.py
Labels: NNCF ONNX

Update pattern
  nncf/onnx/hardware/fused_patterns.py
Labels: none

Fix typo
  nncf/onnx/hardware/fused_patterns.py
Labels: none

Add model
  tests/onnx/data/models/densenet-12.onnx
  tests/onnx/data/reference_graphs/quantization/densenet-12.dot
Labels: NNCF ONNX

Minor changes
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
Labels: none

Refactor the patterns
  nncf/onnx/hardware/fused_patterns.py
Labels: none

Minor fix
  nncf/quantization/algorithms/bias_correction/backend.py
Labels: none

New modules were added
  nncf/onnx/graph/node_utils.py
  nncf/onnx/graph/transformations/commands_creation.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Labels: none

BC algorithm was refactored
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
Labels: none

pylint was fixed
  nncf/quantization/algorithms/bias_correction/algorithm.py
Labels: none

Fix incorrect comment in ONNX sample (#1521)
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
Labels: none

Update PatternsManager
  nncf/common/graph/patterns.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/experimental/openvino_native/hardware/pattern_operations.py
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: experimental, NNCF Common

Improve phrases
  README.md
  docs/compression_algorithms/post_training/ONNX.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Update links
  README.md
Labels: documentation
