Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

Add test on default qconfig for depthwise_conv
  tests/onnx/quantization/test_quantizer_config.py
Labels: NNCF ONNX

BiasCorrection for PTQ (#1409)
  nncf/common/tensor_statistics/collectors.py
  nncf/common/tensor_statistics/statistics.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/experimental/onnx/statistics/collectors.py
  nncf/experimental/onnx/statistics/statistics.py
  nncf/onnx/quantization/quantize.py
  nncf/quantization/algorithms/bias_correction/__init__.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/onnx/data/reference_graphs/quantization/synthetic/removed_nodes_in_linear_model.dot
  tests/onnx/test_model_transformer.py
  tests/post_training/model_scope.py
Labels: NNCF ONNX, experimental, NNCF Common

Post-Training Quantization of MobileNet v2 ONNX Model (#1420)
  .gitignore
  Makefile
  examples/experimental/onnx/mobilenet_v2/main.py
  examples/experimental/onnx/mobilenet_v2/requirements.txt
  examples/experimental/onnx/mobilenet_v2/utils.py
  examples/post_training_quantization/onnx/mobilenet_v2/README.md
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
Labels: documentation

Fix rebase and progress bar tests
  tests/common/test_progress_bar.py
Labels: NNCF Common

Fix
  nncf/torch/dynamic_graph/patch_pytorch.py
Labels: NNCF PT

original_graph
  nncf/common/graph/utils.py
Labels: NNCF Common

Fixed sequential version
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
  tests/post_training/utils.py
Labels: none

Fix weighted nodes filtering in Torch
  nncf/common/graph/graph.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/nncf_network.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT, NNCF Common

Add stat_collector for per-channel; Add test
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/onnx/quantization/test_quantizer_config.py
Labels: NNCF ONNX

Attempt to fix tests
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/torch/quantization/algo.py
  nncf/torch/utils.py
  tests/torch/test_load_model_state.py
  tests/torch/test_utils.py
Labels: NNCF PT, NNCF TF

Switch to prod instance of OV telemetry
  nncf/telemetry/wrapper.py
Labels: none

Apply comments
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: experimental

Update convig to not override masks
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/fcn-resnet50-12.yml
Labels: NNCF ONNX

Update config to not override masks
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/fcn-resnet50-12.yml
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Add commands for all providers
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Add target_tags to quanitze only on ones
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Clean up the code
  tests/post_training/conftest.py
  tests/post_training/test_quantize_conformance.py
Labels: none

Reformated the code
  tests/post_training/test_quantize_conformance.py
  tests/post_training/utils.py
Labels: none

Removed `from_str` methods from Enum classes (#1426)
  nncf/common/hardware/config.py
  nncf/common/quantization/initialization/range.py
  nncf/common/quantization/structs.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elasticity_builder.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elasticity_dim.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_builder.py
  nncf/experimental/torch/nas/bootstrapNAS/training/stage_descriptor.py
  nncf/experimental/torch/search_building_blocks/search_blocks.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/precision_init/hawq_init.py
Labels: NNCF PT, NNCF TF, experimental, NNCF Common

Test updated
  nncf/torch/dynamic_graph/transform_graph.py
  tests/torch/nas/test_elastic_depth.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT

Fix replace modules
  nncf/torch/dynamic_graph/transform_graph.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT

Fix pylint
  tests/torch/nas/test_elastic_depth.py
Labels: NNCF PT

[Torch] Weighted nodes filtering update (#1425)
  nncf/common/graph/graph.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/nncf_network.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT, NNCF Common

Fixes
  nncf/torch/utils.py
  tests/torch/test_load_model_state.py
  tests/torch/test_utils.py
Labels: NNCF PT

Switch to prod instance of OV telemetry (#1424)
  nncf/telemetry/wrapper.py
  tests/torch/nas/test_elastic_depth.py
Labels: NNCF PT

linter
  nncf/tensorflow/quantization/algorithm.py
Labels: NNCF TF

Apply comments
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
Labels: NNCF ONNX, experimental

Update Makefile
  Makefile
Labels: none

Add extra line
  Makefile
Labels: none

Check for regular warning rather than deprecation warnings
  tests/common/test_progress_bar.py
  tests/shared/logging.py
  tests/torch/conftest.py
  tests/torch/nas/test_elastic_depth.py
  tests/torch/test_load_model_state.py
Labels: NNCF PT, NNCF Common

Fix caplog fixture import
  tests/common/test_progress_bar.py
Labels: NNCF Common

Make range_type Optional. Extend the test case for range_type
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/onnx/quantization/test_ptq_params.py
Labels: NNCF ONNX

Deploying to doc_pages from @ openvinotoolkit/nncf@ea6e08a173f2997bd896608d48a77ff47bbb571e 🚀
  index.html
Labels: none

Adjust logging in elatic width code
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
Labels: experimental

Fix pylint after merge
  nncf/experimental/onnx/quantization/quantizer_parameters.py
Labels: experimental

mobilenet v2 post-training quantization example for TensorFlow backend
  .gitignore
  examples/experimental/tensorflow/mobilenet_v2/main.py
  examples/experimental/tensorflow/mobilenet_v2/utils.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/README.md
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
Labels: documentation

Turned parameter definitions to same format
  docs/accuracy_aware_model_training/AdaptiveCompressionLevelTraining.md
Labels: documentation

Init metatype quantizable nodes search by metatypes
  nncf/torch/quantization/algo.py
Labels: NNCF PT

Fix replace modules
  nncf/torch/dynamic_graph/transform_graph.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'
