Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'

Relax jsonschema requirements (#1491)
  setup.py
Labels: dependencies

add dev extra
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elasticity_controller.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  setup.py
Labels: dependencies, experimental

added bypass_noreturn_function
  nncf/common/utils/decorators.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/torch/quantization/precision_init/hawq_debug.py
Labels: NNCF PT, experimental, NNCF Common

replied to comments
  nncf/common/utils/decorators.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/torch/quantization/precision_init/hawq_debug.py
Labels: NNCF PT, experimental, NNCF Common

Update the ov.Model creation & ov version (#1461)
  setup.py
  tests/openvino/native/models.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/pot/test_engine.py
Labels: dependencies, NNCF OpenVINO

Update yattag version
  tests/onnx/requirements.txt
Labels: NNCF ONNX

Fix the rest of the log string creation
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/scheduler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/torch/debug.py
  nncf/torch/dynamic_graph/io_handling.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/extensions/__init__.py
  nncf/torch/pruning/base_algo.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/quantization/precision_init/autoq_init.py
  tests/onnx/opset_converter.py
Labels: NNCF PT, NNCF ONNX, experimental, NNCF Common

Update sample req
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
Labels: none

Revert "Remove OpenVINOEP from model configs"
  tests/onnx/benchmarking/classification/onnx_models_configs/bvlcalexnet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/caffenet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/densenet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/efficientnet-lite4-11.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/googlenet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/inception-v1-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/mobilenetv2-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/resnet50-v1-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/resnet50-v2-7.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/shufflenet-9.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/shufflenet-v2-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/squeezenet1.0-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/vgg16-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/zfnet512-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/FasterRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/MaskRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ResNet101-DUC-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/fcn-resnet50-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/retinanet-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ssd-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ssd_mobilenet_v1_12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/tiny-yolov3-11.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/tinyyolov2-8.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/yolov2-coco-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/yolov3-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/yolov4.yml
Labels: NNCF ONNX

Update provider to CPU
  tests/onnx/benchmarking/classification/onnx_models_configs/bvlcalexnet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/caffenet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/densenet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/efficientnet-lite4-11.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/googlenet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/inception-v1-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/mobilenetv2-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/resnet50-v1-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/resnet50-v2-7.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/shufflenet-9.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/shufflenet-v2-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/squeezenet1.0-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/vgg16-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/zfnet512-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/FasterRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/MaskRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ResNet101-DUC-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/fcn-resnet50-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/retinanet-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ssd-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ssd_mobilenet_v1_12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/tiny-yolov3-11.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/tinyyolov2-8.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/yolov2-coco-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/yolov3-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/yolov4.yml
Labels: NNCF ONNX

Removing matplotlib from the mandatory requirements (#1481)
  nncf/common/utils/decorators.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elasticity_controller.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/torch/quantization/precision_init/hawq_debug.py
  setup.py
Labels: dependencies, NNCF PT, experimental, NNCF Common

pylint happy
  tests/common/test_hardware_config.py
Labels: NNCF Common

Specify license in setup.py (#1496)
  setup.py
Labels: dependencies

repro for cpu
  examples/torch/semantic_segmentation/main.py
Labels: NNCF PT

Remove model checking after quantization in run_ptq
  tests/onnx/benchmarking/run_ptq.py
Labels: NNCF ONNX

Remove e2e target in makefile
  Makefile
  tests/onnx/README.md
  tests/onnx/conftest.py
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX, documentation

Fix the rest of the log string creation (#1497)
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/scheduler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/torch/debug.py
  nncf/torch/dynamic_graph/io_handling.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/extensions/__init__.py
  nncf/torch/pruning/base_algo.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/quantization/precision_init/autoq_init.py
  tests/onnx/opset_converter.py
Labels: NNCF PT, NNCF ONNX, experimental, NNCF Common

Update doc
  tests/onnx/README.md
  tests/onnx/conftest.py
Labels: NNCF ONNX, documentation

no limits for torch and torchvision versions
  examples/torch/requirements.txt
  setup.py
Labels: dependencies, NNCF PT

Introduce CPU_SPR target device (#1485)
  docs/ConfigFile.md
  nncf/common/hardware/config.py
  nncf/config/schema.py
  nncf/onnx/quantization/quantize.py
  nncf/parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/quantization/quantize.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/quantize.py
  tests/common/test_hardware_config.py
  tests/onnx/quantization/test_ptq_params.py
  tests/openvino/pot/quantization/test_parameters.py
Labels: NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, NNCF Common

Deploying to doc_pages from @ openvinotoolkit/nncf@445c221874bf700b24004af292d76bff8bf44233 🚀
  index.html
Labels: none

print env
  examples/torch/semantic_segmentation/main.py
Labels: NNCF PT

Fix bug with removing compression builder
  tests/onnx/benchmarking/run_ptq.py
Labels: NNCF ONNX

Remove ignored scope types
  tests/onnx/benchmarking/run_ptq.py
Labels: NNCF ONNX

Add CPUExecutionProvider to the ONNX E2E (#1398)
  Makefile
  tests/onnx/README.md
  tests/onnx/benchmarking/classification/onnx_models_configs/bvlcalexnet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/caffenet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/densenet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/efficientnet-lite4-11.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/googlenet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/inception-v1-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/mobilenetv2-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/resnet50-v1-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/resnet50-v2-7.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/shufflenet-9.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/shufflenet-v2-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/squeezenet1.0-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/vgg16-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/zfnet512-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/FasterRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/MaskRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ResNet101-DUC-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/fcn-resnet50-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/retinanet-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ssd-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ssd_mobilenet_v1_12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/tiny-yolov3-11.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/tinyyolov2-8.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/yolov2-coco-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/yolov3-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/yolov4.yml
  tests/onnx/conftest.py
  tests/onnx/data/reference_model_accuracy/reference.json
  tests/onnx/requirements.txt
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX, documentation

Calibrate tool for OpenVINO backend (#1494)
  tests/openvino/requirements.txt
  tests/openvino/tools/README.md
  tests/openvino/tools/__init__.py
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO, documentation

Move out experimental
  nncf/common/factory.py
  nncf/experimental/onnx/graph/metatypes/__init__.py
  nncf/experimental/onnx/graph/transformations/__init__.py
  nncf/onnx/engine.py
  nncf/onnx/graph/__init__.py
  nncf/onnx/graph/metatypes/__init__.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/graph/onnx_graph.py
  nncf/onnx/graph/transformations/__init__.py
  nncf/onnx/graph/transformations/commands.py
  nncf/onnx/hardware/__init__.py
  nncf/onnx/hardware/config.py
  nncf/onnx/hardware/fused_patterns.py
  nncf/onnx/hardware/pattern_operations.py
  nncf/onnx/hardware/patterns.py
  nncf/onnx/quantization/default_quantization.py
  nncf/onnx/quantization/quantizer_parameters.py
  nncf/onnx/statistics/__init__.py
  nncf/onnx/statistics/aggregator.py
  nncf/onnx/statistics/collectors.py
  nncf/onnx/statistics/statistics.py
  nncf/onnx/tensor.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/onnx/test_metatypes.py
  tests/onnx/test_model_transformer.py
  tests/onnx/test_nncf_graph_builder.py
  tests/onnx/test_statistics_aggregator.py
  tests/onnx/weightless_model.py
Labels: NNCF ONNX, experimental, NNCF Common

Fix imports
  Makefile
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Labels: none

Fix rebase
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Reverted maximal_compression_rate implementation for sparsity algorithm
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/common/pruning/statistics.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/sparsity/magnitude/algo.py
  tests/tensorflow/sparsity/magnitude/test_algorithm.py
  tests/torch/sparsity/magnitude/test_algo.py
Labels: NNCF PT, NNCF TF, NNCF Common

TF tweak
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
Labels: NNCF TF

Revert target_tags to not quantize twice
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Remove extra print
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Apply comments
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/onnx/benchmarking/README.md
Labels: NNCF ONNX, documentation

Fix pylint
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Fix pylint
  nncf/quantization/algorithms/post_training/algorithm.py
Labels: none

Tests tweaks
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  tests/tensorflow/accuracy_aware_training/test_keras_api.py
Labels: NNCF TF

Update todos
  nncf/onnx/engine.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/onnx_graph.py
Labels: none

Fixed implementation of compression_rate property for PTCompositeCompressionAlgorithmController
  nncf/torch/composite_compression.py
  tests/torch/composite/test_sparsity_quantization.py
Labels: NNCF PT

Renamed non_none to not_none
  nncf/torch/composite_compression.py
Labels: NNCF PT
