Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

Fix test references
  tests/openvino/native/data/reference_scales/ConvModel_mixed.json
  tests/openvino/native/data/reference_scales/ConvModel_performance.json
  tests/openvino/native/data/reference_scales/LinearModel_mixed.json
  tests/openvino/native/data/reference_scales/LinearModel_performance.json
  tests/openvino/native/quantization/test_fq_configurations.py
  tests/openvino/native/test_statistics_aggregator.py
Labels: NNCF OpenVINO

Change dir of test
  tests/onnx/quantization/test_opset_versions.py
  tests/onnx/sanity_tests/__init__.py
Labels: NNCF ONNX

Remove unmatched ignored scopes from HF configs (#1533)
  third_party_integration/huggingface_transformers/0001-Modifications-for-NNCF-usage.patch
Labels: none

Add model; Update requirments
  tests/onnx/quantization/regression_test/dataset_helpers.py
  tests/onnx/quantization/regression_test/test_ptq_regression.py
  tests/onnx/requirements.txt
Labels: NNCF ONNX

Update model
  tests/onnx/quantization/regression_test/test_ptq_regression.py
Labels: NNCF ONNX

Change typehints
  nncf/common/graph/patterns.py
Labels: NNCF Common

Fix
  nncf/common/graph/patterns.py
Labels: NNCF Common

Fix pylint
  tests/openvino/native/test_statistics_aggregator.py
Labels: NNCF OpenVINO

[OV] Compress quantized weights
  nncf/experimental/openvino_native/quantization/quantize.py
Labels: experimental

Add test
  tests/openvino/native/quantization/test_quantization_pipeline.py
Labels: NNCF OpenVINO

Adjust release command line to use build
  .github/workflows/python-publish.yml
  setup.py
Labels: dependencies

Adjust release command line to use build
  .github/workflows/python-publish.yml
  setup.py
Labels: dependencies

Adjust release command line to use build (#1539)
  .github/workflows/python-publish.yml
  setup.py
Labels: dependencies

Update const_port_id naming in FBC
  nncf/experimental/openvino_native/graph/node_utils.py
  nncf/experimental/openvino_native/graph/transformations/command_creation.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/openvino_backend.py
Labels: experimental

Remove excessive imports
  tests/torch/modules/test_rnn.py
  tests/torch/nas/test_all_elasticity.py
  tests/torch/nas/test_elastic_width.py
Labels: NNCF PT

Add doc reference to the TuneRange class
  docs/compression_algorithms/Quantization.md
  nncf/torch/quantization/quantize_functions.py
Labels: NNCF PT, documentation

Fixes for TF compat tests (#1534)
  examples/tensorflow/classification/datasets/builder.py
Labels: NNCF TF

Add efficientnet-lite4-11; Change inference backend to OV
  tests/onnx/quantization/regression_test/test_ptq_regression.py
  tests/onnx/requirements.txt
Labels: NNCF ONNX

Update criteria
  tests/onnx/quantization/regression_test/test_ptq_regression.py
Labels: NNCF ONNX

[OV] Fixed bug with FQ params calculation (#1531)
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/graph/node_utils.py
  nncf/experimental/openvino_native/graph/transformations/command_creation.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/experimental/openvino_native/quantization/quantizer_parameters.py
  nncf/experimental/openvino_native/statistics/collectors.py
  tests/openvino/native/data/reference_scales/ConvModel_mixed.json
  tests/openvino/native/data/reference_scales/ConvModel_performance.json
  tests/openvino/native/data/reference_scales/LinearModel_mixed.json
  tests/openvino/native/data/reference_scales/LinearModel_performance.json
  tests/openvino/native/data/reference_scales/fq_params_synthetic.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_configurations.py
  tests/openvino/native/test_metatypes.py
  tests/openvino/native/test_statistics_aggregator.py
Labels: NNCF OpenVINO, experimental

Pylint; Reference
  tests/onnx/quantization/regression_test/test_ptq_regression.py
Labels: NNCF ONNX

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'
