Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'

Strip double quotes from labels during comparison
  tests/shared/nx_graph.py
Labels: none

Better stripping (no pun intended)
  tests/openvino/native/common.py
  tests/shared/nx_graph.py
Labels: NNCF OpenVINO

Common seed fixture for torch tests
  tests/torch/automl/test_ddpg.py
  tests/torch/binarization/test_functions.py
  tests/torch/conftest.py
  tests/torch/modules/test_rnn.py
  tests/torch/nas/test_all_elasticity.py
  tests/torch/nas/test_elastic_width.py
  tests/torch/quantization/test_autoq_precision_init.py
  tests/torch/quantization/test_functions.py
  tests/torch/test_utils.py
Labels: NNCF PT

Fix pylint
  tests/torch/automl/test_ddpg.py
Labels: NNCF PT

docs
  nncf/torch/prepare_for_inference.py
Labels: NNCF PT

Fix pylint again
  tests/torch/conftest.py
Labels: NNCF PT

Update checkpoint links
  examples/tensorflow/classification/README.md
  examples/tensorflow/object_detection/README.md
  examples/tensorflow/segmentation/README.md
  examples/torch/classification/README.md
  examples/torch/object_detection/README.md
  examples/torch/semantic_segmentation/README.md
Labels: NNCF PT, NNCF TF, documentation

Use reference quantization on CPU if compiled extensions are unavailable (#1322)
  examples/torch/object_detection/layers/extensions/__init__.py
  nncf/common/logging/logger.py
  nncf/torch/binarization/binarize_functions.py
  nncf/torch/binarization/extensions.py
  nncf/torch/binarization/reference.py
  nncf/torch/extensions/__init__.py
  nncf/torch/quantization/extensions.py
  nncf/torch/quantization/quantize_functions.py
  nncf/torch/quantization/reference.py
  tests/cross_fw/install/install_checks_torch.py
  tests/shared/isolation_runner.py
  tests/torch/binarization/test_functions.py
  tests/torch/quantization/extensions/__init__.py
  tests/torch/quantization/extensions/isolated_cases.py
  tests/torch/quantization/extensions/test_extension_unavailable.py
  tests/torch/quantization/test_algo_quantization.py
  tests/torch/quantization/test_functions.py
Labels: NNCF PT, NNCF Common

Remove unmatched ignored scopes from HF configs
  third_party_integration/huggingface_transformers/0001-Modifications-for-NNCF-usage.patch
Labels: none

Remove unnecessary dependencies (#1511)
  examples/tensorflow/requirements.txt
  nncf/common/hardware/config.py
  nncf/openvino/quantization/accuracy_aware.py
  setup.py
  tests/experimental/tensorflow/test_compressed_graph.py
  tests/experimental/tensorflow/test_context_independence.py
  tests/openvino/pot/test_engine.py
  tests/tensorflow/pruning/helpers.py
  tests/tensorflow/quantization/utils.py
  tests/tensorflow/sparsity/magnitude/test_algorithm.py
  tests/tensorflow/sparsity/magnitude/test_scheduler.py
  tests/tensorflow/sparsity/rb/test_components.py
  tests/tensorflow/sparsity/test_common.py
  tests/tensorflow/test_bn_adaptation.py
  tests/tensorflow/test_compressed_graph.py
  tests/tensorflow/test_ignored_scopes.py
Labels: dependencies, NNCF TF, NNCF OpenVINO, NNCF Common

Fix render of math formula in docs (#1528)
  docs/compression_algorithms/Quantization.md
Labels: documentation

Update Readme with PTQ section (#1505)
  README.md
  docs/compression_algorithms/post_training/ONNX.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Check disabled quantisation operators
  nncf/torch/prepare_for_inference.py
  nncf/torch/pruning/operations.py
  tests/torch/test_prepare_for_inference.py
Labels: NNCF PT

Fix calculation problem
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/onnx/graph/transformations/commands.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  tests/onnx/test_model_transformer.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF ONNX, NNCF OpenVINO, experimental

Fix tests
  tests/onnx/test_model_transformer.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF ONNX, NNCF OpenVINO

Fix onnx
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Labels: none

Fix fq parameters
  nncf/experimental/openvino_native/quantization/quantizer_parameters.py
Labels: experimental

Update conformance with FBC
  tests/post_training/test_quantize_conformance.py
Labels: none

Reduce model scope
  tests/post_training/model_scope.py
Labels: none

Fix pylint
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
Labels: none

temp
  nncf/torch/prepare_for_inference.py
  nncf/torch/quantization/layers.py
  tests/torch/test_prepare_for_inference.py
Labels: NNCF PT

clean
  nncf/torch/prepare_for_inference.py
  nncf/torch/quantization/layers.py
  tests/torch/test_prepare_for_inference.py
Labels: NNCF PT

fixes
  nncf/torch/prepare_for_inference.py
Labels: NNCF PT

Minor change description
  nncf/experimental/openvino_native/graph/node_utils.py
Labels: experimental

Fix minor issue
  nncf/experimental/openvino_native/graph/node_utils.py
Labels: experimental

FastBC for OpenVINO backend (#1440)
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/graph/node_utils.py
  nncf/experimental/openvino_native/graph/transformations/command_creation.py
  nncf/experimental/openvino_native/graph/transformations/commands.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/__init__.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/experimental/openvino_native/quantization/quantize.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/graph/node_utils.py
  nncf/onnx/graph/transformations/commands.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  tests/onnx/test_model_transformer.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/ConvModel.dot
  tests/openvino/native/data/reference_graphs/quantized/ConvModel.dot
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/test_metatypes.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF ONNX, NNCF OpenVINO, experimental

fixed the classification sample for tf 2.6
  examples/tensorflow/classification/datasets/builder.py
Labels: NNCF TF

Remove unmatched ignored scopes from HF configs
  third_party_integration/huggingface_transformers/0001-Modifications-for-NNCF-usage.patch
Labels: none

Update test
  tests/onnx/quantization/regression_test/configs/resnet-18-pytorch.yml
  tests/onnx/quantization/regression_test/dataset_helpers.py
  tests/onnx/quantization/regression_test/omz_helpers.py
  tests/onnx/quantization/regression_test/test_ptq_regression.py
Labels: NNCF ONNX

Update patterns
  nncf/common/graph/patterns.py
  nncf/onnx/hardware/fused_patterns.py
  nncf/onnx/hardware/patterns.py
Labels: NNCF Common

Update OV patterns
  nncf/common/graph/patterns.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/onnx/hardware/fused_patterns.py
Labels: experimental, NNCF Common

Fix tests
  nncf/common/graph/patterns.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_quantizer_config.py
Labels: NNCF ONNX, NNCF OpenVINO, experimental, NNCF Common

Renamed weight_port_id to const_port_id
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  tests/openvino/native/test_metatypes.py
Labels: NNCF OpenVINO, experimental

add patterns
  nncf/experimental/openvino_native/hardware/fused_patterns.py
Labels: experimental

Minor fix
  nncf/experimental/openvino_native/quantization/quantizer_parameters.py
Labels: experimental

[OV] Fixed bug with FQ params calculation
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/experimental/openvino_native/quantization/quantizer_parameters.py
  nncf/experimental/openvino_native/statistics/collectors.py
Labels: experimental

Add tests
  nncf/experimental/openvino_native/quantization/quantizer_parameters.py
  tests/openvino/native/data/reference_scales/fq_params_synthetic.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_configurations.py
Labels: NNCF OpenVINO, experimental

Tiny fix to the architecture doc file
  docs/NNCFArchitecture.md
Labels: documentation

Update pylint
  nncf/common/graph/patterns.py
Labels: NNCF Common

Introduce ONNX opset checking
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/onnx/quantization/quantize.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  tests/onnx/sanity_tests/__init__.py
  tests/onnx/sanity_tests/test_classification_sanity_sample.py
  tests/onnx/sanity_tests/test_opset_versions.py
Labels: NNCF ONNX, experimental
