Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

Added upper bound for maximal compression rate of ACTL
  nncf/api/compression.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/common/compression.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/torch/pruning/filter_pruning/algo.py
  tests/tensorflow/pruning/test_flops_pruning.py
  tests/torch/accuracy_aware_training/test_training_loop.py
  tests/torch/pruning/filter_pruning/test_flops_pruning.py
Labels: NNCF PT, NNCF TF, NNCF Common

Pylint tweak
  tests/tensorflow/pruning/test_flops_pruning.py
  tests/torch/pruning/filter_pruning/test_flops_pruning.py
Labels: NNCF PT, NNCF TF

Added maximal_compression_rate for CompositeCompressionAlgorithmController
  nncf/common/composite_compression.py
Labels: NNCF Common

Add ov wheels
  .gitattributes
  Makefile
Labels: none

Add wheels
  tests/onnx/openvino-2022.3.0-8784-cp38-cp38-manylinux_2_31_x86_64.whl
  tests/onnx/openvino_dev-2022.3.0-8784-py3-none-any.whl
Labels: NNCF ONNX

Fix logger
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX, experimental

Fixed a division by zero if every operation is added to ignored scope
  nncf/common/quantization/collectors.py
  tests/tensorflow/quantization/test_statistics.py
Labels: NNCF TF, NNCF Common

Added torch test
  tests/torch/quantization/test_quantization_metric.py
Labels: NNCF PT

typo
  Makefile
Labels: none

typo x2
  Makefile
Labels: none

Fix typo x3
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Update modify_ac_config
  Makefile
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Add LD lib path
  Makefile
Labels: none

fixed OpenVINO version as workaround for pre-commit OpenVINO CI issue
  setup.py
Labels: dependencies

pylint tweak
  tests/tensorflow/quantization/test_statistics.py
  tests/torch/quantization/test_quantization_metric.py
Labels: NNCF PT, NNCF TF

Applied review feedback
  nncf/api/compression.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/torch/pruning/filter_pruning/algo.py
Labels: NNCF PT, NNCF TF

fix
  nncf/torch/dynamic_graph/transform_graph.py
Labels: NNCF PT

Fixed OpenVINO version (#1453)
  setup.py
Labels: dependencies

ONNX MinMax Fixes (#1427)
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/hardware/pattern_operations.py
  nncf/experimental/onnx/quantization/default_quantization.py
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/onnx/models.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/onnx/test_metatypes.py
  tests/onnx/test_statistics_aggregator.py
Labels: NNCF ONNX, experimental

Updated PrunedModelTheoreticalBorderline with maximal pruning rate
  nncf/common/pruning/statistics.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/torch/pruning/filter_pruning/algo.py
Labels: NNCF PT, NNCF TF, NNCF Common

loosened the requirements for torch and torchvision
  examples/torch/requirements.txt
  setup.py
  tests/torch/test_models/synthetic.py
Labels: dependencies, NNCF PT

skip known issues in tests for older torch versions
  tests/torch/nas/test_elastic_depth.py
  tests/torch/nas/test_sanity_sample.py
  tests/torch/test_graph_building.py
  tests/torch/test_sanity_sample.py
Labels: NNCF PT

Fixed binarize functions for torch < 1.9
  nncf/torch/binarization/binarize_functions.py
Labels: NNCF PT

Updated reference for modified model to WA issue with export of F.relu6
  tests/torch/data/reference_graphs/quantized/synthetic_model/ConvRelu6HSwishHSigmoid.dot
Labels: NNCF PT

Skipped transformer tests for torch < 1.9
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
Labels: NNCF PT

Adapted NAS test for previous torch versions
  tests/torch/nas/test_elastic_depth.py
Labels: NNCF PT

skipped some movement sparsity tests for torch < 1.12
  tests/torch/sparsity/movement/test_model_saving.py
Labels: NNCF PT

more movement sparsity tests skipped for torch < 1.12
  tests/torch/sparsity/movement/test_structured_mask.py
  tests/torch/sparsity/movement/test_training.py
Labels: NNCF PT

skipped tests for samples that uses VOC dataset
  tests/torch/test_sanity_sample.py
Labels: NNCF PT

Added clarification about torchvision installation in the readme of torch examples
  examples/torch/README.md
Labels: NNCF PT, documentation

Add nncf.experimental.openvino pattern
  tests/cross_fw/install/install_checks_onnx.py
Labels: none

Reverted the last change
  nncf/common/pruning/statistics.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/torch/pruning/filter_pruning/algo.py
Labels: NNCF PT, NNCF TF, NNCF Common

Remove LD_LIBRARY_PATH export
  Makefile
Labels: none

Make min_val=0 when unsigned tensor type
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
Labels: NNCF ONNX, experimental

tensorflow_addons~=0.16.1
  examples/tensorflow/requirements.txt
  tests/tensorflow/requirements.txt
Labels: NNCF TF

Refactor test
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/onnx/quantization/test_scale_zero_point_calculation.py
Labels: NNCF ONNX, experimental

Save tmp models in tmp dir
  tests/onnx/quantization/test_min_max_ptq_graph_equal.py
Labels: NNCF ONNX

Remove unnecessary test
  tests/onnx/quantization/test_min_max_ptq_graph_equal.py
Labels: NNCF ONNX

Added a case of maximal compression rate for channel pruning
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/torch/pruning/filter_pruning/algo.py
Labels: NNCF PT, NNCF TF

Made computation in one line
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/torch/pruning/filter_pruning/algo.py
Labels: NNCF PT, NNCF TF

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'
