Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

add some basic tests for movement sparsity
  tests/torch/sparsity/movement/test_algo.py
Labels: NNCF PT

disable sigmoid-based importance thresholding
  nncf/common/sparsity/schedulers.py
  nncf/torch/sparsity/movement/functions.py
  nncf/torch/sparsity/movement/layers.py
Labels: NNCF PT, NNCF Common

draft for check sparsity (not finished)
  tests/torch/sparsity/movement/test_algo.py
Labels: NNCF PT

fix slice error on onnx export
  tests/torch/sparsity/movement/test_algo.py
Labels: NNCF PT

More unit tests, and more cases to check (#11)
  tests/torch/autograd_functions/test_autograd_functions.py
  tests/torch/sparsity/movement/helpers.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_components.py
Labels: NNCF PT

Pylint & test clean (#19)
  nncf/common/graph/layer_attributes.py
  nncf/common/graph/transformations/commands.py
  nncf/common/sparsity/schedulers.py
  nncf/config/config.py
  nncf/config/schemata/algo/movement.py
  nncf/experimental/torch/search_building_blocks/search_blocks.py
  nncf/experimental/torch/sparsity/__init__.py
  nncf/experimental/torch/sparsity/movement/__init__.py
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/functions.py
  nncf/experimental/torch/sparsity/movement/layers.py
  nncf/experimental/torch/sparsity/movement/loss.py
  nncf/experimental/torch/sparsity/movement/scheduler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_strategy.py
  nncf/torch/functions.py
  nncf/torch/nncf_network.py
  setup.py
  tests/torch/autograd_functions/test_autograd_functions.py
  tests/torch/requirements.txt
  tests/torch/sparsity/movement/examples/run_glue.py
  tests/torch/sparsity/movement/helpers.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_components.py
  tests/torch/sparsity/movement/test_scheduler.py
  tests/torch/sparsity/movement/test_structured_mask.py
  tests/torch/sparsity/movement/test_training.py
  tests/torch/sparsity/movement/test_training_with_third_party.py
  tests/torch/test_sanity_third_party.py
Labels: dependencies, NNCF PT, experimental, NNCF Common

tests for statistics and onnx export
  nncf/common/sparsity/schedulers.py
  nncf/torch/sparsity/movement/layers.py
  tests/torch/sparsity/movement/test_algo.py
Labels: NNCF PT, NNCF Common

p4 jpqd dev ww50.4: ada-threshold with tests (#23)
  nncf/config/schemata/experimental_schema.py
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/layers.py
  nncf/experimental/torch/sparsity/movement/scheduler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_strategy.py
  tests/torch/sparsity/movement/examples/run_glue.py
  tests/torch/sparsity/movement/helpers.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_components.py
  tests/torch/sparsity/movement/test_scheduler.py
  tests/torch/sparsity/movement/test_structured_mask.py
Labels: NNCF PT, experimental

argument change to `run_movement_pipeline`
  tests/torch/sparsity/movement/test_algo.py
Labels: NNCF PT

Disable structured_masking attribute by force for unsupported model family
  nncf/torch/sparsity/movement/algo.py
Labels: NNCF PT

Initial Commit for Movement Sparsity
  nncf/common/graph/layer_attributes.py
  nncf/common/graph/transformations/commands.py
  nncf/common/sparsity/schedulers.py
  nncf/common/sparsity/statistics.py
  nncf/common/statistics.py
  nncf/common/utils/tensorboard.py
  nncf/config/config.py
  nncf/config/definitions.py
  nncf/config/schemata/algo/movement.py
  nncf/torch/__init__.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/functions.py
  nncf/torch/graph/transformations/commands.py
  nncf/torch/nncf_network.py
  nncf/torch/sparsity/collector.py
  nncf/torch/sparsity/movement/__init__.py
  nncf/torch/sparsity/movement/algo.py
  nncf/torch/sparsity/movement/functions.py
  nncf/torch/sparsity/movement/layers.py
  nncf/torch/sparsity/movement/loss.py
Labels: NNCF PT, NNCF Common

fix test issues for bianry mask and onnx export
  tests/torch/sparsity/movement/helpers.py
  tests/torch/sparsity/movement/test_algo.py
Labels: NNCF PT

Code refactor for movement sparsity, modularizing structured masking (#14)
  nncf/common/sparsity/schedulers.py
  nncf/config/schemata/algo/movement.py
  nncf/experimental/torch/search_building_blocks/search_blocks.py
  nncf/torch/sparsity/movement/algo.py
  nncf/torch/sparsity/movement/layers.py
  nncf/torch/sparsity/movement/structured_mask_handler.py
  nncf/torch/sparsity/movement/structured_mask_strategy.py
  tests/torch/sparsity/movement/helpers.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_components.py
  tests/torch/sparsity/movement/test_scheduler.py
Labels: NNCF PT, experimental, NNCF Common

Most algo and unit tests (#10)
  nncf/common/graph/layer_attributes.py
  nncf/common/sparsity/schedulers.py
  nncf/tensorflow/graph/converter.py
  nncf/torch/sparsity/movement/algo.py
  nncf/torch/sparsity/movement/functions.py
  nncf/torch/sparsity/movement/loss.py
  tests/torch/sparsity/movement/helpers.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_components.py
  tests/torch/sparsity/movement/test_scheduler.py
  tests/torch/test_layer_attributes.py
Labels: NNCF PT, NNCF TF, NNCF Common

minor changes to supportd modules, scheduler, maks handler (#15)
  nncf/common/sparsity/schedulers.py
  nncf/config/schemata/algo/movement.py
  nncf/torch/sparsity/movement/algo.py
  nncf/torch/sparsity/movement/structured_mask_strategy.py
  tests/torch/sparsity/movement/helpers.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_scheduler.py
Labels: NNCF PT, NNCF Common

Revert command TargetType OPERATION_WITH_WEIGHT_WT_BIAS (no needed anymore) * datasets added to tests/torch/requirements.txt
  nncf/common/graph/transformations/commands.py
  nncf/torch/graph/transformations/commands.py
  nncf/torch/nncf_network.py
  nncf/torch/sparsity/movement/algo.py
Labels: NNCF PT, NNCF Common

P4 jpqd refine tests and code clean (#17)
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/functions.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_strategy.py
  tests/torch/sparsity/movement/helpers.py
  tests/torch/sparsity/movement/test_components.py
  tests/torch/sparsity/movement/test_structured_mask.py
  tests/torch/sparsity/movement/test_training.py
Labels: NNCF PT, experimental

test draft for long run & third party check (#16)
  nncf/common/sparsity/schedulers.py
  nncf/config/schemata/algo/movement.py
  nncf/experimental/torch/sparsity/__init__.py
  nncf/experimental/torch/sparsity/movement/__init__.py
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/functions.py
  nncf/experimental/torch/sparsity/movement/layers.py
  nncf/experimental/torch/sparsity/movement/loss.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_strategy.py
  nncf/torch/__init__.py
  tests/torch/sparsity/movement/examples/Quickstart.md
  tests/torch/sparsity/movement/examples/bert_tiny_uncased_mrpc_movement.json
  tests/torch/sparsity/movement/examples/run_glue.py
  tests/torch/sparsity/movement/helpers.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_components.py
  tests/torch/sparsity/movement/test_training.py
  tests/torch/sparsity/movement/test_training_with_third_party.py
Labels: NNCF PT, experimental, NNCF Common

Add datasets to tests/torch/requirements.txt
  tests/torch/requirements.txt
Labels: NNCF PT

tests for structured masking
  tests/torch/sparsity/movement/test_algo.py
Labels: NNCF PT

Fix precommit errors and loss calculation; added tests for onnx, compression_lr_multiplier (#22)
  nncf/config/schemata/algo/movement.py
  nncf/config/schemata/experimental_schema.py
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/functions.py
  nncf/experimental/torch/sparsity/movement/layers.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/torch/sparsity/collector.py
  tests/torch/autograd_functions/test_autograd_functions.py
  tests/torch/sparsity/movement/helpers.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_components.py
  tests/torch/sparsity/movement/test_scheduler.py
  tests/torch/sparsity/movement/test_structured_mask.py
  tests/torch/sparsity/movement/test_training.py
  tests/torch/sparsity/movement/test_training_with_third_party.py
Labels: NNCF PT, experimental

Fixed movement pruning JSON schema and refactored sparse structure (#13)
  nncf/config/config.py
  nncf/config/schemata/algo/movement.py
  nncf/config/schemata/experimental_schema.py
  nncf/torch/sparsity/movement/algo.py
  nncf/torch/sparsity/movement/layers.py
  tests/torch/data/schema_validation_good_configs/full_movement_sparsity_params.json
  tests/torch/sparsity/movement/__init__.py
  tests/torch/sparsity/movement/helpers.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_components.py
Labels: NNCF PT

long run & onnx bug fix (#25)
  tests/torch/sparsity/movement/examples/bert_tiny_uncased_mrpc_movement.json
  tests/torch/sparsity/movement/examples/run_glue.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_training.py
Labels: NNCF PT

ww51.5.2 (#29)
  nncf/common/utils/tensorboard.py
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/layers.py
  nncf/experimental/torch/sparsity/movement/scheduler.py
  tests/torch/sparsity/movement/helpers/__init__.py
  tests/torch/sparsity/movement/helpers/config.py
  tests/torch/sparsity/movement/helpers/run_recipe.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_scheduler.py
  tests/torch/sparsity/movement/test_training.py
  tests/torch/test_algo_common.py
Labels: NNCF PT, experimental, NNCF Common

Bump pandas and tabulate version for sparsity report of movement sparsity
  setup.py
Labels: dependencies

documentation part1 (#27)
  nncf/common/sparsity/statistics.py
  nncf/config/schemata/experimental_schema.py
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
  nncf/experimental/torch/sparsity/movement/layers.py
  nncf/experimental/torch/sparsity/movement/loss.py
  nncf/experimental/torch/sparsity/movement/scheduler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_strategy.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_components.py
  tests/torch/sparsity/movement/test_scheduler.py
  tests/torch/sparsity/movement/test_structured_mask.py
Labels: NNCF PT, experimental, NNCF Common

patch ImportanceLoss to return value of consistent type (torch.tensor)
  nncf/experimental/torch/sparsity/movement/loss.py
Labels: experimental

logging; helper refactor part1; scheduler enable_structured=True; rename example folder (#28)
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/scheduler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  tests/torch/sparsity/movement/examples/Quickstart.md
  tests/torch/sparsity/movement/helpers/__init__.py
  tests/torch/sparsity/movement/helpers/config.py
  tests/torch/sparsity/movement/helpers/run_recipe.py
  tests/torch/sparsity/movement/helpers/trainer.py
  tests/torch/sparsity/movement/helpers/utils.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_scheduler.py
  tests/torch/sparsity/movement/test_structured_mask.py
  tests/torch/sparsity/movement/test_training.py
  tests/torch/sparsity/movement/training_scripts/bert_tiny_uncased_mrpc_movement.json
  tests/torch/sparsity/movement/training_scripts/run_glue.py
Labels: NNCF PT, experimental

minor, trivial changes based on code review (#26)
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/layers.py
  nncf/experimental/torch/sparsity/movement/loss.py
  nncf/experimental/torch/sparsity/movement/scheduler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_strategy.py
  tests/torch/autograd_functions/test_autograd_functions.py
  tests/torch/sparsity/movement/__init__.py
  tests/torch/sparsity/movement/examples/run_glue.py
  tests/torch/sparsity/movement/helpers.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_components.py
  tests/torch/sparsity/movement/test_scheduler.py
  tests/torch/sparsity/movement/test_structured_mask.py
  tests/torch/sparsity/movement/test_training.py
  tests/torch/sparsity/movement/test_training_with_third_party.py
Labels: NNCF PT, experimental

fix ada threshold bug (#24)
  nncf/experimental/torch/sparsity/movement/scheduler.py
  tests/torch/sparsity/movement/examples/run_glue.py
  tests/torch/sparsity/movement/helpers.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_scheduler.py
Labels: NNCF PT, experimental

post-rebase patch - aligned misspelled MSHA to MHSA
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_strategy.py
  tests/torch/sparsity/movement/test_structured_mask.py
Labels: NNCF PT, experimental

refactor
  nncf/common/compression.py
  nncf/common/graph/utils.py
  nncf/tensorflow/api/compression.py
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/tensorflow/sparsity/rb/algorithm.py
  nncf/torch/compression_method_api.py
  nncf/torch/model_creation.py
  tests/common/graph/test_utils.py
  tests/tensorflow/test_ignored_scopes.py
  tests/torch/test_algo_common.py
Labels: NNCF PT, NNCF TF, NNCF Common

Bug fix to movement sparsity scheduler, i.e. importance_threshold to follow regularization warmup shape
  nncf/experimental/torch/sparsity/movement/scheduler.py
Labels: experimental

linter
  nncf/common/compression.py
  nncf/tensorflow/api/compression.py
  tests/common/graph/test_utils.py
  tests/tensorflow/test_ignored_scopes.py
Labels: NNCF TF, NNCF Common

Revise MovementSparsity.md
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
  nncf/experimental/torch/sparsity/movement/movement_sparsity_lifecycle.jpg
Labels: experimental

resolves all concerns from code review (#31)
  nncf/config/definitions.py
  nncf/config/schemata/experimental_schema.py
  nncf/experimental/torch/search_building_blocks/search_blocks.py
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/functions.py
  nncf/experimental/torch/sparsity/movement/layers.py
  nncf/experimental/torch/sparsity/movement/loss.py
  nncf/experimental/torch/sparsity/movement/scheduler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_strategy.py
  setup.py
  tests/torch/autograd_functions/test_autograd_functions.py
  tests/torch/data/schema_validation_good_configs/full_movement_sparsity_params.json
  tests/torch/sparsity/movement/helpers/__init__.py
  tests/torch/sparsity/movement/helpers/config.py
  tests/torch/sparsity/movement/helpers/run_recipe.py
  tests/torch/sparsity/movement/helpers/trainer.py
  tests/torch/sparsity/movement/helpers/utils.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_components.py
  tests/torch/sparsity/movement/test_model_saving.py
  tests/torch/sparsity/movement/test_scheduler.py
  tests/torch/sparsity/movement/test_structured_mask.py
  tests/torch/sparsity/movement/test_training.py
  tests/torch/sparsity/movement/test_training_with_third_party.py
  tests/torch/sparsity/movement/training_scripts/bert_tiny_uncased_mrpc_movement.json
  tests/torch/sparsity/movement/training_scripts/run_glue.py
  tests/torch/test_algo_common.py
Labels: dependencies, NNCF PT, experimental

replied to comments
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
Labels: none

Disable exection in TensorFloat-32 (#1435)
  examples/tensorflow/classification/configs/quantization/mobilenet_v3_large_imagenet_int8.json
  examples/tensorflow/classification/configs/quantization/mobilenet_v3_small_imagenet_int8.json
  examples/tensorflow/classification/configs/sparsity_quantization/mobilenet_v3_large_imagenet_rb_sparsity_int8.json
  examples/tensorflow/classification/configs/sparsity_quantization/mobilenet_v3_small_imagenet_rb_sparsity_int8.json
  examples/tensorflow/classification/main.py
  examples/tensorflow/common/argparser.py
  examples/tensorflow/object_detection/main.py
  examples/tensorflow/segmentation/evaluation.py
  examples/tensorflow/segmentation/train.py
  tests/tensorflow/sota_checkpoints_eval.json
Labels: NNCF TF

Fixed loading best checkpoint in distributed mode; plus another minor tweak
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/torch/accuracy_aware_training/runner.py
Labels: NNCF PT, NNCF Common

Moved logging method to training loop
  examples/common/__init__.py
  examples/common/utils.py
  examples/tensorflow/classification/main.py
  examples/tensorflow/object_detection/main.py
  examples/torch/classification/main.py
  examples/torch/object_detection/main.py
  examples/torch/semantic_segmentation/main.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/tensorflow/accuracy_aware_training/keras_model_utils.py
Labels: NNCF PT, NNCF TF, NNCF Common

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'
