Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'

Remove unnecessary dependencies (#1511)
  examples/tensorflow/requirements.txt
  nncf/common/hardware/config.py
  nncf/openvino/quantization/accuracy_aware.py
  setup.py
  tests/experimental/tensorflow/test_compressed_graph.py
  tests/experimental/tensorflow/test_context_independence.py
  tests/openvino/pot/test_engine.py
  tests/tensorflow/pruning/helpers.py
  tests/tensorflow/quantization/utils.py
  tests/tensorflow/sparsity/magnitude/test_algorithm.py
  tests/tensorflow/sparsity/magnitude/test_scheduler.py
  tests/tensorflow/sparsity/rb/test_components.py
  tests/tensorflow/sparsity/test_common.py
  tests/tensorflow/test_bn_adaptation.py
  tests/tensorflow/test_compressed_graph.py
  tests/tensorflow/test_ignored_scopes.py
Labels: dependencies, NNCF TF, NNCF OpenVINO, NNCF Common

Add benchmarking section link
  docs/compression_algorithms/post_training/ONNX.md
Labels: documentation

Chnage incorrect NNCFGraphNodeType to INPUT_NOOP_METATYPES
  nncf/onnx/hardware/patterns.py
Labels: none

Use reference quantization on CPU if compiled extensions are unavailable
  examples/torch/object_detection/layers/extensions/__init__.py
  nncf/common/logging/logger.py
  nncf/torch/binarization/binarize_functions.py
  nncf/torch/binarization/extensions.py
  nncf/torch/binarization/reference.py
  nncf/torch/extensions/__init__.py
  nncf/torch/quantization/extensions.py
  nncf/torch/quantization/quantize_functions.py
  nncf/torch/quantization/reference.py
  tests/cross_fw/install/install_checks_torch.py
  tests/shared/isolation_runner.py
  tests/torch/binarization/test_functions.py
  tests/torch/quantization/extensions/__init__.py
  tests/torch/quantization/extensions/isolated_cases.py
  tests/torch/quantization/extensions/test_extension_unavailable.py
  tests/torch/quantization/test_algo_quantization.py
  tests/torch/quantization/test_functions.py
Labels: NNCF PT, NNCF Common

Fix render of math formula
  docs/compression_algorithms/Quantization.md
Labels: documentation

Update nncf/experimental/openvino_native/engine.py
  nncf/experimental/openvino_native/engine.py
Labels: experimental

Update all
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/ov_backend.py
  nncf/experimental/openvino_native/quantization/quantize.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF OpenVINO, experimental

Missed files
  nncf/experimental/openvino_native/graph/node_utils.py
  nncf/experimental/openvino_native/graph/transformations/command_creation.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/ov_backend.py
Labels: experimental

Update Readme; Improve code style in test_e2e
  tests/onnx/benchmarking/README.md
  tests/onnx/benchmarking/dataset_definitions.yml
  tests/onnx/benchmarking/run_ptq_onnx_models.sh
  tests/onnx/conftest.py
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX, documentation

Update nncf/common/graph/patterns.py
  nncf/common/graph/patterns.py
Labels: NNCF Common

Introduce InputNoopMetatype
  nncf/onnx/hardware/patterns.py
Labels: none

Update tests
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF OpenVINO

Replace method
  nncf/experimental/openvino_native/graph/node_utils.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/ov_backend.py
Labels: experimental

[OV] Supported different configurations of input data for OVNativeEngine (#1525)
  nncf/experimental/openvino_native/engine.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/removed_nodes_in_QuantizedModel.dot
  tests/openvino/native/models.py
  tests/openvino/native/test_engine.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF OpenVINO, experimental

filter pruning
  nncf/torch/prepare_for_inference.py
  nncf/torch/pruning/operations.py
  tests/torch/test_prepare_for_inference.py
Labels: NNCF PT

MinMax algorithm has been added to the post training conformance test (#1522)
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/post_training/conftest.py
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
Labels: none

Apply comments
  nncf/experimental/openvino_native/graph/node_utils.py
  nncf/experimental/openvino_native/graph/transformations/command_creation.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/ov_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Labels: experimental

Apply comments
  README.md
Labels: documentation

Align main readme and ptq
  README.md
Labels: documentation

Fix render of math formula in docs (#1528)
  docs/compression_algorithms/Quantization.md
Labels: documentation

ONNX Add new pattern for densenet (#1513)
  nncf/common/graph/patterns.py
  nncf/onnx/hardware/fused_patterns.py
  nncf/onnx/hardware/patterns.py
  tests/onnx/benchmarking/classification/onnx_models_configs/densenet-12.yml
  tests/onnx/data/models/densenet-12.onnx
  tests/onnx/data/reference_graphs/quantization/densenet-12.dot
  tests/onnx/quantization/test_classification_models_graph.py
Labels: NNCF ONNX, NNCF Common

Add mobielenet_v2 reg test
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  tests/onnx/quantization/test_ptq_regression.py
Labels: NNCF ONNX

Small refactor
  tests/onnx/quantization/test_ptq_regression.py
Labels: NNCF ONNX

Use reference quantization on CPU if compiled extensions are unavailable (#1322)
  examples/torch/object_detection/layers/extensions/__init__.py
  nncf/common/logging/logger.py
  nncf/torch/binarization/binarize_functions.py
  nncf/torch/binarization/extensions.py
  nncf/torch/binarization/reference.py
  nncf/torch/extensions/__init__.py
  nncf/torch/quantization/extensions.py
  nncf/torch/quantization/quantize_functions.py
  nncf/torch/quantization/reference.py
  tests/cross_fw/install/install_checks_torch.py
  tests/shared/isolation_runner.py
  tests/torch/binarization/test_functions.py
  tests/torch/quantization/extensions/__init__.py
  tests/torch/quantization/extensions/isolated_cases.py
  tests/torch/quantization/extensions/test_extension_unavailable.py
  tests/torch/quantization/test_algo_quantization.py
  tests/torch/quantization/test_functions.py
Labels: NNCF PT, NNCF Common

Update node_utils attributes
  nncf/experimental/openvino_native/graph/node_utils.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/ov_backend.py
  nncf/onnx/graph/node_utils.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Labels: experimental

Fix pylint
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
Labels: none

Fix bug; Change onnxrt to onnxrt-ov
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  tests/onnx/quantization/test_ptq_regression.py
Labels: NNCF ONNX

Update test criteria
  tests/onnx/quantization/test_ptq_regression.py
Labels: NNCF ONNX

Remove ckpt-dir
  tests/onnx/conftest.py
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Update Readme with PTQ section (#1505)
  README.md
  docs/compression_algorithms/post_training/ONNX.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

Change incorrect NNCFGraphNodeType to INPUT_NOOP_METATYPES in patterns (#1527)
  nncf/onnx/hardware/patterns.py
Labels: none

fixes
  nncf/torch/prepare_for_inference.py
  nncf/torch/pruning/operations.py
  tests/torch/test_prepare_for_inference.py
Labels: NNCF PT

update based on liubov PR
  tests/onnx/quantization/regression_test/__init__.py
  tests/onnx/quantization/regression_test/configs/resnet-18-pytorch.yml
  tests/onnx/quantization/regression_test/dataset_helpers.py
  tests/onnx/quantization/regression_test/omz_helpers.py
  tests/onnx/quantization/regression_test/test_ptq_regression.py
  tests/onnx/quantization/test_ptq_regression.py
  tests/onnx/requirements.txt
Labels: NNCF ONNX

Apply comments
  tests/onnx/conftest.py
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Pylint
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

Minor rename
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
Labels: experimental

Add OpenVINO inference engine into E2E as default (#1523)
  tests/onnx/benchmarking/README.md
  tests/onnx/benchmarking/classification/openvino_models_configs/bvlcalexnet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/caffenet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/densenet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/efficientnet-lite4-11.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/googlenet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/inception-v1-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/mobilenetv2-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/resnet50-v1-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/resnet50-v2-7.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/shufflenet-9.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/shufflenet-v2-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/squeezenet1.0-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/vgg16-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/zfnet512-12.yml
  tests/onnx/benchmarking/dataset_definitions.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/FasterRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/MaskRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/ResNet101-DUC-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/fcn-resnet50-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/retinanet-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/ssd-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/ssd_mobilenet_v1_12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/tiny-yolov3-11.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/tinyyolov2-8.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/yolov2-coco-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/yolov3-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/yolov4.yml
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/benchmarking/run_ptq_onnx_models.sh
  tests/onnx/conftest.py
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX, documentation

Use common graph comparison functions in OV
  tests/onnx/quantization/common.py
  tests/onnx/test_nncf_graph_builder.py
  tests/openvino/native/common.py
  tests/shared/__init__.py
  tests/shared/nx_graph.py
  tests/tensorflow/test_compressed_graph.py
  tests/tensorflow/test_transformations.py
  tests/torch/nas/test_all_elasticity.py
  tests/torch/nas/test_elastic_width.py
  tests/torch/quantization/test_hawq_precision_init.py
  tests/torch/test_compressed_graph.py
Labels: NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO

Improve graph checking code
  tests/openvino/native/common.py
  tests/shared/nx_graph.py
Labels: NNCF OpenVINO

Sort attributes before comparing
  tests/shared/nx_graph.py
Labels: none
