Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

Improved test robastness
  tests/post_training/conftest.py
  tests/post_training/test_quantize_conformance.py
Labels: none

Add get_bias_value func to FBC; Change export model to eval; Update model graphs
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/experimental/post_training/algorithms/quantization/fast_bias_correction/algorithm.py
  nncf/experimental/post_training/algorithms/quantization/fast_bias_correction/backend.py
  nncf/experimental/post_training/algorithms/quantization/fast_bias_correction/onnx_backend.py
  tests/onnx/data/reference_graphs/original_nncf_graph/densenet121.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/googlenet.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/inception_v3.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/resnet18.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/vgg16.dot
  tests/onnx/data/reference_graphs/quantization/densenet121.dot
  tests/onnx/data/reference_graphs/quantization/googlenet.dot
  tests/onnx/data/reference_graphs/quantization/inception_v3.dot
  tests/onnx/data/reference_graphs/quantization/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/quantization/resnet18.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/vgg16.dot
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_min_max_ptq_graph_equal.py
  tests/onnx/sanity_tests/test_classification_sanity_sample.py
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX, experimental

Drop targets from ONNX
  examples/experimental/onnx/classification/imagenet_dataset.py
  examples/experimental/onnx/semantic_segmentation/segmentation_dataset.py
  tests/onnx/quantization/common.py
Labels: NNCF ONNX

Fix pylint
  nncf/experimental/post_training/algorithms/quantization/fast_bias_correction/onnx_backend.py
Labels: experimental

Make is_quantized_weights backend specific
  nncf/experimental/post_training/algorithms/quantization/fast_bias_correction/backend.py
  nncf/experimental/post_training/algorithms/quantization/fast_bias_correction/onnx_backend.py
Labels: experimental

Added quantization options and defined model scope
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
Labels: none

Fixed issues
  tests/post_training/README.md
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
Labels: documentation

Update protobuf version (#1369)
  examples/tensorflow/requirements.txt
  tests/torch/requirements.txt
Labels: NNCF PT, NNCF TF

Add broadcast of log_dir in AA
  nncf/torch/accuracy_aware_training/runner.py
Labels: NNCF PT

fixed the issue with wrapping model inputs for PyTorch backend
  nncf/torch/quantization/quantize.py
Labels: NNCF PT

Improved output
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
Labels: none

Changed validation scope
  tests/post_training/model_scope.py
Labels: none

Make log_dir only parameter of 0 process
  nncf/torch/accuracy_aware_training/runner.py
Labels: NNCF PT

Fix pylint
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
Labels: none

Make torchvision pretrained=True
  tests/onnx/data/reference_graphs/original_nncf_graph/densenet121.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/googlenet.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/inception_v3.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/resnet18.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/vgg16.dot
  tests/onnx/data/reference_graphs/quantization/densenet121.dot
  tests/onnx/data/reference_graphs/quantization/googlenet.dot
  tests/onnx/data/reference_graphs/quantization/inception_v3.dot
  tests/onnx/data/reference_graphs/quantization/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/quantization/resnet18.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/vgg16.dot
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_min_max_ptq_graph_equal.py
  tests/onnx/sanity_tests/test_classification_sanity_sample.py
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX

Fixed the issue with wrapping model inputs for PyTorch backend (#1370)
  nncf/torch/quantization/quantize.py
Labels: NNCF PT

Fixed pylint
  tests/post_training/conftest.py
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
Labels: none

Made OrdereEnum int based
  nncf/common/utils/ordered_enum.py
  nncf/quantization/algorithms/definitions.py
Labels: NNCF Common

Changed scope
  tests/post_training/model_scope.py
Labels: none

Comments are applied
  tests/torch/conftest.py
  tests/torch/test_compression_training.py
  tests/torch/test_sota_checkpoints.py
Labels: NNCF PT

Add AC config processing func
  tests/onnx/benchmarking/run_ptq.py
Labels: NNCF ONNX

Add get_weight_tensor_name in backend of MinMax; Update graphs
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  tests/onnx/data/reference_graphs/quantization/synthetic/reshape_weight_model.dot
  tests/onnx/data/reference_graphs/quantization/unet_camvid.dot
  tests/onnx/quantization/test_segmentation_models_graph.py
Labels: NNCF ONNX

Initial commit
  nncf/common/engine.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/experimental/onnx/engine.py
  nncf/experimental/onnx/statistics/aggregator.py
  nncf/experimental/quantization/compression_builder.py
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
Labels: experimental, NNCF Common

Fix the model
  nncf/common/tensor_statistics/aggregator.py
Labels: NNCF Common

Handle state of each elastic dimension handler in SingleElasticityHandler
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/base_handler.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_depth.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  tests/torch/nas/test_all_elasticity.py
Labels: NNCF PT, experimental

Revert "Handle state of each elastic dimension handler in SingleElasticityHandler"
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/base_handler.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_depth.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  tests/torch/nas/test_all_elasticity.py
Labels: NNCF PT, experimental

Use active_config in state from super class
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/base_handler.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_depth.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
Labels: experimental

Fix the model in the fbc
  nncf/experimental/onnx/engine.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
Labels: experimental

Fixed memory issues
  tests/post_training/conftest.py
  tests/post_training/model_scope.py
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Labels: none

Fix pylint
  tests/onnx/benchmarking/run_ptq.py
Labels: NNCF ONNX

Fixed comparison to None
  nncf/common/composite_compression.py
Labels: NNCF Common

Removed ordered enum
  nncf/api/compression.py
  nncf/common/graph/transformations/commands.py
  nncf/common/utils/ordered_enum.py
  nncf/torch/nncf_network.py
Labels: NNCF PT, NNCF Common

[Torch] Weekly test with mixed precision (#1366)
  examples/torch/classification/main.py
  examples/torch/common/utils.py
  tests/torch/conftest.py
  tests/torch/test_compression_training.py
  tests/torch/test_sota_checkpoints.py
Labels: NNCF PT

Apply comments
  nncf/common/engine.py
  nncf/common/factory.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/experimental/onnx/engine.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/statistics/aggregator.py
  nncf/experimental/quantization/compression_builder.py
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
Labels: experimental, NNCF Common

Pylint fixes
  nncf/experimental/onnx/statistics/aggregator.py
  tests/onnx/benchmarking/performance_checker.py
Labels: NNCF ONNX, experimental

Endline
  nncf/common/factory.py
Labels: NNCF Common

Pylint
  nncf/common/tensor_statistics/aggregator.py
Labels: NNCF Common

Add reshape node case applied to weight.
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  tests/onnx/quantization/test_segmentation_models_graph.py
Labels: NNCF ONNX, experimental

FIx bug with AccuracyAware in PT in distributed mode (#1371)
  nncf/torch/accuracy_aware_training/runner.py
Labels: NNCF PT

Fixed issues
  tests/post_training/conftest.py
  tests/post_training/model_scope.py
Labels: none

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'
