Repository openvinotoolkit/nncf, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, documentation, experimental, NNCF Common

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

dependencies:
  - 'requirements.txt'
  - '**/setup.py'

NNCF PT:
  - 'examples/torch/**/*'
  - 'nncf/torch/**/*'
  - 'tests/torch/**/*'

NNCF TF:
  - 'examples/tensorflow/**/*'
  - 'nncf/tensorflow/**/*'
  - 'tests/tensorflow/**/*'

NNCF ONNX:
  - 'examples/onnx/**/*'
  - 'nncf/onxx/**/*'
  - 'tests/onnx/**/*'

NNCF OpenVINO:
  - 'examples/openvino/**/*'
  - 'nncf/openvino/**/*'
  - 'tests/openvino/**/*'

documentation:
  - '**/README.md'
  - 'docs/**/*'

experimental:
  - 'nncf/experimental/**/*'

NNCF Common:
  - 'examples/common/**/*'
  - 'nncf/common/**/*'
  - 'tests/common/**/*'

Add interface - TraversableGraph
  nncf/common/graph/graph.py
  nncf/common/graph/traversal.py
  nncf/common/insertion_point_graph.py
Labels: NNCF Common

Apply comments
  nncf/experimental/onnx/graph/onnx_graph.py
Labels: experimental

Add has_initializer func
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: experimental

Add ticket number
  tests/onnx/quantization/test_classification_models_graph.py
Labels: NNCF ONNX

Add more description
  nncf/common/graph/traversal.py
Labels: NNCF Common

Remove typo
  nncf/common/graph/traversal.py
Labels: NNCF Common

Fix pylint
  nncf/tensorflow/quantization/algorithm.py
Labels: NNCF TF

Fix bug
  nncf/experimental/onnx/graph/onnx_graph.py
  tests/onnx/quantization/test_graphs.py
Labels: NNCF ONNX, experimental

Apply comments
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  tests/onnx/quantization/test_graphs.py
Labels: NNCF ONNX

Fix bug
  nncf/quantization/algorithms/min_max/backend.py
Labels: none

Fix pylint
  nncf/common/insertion_point_graph.py
  nncf/common/pruning/utils.py
Labels: NNCF Common

Add install_checks_onnx
  tests/cross_fw/install/install_checks_onnx.py
Labels: none

Update requirements; Remove old samples
  examples/experimental/onnx/__init__.py
  examples/experimental/onnx/classification/README.md
  examples/experimental/onnx/classification/__init__.py
  examples/experimental/onnx/classification/accuracy.py
  examples/experimental/onnx/classification/imagenet_dataset.py
  examples/experimental/onnx/classification/onnx_ptq_classification.py
  examples/experimental/onnx/common/__init__.py
  examples/experimental/onnx/common/argparser.py
  examples/experimental/onnx/common/sample_config.py
  examples/experimental/onnx/mobilenet_v2/requirements.txt
  examples/experimental/onnx/requirements.txt
  examples/experimental/onnx/semantic_segmentation/README.md
  examples/experimental/onnx/semantic_segmentation/__init__.py
  examples/experimental/onnx/semantic_segmentation/onnx_ptq_segmentation.py
  examples/experimental/onnx/semantic_segmentation/segmentation_dataset.py
  examples/experimental/onnx/yolov5/0001-Add-NNCF-ONNX-PTQ-example-notebook.patch
  examples/experimental/onnx/yolov5/README.md
  setup.py
  tests/onnx/requirements.txt
Labels: dependencies, NNCF ONNX, documentation

Update test
  tests/cross_fw/install/common.py
  tests/cross_fw/install/install_checks_onnx.py
  tests/cross_fw/install/install_checks_openvino.py
Labels: none

Removed weights downloading in tests for searching blocks in transformers
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
  tests/torch/requirements.txt
Labels: NNCF PT

Addressed review comments
  examples/tensorflow/object_detection/main.py
  examples/torch/classification/main.py
  examples/torch/object_detection/main.py
  examples/torch/semantic_segmentation/main.py
  nncf/common/accuracy_aware_training/runner.py
  nncf/tensorflow/accuracy_aware_training/keras_model_utils.py
  nncf/tensorflow/accuracy_aware_training/runner.py
  nncf/torch/accuracy_aware_training/runner.py
Labels: NNCF PT, NNCF TF, NNCF Common

Update README.md
  README.md
Labels: documentation

Remove sanity tests for redundant samples
  tests/onnx/sanity_tests/__init__.py
  tests/onnx/sanity_tests/test_classification_sanity_sample.py
  tests/onnx/sanity_tests/test_segmentation_sanity_sample.py
Labels: NNCF ONNX

Remove unused infer_input_shape
  nncf/experimental/onnx/common.py
  tests/onnx/test_infer_input_shape.py
Labels: NNCF ONNX, experimental

Update log message
  nncf/experimental/onnx/graph/nncf_graph_builder.py
Labels: experimental

Disable memory efficient swish in BootstrapNAS main
  examples/experimental/torch/classification/bootstrap_nas.py
  examples/experimental/torch/classification/bootstrap_nas_search.py
  examples/torch/common/models/classification/efficientnet.py
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
Labels: NNCF PT

BootstrapNAS: Export best subnet to onnx (#1249)
  examples/experimental/torch/classification/bootstrap_nas.py
  examples/experimental/torch/classification/bootstrap_nas_search.py
Labels: none

Fixed pylint; fixed initialize_training_loop_fns
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/tensorflow/accuracy_aware_training/runner.py
  nncf/torch/accuracy_aware_training/runner.py
  tests/torch/accuracy_aware_training/test_runner.py
Labels: NNCF PT, NNCF TF, NNCF Common

Removed weights downloading in tests for searching blocks in transformers (#1393)
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
  tests/torch/requirements.txt
Labels: NNCF PT

Fix CUDA version in the README.md (#1394)
  README.md
Labels: documentation

Update Makefile with new pipeline for testing onnx installation
  Makefile
  tests/cross_fw/install/install_checks_onnx.py
Labels: none

Fix typo
  Makefile
Labels: none

Saving fix
  nncf/common/accuracy_aware_training/runner.py
Labels: NNCF Common

Update traversal function
  nncf/common/graph/traversal.py
Labels: NNCF Common

Apply comments
  nncf/common/insertion_point_graph.py
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: NNCF Common

Update makefile
  Makefile
Labels: none

Update docstring
  nncf/common/graph/traversal.py
Labels: NNCF Common

Add telemetry to NNCF
  nncf/experimental/quantization/compression_builder.py
  nncf/openvino/quantization/quantize.py
  nncf/telemetry_wrapper/__init__.py
  nncf/telemetry_wrapper/telemetry.py
  nncf/tensorflow/exporter.py
  nncf/tensorflow/helpers/model_creation.py
  nncf/torch/exporter.py
  nncf/torch/model_creation.py
  setup.py
  tests/common/test_telemetry.py
  tests/onnx/test_telemetry.py
  tests/openvino/requirements.txt
  tests/openvino/test_telemetry.py
  tests/shared/helpers.py
  tests/tensorflow/test_telemetry.py
  tests/torch/test_telemetry.py
Labels: dependencies, NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, experimental, NNCF Common

Refactor package names
  nncf/experimental/quantization/compression_builder.py
  nncf/openvino/quantization/quantize.py
  nncf/telemetry/__init__.py
  nncf/telemetry/events.py
  nncf/telemetry/wrapper.py
  nncf/tensorflow/exporter.py
  nncf/tensorflow/helpers/model_creation.py
  nncf/torch/exporter.py
  nncf/torch/model_creation.py
  tests/common/test_telemetry.py
  tests/shared/helpers.py
Labels: NNCF PT, NNCF TF, NNCF OpenVINO, experimental, NNCF Common

Attempt to fix CI behaviour
  tests/common/test_telemetry.py
Labels: NNCF Common

Decorator-based class structure
  nncf/config/telemetry_extractors.py
  nncf/experimental/quantization/compression_builder.py
  nncf/experimental/quantization/telemetry_extractors.py
  nncf/openvino/quantization/quantize.py
  nncf/openvino/quantization/telemetry_extractors.py
  nncf/telemetry/decorator.py
  nncf/telemetry/events.py
  nncf/telemetry/extractors.py
  nncf/tensorflow/exporter.py
  nncf/tensorflow/helpers/model_creation.py
  nncf/torch/exporter.py
  nncf/torch/model_creation.py
  tests/common/test_telemetry.py
Labels: NNCF PT, NNCF TF, NNCF OpenVINO, experimental, NNCF Common

Fixes
  nncf/common/composite_compression.py
  nncf/common/compression.py
  nncf/config/telemetry_extractors.py
  nncf/experimental/quantization/telemetry_extractors.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_controller.py
  nncf/openvino/quantization/telemetry_extractors.py
  nncf/telemetry/events.py
  nncf/telemetry/extractors.py
  nncf/tensorflow/exporter.py
  nncf/tensorflow/helpers/model_creation.py
  nncf/torch/exporter.py
  tests/common/test_telemetry.py
  tests/onnx/test_telemetry.py
  tests/openvino/test_telemetry.py
  tests/tensorflow/test_telemetry.py
  tests/torch/test_telemetry.py
Labels: NNCF PT, NNCF TF, NNCF ONNX, NNCF OpenVINO, experimental, NNCF Common

Add docstrings
  nncf/definitions.py
  nncf/telemetry/decorator.py
  nncf/telemetry/events.py
  nncf/telemetry/extractors.py
  nncf/telemetry/wrapper.py
  tests/common/test_telemetry.py
Labels: NNCF Common

More fixes
  nncf/experimental/quantization/compression_builder.py
  nncf/openvino/quantization/quantize.py
  nncf/telemetry/decorator.py
  nncf/telemetry/events.py
  tests/common/test_telemetry.py
Labels: NNCF OpenVINO, experimental, NNCF Common

Add tests for category nesting
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elasticity_controller.py
  nncf/openvino/quantization/quantize.py
  nncf/telemetry/decorator.py
  nncf/telemetry/events.py
  nncf/telemetry/extractors.py
  nncf/tensorflow/exporter.py
  nncf/torch/exporter.py
  tests/common/test_telemetry.py
Labels: NNCF PT, NNCF TF, NNCF OpenVINO, experimental, NNCF Common
