Repository openvinotoolkit/nncf, pull requests merged in 2021-11, with the labels that each got.

#1007 Increased thresholds for Yolo models
  tests/tensorflow/sota_checkpoints_eval.json
Labels: NNCF TF

#1016 Speeding up the nncf_keras_model_graph_equality tests
  tests/tensorflow/test_nncf_keras_graph_equality.py
Labels: NNCF TF

#1015 Bump tensorflow from ==2.4.3 to ~=2.4.3
  nncf/tensorflow/__init__.py
  nncf/version.py
  setup.py
Labels: dependencies, NNCF TF

#1012 Added link to the TensorFlow notebook
  README.md
Labels: NNCF TF

#1017 Added option for --dist-url for parallel execution train tests
  tests/torch/conftest.py
  tests/torch/test_sota_checkpoints.py
Labels: NNCF PT

#1022 Make mocking datasets only for test_sanity_sample
  tests/tensorflow/test_sanity_sample.py
Labels: NNCF TF

#1023 Fixed getting layer dtype for Functional, Sequential layers
  nncf/tensorflow/graph/converter.py
Labels: NNCF TF

#1026 Extend the metatypes for TF OPS
  nncf/tensorflow/graph/metatypes/common.py
  nncf/tensorflow/graph/metatypes/tf_ops.py
  nncf/tensorflow/graph/pattern_operations.py
Labels: NNCF TF
