Repository openvinotoolkit/nncf, pull requests merged in 2021-04, with the labels that each got.

#622 Test sota checkpoint, batch size fix
  beta/tests/sota_checkpoints_eval.json
  beta/tests/test_sota_checkpoints.py
Labels: NNCF TF

#632 Load optimizer state from the checkpoint only when the training mode is enabled
  examples/classification/staged_quantization_worker.py
Labels: NNCF PT

#630 Add env var for regen .dot files.
  beta/tests/tensorflow/test_compressed_graph.py
Labels: NNCF TF

#636 Remove optimizer from a checkpoint
  beta/examples/tensorflow/common/argparser.py
  beta/examples/tensorflow/common/prepare_checkpoint.py
  beta/examples/tensorflow/object_detection/README.md
Labels: NNCF TF

#663 fixate retinanet input shape
  beta/examples/tensorflow/object_detection/models/retinanet_model.py
  beta/tests/tensorflow/data/reference_graphs/pruning/filter_pruning/retinanet.pb
  beta/tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/retinanet.pb
  beta/tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/retinanet_quantize_outputs.pb
  beta/tests/tensorflow/data/reference_graphs/quantized/symmetric/per_tensor/retinanet.pb
  beta/tests/tensorflow/data/reference_graphs/quantized/symmetric/per_tensor/retinanet_quantize_outputs.pb
  beta/tests/tensorflow/data/reference_graphs/sparsity/magnitude_sparsity/retinanet.pb
Labels: NNCF TF

#667 [TF] Fixed condition to make compression model AC config
  beta/tests/test_sota_checkpoints.py
Labels: NNCF TF

#619 Fix input channel axes
  beta/nncf/tensorflow/layers/data_layout.py
Labels: NNCF TF

#657 Filter pruning by flops
  beta/nncf/tensorflow/graph/converter.py
  beta/nncf/tensorflow/graph/utils.py
  beta/nncf/tensorflow/layers/common.py
  beta/nncf/tensorflow/pruning/base_algorithm.py
  beta/nncf/tensorflow/pruning/filter_pruning/algorithm.py
  beta/nncf/tensorflow/pruning/utils.py
  nncf/common/graph/graph.py
  nncf/common/graph/module_attributes.py
  nncf/common/pruning/pruning_node_selector.py
  nncf/common/pruning/utils.py
  nncf/dynamic_graph/wrappers.py
  nncf/nncf_network.py
  nncf/pruning/base_algo.py
  nncf/pruning/filter_pruning/algo.py
Labels: NNCF TF

#662 YOLOv4 quantization support
  beta/examples/tensorflow/object_detection/README.md
  beta/examples/tensorflow/object_detection/configs/quantization/yolo_v4_coco_int8.json
  beta/tests/sota_checkpoints_eval.json
  beta/tests/tensorflow/data/ac_configs/yolo_v4_int8_w_sym_ch_a_asym_t.yml
Labels: NNCF TF

#675 Changed model name in AC config
  beta/tests/tensorflow/data/ac_configs/yolo_v4_int8_w_sym_ch_a_asym_t.yml
Labels: NNCF TF

#673 YOLOv4 tfrecords support
  beta/examples/tensorflow/common/dataset_builder.py
  beta/examples/tensorflow/common/object_detection/datasets/builder.py
  beta/examples/tensorflow/common/object_detection/datasets/tfrecords/coco2017.py
  beta/examples/tensorflow/object_detection/preprocessing/yolo_v4_preprocessing.py
  beta/tests/test_sota_checkpoints.py
Labels: NNCF TF

#661 Freeze NNCFWrapper weights
  beta/nncf/tensorflow/layers/operation.py
  beta/nncf/tensorflow/layers/wrapper.py
  beta/tests/tensorflow/test_wrapper_freeze.py
Labels: NNCF TF

#676 Update the signature of the export_model method
  nncf/compression_method_api.py
Labels: NNCF PT

#678 Common interface for export a compressed model
  beta/examples/tensorflow/common/utils.py
  beta/nncf/tensorflow/api/compression.py
  beta/nncf/tensorflow/exporter.py
  beta/nncf/tensorflow/utils/save.py
  nncf/api/compression.py
  nncf/common/compression.py
  nncf/common/exporter.py
  nncf/common/factory.py
  nncf/compression_method_api.py
  nncf/exporter.py
Labels: NNCF Common

#659 Added MobilenetV3Small
  beta/README.md
  beta/examples/tensorflow/classification/README.md
  beta/examples/tensorflow/classification/configs/quantization/mobilenet_v3_small_imagenet_int8.json
  beta/examples/tensorflow/classification/configs/sparsity_quantization/mobilenet_v3_small_imagenet_magnitude_sparsity_int8.json
  beta/examples/tensorflow/common/models.py
  beta/tests/sota_checkpoints_eval.json
  beta/tests/tensorflow/data/configs/classification/mobilenet_v3_small_imagenet.json
  beta/tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/mobilenet_v3_small.pb
  beta/tests/tensorflow/data/reference_graphs/quantized/symmetric/per_tensor/mobilenet_v3_small.pb
  beta/tests/tensorflow/data/reference_graphs/sparsity/magnitude_sparsity/mobilenet_v3_small.pb
  beta/tests/tensorflow/data/reference_graphs/sparsity/rb_sparsity/mobilenet_v3_small.dot
  beta/tests/tensorflow/test_models/mobilenet_v3.py
Labels: NNCF TF

#685 Added MobilenetV3Large
  beta/README.md
  beta/examples/tensorflow/classification/README.md
  beta/examples/tensorflow/classification/configs/quantization/mobilenet_v3_large_imagenet_int8.json
  beta/examples/tensorflow/classification/configs/sparsity_quantization/mobilenet_v3_large_imagenet_magnitude_sparsity_int8.json
  beta/examples/tensorflow/common/models.py
  beta/tests/sota_checkpoints_eval.json
  beta/tests/tensorflow/data/configs/classification/mobilenet_v3_large_imagenet.json
  beta/tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/mobilenet_v3_large.pb
  beta/tests/tensorflow/data/reference_graphs/quantized/symmetric/per_tensor/mobilenet_v3_large.pb
  beta/tests/tensorflow/data/reference_graphs/sparsity/magnitude_sparsity/mobilenet_v3_large.pb
  beta/tests/tensorflow/data/reference_graphs/sparsity/rb_sparsity/mobilenet_v3_large.dot
  beta/tests/tensorflow/test_compressed_graph.py
  beta/tests/tensorflow/test_models/__init__.py
  beta/tests/tensorflow/test_models/mobilenet_v3.py
Labels: NNCF TF

#689 Remove empty file
  tests/quantization/test_metric.py
Labels: NNCF PT

#683 Preserve namedtuples when objwalking
  examples/classification/main.py
  examples/common/utils.py
  nncf/utils.py
  tests/data/configs/inception_v3_mock_dataset.json
  tests/test_nncf_utils.py
  tests/test_sanity_sample.py
Labels: NNCF PT
