Repository openvinotoolkit/nncf, pull requests merged in 2021-07, with the labels that each got.

#809 Fix quantized values miss exact zero
  nncf/tensorflow/quantization/utils.py
Labels: NNCF TF

#789 TF initialization align with Torch
  docs/compression_algorithms/Quantization.md
  examples/tensorflow/object_detection/configs/quantization/yolo_v4_coco_int8.json
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/quantization/initializers/collectors.py
  nncf/tensorflow/quantization/initializers/init_range.py
  nncf/tensorflow/quantization/initializers/minmax.py
  nncf/tensorflow/quantization/initializers/utils.py
  nncf/tensorflow/quantization/layers.py
  nncf/tensorflow/quantization/quantizers.py
  tests/tensorflow/quantization/test_range_init.py
Labels: NNCF TF

#805 Migrate to TF 2.4.2
  examples/tensorflow/requirements.txt
  nncf/version.py
  setup.py
  tests/tensorflow/requirements.txt
  tests/tensorflow/test_weekly.py
Labels: NNCF TF

#818 Fix validation_freq
  examples/tensorflow/classification/main.py
Labels: NNCF TF

#817 Update TF version in README
  nncf/tensorflow/README.md
Labels: NNCF TF

#816 Refactoring
  nncf/tensorflow/helpers/model_creation.py
Labels: NNCF TF

#792 Remove __nncf_backend__
  examples/tensorflow/object_detection/main.py
  examples/torch/classification/main.py
  examples/torch/object_detection/main.py
  examples/torch/semantic_segmentation/main.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/common/compression.py
  nncf/common/factory.py
  nncf/common/graph/definitions.py
  nncf/common/graph/graph.py
  nncf/common/graph/operator_metatypes.py
  nncf/common/hardware/config.py
  nncf/common/initialization/batchnorm_adaptation.py
  nncf/common/pruning/pruning_node_selector.py
  nncf/common/pruning/utils.py
  nncf/common/utils/backend.py
  nncf/common/utils/registry.py
  nncf/tensorflow/__init__.py
  nncf/tensorflow/api/compression.py
  nncf/tensorflow/backend.py
  nncf/tensorflow/graph/converter.py
  nncf/tensorflow/graph/metatypes/common.py
  nncf/tensorflow/graph/metatypes/keras_layers.py
  nncf/tensorflow/graph/metatypes/tf_ops.py
  nncf/tensorflow/hardware/__init__.py
  nncf/tensorflow/hardware/config.py
  nncf/tensorflow/pruning/export_helpers.py
  nncf/tensorflow/pruning/utils.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/torch/automl/environment/quantization_env.py
  nncf/torch/compression_method_api.py
  nncf/torch/dynamic_graph/graph.py
  nncf/torch/dynamic_graph/io_handling.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/hardware/__init__.py
  nncf/torch/hardware/config.py
  nncf/torch/nncf_network.py
  nncf/torch/pruning/export_helpers.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/pruning/utils.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/quantizer_propagation.py
  nncf/torch/sparsity/magnitude/algo.py
  tests/tensorflow/test_model_converter.py
  tests/torch/accuracy_aware_training/test_runner.py
  tests/torch/automl/test_quantization_env.py
  tests/torch/pruning/test_model_pruning_analysis.py
  tests/torch/quantization/test_adjust_padding.py
  tests/torch/quantization/test_hw_config.py
  tests/torch/quantization/test_quantizer_propagation_solver.py
  tests/torch/test_backward_compat.py
  tests/torch/test_graph_analysis.py
  tests/torch/test_graph_building.py
  tests/torch/test_nncf_network.py
Labels: NNCF Common, NNCF PT, NNCF TF

#801 Remove redundant pruning statistics. Align statistics report
  examples/tensorflow/object_detection/main.py
  examples/tensorflow/segmentation/train.py
  nncf/common/pruning/statistics.py
  nncf/tensorflow/callbacks/statistics_callback.py
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/pruning/callbacks.py
  nncf/torch/pruning/filter_pruning/algo.py
Labels: NNCF Common

#820 The name of the dataset was fixed in the classification example
  examples/tensorflow/classification/main.py
  examples/tensorflow/common/utils.py
Labels: NNCF TF

#824 Print command line arguments
  examples/tensorflow/classification/main.py
  examples/tensorflow/common/utils.py
  examples/tensorflow/object_detection/main.py
  examples/tensorflow/segmentation/evaluation.py
  examples/tensorflow/segmentation/train.py
Labels: NNCF TF

#810 Add tests for filter pruning by flops
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  tests/tensorflow/pruning/helpers.py
  tests/tensorflow/pruning/test_algorithm.py
  tests/tensorflow/pruning/test_flops_pruning.py
Labels: NNCF TF

#825 Disabled the default performance profiler
  examples/tensorflow/classification/main.py
  examples/tensorflow/common/callbacks.py
  tests/tensorflow/sparsity/rb/test_integration.py
Labels: NNCF TF

#828 To add --all install option to setup.
  setup.py
Labels: enhancement

#777 Common collectors of quantization statistics
  nncf/common/quantization/collectors.py
  nncf/common/quantization/statistics.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/quantization/collectors.py
  nncf/tensorflow/quantization/layers.py
  nncf/tensorflow/quantization/quantizers.py
  nncf/tensorflow/quantization/utils.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/metrics.py
  nncf/torch/quantization/precision_init/autoq_init.py
  nncf/torch/quantization/statistics.py
  tests/tensorflow/quantization/test_statistics.py
  tests/torch/quantization/test_manual_precision_init.py
  tests/torch/quantization/test_quantization_metric.py
Labels: NNCF Common, NNCF PT, NNCF TF

#827 Refactor test_prepare_checkpoints
  examples/tensorflow/common/argparser.py
  examples/tensorflow/common/prepare_checkpoint.py
  tests/tensorflow/data/configs/resnet50_cifar10_magnitude_sparsity_int8.json
  tests/tensorflow/data/configs/retinanet_coco2017_magnitude_sparsity_int8.json
  tests/tensorflow/data/configs/sequential_model_cifar10_magnitude_sparsity_int8.json
  tests/tensorflow/data/configs/sequential_model_no_input_cifar10_magnitude_sparsity_int8.json
  tests/tensorflow/test_sanity_sample.py
Labels: NNCF TF

#831 Insertion before TF layer is allowed
  nncf/tensorflow/graph/model_transformer.py
  tests/tensorflow/data/model_transormer/functional_insert_after.dot
  tests/tensorflow/data/model_transormer/functional_insert_before.dot
  tests/tensorflow/data/model_transormer/sequential_block_insert_after.dot
  tests/tensorflow/data/model_transormer/sequential_block_insert_before.dot
  tests/tensorflow/test_transformations.py
Labels: NNCF TF

#837 The docker file was added for NNCF TF
  docker/README.md
  docker/tensorflow/gpu/Dockerfile
  docker/torch/cpu/Dockerfile
  docker/torch/gpu/Dockerfile
Labels: NNCF PT, NNCF TF

#835 Determine default num_classes for cifar dataset
  examples/tensorflow/classification/main.py
Labels: NNCF TF

#838 Updated nncf_config with command line arguments
  examples/tensorflow/classification/main.py
  examples/tensorflow/common/utils.py
  examples/tensorflow/object_detection/main.py
  examples/tensorflow/segmentation/train.py
Labels: NNCF TF

#840 Fix wrong parameters names
  nncf/common/composite_compression.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/torch/algo_selector.py
  nncf/torch/binarization/algo.py
  nncf/torch/composite_compression.py
  nncf/torch/compression_method_api.py
  nncf/torch/knowledge_distillation/algo.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/quantization/algo.py
  nncf/torch/sparsity/const/algo.py
  nncf/torch/sparsity/magnitude/algo.py
  nncf/torch/sparsity/rb/algo.py
  nncf/torch/tensor_statistics/algo.py
  tests/common/test_builder_state.py
Labels: NNCF PT, NNCF TF

#823 Add TF test install with examples and tests requirements
  examples/tensorflow/requirements.txt
  tests/tensorflow/conftest.py
  tests/tensorflow/test_install.py
Labels: NNCF TF

#842 Fix for test_sota_checkpoints[resnet50_int8_w_sym_t_half_a_sym_t_pruning_40]
  tests/tensorflow/sota_checkpoints_eval.json
Labels: NNCF TF

#839 Documentation for LeGR algorithm
  docs/compression_algorithms/Pruning.md
  examples/torch/classification/main.py
  nncf/config/schema.py
  nncf/torch/initialization.py
  nncf/torch/pruning/base_algo.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/pruning/filter_pruning/global_ranking/evolutionary_optimization.py
  nncf/torch/pruning/filter_pruning/global_ranking/legr.py
  nncf/torch/structures.py
  nncf/torch/utils.py
  tests/torch/pruning/filter_pruning/test_evolutionary_optimization.py
  tests/torch/pruning/filter_pruning/test_legr.py
Labels: NNCF PT

#849 Update the main README with retinanet results
  README.md
Labels: NNCF TF

#850 add dependency label to PR
  .github/labeler.yml
  .github/workflows/labeler.yml
  CODEOWNERS
Labels: dependencies

#857 Add codeowners for dependency track
  CODEOWNERS
Labels: dependencies

#864 Remove _get_qunatizable_weighted_layer_nodes duplicated definition
  nncf/tensorflow/quantization/algorithm.py
Labels: NNCF TF

#865 Fix bug all potential qconfig were reference to the same object
  nncf/common/quantization/quantizer_propagation/solver.py
  tests/torch/quantization/test_algo_quantization.py
Labels: bug

#866 Fixed statistic collection for the algo-mixing scenario
  nncf/tensorflow/quantization/algorithm.py
Labels: NNCF TF
