Repository openvinotoolkit/nncf, pull requests merged in 2021-08, with the labels that each got.

#868 Add mixed test_quantize_network instead of asym per-channel
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/densenet121.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/inception_v3.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/mobilenet_v1.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/mobilenet_v2_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/mobilenet_v3_large.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/mobilenet_v3_small.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/resnet50.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/resnet50_v2.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/retinanet.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/retinanet_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/sequential_model.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/sequential_model_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/sequential_no_input_model.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/shared_layers_model.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/shared_layers_model_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/vgg16.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/yolo_v4.pb
  tests/tensorflow/data/reference_graphs/quantized/symmetric/per_tensor/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/inception_v3.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/mobilenet_v1.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/mobilenet_v2_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/mobilenet_v3_large.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/mobilenet_v3_small.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/resnet50.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/resnet50_v2.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/retinanet.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/retinanet_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/sequential_model.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/sequential_model_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/sequential_no_input_model.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/shared_layers_model.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/shared_layers_model_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/vgg16.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/yolo_v4.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/inception_v3.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/mobilenet_v1.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/mobilenet_v2_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/mobilenet_v3_large.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/mobilenet_v3_small.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/resnet50.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/resnet50_v2.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/retinanet.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/retinanet_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/sequential_model.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/sequential_model_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/sequential_no_input_model.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/shared_layers_model.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/shared_layers_model_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/vgg16.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/yolo_v4.pb
  tests/tensorflow/test_compressed_graph.py
Labels: NNCF TF

#885 Update link to TF Instance Segmentation sample
  README.md
Labels: documentation

#893 Slightly increased the thresholds for several models
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT

#897 Handles gamma fusion in BN layers
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/pruning/utils.py
  tests/tensorflow/data/reference_graphs/pruning/filter_pruning/inception_v3.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/inception_v3.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/inception_v3.pb
  tests/tensorflow/data/reference_graphs/sparsity/magnitude_sparsity/inception_v3.pb
  tests/tensorflow/data/reference_graphs/sparsity/rb_sparsity/inception_v3.dot
  tests/tensorflow/test_models/inception_v3.py
Labels: NNCF TF

#884 [TF] Unify scales for Concat
  README.md
  examples/tensorflow/classification/README.md
  examples/tensorflow/common/prepare_checkpoint.py
  examples/tensorflow/object_detection/README.md
  nncf/tensorflow/graph/model_transformer.py
  nncf/tensorflow/graph/transformations/commands.py
  nncf/tensorflow/quantization/algorithm.py
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/inception_v3.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/yolo_v4.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/inception_v3.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/yolo_v4.pb
  tests/tensorflow/quantization/test_algorithm_quantization.py
  tests/tensorflow/quantization/test_builder_state.py
  tests/tensorflow/quantization/test_unified_scales.py
  tests/tensorflow/sota_checkpoints_eval.json
  tests/tensorflow/test_transformations.py
Labels: NNCF TF
