Repository openvinotoolkit/nncf, pull requests merged in 2021-12, with the labels that each got.

#1024 Activations only ignored scopes processing
  nncf/torch/quantization/algo.py
  tests/torch/quantization/test_quantizer_propagation_solver.py
Labels: NNCF PT

#1039 Changed scipy version, to avoid 1.8.0rc1
  setup.py
Labels: dependencies, NNCF Common

#1046 Add NNCF repo commit hash to developer versions of the package
  .github/workflows/python-publish.yml
  setup.py
Labels: dependencies

#1045 Update AA result for TF
  examples/tensorflow/classification/README.md
Labels: NNCF TF

#1050 Make dev versions conform to PEP 440
  setup.py
  tests/common/helpers.py
  tests/tensorflow/test_install.py
  tests/torch/test_install.py
Labels: dependencies

#1052 Fix issues
  setup.py
Labels: dependencies
