Repository openvinotoolkit/nncf, pull requests merged in 2021-09, with the labels that each got.

#860 Add support quantization preset
  nncf/common/quantization/structs.py
  nncf/config/schema.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/torch/quantization/algo.py
  tests/tensorflow/quantization/test_algorithm_quantization.py
  tests/torch/quantization/test_algo_quantization.py
Labels: NNCF TF, NNCF PT

#911 Enabled Mask-RCNN test
  nncf/tensorflow/graph/model_transformer.py
  nncf/tensorflow/graph/transformations/commands.py
  nncf/tensorflow/graph/transformations/layout.py
  nncf/tensorflow/quantization/algorithm.py
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/mask_rcnn.dot
  tests/tensorflow/quantization/test_unified_scales.py
  tests/tensorflow/test_compressed_graph.py
  tests/tensorflow/test_transformations.py
Labels: NNCF TF

#925 Test for nncf vs keras.applications model graph equality
  tests/tensorflow/data/reference_graphs/pruning/filter_pruning/mobilenet_v1.pb
  tests/tensorflow/data/reference_graphs/pruning/filter_pruning/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/pruning/filter_pruning/resnet50_v2.pb
  tests/tensorflow/data/reference_graphs/quantized/hw/CPU/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/quantized/hw/GPU/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/quantized/hw/VPU/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/mobilenet_v1.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/mobilenet_v2_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/resnet50_v2.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/resnet50v2.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/mobilenet_v1.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/mobilenet_v2_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/resnet50_v2.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/resnet50v2.pb
  tests/tensorflow/data/reference_graphs/sparsity/magnitude_sparsity/mobilenet_v1.pb
  tests/tensorflow/data/reference_graphs/sparsity/magnitude_sparsity/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/sparsity/magnitude_sparsity/resnet50_v2.pb
  tests/tensorflow/data/reference_graphs/sparsity/magnitude_sparsity/resnet50v2.pb
  tests/tensorflow/data/reference_graphs/sparsity/rb_sparsity/inception_resnet_v2.dot
  tests/tensorflow/data/reference_graphs/sparsity/rb_sparsity/mobilenet_v1.dot
  tests/tensorflow/data/reference_graphs/sparsity/rb_sparsity/mobilenet_v2.dot
  tests/tensorflow/data/reference_graphs/sparsity/rb_sparsity/resnet50_v2.dot
  tests/tensorflow/data/reference_graphs/sparsity/rb_sparsity/resnet50v2.dot
  tests/tensorflow/test_compressed_graph.py
  tests/tensorflow/test_models/inception_resnet_v2.py
  tests/tensorflow/test_models/mobilenet.py
  tests/tensorflow/test_models/mobilenet_v2.py
  tests/tensorflow/test_models/resnet_v2.py
  tests/tensorflow/test_nncf_keras_graph_equality.py
Labels: NNCF TF

#928 Fix model_creation bug in TF
  nncf/tensorflow/helpers/model_creation.py
Labels: NNCF TF

#933 Fixed a bug with quantization of op with int32 inputs after Cast op
  README.md
  examples/tensorflow/segmentation/README.md
  nncf/tensorflow/graph/converter.py
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/mask_rcnn.dot
  tests/tensorflow/sota_checkpoints_eval.json
Labels: bug, NNCF TF

#953 Migrate to torch 1.9.1
  README.md
  examples/torch/requirements.txt
  nncf/version.py
  setup.py
  tests/torch/data/reference_graphs/const_sparsity/mobilenet_v2.dot
  tests/torch/data/reference_graphs/magnitude_sparsity/mobilenet_v2.dot
  tests/torch/data/reference_graphs/original/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_device_VPU.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_device_VPU__eval_subset_ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_device_VPU__eval_subset_ratio_0.4__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_device_VPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/hawq/mobilenet_v2_.dot
  tests/torch/data/reference_graphs/quantized/hawq/mobilenet_v2_device_CPU.dot
  tests/torch/data/reference_graphs/quantized/hawq/mobilenet_v2_device_TRIAL.dot
  tests/torch/data/reference_graphs/quantized/hawq/mobilenet_v2_device_VPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/mobilenet_v2_device_VPU__mode_strict__ratio_1.02.dot
  tests/torch/data/reference_graphs/quantized/hw/CPU/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized/hw/GPU/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized/hw/VPU/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized/symmetric/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/mobilenet_v2.dot
  tests/torch/data/reference_graphs/rb_sparsity/mobilenet_v2.dot
Labels: dependencies
