Repository openvinotoolkit/nncf, pull requests merged in 2021-05, with the labels that each got.

#646 Unify concat scales
  nncf/hw_configs/cpu.json
  nncf/hw_configs/gpu.json
  nncf/hw_configs/vpu.json
  nncf/quantization/algo.py
  nncf/quantization/layers.py
  nncf/quantization/metrics.py
  nncf/quantization/precision_init/hawq_init.py
  nncf/quantization/quantizer_propagation.py
  nncf/quantization/quantizer_setup.py
  nncf/quantization/structs.py
  tests/automl/test_quantization_env.py
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_all_activations_int8.dot
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_all_activations_int8_requnt.dot
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_all_int8.dot
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_all_int8_requnt.dot
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_all_weights_int8.dot
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_all_weights_int8_requnt.dot
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_bd_int8.dot
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_bd_int8_requnt.dot
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_max_int4.dot
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_max_int4_requnt.dot
  tests/data/reference_graphs/quantized/autoq/squeezenet1_1_device_VPU.dot
  tests/data/reference_graphs/quantized/synthetic_model/EmbeddingCatLinearModel.dot
  tests/quantization/test_algo_quantization.py
  tests/quantization/test_autoq_precision_init.py
  tests/quantization/test_quantizer_propagation_graph.py
  tests/quantization/test_range_init.py
  tests/quantization/test_unified_scales.py
Labels: NNCF PT

#643 [TF] rb sparsity several replicas mask distribution
  beta/README.md
  beta/examples/tensorflow/classification/configs/sparsity/mobilenet_v2_imagenet_rb_sparsity.json
  beta/examples/tensorflow/classification/configs/sparsity/resnet50_imagenet_magnitude_sparsity.json
  beta/examples/tensorflow/classification/configs/sparsity/resnet50_imagenet_rb_sparsity.json
  beta/examples/tensorflow/classification/configs/sparsity_quantization/inception_v3_imagenet_magnitude_sparsity_int8.json
  beta/examples/tensorflow/classification/configs/sparsity_quantization/inception_v3_imagenet_rb_sparsity_int8.json
  beta/examples/tensorflow/classification/configs/sparsity_quantization/mobilenet_v2_imagenet_magnitude_sparsity_int8.json
  beta/examples/tensorflow/classification/configs/sparsity_quantization/mobilenet_v2_imagenet_rb_sparsity_int8.json
  beta/examples/tensorflow/classification/configs/sparsity_quantization/resnet50_imagenet_magnitude_sparsity_int8.json
  beta/examples/tensorflow/classification/configs/sparsity_quantization/resnet50_imagenet_rb_sparsity_int8.json
  beta/examples/tensorflow/common/distributed.py
  beta/nncf/tensorflow/sparsity/rb/algorithm.py
  beta/nncf/tensorflow/sparsity/rb/functions.py
  beta/nncf/tensorflow/sparsity/rb/loss.py
  beta/nncf/tensorflow/sparsity/rb/operation.py
  beta/tests/sota_checkpoints_eval.json
  beta/tests/tensorflow/sparsity/rb/test_components.py
  beta/tests/tensorflow/sparsity/rb/test_integration.py
Labels: NNCF TF

#703 Added AC configs for MobilenetV3
  beta/tests/tensorflow/data/ac_configs/mobilenet_v3_large.yml
  beta/tests/tensorflow/data/ac_configs/mobilenet_v3_small.yml
Labels: NNCF TF

#700 Update threshold for yolov4 int8
  beta/tests/sota_checkpoints_eval.json
Labels: NNCF TF

#699 Filter pruning models support
  beta/examples/tensorflow/object_detection/models/yolo_v4_model.py
  beta/nncf/tensorflow/pruning/export_helpers.py
  beta/tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/yolo_v4.pb
  beta/tests/tensorflow/data/reference_graphs/quantized/symmetric/per_tensor/yolo_v4.pb
  beta/tests/tensorflow/data/reference_graphs/sparsity/magnitude_sparsity/yolo_v4.pb
  nncf/common/pruning/model_analysis.py
Labels: NNCF TF

#716 Update the system requirements in the Readme
  beta/README.md
Labels: NNCF TF

#704 Adjust requirements.txt
  beta/examples/requirements.txt
  beta/requirements.txt
  beta/tests/requirements.txt
Labels: NNCF TF

#726 Delete redundant reference graphs
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_all_activations_int8.dot.orig
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_all_activations_int8_requnt.dot.orig
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_all_int8.dot.orig
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_all_int8_requnt.dot.orig
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_all_weights_int8.dot.orig
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_all_weights_int8_requnt.dot.orig
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_bd_int8.dot.orig
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_bd_int8_requnt.dot.orig
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_max_int4.dot.orig
  tests/data/reference_graphs/quantized/adjust_paddings/vpu_max_int4_requnt.dot.orig
Labels: NNCF PT

#730 Fixed order of imports in samples
  beta/examples/tensorflow/object_detection/main.py
  beta/examples/tensorflow/segmentation/train.py
Labels: NNCF TF, bug

#729 added jstyleson to the requirements
  beta/requirements.txt
  nncf/config/config.py
Labels: NNCF TF

#737 fix pruning of SyncBatchNormalization layer
  beta/nncf/tensorflow/layers/common.py
  beta/tests/tensorflow/data/reference_graphs/pruning/filter_pruning/yolo_v4.pb
Labels: NNCF TF, bug

#724 Support meta-types in the TF backend
  beta/nncf/tensorflow/graph/converter.py
  beta/nncf/tensorflow/graph/metatypes/__init__.py
  beta/nncf/tensorflow/graph/metatypes/common.py
  beta/nncf/tensorflow/graph/metatypes/keras_layers.py
  beta/nncf/tensorflow/graph/metatypes/matcher.py
  beta/nncf/tensorflow/graph/metatypes/nncf_op.py
  beta/nncf/tensorflow/graph/metatypes/tf_ops.py
  beta/nncf/tensorflow/graph/patterns.py
  beta/nncf/tensorflow/graph/utils.py
  beta/nncf/tensorflow/layers/common.py
  beta/nncf/tensorflow/layers/data_layout.py
  beta/nncf/tensorflow/pruning/base_algorithm.py
  beta/nncf/tensorflow/pruning/export_helpers.py
  beta/nncf/tensorflow/pruning/filter_pruning/algorithm.py
  beta/nncf/tensorflow/pruning/utils.py
  beta/nncf/tensorflow/quantization/algorithm.py
  beta/nncf/tensorflow/sparsity/base_algorithm.py
  beta/nncf/tensorflow/sparsity/magnitude/algorithm.py
  beta/nncf/tensorflow/sparsity/rb/algorithm.py
  beta/tests/tensorflow/quantization/test_algorithm_quantization.py
  beta/tests/tensorflow/test_model_converter.py
  nncf/common/graph/graph.py
  nncf/common/graph/operator_metatypes.py
  nncf/common/hardware/config.py
  nncf/common/pruning/utils.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/trace_functions.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/graph/graph.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/nncf_network.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/quantization/quantizer_propagation.py
  tests/quantization/test_quantizer_propagation_solver.py
Labels: NNCF Common, NNCF TF

#711 Creation of the BatchnormAdaptationAlgorithm abstraction
  beta/nncf/tensorflow/batchnorm_adaptation.py
  nncf/common/batchnorm_adaptation.py
  nncf/common/factory.py
  nncf/common/initialization.py
  nncf/config/structure.py
  nncf/config/utils.py
  nncf/torch/automl/environment/quantization_env.py
  nncf/torch/batchnorm_adaptation.py
  nncf/torch/compression_method_api.py
  nncf/torch/initialization.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/quantization/algo.py
  nncf/torch/sparsity/magnitude/algo.py
  nncf/torch/structures.py
  tests/composite/test_sparsity_quantization.py
  tests/helpers.py
  tests/modules/test_rnn.py
  tests/quantization/test_adjust_padding.py
  tests/quantization/test_algo_quantization.py
  tests/quantization/test_hawq_precision_init.py
  tests/quantization/test_hw_config.py
  tests/quantization/test_logarithm_scale.py
  tests/quantization/test_manual_precision_init.py
  tests/quantization/test_onnx_export.py
  tests/quantization/test_quantization_metric.py
  tests/quantization/test_range_init.py
  tests/quantization/test_scheduler.py
  tests/quantization/test_unified_scales.py
  tests/sparsity/const/test_algo.py
  tests/test_algo_common.py
  tests/test_backward_compat.py
  tests/test_compressed_graph.py
  tests/test_context_independence.py
  tests/test_frozen_layers.py
  tests/test_graph_building.py
  tests/test_input_management.py
  tests/test_nncf_network.py
Labels: NNCF Common
