Repository openvinotoolkit/nncf, pull requests merged in 2021-06, with the labels that each got.

#741 Fix third party integration
  third_party_integration/huggingface_transformers/0001-Modifications-for-NNCF-usage.patch
  third_party_integration/mmdetection/0001-Modifications-for-NNCF-usage.patch
Labels: NNCF PT

#746 Fix circular import
  nncf/common/batchnorm_adaptation.py
  nncf/common/compression.py
  nncf/common/factory.py
Labels: NNCF Common

#756 Common collector of statistics for the sparse model
  beta/nncf/tensorflow/graph/utils.py
  beta/nncf/tensorflow/sparsity/collector.py
  beta/nncf/tensorflow/sparsity/magnitude/algorithm.py
  beta/nncf/tensorflow/sparsity/magnitude/operation.py
  beta/nncf/tensorflow/sparsity/rb/algorithm.py
  beta/nncf/tensorflow/sparsity/rb/operation.py
  nncf/common/sparsity/collector.py
  nncf/torch/sparsity/base_algo.py
  nncf/torch/sparsity/collector.py
  nncf/torch/sparsity/const/algo.py
  nncf/torch/sparsity/magnitude/algo.py
  nncf/torch/sparsity/rb/algo.py
  tests/torch/sparsity/magnitude/test_algo.py
  tests/torch/sparsity/rb/test_algo.py
Labels: NNCF Common, NNCF PT, NNCF TF

#747 Fixed test install for pip
  tests/torch/install_checks.py
  tests/torch/test_install.py
Labels: NNCF PT

#758 Fix link
  beta/examples/tensorflow/classification/README.md
Labels: NNCF TF

#757 Fix classification README.md
  beta/examples/tensorflow/classification/README.md
Labels: NNCF TF

#763 Save compression controller state together with model
  beta/examples/tensorflow/common/prepare_checkpoint.py
  beta/nncf/tensorflow/callbacks/statistics_callback.py
Labels: NNCF TF

#740 BNadaptation TF implementation
  beta/examples/tensorflow/classification/configs/quantization/inception_v3_imagenet_int8.json
  beta/examples/tensorflow/classification/configs/quantization/mobilenet_v2_imagenet_int8.json
  beta/examples/tensorflow/classification/configs/quantization/mobilenet_v3_large_imagenet_int8.json
  beta/examples/tensorflow/classification/configs/quantization/mobilenet_v3_small_imagenet_int8.json
  beta/examples/tensorflow/classification/configs/quantization/resnet50_imagenet_int8.json
  beta/examples/tensorflow/classification/main.py
  beta/nncf/tensorflow/batchnorm_adaptation.py
  beta/nncf/tensorflow/helpers/model_creation.py
  beta/nncf/tensorflow/initialization.py
  beta/nncf/tensorflow/pruning/filter_pruning/algorithm.py
  beta/nncf/tensorflow/quantization/algorithm.py
  beta/nncf/tensorflow/sparsity/magnitude/algorithm.py
  beta/tests/tensorflow/test_bn_adaptation.py
  nncf/common/batchnorm_adaptation.py
  nncf/config/utils.py
Labels: NNCF TF

#761 target_sparsity_level and target_pruning_level statistics were added
  beta/nncf/tensorflow/pruning/callbacks.py
  beta/nncf/tensorflow/pruning/filter_pruning/algorithm.py
  beta/nncf/tensorflow/sparsity/callbacks.py
  beta/nncf/tensorflow/sparsity/magnitude/algorithm.py
  beta/nncf/tensorflow/sparsity/rb/algorithm.py
  nncf/common/pruning/statistics.py
  nncf/common/sparsity/statistics.py
  nncf/common/utils/tensorboard.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/sparsity/magnitude/algo.py
  nncf/torch/sparsity/rb/algo.py
Labels: NNCF Common, NNCF PT, NNCF TF

#766 masks_consistency param was removed
  nncf/common/sparsity/statistics.py
  nncf/tensorflow/sparsity/rb/algorithm.py
  nncf/torch/sparsity/rb/algo.py
Labels: NNCF Common, NNCF PT, NNCF TF

#767 Move rb sparsity algo to TFTransformationLayout
  nncf/tensorflow/sparsity/rb/algorithm.py
  tests/tensorflow/data/reference_graphs/sparsity/rb_sparsity/nasnet_mobile.dot
  tests/tensorflow/data/reference_graphs/sparsity/rb_sparsity/xception.dot
Labels: NNCF TF

#771 Add automatic eol conversion to .gitattributes
  .gitattributes
  examples/tensorflow/common/object_detection/architecture/darknet.py
  examples/tensorflow/common/object_detection/utils/yolo_v4_utils.py
  examples/tensorflow/common/prepare_checkpoint.py
  examples/tensorflow/object_detection/postprocessing/yolo_v4_postprocessing.py
  examples/tensorflow/requirements.txt
  nncf/tensorflow/initialization.py
  tests/tensorflow/data/ac_configs/retinanet.yml
  tests/tensorflow/data/ac_configs/tf1_mobilenet_v2_1.0_224_sparsity_35.yml
  tests/tensorflow/data/ac_configs/yolo_v4.yml
  tests/tensorflow/data/ac_configs/yolo_v4_int8_w_sym_ch_a_asym_t.yml
  tests/tensorflow/requirements.txt
  tests/tensorflow/test_bn_adaptation.py
  tests/tensorflow/test_wrapper_freeze.py
  tests/torch/data/ac_configs/unet_mapillary.yml
  tests/torch/data/ac_configs/unet_mapillary_int8.yml
  tests/torch/data/ac_configs/unet_mapillary_magnitude_sparsity_int8.yml
  tests/torch/data/ac_configs/unet_mapillary_pruning_geometric_median.yml
Labels: NNCF Common

#774 Add mobilenetv3 small rb int8 sat issue fix
  examples/tensorflow/classification/README.md
  examples/tensorflow/classification/configs/sparsity_quantization/mobilenet_v3_small_imagenet_magnitude_sparsity_int8.json
  examples/tensorflow/classification/configs/sparsity_quantization/mobilenet_v3_small_imagenet_rb_sparsity_int8.json
  nncf/tensorflow/README.md
  tests/tensorflow/quantization/test_saturation_issue.py
  tests/tensorflow/sota_checkpoints_eval.json
Labels: NNCF TF

#773 Refactor sparsity utils.py
  nncf/tensorflow/sparsity/rb/algorithm.py
  nncf/tensorflow/sparsity/utils.py
Labels: NNCF TF

#765 Added execution model converting in venv
  tests/tensorflow/test_sota_checkpoints.py
Labels: NNCF TF

#782 Updated python3.6.2 requirements
  setup.py
Labels: NNCF Common

#738 Weights and flops calculation
  nncf/common/pruning/statistics.py
  nncf/common/pruning/utils.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/torch/pruning/filter_pruning/algo.py
  tests/torch/pruning/filter_pruning/test_algo.py
Labels: NNCF Common, NNCF TF

#786 Fix import order
  examples/tensorflow/segmentation/train.py
Labels: NNCF TF

#787 Fix quantization init
  examples/tensorflow/segmentation/evaluation.py
  nncf/config/extractors.py
  nncf/tensorflow/quantization/algorithm.py
  tests/tensorflow/data/configs/mask_rcnn_coco2017_magnitude_sparsity_int8.json
  tests/tensorflow/test_sanity_sample.py
Labels: NNCF TF

#775 Added Conv + Identity pattern
  examples/tensorflow/common/prepare_checkpoint.py
  examples/tensorflow/object_detection/README.md
  examples/tensorflow/segmentation/README.md
  nncf/tensorflow/README.md
  nncf/tensorflow/graph/patterns.py
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/retinanet.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/retinanet_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/asymmetric/per_channel/yolo_v4.pb
  tests/tensorflow/data/reference_graphs/quantized/symmetric/per_tensor/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/quantized/symmetric/per_tensor/retinanet.pb
  tests/tensorflow/data/reference_graphs/quantized/symmetric/per_tensor/retinanet_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/symmetric/per_tensor/yolo_v4.pb
  tests/tensorflow/sota_checkpoints_eval.json
Labels: NNCF TF

#798 Add MaskRCNN with saturation issue
  examples/tensorflow/segmentation/README.md
  examples/tensorflow/segmentation/configs/quantization/mask_rcnn_coco_int8.json
  tests/tensorflow/sota_checkpoints_eval.json
Labels: NNCF TF

#783 Add target compression idx to layer attributes
  examples/torch/semantic_segmentation/configs/unet_camvid_int8.json
  nncf/common/graph/layer_attributes.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/init_range.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantizer_propagation.py
  nncf/torch/quantization/quantizer_setup.py
  nncf/torch/utils.py
  tests/torch/helpers.py
  tests/torch/quantization/test_onnx_export.py
  tests/torch/quantization/test_unified_scales.py
Labels: NNCF Common, NNCF PT

#797 Unify prepare_checkpoint.py
  examples/tensorflow/common/prepare_checkpoint.py
  tests/tensorflow/test_sanity_sample.py
Labels: NNCF TF
