Repository openvinotoolkit/nncf, pull requests merged in 2022-01, with the labels that each got.

#1058 Fix weight norm applied to modules
  nncf/torch/layers.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT

#1059 Presume CPU device for parameter-less models
  nncf/torch/algo_selector.py
  nncf/torch/binarization/algo.py
  nncf/torch/dynamic_graph/graph_tracer.py
  nncf/torch/dynamic_graph/io_handling.py
  nncf/torch/initialization.py
  nncf/torch/nncf_network.py
  nncf/torch/pruning/base_algo.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/hessian_trace.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/precision_init/hawq_init.py
  nncf/torch/sparsity/base_algo.py
  nncf/torch/sparsity/rb/algo.py
  nncf/torch/utils.py
  tests/torch/modules/test_rnn.py
  tests/torch/quantization/test_algo_quantization.py
  tests/torch/quantization/test_hawq_precision_init.py
  tests/torch/quantization/test_unified_scales.py
  tests/torch/test_compressed_graph.py
  tests/torch/test_knowledge_distillation.py
  tests/torch/test_models/synthetic.py
Labels: NNCF PT

#1065 Freeze pandas version to exclude the broken 1.4.0rc0 and higher
  setup.py
Labels: dependencies

#1064 Update README.md
  examples/torch/object_detection/README.md
Labels: documentation, NNCF PT

#1067 Fix bug in test_sanity_AA
  tests/torch/test_sanity_sample.py
Labels: NNCF PT

#1069 Add missed comma in example pruning config
  docs/compression_algorithms/Pruning.md
Labels: documentation

#1068 Add mobilenet v3 small and mobilenet v3 small int8 in E2E test
  README.md
  examples/torch/classification/README.md
  examples/torch/classification/configs/quantization/mobilenet_v3_small_imagenet.json
  examples/torch/classification/configs/quantization/mobilenet_v3_small_imagenet_int8.json
  tests/torch/data/ac_configs/mobilenet_v3_small_imagenet.yml
  tests/torch/data/ac_configs/mobilenet_v3_small_imagenet_int8.yml
  tests/torch/sota_checkpoints_eval.json
Labels: documentation, NNCF PT

#1073 Set memory growth = True
  examples/tensorflow/common/distributed.py
  examples/tensorflow/common/utils.py
Labels: NNCF TF

#1075 Register torch.mm as a matmul operation
  nncf/common/hardware/configs/cpu.json
  nncf/common/hardware/opset.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/graph/pattern_operations.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/MMDivConv.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/normalize.dot
  tests/torch/test_compressed_graph.py
  tests/torch/test_models/synthetic.py
Labels: NNCF PT, NNCF Common

#1078 Remove deprecated approach in fusing patterns
  nncf/tensorflow/graph/pattern_matching.py
Labels: NNCF TF

#1074 Launch BN adaptation for quantization only for non-zero sample values
  nncf/common/compression.py
  nncf/config/extractors.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/torch/quantization/algo.py
  tests/tensorflow/quantization/test_builder_state.py
  tests/tensorflow/test_bn_adaptation.py
  tests/torch/quantization/test_algo_quantization.py
Labels: NNCF TF, NNCF PT, NNCF Common

#1070 Introduce ONNX GraphConverter to get NNCFGraph from ONNX
  nncf/experimental/onnx/__init__.py
  nncf/experimental/onnx/graph/__init__.py
  nncf/experimental/onnx/graph/metatypes/__init__.py
  nncf/experimental/onnx/graph/metatypes/onnx_ops.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/experimental/onnx/hardware/__init__.py
  nncf/experimental/onnx/hardware/config.py
  nncf/experimental/onnx/hardware/fused_patterns.py
  nncf/experimental/onnx/requirements.txt
  tests/onnx/__init__.py
  tests/onnx/data/reference_graphs/int_edges_model.dot
  tests/onnx/data/reference_graphs/linear_model.dot
  tests/onnx/data/reference_graphs/multi_input_output_model.dot
  tests/onnx/models.py
  tests/onnx/requirements.txt
  tests/onnx/test_nncf_graph_builder.py
  tests/torch/helpers.py
  tests/torch/modules/test_rnn.py
  tests/torch/quantization/test_onnx_export.py
  tests/torch/quantization/test_overflow_issue_export.py
  tests/torch/quantization/test_unified_scales.py
  tests/torch/test_algo_common.py
  tools/onnx_tranformer.py
Labels: NNCF PT, experimental

#1085 Fix ONNX export for quantizers on branches
  nncf/torch/quantization/quantize_functions.py
  nncf/torch/utils.py
  tests/torch/quantization/test_onnx_export.py
  tests/torch/quantization/test_unified_scales.py
Labels: NNCF PT

#1086 Completely removed input masks for mask propagation
  nncf/common/pruning/operations.py
  nncf/common/pruning/utils.py
  nncf/torch/pruning/utils.py
Labels: NNCF PT, NNCF Common

#1080 Expand the weekly test
  tests/tensorflow/test_weekly.py
Labels: NNCF TF

#1088 Cast scale to the input_low/input_range dtype
  nncf/torch/quantization/quantize_functions.py
Labels: NNCF PT

#1084 `disable-compression` command line option
  examples/tensorflow/classification/README.md
  examples/tensorflow/common/argparser.py
  examples/tensorflow/common/sample_config.py
  examples/tensorflow/object_detection/README.md
  examples/tensorflow/segmentation/README.md
Labels: documentation, NNCF TF

#1076 Fuse LeakyReLU along with other non-ReLU activations
  nncf/torch/graph/pattern_operations.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/ConvBNLeakyReLU.dot
  tests/torch/test_compressed_graph.py
  tests/torch/test_models/synthetic.py
Labels: NNCF PT
