Repository openvinotoolkit/nncf, pull requests merged in 2022-07, with the labels that each got.

#1215 [Pruning] Input shapes param removal
  nncf/common/pruning/utils.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/pruning/utils.py
  tests/tensorflow/pruning/test_flops_pruning.py
  tests/torch/pruning/filter_pruning/test_algo.py
Labels: NNCF TF, NNCF PT, NNCF Common, experimental

#1212 Add reorder weights for Linear layer
  nncf/torch/pruning/operations.py
  tests/torch/nas/models/synthetic.py
  tests/torch/nas/test_elastic_width.py
Labels: NNCF PT

#1214 Revise ONNX PTQ pipeline
  examples/experimental/onnx/classification/onnx_ptq_classification.py
  examples/experimental/onnx/performance_checker.py
  examples/experimental/onnx/run_ptq.py
  examples/experimental/onnx/semantic_segmentation/onnx_ptq_segmentation.py
  nncf/common/tensor.py
  nncf/experimental/onnx/datasets/imagenet_dataset.py
  nncf/experimental/onnx/datasets/segmentation_dataset.py
  nncf/experimental/onnx/engine.py
  nncf/experimental/onnx/samplers.py
  nncf/experimental/onnx/statistics/collectors.py
  nncf/experimental/post_training/api/dataset.py
  nncf/experimental/post_training/api/engine.py
  nncf/experimental/post_training/api/metric.py
  nncf/experimental/post_training/api/sampler.py
  nncf/experimental/post_training/samplers.py
  tests/onnx/quantization/common.py
  tests/onnx/sanity_tests/test_classification_sanity_sample.py
  tests/onnx/sanity_tests/test_segmentation_sanity_sample.py
  tests/onnx/test_samplers.py
  tests/onnx/test_statistics_aggregator.py
Labels: NNCF Common, experimental, ready for reviews

#1216 Fix ONNX PTQ API for yolov3-12 and tiny-yolov3-11 models
  examples/experimental/onnx/README.md
  examples/experimental/onnx/det_and_seg/onnx_models_configs/tiny-yolov3-11.yml
  examples/experimental/onnx/det_and_seg/onnx_models_configs/yolov3-12.yml
  examples/experimental/onnx/run_ptq.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
Labels: documentation, experimental, ready for reviews

#1217 [ONNX PTQ API] Fix retinanet-9
  examples/experimental/onnx/README.md
  examples/experimental/onnx/det_and_seg/onnx_models_configs/yolov4.yml
  nncf/experimental/onnx/algorithms/quantization/min_max_quantization.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_graphs.py
Labels: documentation, experimental, ready for reviews

#1223 [ONNX PTQ API] Fix ssd-12
  examples/experimental/onnx/README.md
  examples/experimental/onnx/run_ptq.py
  nncf/experimental/onnx/algorithms/quantization/min_max_quantization.py
  nncf/experimental/onnx/model_normalizer.py
  nncf/experimental/post_training/compression_builder.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_graphs.py
Labels: documentation, experimental, ready for reviews

#1224 Fix FasterRCNN-12 and MaskRCNN-12
  examples/experimental/onnx/README.md
  examples/experimental/onnx/classification/onnx_models_configs/densenet-12.yml
  examples/experimental/onnx/classification/onnx_models_configs/inception-v2-9.yml
  examples/experimental/onnx/det_and_seg/onnx_models_configs/FasterRCNN-12.yml
  examples/experimental/onnx/det_and_seg/onnx_models_configs/MaskRCNN-12.yml
  examples/experimental/onnx/performance_checker.py
  examples/experimental/onnx/run_ptq.py
  nncf/experimental/onnx/algorithms/quantization/min_max_quantization.py
  nncf/experimental/onnx/algorithms/quantization/utils.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/experimental/onnx/samplers.py
  nncf/experimental/post_training/api/dataset.py
  nncf/experimental/post_training/api/sampler.py
Labels: documentation, experimental, ready for reviews

#1222 Add sample rate for subnet sampling in BootstrapNAS and fix search example
  examples/experimental/torch/classification/bootstrap_nas_search.py
  nncf/config/experimental_schema.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_controller.py
  nncf/experimental/torch/nas/bootstrapNAS/training/stage_descriptor.py
  tests/torch/nas/test_all_elasticity.py
Labels: NNCF PT, experimental

#1226 Add onnx e2e test
  examples/experimental/onnx/README.md
  examples/experimental/onnx/det_and_seg/onnx_models_configs/fcn-resnet50-12.yml
  examples/experimental/onnx/performance_checker.py
  examples/experimental/onnx/run_ptq.py
  examples/experimental/onnx/run_ptq_onnx_models.sh
  tests/onnx/README.md
  tests/onnx/conftest.py
  tests/onnx/pytest.ini
  tests/onnx/requirements.txt
  tests/onnx/test_e2e_ptq.py
Labels: documentation, ready for reviews

#1227 Remove ONNX PTQ API performance results from README.md
  examples/experimental/onnx/README.md
Labels: documentation

#1233 Replace a saving ONNX temporal model on disk with model serialization
  nncf/experimental/onnx/engine.py
  tests/onnx/quantization/common.py
Labels: experimental

#1231 Implement FracBitsQuantizers
  nncf/experimental/torch/fracbits/__init__.py
  nncf/experimental/torch/fracbits/quantizer.py
  nncf/experimental/torch/fracbits/structs.py
  tests/torch/experimental/fracbits/test_quantizer.py
Labels: NNCF PT, experimental, ready for reviews

#1237 Revert "Implement FracBitsQuantizers"
  nncf/experimental/torch/fracbits/__init__.py
  nncf/experimental/torch/fracbits/quantizer.py
  nncf/experimental/torch/fracbits/structs.py
  tests/torch/experimental/fracbits/test_quantizer.py
Labels: NNCF PT, experimental

#1236 Add pruning stats docs
  docs/compression_algorithms/Pruning.md
  nncf/common/pruning/schedulers.py
  nncf/common/pruning/statistics.py
  nncf/common/pruning/utils.py
  nncf/config/schema.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
Labels: documentation, NNCF TF, NNCF Common
