Repository openvinotoolkit/nncf, pull requests merged in 2022-09, with the labels that each got.

#1265 Limited matplotlib version for python >=3.7
  setup.py
Labels: dependencies

#1244 Pruning support for chunk ops
  nncf/common/graph/layer_attributes.py
  nncf/common/graph/utils.py
  nncf/common/hardware/opset.py
  nncf/common/pruning/operations.py
  nncf/common/pruning/symbolic_mask.py
  nncf/common/pruning/tensor_processor.py
  nncf/common/pruning/utils.py
  nncf/tensorflow/graph/converter.py
  nncf/tensorflow/graph/metatypes/common.py
  nncf/tensorflow/pruning/operations.py
  nncf/tensorflow/pruning/tensor_processor.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/pruning/operations.py
  nncf/torch/pruning/tensor_processor.py
  tests/common/pruning/__init__.py
  tests/common/pruning/dummy_types.py
  tests/common/pruning/tensor.py
  tests/common/pruning/test_pruning_operations.py
  tests/tensorflow/pruning/helpers.py
  tests/tensorflow/pruning/test_algorithm.py
  tests/tensorflow/pruning/test_tensor_processor.py
  tests/tensorflow/test_model_converter.py
  tests/torch/pruning/helpers.py
  tests/torch/pruning/test_model_pruning_analysis.py
  tests/torch/pruning/test_tensor_processor.py
  tests/torch/test_graph_building.py
Labels: NNCF TF, NNCF PT, NNCF Common

#1266 Fix third-party sanity tests
  tests/torch/test_sanity_third_party.py
Labels: NNCF PT

#1210 [Pruning algo] Filter counting fix for linear layers
  nncf/common/pruning/mask_propagation.py
  nncf/common/pruning/node_selector.py
  nncf/common/pruning/operations.py
  nncf/common/pruning/shape_pruning_processor.py
  nncf/common/pruning/symbolic_mask.py
  nncf/common/pruning/utils.py
  nncf/common/pruning/weights_flops_calculator.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/tensorflow/pruning/utils.py
  nncf/torch/pruning/base_algo.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/pruning/utils.py
  tests/common/pruning/test_pruning_operations.py
  tests/common/pruning/test_symbolic_mask_processor.py
  tests/common/pruning/test_utils.py
  tests/tensorflow/pruning/helpers.py
  tests/tensorflow/pruning/test_algorithm.py
  tests/tensorflow/pruning/test_flops_pruning.py
  tests/torch/nas/test_flops.py
  tests/torch/pruning/filter_pruning/test_algo.py
  tests/torch/pruning/filter_pruning/test_flops_pruning.py
  tests/torch/pruning/helpers.py
  tests/torch/pruning/test_model_pruning_analysis.py
Labels: NNCF TF, NNCF PT, NNCF Common, experimental

#1267 Add output_port_id, input_port_id to the NNCFGraph visualization
  nncf/common/graph/graph.py
Labels: NNCF Common

#1269 TF2.8 support minor update
  nncf/version.py
  tests/tensorflow/sota_checkpoints_eval.json
Labels: NNCF TF

#1243 Add accuracy acceptance criteria to onnx e2e test
  tests/onnx/README.md
  tests/onnx/data/reference_model_accuracy/classification/accuracy_checker-reference.csv
  tests/onnx/data/reference_model_accuracy/object_detection_segmentation/accuracy_checker-reference.csv
  tests/onnx/data/reference_model_accuracy/reference.json
  tests/onnx/requirements.txt
  tests/onnx/test_e2e_ptq.py
Labels: documentation, ready for reviews

#1264 ONNX PTQ API cleaning & improvement
  .pylintrc
  nncf/experimental/onnx/algorithms/quantization/min_max_quantization.py
  nncf/experimental/onnx/engine.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/statistics/aggregator.py
  nncf/experimental/post_training/algorithms/__init__.py
  nncf/experimental/post_training/algorithms/algorithm.py
  nncf/experimental/post_training/algorithms/quantization/algorithm.py
  nncf/experimental/post_training/algorithms/quantization/min_max_quantization.py
  nncf/experimental/post_training/api/engine.py
  nncf/experimental/post_training/compression_builder.py
  nncf/experimental/post_training/graph/factories.py
  nncf/experimental/post_training/graph/model_transformer.py
  nncf/experimental/post_training/samplers.py
  nncf/experimental/post_training/statistics/aggregator.py
Labels: experimental

#1274 numpy version update for openvino compatibility
  setup.py
Labels: dependencies

#1268 Refactor schemata and prepare for rendering.
  .github/workflows/build_schema_page.yml
  README.md
  docs/accuracy_aware_model_training/AdaptiveCompressionLevelTraining.md
  docs/accuracy_aware_model_training/EarlyExitTraining.md
  docs/compression_algorithms/Pruning.md
  examples/tensorflow/common/utils.py
  examples/torch/classification/staged_quantization_worker.py
  examples/torch/common/utils.py
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/pruning/schedulers.py
  nncf/common/quantization/initialization/range.py
  nncf/common/quantization/structs.py
  nncf/common/sparsity/schedulers.py
  nncf/config/config.py
  nncf/config/definitions.py
  nncf/config/extractors.py
  nncf/config/schema.py
  nncf/config/schemata/__init__.py
  nncf/config/schemata/accuracy_aware.py
  nncf/config/schemata/algo/__init__.py
  nncf/config/schemata/algo/binarization.py
  nncf/config/schemata/algo/const_sparsity.py
  nncf/config/schemata/algo/filter_pruning.py
  nncf/config/schemata/algo/knowledge_distillation.py
  nncf/config/schemata/algo/magnitude_sparsity.py
  nncf/config/schemata/algo/quantization.py
  nncf/config/schemata/algo/rb_sparsity.py
  nncf/config/schemata/basic.py
  nncf/config/schemata/common/__init__.py
  nncf/config/schemata/common/compression.py
  nncf/config/schemata/common/initialization.py
  nncf/config/schemata/common/sparsity.py
  nncf/config/schemata/common/targeting.py
  nncf/config/schemata/defaults.py
  nncf/config/schemata/experimental_schema.py
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/tensorflow/quantization/init_range.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/tensorflow/sparsity/rb/algorithm.py
  nncf/torch/binarization/algo.py
  nncf/torch/knowledge_distillation/algo.py
  nncf/torch/pruning/base_algo.py
  nncf/torch/pruning/filter_pruning/global_ranking/legr.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/init_range.py
  nncf/torch/quantization/precision_init/autoq_init.py
  nncf/torch/quantization/precision_init/hawq_init.py
  nncf/torch/quantization/schedulers.py
  nncf/torch/sparsity/magnitude/algo.py
  nncf/torch/sparsity/rb/algo.py
  tests/tensorflow/test_compressed_graph.py
  tests/torch/accuracy_aware_training/test_accuracy_aware_config.py
Labels: documentation, NNCF TF, NNCF PT, NNCF Common
