Repository openvinotoolkit/nncf, pull requests merged in 2022-03, with the labels that each got.

#1048 Implementation of the experimental quantization algorithm
  examples/tensorflow/classification/main.py
  examples/tensorflow/common/sample_config.py
  examples/tensorflow/object_detection/main.py
  examples/tensorflow/segmentation/evaluation.py
  examples/tensorflow/segmentation/train.py
  nncf/config/config.py
  nncf/config/experimental_schema.py
  nncf/config/extractors.py
  nncf/config/schema.py
  nncf/config/utils.py
  nncf/experimental/__init__.py
  nncf/experimental/tensorflow/__init__.py
  nncf/experimental/tensorflow/context.py
  nncf/experimental/tensorflow/graph/__init__.py
  nncf/experimental/tensorflow/graph/argprovider.py
  nncf/experimental/tensorflow/graph/converter.py
  nncf/experimental/tensorflow/graph/model_transformer.py
  nncf/experimental/tensorflow/graph/node_attributes.py
  nncf/experimental/tensorflow/graph/transformations/__init__.py
  nncf/experimental/tensorflow/graph/transformations/commands.py
  nncf/experimental/tensorflow/graph/transformations/layout.py
  nncf/experimental/tensorflow/nncf_network.py
  nncf/experimental/tensorflow/patch_tf.py
  nncf/experimental/tensorflow/quantization/__init__.py
  nncf/experimental/tensorflow/quantization/algorithm.py
  nncf/experimental/tensorflow/quantization/init_range.py
  nncf/experimental/tensorflow/quantization/quantizers.py
  nncf/experimental/tensorflow/scope.py
  nncf/tensorflow/graph/converter.py
  nncf/tensorflow/graph/metatypes/common.py
  nncf/tensorflow/graph/metatypes/tf_ops.py
  nncf/tensorflow/graph/patterns.py
  nncf/tensorflow/hardware/fused_patterns.py
  nncf/tensorflow/helpers/model_creation.py
  nncf/tensorflow/helpers/model_manager.py
  nncf/tensorflow/layers/data_layout.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/quantization/default_quantization.py
  nncf/tensorflow/quantization/quantizers.py
  tests/experimental/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/resnet50.pb
  tests/experimental/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/resnet50.pb
  tests/experimental/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/simple.pb
  tests/experimental/tensorflow/test_compressed_graph.py
  tests/experimental/tensorflow/test_context_independence.py
  tests/experimental/tensorflow/test_models/__init__.py
  tests/experimental/tensorflow/test_models/resnet.py
  tests/tensorflow/quantization/test_algorithm_quantization.py
  tests/tensorflow/test_model_converter.py
Labels: NNCF TF, experimental

#1122 Link to the HF path documentation
  README.md
Labels: documentation

#1107 Add IR name for GELU.
  nncf/common/hardware/opset.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/ConvGeluGetItem.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/GELU.dot
  tests/torch/quantization/test_hw_config.py
  tests/torch/test_compressed_graph.py
  tests/torch/test_models/synthetic.py
Labels: NNCF PT, NNCF Common

#1129 Config was fixed
  examples/tensorflow/segmentation/configs/quantization/mask_rcnn_coco_int8.json
Labels: NNCF TF

#1127 Update of KD results for huggingface and torch/classification sample
  examples/torch/classification/README.md
  examples/torch/classification/configs/pruning/resnet34_pruning_geometric_median.json
  examples/torch/classification/configs/pruning/resnet34_pruning_geometric_median_kd.json
  third_party_integration/huggingface_transformers/0001-Modifications-for-NNCF-usage.patch
  third_party_integration/huggingface_transformers/README.md
Labels: documentation, NNCF PT

#1119 Add tests for evaluation with initialization in TF
  examples/tensorflow/classification/datasets/builder.py
  examples/tensorflow/classification/main.py
  examples/tensorflow/common/argparser.py
  examples/tensorflow/common/tfrecords_dataset.py
  examples/tensorflow/common/utils.py
  examples/tensorflow/object_detection/main.py
  nncf/tensorflow/tensor_statistics/reduction.py
  tests/tensorflow/sota_checkpoints_eval.json
  tests/tensorflow/test_init.py
  tests/tensorflow/test_sota_checkpoints.py
Labels: NNCF TF

#1125 BugFixes for EarlyExitCompressionTrainingLoop
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/tensorflow/accuracy_aware_training/runner.py
  nncf/torch/accuracy_aware_training/runner.py
  tests/torch/accuracy_aware_training/test_training_loop.py
Labels: NNCF TF, NNCF PT, NNCF Common

#1132 check in aa that tensorboard is available
  nncf/torch/accuracy_aware_training/runner.py
Labels: NNCF PT

#1133 Add option to set onnx opeset version
  nncf/torch/exporter.py
  tests/torch/test_onnx_export.py
Labels: NNCF PT

#1120 Build NNCF extensions in separate folders per torch version
  .pylintrc
  examples/torch/object_detection/layers/extensions/__init__.py
  nncf/torch/binarization/extensions.py
  nncf/torch/extensions/__init__.py
  nncf/torch/quantization/extensions.py
  tests/torch/test_extensions_build.py
Labels: NNCF PT

#1114 Fixes to add TF weekly test
  examples/tensorflow/segmentation/configs/quantization/mask_rcnn_coco_int8.json
Labels: NNCF TF

#1098 Correct statistics (filter pruning and sparsity)
  nncf/common/pruning/schedulers.py
  nncf/common/pruning/utils.py
  nncf/common/schedulers.py
  nncf/common/sparsity/schedulers.py
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/torch/pruning/filter_pruning/algo.py
  tests/tensorflow/pruning/test_flops_pruning.py
  tests/tensorflow/sparsity/magnitude/test_algorithm.py
  tests/tensorflow/sparsity/rb/test_algorithm.py
  tests/torch/pruning/filter_pruning/test_algo.py
  tests/torch/sparsity/test_common.py
Labels: NNCF TF, NNCF PT, NNCF Common

#1138 ArgProvider update
  nncf/experimental/tensorflow/graph/argprovider.py
  nncf/experimental/tensorflow/patch_tf.py
Labels: experimental

#1140 Fixed layer_attributes for BatchNorm ops
  nncf/common/graph/layer_attributes.py
  nncf/torch/layers.py
  tests/torch/test_layer_attributes.py
Labels: NNCF PT, NNCF Common

#1123 ONNX Post-Training MinMax Quantization
  nncf/common/tensor_statistics/collectors.py
  nncf/experimental/onnx/algorithms/__init__.py
  nncf/experimental/onnx/algorithms/quantization/__init__.py
  nncf/experimental/onnx/algorithms/quantization/default_quantization.py
  nncf/experimental/onnx/algorithms/quantization/min_max_quantization.py
  nncf/experimental/onnx/algorithms/quantization/utils.py
  nncf/experimental/onnx/dataloaders/__init__.py
  nncf/experimental/onnx/dataloaders/imagenet_dataloader.py
  nncf/experimental/onnx/engine.py
  nncf/experimental/onnx/graph/metatypes/onnx_ops.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/experimental/onnx/graph/transformations/__init__.py
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/experimental/onnx/graph/transformations/layout.py
  nncf/experimental/onnx/hardware/fused_patterns.py
  nncf/experimental/onnx/hardware/pattern_operations.py
  nncf/experimental/onnx/hardware/patterns.py
  nncf/experimental/onnx/model_normalizer.py
  nncf/experimental/onnx/requirements.txt
  nncf/experimental/onnx/samplers.py
  nncf/experimental/onnx/statistics/__init__.py
  nncf/experimental/onnx/statistics/aggregator.py
  nncf/experimental/onnx/statistics/collectors.py
  nncf/experimental/onnx/statistics/statistics.py
  nncf/experimental/onnx/tensor.py
  nncf/experimental/post_training/__init__.py
  nncf/experimental/post_training/algorithms/__init__.py
  nncf/experimental/post_training/algorithms/algorithm.py
  nncf/experimental/post_training/algorithms/quantization/__init__.py
  nncf/experimental/post_training/algorithms/quantization/algorithm.py
  nncf/experimental/post_training/algorithms/quantization/min_max_quantization.py
  nncf/experimental/post_training/api/__init__.py
  nncf/experimental/post_training/api/dataloader.py
  nncf/experimental/post_training/api/engine.py
  nncf/experimental/post_training/backend.py
  nncf/experimental/post_training/compression_builder.py
  nncf/experimental/post_training/sampler.py
  nncf/experimental/post_training/statistics/__init__.py
  nncf/experimental/post_training/statistics/aggregator.py
  tests/onnx/data/reference_graphs/quantization/googlenet.dot
  tests/onnx/data/reference_graphs/quantization/inception_v3.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/quantization/resnet18.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/vgg16.dot
  tests/onnx/models.py
  tests/onnx/quantization/__init__.py
  tests/onnx/quantization/test_quantized_graph.py
  tests/onnx/requirements.txt
  tests/onnx/test_metatypes.py
  tests/onnx/test_model_transformer.py
  tests/onnx/test_samplers.py
  tests/onnx/test_statistics_aggregator.py
Labels: NNCF Common, experimental

#1090 Transition to torchvision class for torch object detection examples
  examples/torch/object_detection/README.md
  examples/torch/object_detection/dataset.py
  examples/torch/object_detection/datasets/voc0712.py
  examples/torch/object_detection/main.py
  examples/torch/object_detection/utils/augmentations.py
  tests/torch/data/mock_datasets/voc/VOCdevkit/VOC2007/Annotations/000001.xml
  tests/torch/data/mock_datasets/voc/VOCdevkit/VOC2007/Annotations/000002.xml
  tests/torch/data/mock_datasets/voc/VOCdevkit/VOC2007/Annotations/000003.xml
  tests/torch/data/mock_datasets/voc/VOCdevkit/VOC2007/Annotations/000004.xml
  tests/torch/data/mock_datasets/voc/VOCdevkit/VOC2007/ImageSets/Main/test.txt
  tests/torch/data/mock_datasets/voc/VOCdevkit/VOC2007/ImageSets/Main/trainval.txt
  tests/torch/data/mock_datasets/voc/VOCdevkit/VOC2007/JPEGImages/000001.jpg
  tests/torch/data/mock_datasets/voc/VOCdevkit/VOC2007/JPEGImages/000002.jpg
  tests/torch/data/mock_datasets/voc/VOCdevkit/VOC2007/JPEGImages/000003.jpg
  tests/torch/data/mock_datasets/voc/VOCdevkit/VOC2007/JPEGImages/000004.jpg
  tests/torch/data/mock_datasets/voc/VOCdevkit/VOC2012/Annotations/2007_000033.xml
  tests/torch/data/mock_datasets/voc/VOCdevkit/VOC2012/Annotations/2007_000042.xml
  tests/torch/data/mock_datasets/voc/VOCdevkit/VOC2012/ImageSets/Main/train.txt
  tests/torch/data/mock_datasets/voc/VOCdevkit/VOC2012/ImageSets/Main/trainval.txt
  tests/torch/data/mock_datasets/voc/VOCdevkit/VOC2012/ImageSets/Main/val.txt
  tests/torch/data/mock_datasets/voc/VOCdevkit/VOC2012/JPEGImages/2007_000033.jpg
  tests/torch/data/mock_datasets/voc/VOCdevkit/VOC2012/JPEGImages/2007_000042.jpg
  tests/torch/sota_checkpoints_eval.json
Labels: documentation, NNCF PT

#1145 Fix for ssd300 weekly test
  examples/torch/object_detection/configs/ssd300_mobilenet_voc_magnitude_int8.json
  examples/torch/object_detection/main.py
Labels: NNCF PT

#1146 Fix path to config in sota for ResNet34
  README.md
  tests/torch/sota_checkpoints_eval.json
Labels: documentation, NNCF PT

#1141 To addapt test_sota_checkpoints test against OpenVino rc package
  tests/tensorflow/test_sota_checkpoints.py
  tests/torch/test_sota_checkpoints.py
Labels: NNCF TF, NNCF PT

#1144 Unified tests for samples and refactored compression training tests
  tests/common/config_factory.py
  tests/tensorflow/test_sanity_sample.py
  tests/torch/data/configs/weekly/classification/cifar10/mobilenet_v2_nas_SMALL.json
  tests/torch/data/configs/weekly/classification/cifar10/resnet50_nas_SMALL.json
  tests/torch/data/configs/weekly/classification/cifar10/vgg11_bn_nas_SMALL.json
  tests/torch/data/configs/weekly/classification/cifar100/efficient_net_b0_finetune.json
  tests/torch/data/configs/weekly/classification/cifar100/efficient_net_b0_nas_SMALL.json
  tests/torch/data/configs/weekly/classification/imagenet/mobilenet_v2_asym_int8.json
  tests/torch/data/configs/weekly/classification/imagenet/mobilenet_v2_sym_int8.json
  tests/torch/data/configs/weekly/classification/imagenet/resnet50_asym_int8.json
  tests/torch/data/configs/weekly/classification/imagenet/resnet50_sym_int8.json
  tests/torch/nas/test_sanity_sample.py
  tests/torch/quantization/test_sanity_sample.py
  tests/torch/sample_test_validator.py
  tests/torch/test_compression_training.py
  tests/torch/test_sanity_sample.py
Labels: NNCF TF, NNCF PT, NNCF Common

#1117 Prohibit additional properties in scope_overrides section of NNCFConfig
  docs/compression_algorithms/Quantization.md
  examples/torch/classification/configs/quantization/rmnet_cifar_int8.json
  nncf/config/schema.py
Labels: documentation, NNCF PT

#1150 Fix path to AC config for resnet34.
  tests/torch/data/ac_configs/resnet34_imagenet_filter_pruning_geomean_kd.yml
Labels: NNCF PT

#1143 ONNX Post-Training Quantization ImageNet classification sample
  examples/experimental/onnx/README.md
  examples/experimental/onnx/__init__.py
  examples/experimental/onnx/ac_configs/inception_v1.yml
  examples/experimental/onnx/ac_configs/inception_v3.yml
  examples/experimental/onnx/ac_configs/mobilenet_v2.yml
  examples/experimental/onnx/ac_configs/resnet50.yml
  examples/experimental/onnx/ac_configs/squeezenet_1_1l.yml
  examples/experimental/onnx/onnx_ptq_classification.py
  examples/experimental/onnx/requirements.txt
  nncf/experimental/onnx/dataloaders/imagenet_dataloader.py
  tests/onnx/quantization/test_quantized_graph.py
  tests/onnx/test_metatypes.py
  tests/onnx/test_model_transformer.py
  tests/onnx/test_nncf_graph_builder.py
  tests/onnx/test_sanity_sample.py
Labels: documentation, experimental
