Repository openvinotoolkit/nncf, pull requests merged in 2022-12, with the labels that each got.

#1343 Adaptive compression training loop improvements
  examples/tensorflow/common/utils.py
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/runner_factory.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/config/schemata/accuracy_aware.py
  nncf/config/schemata/defaults.py
  nncf/tensorflow/accuracy_aware_training/keras_model_utils.py
  nncf/tensorflow/accuracy_aware_training/runner.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/torch/accuracy_aware_training/runner.py
  nncf/torch/pruning/filter_pruning/algo.py
  tests/tensorflow/accuracy_aware_training/test_keras_api.py
  tests/tensorflow/sparsity/magnitude/test_algorithm.py
  tests/torch/accuracy_aware_training/test_runner.py
  tests/torch/accuracy_aware_training/test_training_loop.py
Labels: NNCF TF, NNCF PT, NNCF Common

#1399 Remove fixed protobuf versions from requirements
  examples/tensorflow/requirements.txt
Labels: NNCF TF

#1400 Adjust licensing files
  licensing/third-party-programs.txt
  tests/torch/nas/models/tcn.py
Labels: NNCF PT

#1389 Linear output shape collection fix
  nncf/torch/pruning/utils.py
  tests/torch/pruning/filter_pruning/test_algo.py
  tests/torch/pruning/helpers.py
Labels: NNCF PT

#1392 Remove redundant ONNX samples and split requirements
  Makefile
  examples/experimental/onnx/__init__.py
  examples/experimental/onnx/classification/README.md
  examples/experimental/onnx/classification/__init__.py
  examples/experimental/onnx/classification/accuracy.py
  examples/experimental/onnx/classification/imagenet_dataset.py
  examples/experimental/onnx/classification/onnx_ptq_classification.py
  examples/experimental/onnx/common/argparser.py
  examples/experimental/onnx/common/sample_config.py
  examples/experimental/onnx/mobilenet_v2/requirements.txt
  examples/experimental/onnx/requirements.txt
  examples/experimental/onnx/semantic_segmentation/README.md
  examples/experimental/onnx/semantic_segmentation/__init__.py
  examples/experimental/onnx/semantic_segmentation/onnx_ptq_segmentation.py
  examples/experimental/onnx/semantic_segmentation/segmentation_dataset.py
  examples/experimental/onnx/yolov5/0001-Add-NNCF-ONNX-PTQ-example-notebook.patch
  examples/experimental/onnx/yolov5/README.md
  nncf/experimental/onnx/common.py
  setup.py
  tests/cross_fw/install/common.py
  tests/cross_fw/install/install_checks_onnx.py
  tests/cross_fw/install/install_checks_openvino.py
  tests/onnx/requirements.txt
  tests/onnx/sanity_tests/__init__.py
  tests/onnx/sanity_tests/test_classification_sanity_sample.py
  tests/onnx/sanity_tests/test_segmentation_sanity_sample.py
  tests/onnx/test_infer_input_shape.py
Labels: documentation, dependencies, experimental, NNCF ONNX

#1365 Post-Training Quantization of MobileNet v2 PyTorch Model
  .gitignore
  examples/experimental/torch/mobilenet_v2/main.py
  examples/experimental/torch/mobilenet_v2/utils.py
  examples/post_training_quantization/torch/mobilenet_v2/README.md
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  nncf/torch/quantization/quantize.py
Labels: documentation, NNCF PT

#1406 Export Q-DQ for correct axis in torch
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_functions.py
Labels: NNCF PT

#1415 Do not send telemetry if in pytest
  nncf/telemetry/wrapper.py
  tests/common/test_telemetry.py
Labels: NNCF Common

#1364 Remove ONNXModelNormalizer
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/experimental/onnx/model_normalizer.py
  nncf/experimental/quantization/compression_builder.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/onnx/benchmarking/run_ptq.py
  tests/onnx/opset_converter.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/test_nncf_graph_builder.py
Labels: experimental, NNCF ONNX

#1411 [PTQ] MinMax algo improvements
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  tests/onnx/test_model_transformer.py
Labels: experimental, NNCF ONNX

#1417 Tests for AA algorithm
  tests/openvino/pot/test_engine.py
  tests/openvino/pot/utils.py
Labels: NNCF OpenVINO

#1416 Remove the fix for extensions build in PT
  nncf/torch/__init__.py
  nncf/torch/dynamic_graph/patch_pytorch.py
Labels: NNCF PT

#1419 Removed specialized export for NAS models.
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elasticity_controller.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/onnx_export.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_controller.py
  tests/torch/nas/test_all_elasticity.py
  tests/torch/nas/test_elastic_depth.py
Labels: NNCF PT, experimental

#1410 Fix calculation zero point for ONNX
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  tests/onnx/quantization/test_scale_zero_point_calculation.py
  tests/onnx/test_model_transformer.py
Labels: experimental, NNCF ONNX

#1422 Fix for accuracy control
  nncf/openvino/engine.py
  tests/openvino/pot/test_engine.py
Labels: NNCF OpenVINO

#1420 Post-Training Quantization of MobileNet v2 ONNX Model
  .gitignore
  Makefile
  examples/experimental/onnx/mobilenet_v2/main.py
  examples/experimental/onnx/mobilenet_v2/requirements.txt
  examples/experimental/onnx/mobilenet_v2/utils.py
  examples/post_training_quantization/onnx/mobilenet_v2/README.md
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
Labels: documentation

#1424 Switch to prod instance of OV telemetry
  nncf/telemetry/wrapper.py
  tests/torch/nas/test_elastic_depth.py
Labels: NNCF PT

#1405 No weights override on sparsity model's export
  nncf/torch/pruning/filter_pruning/layers.py
  nncf/torch/sparsity/layers.py
  tests/torch/pruning/filter_pruning/test_layers.py
  tests/torch/test_algo_common.py
Labels: NNCF PT

#1431 Adjust logging in elastic width code
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
Labels: experimental

#1413 Adaptive Compression Training Loop documentation tweaks and improvement
  docs/accuracy_aware_model_training/AdaptiveCompressionLevelTraining.md
  docs/accuracy_aware_model_training/actl_progress_plot.png
Labels: documentation

#1319 Joint Pruning, Quantization and Distillation for Transformers
  nncf/common/graph/layer_attributes.py
  nncf/common/sparsity/statistics.py
  nncf/common/statistics.py
  nncf/common/utils/tensorboard.py
  nncf/config/definitions.py
  nncf/config/schemata/experimental_schema.py
  nncf/experimental/torch/search_building_blocks/search_blocks.py
  nncf/experimental/torch/sparsity/__init__.py
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
  nncf/experimental/torch/sparsity/movement/__init__.py
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/functions.py
  nncf/experimental/torch/sparsity/movement/layers.py
  nncf/experimental/torch/sparsity/movement/loss.py
  nncf/experimental/torch/sparsity/movement/movement_sparsity_lifecycle.jpg
  nncf/experimental/torch/sparsity/movement/scheduler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_strategy.py
  nncf/tensorflow/graph/converter.py
  nncf/torch/__init__.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/functions.py
  nncf/torch/sparsity/collector.py
  tests/torch/autograd_functions/test_autograd_functions.py
  tests/torch/data/schema_validation_good_configs/full_movement_sparsity_params.json
  tests/torch/requirements.txt
  tests/torch/sparsity/movement/__init__.py
  tests/torch/sparsity/movement/helpers/__init__.py
  tests/torch/sparsity/movement/helpers/config.py
  tests/torch/sparsity/movement/helpers/run_recipe.py
  tests/torch/sparsity/movement/helpers/trainer.py
  tests/torch/sparsity/movement/helpers/utils.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_components.py
  tests/torch/sparsity/movement/test_model_saving.py
  tests/torch/sparsity/movement/test_scheduler.py
  tests/torch/sparsity/movement/test_structured_mask.py
  tests/torch/sparsity/movement/test_training.py
  tests/torch/sparsity/movement/test_training_with_third_party.py
  tests/torch/sparsity/movement/training_scripts/bert_tiny_uncased_mrpc_movement.json
  tests/torch/sparsity/movement/training_scripts/run_glue.py
  tests/torch/test_algo_common.py
  tests/torch/test_layer_attributes.py
  tests/torch/test_sanity_third_party.py
Labels: NNCF TF, NNCF PT, NNCF Common, experimental

#1441 [Torch][SOTA eval] Threshold for mobilenet_int4_int8 is updated
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT

#1407 Switch to torch 1.13
  examples/torch/common/models/segmentation/icnet.py
  examples/torch/object_detection/layers/modules/l2norm.py
  examples/torch/requirements.txt
  nncf/torch/binarization/binarize_functions.py
  nncf/torch/exporter.py
  setup.py
  tests/common/graph/nx_graph.py
  tests/onnx/conftest.py
  tests/onnx/data/reference_graphs/original_nncf_graph/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/densenet121.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/googlenet.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/inception_v3.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/resnet18.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/ssd-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/vgg16.dot
  tests/onnx/data/reference_graphs/quantization/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/quantization/densenet121.dot
  tests/onnx/data/reference_graphs/quantization/googlenet.dot
  tests/onnx/data/reference_graphs/quantization/inception_v3.dot
  tests/onnx/data/reference_graphs/quantization/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/quantization/resnet18.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/vgg16.dot
  tests/onnx/requirements.txt
  tests/onnx/test_nncf_graph_builder.py
  tests/torch/quantization/test_unified_scales.py
Labels: dependencies, NNCF PT, NNCF Common, NNCF ONNX

#1436 Make e2e green again
  examples/tensorflow/segmentation/configs/quantization/mask_rcnn_coco_int8.json
  tests/tensorflow/data/ac_configs/retinanet.yml
  tests/tensorflow/data/ac_configs/yolo_v4.yml
  tests/tensorflow/data/ac_configs/yolo_v4_int8_w_sym_ch_a_asym_t.yml
Labels: NNCF TF

#1428 [Torch] Weighted nodes search by metatypes in quantization algo
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/visualization.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/graph.py
  nncf/torch/dynamic_graph/transform_graph.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/default_quantization.py
  tests/torch/modules/test_rnn.py
  tests/torch/test_layer_attributes.py
  tests/torch/test_nncf_network.py
  tests/torch/test_pytorch_patch.py
Labels: NNCF PT, experimental

#1453 Fixed OpenVINO version
  setup.py
Labels: dependencies

#1427 ONNX MinMax Fixes
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/hardware/pattern_operations.py
  nncf/experimental/onnx/quantization/default_quantization.py
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/onnx/models.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/onnx/test_metatypes.py
  tests/onnx/test_statistics_aggregator.py
Labels: experimental, NNCF ONNX

#1446 Recover pytorch version < 1.12
  examples/torch/README.md
  examples/torch/requirements.txt
  nncf/torch/binarization/binarize_functions.py
  setup.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/ConvRelu6HSwishHSigmoid.dot
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
  tests/torch/nas/test_elastic_depth.py
  tests/torch/nas/test_sanity_sample.py
  tests/torch/sparsity/movement/test_model_saving.py
  tests/torch/sparsity/movement/test_structured_mask.py
  tests/torch/sparsity/movement/test_training.py
  tests/torch/test_graph_building.py
  tests/torch/test_models/synthetic.py
  tests/torch/test_sanity_sample.py
Labels: documentation, dependencies, NNCF PT

#1404 Add function check_config_matches_graph
  docs/compression_algorithms/Binarization.md
  nncf/common/compression.py
  nncf/common/graph/utils.py
  nncf/common/pruning/node_selector.py
  nncf/common/quantization/config_assignment.py
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/scopes.py
  nncf/common/utils/helpers.py
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/tensorflow/api/compression.py
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/quantization/init_range.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/tensorflow/sparsity/rb/algorithm.py
  nncf/torch/compression_method_api.py
  nncf/torch/dynamic_graph/transform_graph.py
  nncf/torch/model_creation.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/init_range.py
  nncf/torch/utils.py
  tests/common/graph/test_utils.py
  tests/common/test_scopes.py
  tests/tensorflow/test_ignored_scopes.py
  tests/torch/data/configs/resnet18_cifar100_bin_xnor.json
  tests/torch/data/configs/resnet18_cifar10_staged_quant.json
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/test_algo_common.py
Labels: documentation, NNCF TF, NNCF PT, NNCF Common, experimental

#1459 Added link to compatible torchvision and torch versions
  examples/torch/README.md
Labels: documentation, NNCF PT

#1457 ONNX remove unnecessary test
  tests/onnx/quantization/test_min_max_ptq_graph_equal.py
Labels: NNCF ONNX

#1456 tensorflow_addons~=0.16.1
  examples/tensorflow/requirements.txt
  tests/tensorflow/requirements.txt
Labels: NNCF TF

#1452 Fixed a division by zero if every operation is added to ignored scope
  nncf/common/quantization/collectors.py
  tests/tensorflow/quantization/test_statistics.py
  tests/torch/quantization/test_quantization_metric.py
Labels: NNCF TF, NNCF PT, NNCF Common

#1460 [Torch][Microfix] PTTarget point translation fix
  nncf/torch/nncf_network.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT

#1455 ONNX Fix bug with minimum value for quantizer param calculation
  nncf/experimental/onnx/quantization/quantizer_parameters.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/onnx/quantization/test_scale_zero_point_calculation.py
Labels: experimental, NNCF ONNX

#1442 Restore logging imports and mark legacy import as deprecated
  nncf/common/logging/logger.py
  nncf/common/utils/logger/__init__.py
  tests/torch/test_backward_compat.py
  tests/torch/test_load_model_state.py
Labels: NNCF PT, NNCF Common

#1402 Update onnx models to have no weights
  tests/onnx/data/models/MaskRCNN-12.onnx
  tests/onnx/data/models/densenet-7.onnx
  tests/onnx/data/models/densenet-8.onnx
  tests/onnx/data/models/densenet-9.onnx
  tests/onnx/data/models/fcn-resnet50-12.onnx
  tests/onnx/data/models/icnet_camvid.onnx
  tests/onnx/data/models/retinanet-9.onnx
  tests/onnx/data/models/ssd-12.onnx
  tests/onnx/data/models/ssd_mobilenet_v1_12.onnx
  tests/onnx/data/models/tiny-yolov2.onnx
  tests/onnx/data/models/unet_camvid.onnx
  tests/onnx/data/models/yolov2-coco-9.onnx
  tests/onnx/data/models/yolov3-12.onnx
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/quantization/test_segmentation_models_graph.py
  tests/onnx/test_nncf_graph_builder.py
  tests/onnx/test_weightless_model.py
  tests/onnx/weightless_model.py
Labels: NNCF ONNX

#1443 Torch quantization statistic collector moved to metatypes
  nncf/torch/quantization/metrics.py
Labels: NNCF PT

#1465 Fix config ssd300_vgg_voc_pruning_geometric_median
  examples/torch/object_detection/configs/ssd300_vgg_voc_pruning_geometric_median.json
Labels: NNCF PT

#1458 Renamed pruning_rate to pruning_level for TF pruning controller
  docs/compression_algorithms/Pruning.md
  nncf/common/pruning/shape_pruning_processor.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/torch/pruning/filter_pruning/algo.py
  tests/tensorflow/pruning/test_algorithm.py
  tests/torch/pruning/filter_pruning/test_flops_pruning.py
  tests/torch/pruning/filter_pruning/test_set_pruning_rate.py
Labels: documentation, NNCF TF, NNCF PT, NNCF Common
