Repository openvinotoolkit/nncf, pull requests merged in 2022-06, with the labels that each got.

#1196 Fix wrong device in test_model_is_inited_with_own_device_by_default
  tests/torch/test_api_behavior.py
Labels: NNCF PT

#1195 Disable TF32 presicison in tests
  tests/tensorflow/conftest.py
  tests/torch/conftest.py
Labels: NNCF TF, NNCF PT

#1197 [CVS-85504] Update ONNX det and seg model accuracy check pipelines
  examples/experimental/onnx/README.md
  examples/experimental/onnx/accuracy_checker.py
  examples/experimental/onnx/det_and_seg/onnx_models_configs/fcn-resnet50-12.yml
  examples/experimental/onnx/det_and_seg/onnx_models_configs/tiny-yolov3-11.yml
  examples/experimental/onnx/det_and_seg/onnx_models_configs/tinyyolov2-8.yml
  examples/experimental/onnx/run_ptq_onnx_models.sh
  tests/torch/pytest.ini
Labels: documentation, NNCF PT

#1201 [CVS-86349, CVS-86350] Revise installation steps of ONNXRuntime-OpenVINO
  Makefile
  README.md
  docker/onnx/openvinoep/Dockerfile.dev
  docker/onnx/openvinoep/build.sh
  examples/experimental/onnx/requirements.txt
  nncf/experimental/onnx/algorithms/quantization/utils.py
  nncf/experimental/onnx/requirements.txt
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/requirements.txt
  tests/onnx/sanity_tests/test_classification_sanity_sample.py
Labels: documentation, experimental, ready for reviews

#1198 [CVS-86321] Fix PTQ API failure for Inception-v1-12 model
  examples/experimental/onnx/README.md
  nncf/experimental/onnx/algorithms/quantization/min_max_quantization.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/experimental/onnx/model_normalizer.py
  tests/onnx/quantization/test_graphs.py
Labels: documentation, experimental, ready for reviews

#1199 Limit the protobuf version - tensorflow requirement
  setup.py
Labels: dependencies, NNCF TF

#1200 Fix pylint
  examples/experimental/onnx/classification/onnx_ptq_classification.py
  examples/experimental/onnx/run_ptq.py
  examples/experimental/torch/classification/bootstrap_nas.py
  examples/experimental/torch/classification/bootstrap_nas_search.py
  examples/torch/classification/main.py
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/composite_compression.py
  nncf/common/compression.py
  nncf/common/initialization/batchnorm_adaptation.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/utils/debug.py
  nncf/config/config.py
  nncf/config/experimental_schema.py
  nncf/config/extractors.py
  nncf/experimental/onnx/engine.py
  nncf/experimental/onnx/samplers.py
  nncf/experimental/post_training/algorithms/quantization/algorithm.py
  nncf/experimental/post_training/api/dataset.py
  nncf/experimental/post_training/compression_builder.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  nncf/experimental/torch/nas/bootstrapNAS/search/evaluator_handler.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/experimental/torch/nas/bootstrapNAS/training/scheduler.py
  nncf/tensorflow/helpers/model_creation.py
  nncf/tensorflow/tensor_statistics/collectors.py
  nncf/torch/binarization/algo.py
  nncf/torch/checkpoint_loading.py
  nncf/torch/dynamic_graph/graph.py
  nncf/torch/dynamic_graph/graph_tracer.py
  nncf/torch/dynamic_graph/scope.py
  nncf/torch/dynamic_graph/transform_graph.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/model_creation.py
  nncf/torch/nncf_network.py
  nncf/torch/pruning/base_algo.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/precision_init/autoq_init.py
  nncf/torch/quantization/precision_init/hawq_debug.py
  nncf/torch/quantization/precision_init/hawq_init.py
  nncf/torch/tensor_statistics/collectors.py
  nncf/torch/utils.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/sanity_tests/test_segmentation_sanity_sample.py
  tests/tensorflow/test_api_behavior.py
  tests/torch/conftest.py
  tests/torch/nas/test_lr_scheduler.py
  tests/torch/nas/test_scheduler.py
  tests/torch/nas/test_search.py
  tests/torch/pruning/test_model_pruning_analysis.py
  tests/torch/test_compression_training.py
Labels: NNCF TF, NNCF PT, NNCF Common, experimental

#1204 Update threshold for train test
  tests/torch/test_compression_training.py
Labels: NNCF PT

#1202 Update onnx installation
  .pylintrc
  CONTRIBUTING.md
  Makefile
  README.md
  examples/experimental/onnx/performance_checker.py
  examples/experimental/onnx/requirements.txt
  examples/experimental/onnx/run_ptq_onnx_models.sh
  nncf/experimental/onnx/algorithms/quantization/utils.py
  nncf/experimental/onnx/requirements.txt
  setup.py
Labels: documentation, dependencies, experimental, ready for reviews

#1192 Bootstrapnas - Elastic Width Configuration
  examples/experimental/torch/classification/bootstrap_nas.py
  nncf/experimental/torch/nas/bootstrapNAS/__init__.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_depth.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  nncf/experimental/torch/nas/bootstrapNAS/search/__init__.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  tests/torch/nas/test_all_elasticity.py
  tests/torch/nas/test_elastic_width.py
  tests/torch/nas/test_search.py
Labels: NNCF PT, experimental

#1207 Fix pylint for tests/torch/nas/test_search.py
  tests/torch/nas/test_search.py
Labels: NNCF PT, ready for reviews

#1208 Fix ONNX PTQ API memory explosion
  docker/onnx/openvinoep/Dockerfile
  docker/onnx/openvinoep/build.sh
  examples/experimental/onnx/README.md
  examples/experimental/onnx/det_and_seg/onnx_models_configs/ResNet101-DUC-12.yml
  nncf/experimental/onnx/model_normalizer.py
  nncf/experimental/onnx/statistics/aggregator.py
  nncf/experimental/post_training/api/engine.py
Labels: documentation, experimental, ready for reviews

#1211 Enable Yolov5s through ONNX Post-Training quantization POC
  examples/experimental/onnx/README.md
  examples/experimental/onnx/yolov5/0001-Add-NNCF-ONNX-PTQ-example-notebook.patch
Labels: documentation, ready for reviews
