Repository openvinotoolkit/nncf, pull requests merged in 2022-10, with the labels that each got.

#1277 Minor: make HRNetBlock actually prunable
  tests/torch/pruning/helpers.py
Labels: NNCF PT

#1288 Support interpolate op in filter pruning
  nncf/torch/pruning/operations.py
Labels: NNCF PT

#1293 Explicitly mention import order in README
  README.md
  docs/Usage.md
Labels: documentation

#1275 Add basic config examples
  docs/ConfigFile.md
  docs/Usage.md
  docs/accuracy_aware_model_training/AdaptiveCompressionLevelTraining.md
  docs/accuracy_aware_model_training/EarlyExitTraining.md
  docs/compression_algorithms/BatchnormAdaptation.md
  docs/compression_algorithms/Binarization.md
  docs/compression_algorithms/KnowledgeDistillation.md
  docs/compression_algorithms/Pruning.md
  docs/compression_algorithms/Quantization.md
  docs/compression_algorithms/Sparsity.md
  docs/styleguide/PyGuide.md
  examples/experimental/torch/classification/bootstrapnas_examples/config.json
  examples/torch/classification/configs/mixed_precision/mobilenet_v2_imagenet_mixed_int_autoq_staged.json
  examples/torch/classification/configs/mixed_precision/resnet50_imagenet_mixed_int_autoq_staged.json
  examples/torch/classification/configs/pruning/googlenet_pruning_geometric_median.json
  examples/torch/object_detection/configs/ssd300_mobilenet_voc.json
  nncf/config/config.py
  nncf/config/definitions.py
  nncf/config/schema.py
  nncf/config/schemata/accuracy_aware.py
  nncf/config/schemata/algo/binarization.py
  nncf/config/schemata/algo/const_sparsity.py
  nncf/config/schemata/algo/filter_pruning.py
  nncf/config/schemata/algo/knowledge_distillation.py
  nncf/config/schemata/algo/magnitude_sparsity.py
  nncf/config/schemata/algo/quantization.py
  nncf/config/schemata/algo/rb_sparsity.py
  nncf/config/schemata/experimental_schema.py
  nncf/experimental/torch/nas/bootstrapNAS/BootstrapNAS.md
  tests/torch/data/configs/weekly/classification/cifar10/resnet50_nas_SMALL.json
  tests/torch/data/schema_validation_bad_configs/params_mismatch.json
Labels: documentation, NNCF PT, experimental

#1281 Resolved issues with search of building blocks
  examples/experimental/torch/classification/bootstrapnas_examples/config.json
  nncf/config/schemata/experimental_schema.py
  nncf/experimental/torch/nas/bootstrapNAS/BootstrapNAS.md
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_depth.py
  nncf/experimental/torch/search_building_blocks/search_blocks.py
  nncf/experimental/torch/search_building_blocks/search_graph.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/wrappers.py
  tests/torch/data/reference_graphs/nas/densenet_121_depth.dot
  tests/torch/data/reference_graphs/nas/efficient_net_b0_depth.dot
  tests/torch/data/reference_graphs/nas/efficient_net_b0_width.dot
  tests/torch/data/reference_graphs/nas/mobilenet_v3_small_depth.dot
  tests/torch/data/reference_graphs/nas/mobilenet_v3_small_width.dot
  tests/torch/data/reference_graphs/nas/pnasnetb_depth.dot
  tests/torch/data/reference_graphs/nas/pnasnetb_width.dot
  tests/torch/data/reference_graphs/nas/resnet18_depth.dot
  tests/torch/data/reference_graphs/nas/resnet18_width.dot
  tests/torch/data/reference_graphs/nas/ssd_mobilenet_depth.dot
  tests/torch/data/reference_graphs/nas/ssd_mobilenet_width.dot
  tests/torch/data/reference_graphs/nas/ssd_vgg_depth.dot
  tests/torch/data/reference_graphs/nas/vgg11_k7_depth.dot
  tests/torch/data/reference_graphs/nas/vgg11_k7_width.dot
  tests/torch/data/reference_graphs/nas/vgg11_width.dot
  tests/torch/data/schema_validation_good_configs/full_nas_params.json
  tests/torch/data/search_building_block/BERT
  tests/torch/data/search_building_block/Inception3_big_blocks
  tests/torch/data/search_building_block/Inception3_small_blocks
  tests/torch/data/search_building_block/MobileNetV2
  tests/torch/data/search_building_block/PNASNetB
  tests/torch/data/search_building_block/ResNeXt29_32x4d
  tests/torch/data/search_building_block/ResNet50
  tests/torch/data/search_building_block/ViT
  tests/torch/data/search_building_block/efficientnet-b0
  tests/torch/data/search_building_block/one MHSA
  tests/torch/data/search_building_block/squeezenet1_0
  tests/torch/data/search_building_block/ssd_mobilenet
  tests/torch/data/search_building_block/wave2vec 2.0
  tests/torch/experimental/search_building_blocks/test_search_building_blocks.py
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
  tests/torch/nas/creators.py
  tests/torch/nas/descriptors.py
  tests/torch/nas/test_all_elasticity.py
  tests/torch/nas/test_elastic_depth.py
  tests/torch/nas/test_flops.py
  tests/torch/nas/test_onnx_export.py
  tests/torch/nas/test_search.py
  tests/torch/nas/test_search_space.py
  tests/torch/nas/test_state.py
  tests/torch/requirements.txt
Labels: NNCF PT, experimental

#1282 Introduce PTQ FastBC
  nncf/common/composite_compression.py
  nncf/common/compression.py
  nncf/common/graph/transformations/commands.py
  nncf/common/initialization/batchnorm_adaptation.py
  nncf/common/tensor_statistics/collectors.py
  nncf/common/tensor_statistics/statistics.py
  nncf/common/utils/backend.py
  nncf/experimental/onnx/algorithms/quantization/min_max_quantization.py
  nncf/experimental/onnx/engine.py
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/experimental/onnx/statistics/aggregator.py
  nncf/experimental/onnx/statistics/collectors.py
  nncf/experimental/onnx/statistics/statistics.py
  nncf/experimental/post_training/algorithms/algorithm.py
  nncf/experimental/post_training/algorithms/fast_bias_correction/algorithm.py
  nncf/experimental/post_training/algorithms/fast_bias_correction/backend.py
  nncf/experimental/post_training/algorithms/fast_bias_correction/onnx_backend.py
  nncf/experimental/post_training/algorithms/quantization/algorithm.py
  nncf/experimental/post_training/compression_builder.py
  nncf/experimental/post_training/factories.py
  nncf/experimental/post_training/graph/factories.py
  nncf/experimental/post_training/graph/model_transformer.py
  nncf/experimental/post_training/statistics/aggregator.py
  nncf/experimental/post_training/statistics/statistic_point.py
  tests/onnx/test_model_transformer.py
Labels: NNCF Common, experimental

#1310 Relaxation of the networkx version
  nncf/common/graph/graph.py
  nncf/common/graph/patterns.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/utils/dot_file_rw.py
  nncf/experimental/torch/search_building_blocks/search_graph.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/precision_init/hawq_debug.py
  setup.py
  tests/common/graph/nx_graph.py
  tests/onnx/quantization/common.py
  tests/onnx/test_nncf_graph_builder.py
  tests/tensorflow/test_transformations.py
  tests/torch/test_nncf_network.py
  tools/clip_dot.py
  tools/render_dot_to_svg.py
Labels: dependencies, NNCF TF, NNCF PT, NNCF Common, experimental

#1273 Enable elastic input width for Layernorm layer
  nncf/common/pruning/operations.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  nncf/torch/graph/pattern_operations.py
  nncf/torch/layers.py
  nncf/torch/module_operations.py
  nncf/torch/pruning/base_algo.py
  nncf/torch/pruning/operations.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/LayerNorm.dot
  tests/torch/nas/models/synthetic.py
  tests/torch/nas/test_elastic_width.py
  tests/torch/pruning/filter_pruning/test_algo.py
  tests/torch/pruning/helpers.py
Labels: NNCF PT, NNCF Common, experimental

#1314 [Continue] Do not ignore the entire fused pattern if non-primary nodes are in the ignored scopes
  nncf/common/insertion_point_graph.py
  nncf/common/quantization/quantizer_propagation/graph.py
  tests/onnx/data/reference_graphs/quantization/MaskRCNN-12.dot
  tests/torch/quantization/test_algo_quantization.py
Labels: NNCF PT, NNCF Common

#1315 Bump lower allowed networkx version
  setup.py
Labels: dependencies

#1296 Remove excessive docstring locations
  docs/styleguide/PyGuide.md
Labels: documentation

#1320 Fixed degradation in block search tests with LayerNorm
  tests/torch/data/search_building_block/BERT
  tests/torch/data/search_building_block/ViT
  tests/torch/data/search_building_block/wave2vec 2.0
Labels: NNCF PT

#1318 Fixed Torch/ONNX MatMul graph patterns
  nncf/experimental/onnx/algorithms/quantization/default_quantization.py
  nncf/experimental/onnx/hardware/fused_patterns.py
  nncf/experimental/onnx/hardware/pattern_operations.py
  nncf/torch/graph/pattern_operations.py
  nncf/torch/hardware/fused_patterns.py
Labels: bug, NNCF PT, experimental

#1312 Introduce automatic adding post-processing nodes to ignored scopes for quantization
  nncf/common/graph/graph.py
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/experimental/onnx/algorithms/quantization/min_max_quantization.py
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/hardware/fused_patterns.py
  nncf/experimental/onnx/hardware/patterns.py
  nncf/experimental/post_training/algorithms/quantization/algorithm.py
  nncf/experimental/post_training/algorithms/quantization/min_max_quantization.py
  tests/common/quantization/metatypes.py
  tests/common/quantization/test_ignore_post_processing.py
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/FasterRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/MaskRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ssd_mobilenet_v1_12.yml
  tests/onnx/data/models/ssd_mobilenet_v1_12.onnx
  tests/onnx/data/reference_graphs/original_nncf_graph/ssd_mobilenet_v1_12.dot
  tests/onnx/data/reference_graphs/quantization/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/quantization/ssd-12.dot
  tests/onnx/data/reference_graphs/quantization/ssd_mobilenet_v1_12.dot
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_detection_models_graph.py
Labels: NNCF Common, experimental

#1295 PTQ for the OpenVINO backend
  examples/experimental/openvino/bert/main.py
  examples/experimental/openvino/mobilenet_v2/main.py
  examples/experimental/openvino/mobilenet_v2/utils.py
  examples/experimental/openvino/yolo_v5/main.py
  nncf/__init__.py
  nncf/common/utils/backend.py
  nncf/data/__init__.py
  nncf/data/dataset.py
  nncf/openvino/__init__.py
  nncf/openvino/engine.py
  nncf/openvino/quantization/__init__.py
  nncf/openvino/quantization/helpers.py
  nncf/openvino/utils.py
  nncf/quantization/__init__.py
  nncf/quantization/helpers.py
  nncf/quantization/params.py
Labels: NNCF Common

#1324 Fixed typo in the docstring of the get_keras_layer_metatype function
  nncf/tensorflow/graph/metatypes/matcher.py
Labels: NNCF TF

#1316 PTQ MinMax algorithm update
  nncf/experimental/onnx/algorithms/quantization/min_max_quantization.py
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/experimental/onnx/quantization/__init__.py
  nncf/experimental/onnx/quantization/default_quantization.py
  nncf/experimental/post_training/algorithms/algorithm.py
  nncf/experimental/post_training/algorithms/quantization/__init__.py
  nncf/experimental/post_training/algorithms/quantization/algorithm.py
  nncf/experimental/post_training/algorithms/quantization/definitions.py
  nncf/experimental/post_training/algorithms/quantization/fast_bias_correction/algorithm.py
  nncf/experimental/post_training/algorithms/quantization/fast_bias_correction/backend.py
  nncf/experimental/post_training/algorithms/quantization/fast_bias_correction/onnx_backend.py
  nncf/experimental/post_training/algorithms/quantization/min_max/algorithm.py
  nncf/experimental/post_training/algorithms/quantization/min_max/backend.py
  nncf/experimental/post_training/algorithms/quantization/min_max/onnx_backend.py
  nncf/experimental/post_training/algorithms/quantization/min_max/utils.py
  nncf/experimental/post_training/algorithms/quantization/min_max_quantization.py
  nncf/experimental/post_training/compression_builder.py
  tests/onnx/benchmarking/run_ptq.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/test_model_transformer.py
  tests/onnx/test_statistics_aggregator.py
Labels: experimental

#1328 Updated patch for NNCF integration to the latest transformers release
  tests/torch/test_sanity_third_party.py
  third_party_integration/huggingface_transformers/0001-Modifications-for-NNCF-usage.patch
  third_party_integration/huggingface_transformers/README.md
Labels: documentation, NNCF PT

#1336 Fixed the issue with num_bn_adaptation_samples=0
  nncf/tensorflow/quantization/algorithm.py
  tests/tensorflow/quantization/test_algorithm_quantization.py
Labels: NNCF TF

#1337 Fixed the issue with using torch.onnx.export()
  nncf/torch/quantization/layers.py
  tests/torch/quantization/test_onnx_export.py
Labels: NNCF PT

#1338 Add FAQ
  .github/issue_template.md
  README.md
  docs/FAQ.md
  nncf/config/schemata/algo/quantization.py
Labels: documentation
