Repository openvinotoolkit/nncf, pull requests merged in 2022-08, with the labels that each got.

#1238 Add some FracBits experiment results
  examples/experimental/torch/classification/README.md
  examples/experimental/torch/classification/configs/inception_v3_imagenet_int8.json
  examples/experimental/torch/classification/configs/inception_v3_imagenet_mixed_int_fracbits_msize.json
  examples/experimental/torch/classification/configs/mobilenet_v2_cifar100_asym_int8.json
  examples/experimental/torch/classification/configs/mobilenet_v2_cifar100_mixed_int_fracbits_msize.json
  examples/experimental/torch/classification/configs/mobilenet_v2_imagenet_int8.json
  examples/experimental/torch/classification/configs/mobilenet_v2_imagenet_mixed_int_fracbits_msize.json
  examples/experimental/torch/classification/configs/resnet50_imagenet_int8.json
  examples/experimental/torch/classification/configs/resnet50_imagenet_mixed_int_fracbits_msize.json
  examples/experimental/torch/classification/fracbits.py
  examples/torch/common/argparser.py
  examples/torch/common/execution.py
  examples/torch/requirements.txt
  nncf/config/experimental_schema.py
  nncf/experimental/torch/fracbits/controller.py
  nncf/experimental/torch/fracbits/loss.py
  nncf/experimental/torch/fracbits/params.py
  nncf/experimental/torch/fracbits/quantizer.py
  nncf/experimental/torch/fracbits/scheduler.py
  tests/torch/experimental/fracbits/conftest.py
  tests/torch/experimental/fracbits/test_builder.py
  tests/torch/requirements.txt
Labels: documentation, NNCF PT, experimental, ready for reviews

#1239 Fix PyTorch examples
  examples/torch/classification/main.py
  examples/torch/requirements.txt
  setup.py
  tests/torch/requirements.txt
Labels: bug, dependencies, NNCF PT

#1242 Search BN Adapt
  nncf/config/experimental_schema.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/experimental/torch/nas/bootstrapNAS/training/stage_descriptor.py
Labels: experimental

#1248 Fix pylint
  examples/tensorflow/common/object_detection/architecture/factory.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_controller.py
  nncf/experimental/torch/nas/bootstrapNAS/training/scheduler.py
  tests/experimental/post_training/test_api.py
  tests/torch/accuracy_aware_training/test_training_loop.py
Labels: NNCF TF, NNCF PT, experimental, ready for reviews

#1241 Introduce ONNXTargetPoint, StatisticPoint.
  examples/experimental/onnx/performance_checker.py
  nncf/common/tensor_statistics/collectors.py
  nncf/experimental/onnx/algorithms/quantization/default_quantization.py
  nncf/experimental/onnx/algorithms/quantization/min_max_quantization.py
  nncf/experimental/onnx/algorithms/quantization/utils.py
  nncf/experimental/onnx/engine.py
  nncf/experimental/onnx/graph/metatypes/onnx_ops.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/experimental/onnx/samplers.py
  nncf/experimental/onnx/statistics/aggregator.py
  nncf/experimental/post_training/algorithms/algorithm.py
  nncf/experimental/post_training/algorithms/quantization/algorithm.py
  nncf/experimental/post_training/algorithms/quantization/min_max_quantization.py
  nncf/experimental/post_training/api/engine.py
  nncf/experimental/post_training/api/sampler.py
  nncf/experimental/post_training/compression_builder.py
  nncf/experimental/post_training/samplers.py
  nncf/experimental/post_training/statistics/aggregator.py
  nncf/experimental/post_training/statistics/statistic_point.py
  tests/onnx/data/reference_graphs/quantization/googlenet.dot
  tests/onnx/data/reference_graphs/quantization/icnet_camvid.dot
  tests/onnx/data/reference_graphs/quantization/inception_v3.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/quantization/resnet18.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/tiny-yolov2.dot
  tests/onnx/data/reference_graphs/quantization/unet_camvid.dot
  tests/onnx/data/reference_graphs/quantization/vgg16.dot
  tests/onnx/data/reference_graphs/quantization/yolov2-coco-9.dot
  tests/onnx/quantization/test_graphs.py
  tests/onnx/test_model_transformer.py
Labels: NNCF Common, experimental

#1246 Handle KerasLayer in the experimental_quantization algorithm
  nncf/tensorflow/graph/utils.py
  nncf/tensorflow/helpers/model_creation.py
  tests/experimental/tensorflow/test_keras_layer_model.py
  tests/tensorflow/requirements.txt
Labels: NNCF TF

#1253 Math png to text
  docs/compression_algorithms/Binarization.md
  docs/compression_algorithms/KnowledgeDistillation.md
  docs/compression_algorithms/Pruning.md
  docs/compression_algorithms/Quantization.md
  docs/compression_algorithms/Sparsity.md
Labels: documentation

#1252 Introduced --torch-with-cuda11 option for 3rd party sanity tests
  tests/torch/conftest.py
  tests/torch/test_sanity_third_party.py
Labels: NNCF PT

#1258 Update BootstrapNAS document and add a quickstart
  examples/experimental/torch/classification/Quickstart.md
  examples/experimental/torch/classification/bootstrapnas_examples/config.json
  nncf/experimental/torch/nas/bootstrapNAS/BootstrapNAS.md
Labels: experimental

#1251 test_install was fixed for TF, PT backends
  tests/tensorflow/requirements.txt
  tests/torch/requirements.txt
Labels: NNCF TF, NNCF PT

#1261 Introduce hardware pattern matching based on ONNXmetatypes
  nncf/common/graph/graph.py
  nncf/common/graph/graph_matching.py
  nncf/common/graph/patterns.py
  nncf/common/utils/backend.py
  nncf/experimental/onnx/algorithms/quantization/min_max_quantization.py
  nncf/experimental/onnx/engine.py
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/hardware/pattern_operations.py
  nncf/experimental/onnx/hardware/patterns.py
  nncf/experimental/post_training/algorithms/algorithm.py
  nncf/experimental/post_training/algorithms/quantization/algorithm.py
  nncf/experimental/post_training/api/engine.py
  nncf/experimental/post_training/backend.py
  nncf/experimental/post_training/compression_builder.py
  tests/common/graph/test_graph_matching.py
  tests/common/graph/test_graph_pattern.py
Labels: NNCF Common, experimental
