Repository openvinotoolkit/nncf, pull requests merged in 2022-11, with the labels that each got.

#1346 [OpenVINO] pylint
  examples/experimental/openvino/mobilenet_v2/main.py
  examples/experimental/openvino/mobilenet_v2/utils.py
  examples/experimental/openvino/yolo_v5/main.py
  nncf/openvino/engine.py
  nncf/parameters.py
Labels: NNCF OpenVINO

#1351 Fix typos
  tests/tensorflow/test_models/retinanet.py
  tests/tensorflow/test_models/yolo_v4.py
Labels: NNCF TF

#1356 Restricted ninja version to be not higher than 1.11
  setup.py
Labels: dependencies

#1355 Actualized some reference .dot files
  nncf/common/insertion_point_graph.py
  nncf/common/utils/dot_file_rw.py
  tests/torch/data/reference_graphs/magnitude_sparsity/mobilenet_v2.dot
  tests/torch/data/reference_graphs/original/mobilenet_v2.dot
  tests/torch/data/reference_graphs/pattern_merging/basic_pattern.dot
  tests/torch/data/reference_graphs/pattern_merging/broken_output_edges_pattern.dot
  tests/torch/data/reference_graphs/pattern_merging/no_pattern.dot
  tests/torch/data/reference_graphs/quantized/autoq/inception_v3_device_VPU__eval_subset_ratio_0.4__with_ignored_scopes.dot
  tests/torch/data/reference_graphs/quantized/autoq/inception_v3_device_VPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_VPU.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_VPU__eval_subset_ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_VPU__eval_subset_ratio_0.4__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_VPU__iter_number_4__warmup_iter_number_2.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_VPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/squeezenet1_1_device_VPU.dot
  tests/torch/data/reference_graphs/quantized/autoq/ssd_vgg_512_test_device_VPU__eval_subset_ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/ssd_vgg_512_test_device_VPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_VPU__mode_liberal__ratio_1.3__with_target_scopes.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_VPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_VPU__mode_liberal__ratio_1.5__with_ignored_scopes.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_VPU__mode_strict__ratio_1.dot
  tests/torch/data/reference_graphs/quantized/hawq/resnet50_device_VPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/resnet50_device_VPU__mode_strict__ratio_1.11.dot
  tests/torch/data/reference_graphs/quantized/hawq/squeezenet1_1_device_VPU__mode_strict.dot
  tests/torch/data/reference_graphs/quantized/hawq/ssd_vgg_512_test_device_VPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/ssd_vgg_512_test_device_VPU__mode_strict__ratio_1.09.dot
  tests/torch/data/reference_graphs/quantized/symmetric/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/mobilenet_v2.dot
  tests/torch/data/reference_graphs/rb_sparsity/mobilenet_v2.dot
  tests/torch/test_nncf_network.py
Labels: NNCF PT, NNCF Common

#1350 Added test for searching MHSA and FF in SwinTransformer
  tests/torch/data/search_building_block/bert.json
  tests/torch/data/search_building_block/efficientnet-b0.json
  tests/torch/data/search_building_block/inception3_big_blocks.json
  tests/torch/data/search_building_block/inception3_small_blocks.json
  tests/torch/data/search_building_block/mobilenetv2.json
  tests/torch/data/search_building_block/one_mhsa.json
  tests/torch/data/search_building_block/pnasnetb.json
  tests/torch/data/search_building_block/resnet50.json
  tests/torch/data/search_building_block/resnext29_32x4d.json
  tests/torch/data/search_building_block/squeezenet1_0.json
  tests/torch/data/search_building_block/ssd_mobilenet.json
  tests/torch/data/search_building_block/swin_ms.json
  tests/torch/data/search_building_block/vit.json
  tests/torch/data/search_building_block/wave2vec_2.0.json
  tests/torch/experimental/search_building_blocks/test_search_building_blocks.py
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
Labels: NNCF PT

#1357 Remove contiguous grad_output warning
  nncf/torch/binarization/binarize_functions.py
  nncf/torch/quantization/quantize_functions.py
Labels: NNCF PT

#1353 Remove shape_inference from initialization of ONNXGraph
  nncf/experimental/onnx/engine.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
  setup.py
Labels: dependencies, experimental

#1359 Support for Python 3.6 was removed
  README.md
  setup.py
Labels: documentation, dependencies

#1358 Remove multiprocessing_distributed from the configs
  examples/torch/classification/configs/quantization/inception_v3_imagenet.json
  examples/torch/classification/configs/quantization/inception_v3_imagenet_int8.json
  examples/torch/classification/configs/sparsity/inception_v3_imagenet_rb_sparsity.json
  examples/torch/semantic_segmentation/configs/icnet_camvid.json
  examples/torch/semantic_segmentation/configs/icnet_camvid_int8.json
  examples/torch/semantic_segmentation/configs/icnet_camvid_magnitude_sparsity_int8.json
  examples/torch/semantic_segmentation/configs/unet_camvid.json
  examples/torch/semantic_segmentation/configs/unet_camvid_int8.json
  examples/torch/semantic_segmentation/configs/unet_camvid_magnitude_sparsity_int8.json
  examples/torch/semantic_segmentation/configs/unet_mapillary.json
  examples/torch/semantic_segmentation/configs/unet_mapillary_magnitude_sparsity_int8.json
  examples/torch/semantic_segmentation/configs/unet_mapillary_pruning_geometric_median.json
  tests/torch/sota_checkpoints_eval.json
  tests/torch/test_sota_checkpoints.py
Labels: NNCF PT

#1280 PTQ ONNX Update requirements
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/model_normalizer.py
  setup.py
  tests/onnx/data/reference_graphs/original_nncf_graph/densenet121.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/googlenet.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/inception_v3.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/resnet18.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/vgg16.dot
  tests/onnx/data/reference_graphs/quantization/densenet121.dot
  tests/onnx/data/reference_graphs/quantization/mnasnet0_5.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/data/reference_graphs/quantization/mobilenet_v3_small.dot
  tests/onnx/data/reference_graphs/quantization/resnet18.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/vgg16.dot
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_min_max_ptq_graph_equal.py
  tests/onnx/quantization/test_segmentation_models_graph.py
  tests/onnx/sanity_tests/test_classification_sanity_sample.py
  tests/onnx/sanity_tests/test_segmentation_sanity_sample.py
  tests/onnx/test_e2e_ptq.py
  tests/onnx/test_nncf_graph_builder.py
Labels: dependencies, experimental, NNCF ONNX

#1348 Accuracy aware quantization for OpenVINO backend
  examples/experimental/openvino/ssd_mobilenet_v1_fpn/main.py
  nncf/__init__.py
  nncf/data/dataset.py
  nncf/openvino/engine.py
  nncf/openvino/quantization/accuracy_aware.py
  nncf/openvino/quantization/quantize.py
  nncf/openvino/utils.py
  nncf/parameters.py
  nncf/quantization/__init__.py
  nncf/quantization/quantize.py
Labels: NNCF OpenVINO

#1368 Add link to the Model Optimization guide
  README.md
Labels: documentation

#1369 Update protobuf version
  examples/tensorflow/requirements.txt
  tests/torch/requirements.txt
Labels: NNCF TF, NNCF PT

#1366 [Torch] Weekly test with mixed precision
  examples/torch/classification/main.py
  examples/torch/common/utils.py
  tests/torch/conftest.py
  tests/torch/test_compression_training.py
  tests/torch/test_sota_checkpoints.py
Labels: NNCF PT

#1374 Make OrderedEnum int based
  nncf/api/compression.py
  nncf/common/composite_compression.py
  nncf/common/graph/transformations/commands.py
  nncf/common/utils/ordered_enum.py
  nncf/quantization/algorithms/definitions.py
  nncf/torch/nncf_network.py
Labels: NNCF PT, NNCF Common

#1375 ONNX E2E add filtering launchers
  tests/onnx/benchmarking/performance_checker.py
  tests/onnx/benchmarking/run_ptq.py
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX

#1367 BNAS: State for depth and width indicators
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_depth.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  tests/torch/nas/test_all_elasticity.py
Labels: NNCF PT, experimental

#1372 End-to-end tests for post-training API
  tests/post_training/README.md
  tests/post_training/conftest.py
  tests/post_training/model_scope.py
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Labels: documentation

#1376 Simplify PTQ Engine
  nncf/common/engine.py
  nncf/common/factory.py
  nncf/common/graph/factory.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/experimental/onnx/engine.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/statistics/aggregator.py
  nncf/experimental/quantization/compression_builder.py
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
Labels: NNCF Common, experimental

#1373 Restore the hack to force reinstall protobuf package in TF samples
  examples/tensorflow/requirements.txt
  setup.py
Labels: dependencies, NNCF TF

#1383 Added small clarifications about compression ratio in HAWQ
  docs/compression_algorithms/Quantization.md
Labels: documentation

#1384 Fix export of SOTA checkpoints for e2e validation
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elasticity_controller.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/onnx_export.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_controller.py
  nncf/torch/exporter.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_functions.py
  tests/torch/helpers.py
  tests/torch/nas/models/synthetic.py
  tests/torch/nas/test_all_elasticity.py
  tests/torch/nas/test_elastic_depth.py
  tests/torch/nas/test_onnx_export.py
  tests/torch/quantization/test_onnx_export.py
  tests/torch/quantization/test_overflow_issue_export.py
Labels: NNCF PT, experimental

#1382 Add some improvements in the code structure of post-training
  nncf/experimental/onnx/graph/metatypes/onnx_metatypes.py
  nncf/experimental/onnx/graph/model_transformer.py
  nncf/experimental/onnx/graph/nncf_graph_builder.py
  nncf/experimental/onnx/graph/onnx_graph.py
  nncf/experimental/onnx/graph/transformations/commands.py
  nncf/experimental/onnx/quantization/default_quantization.py
  nncf/experimental/onnx/statistics/aggregator.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/test_model_transformer.py
Labels: experimental, NNCF ONNX

#1388 ProgressBar formatting improvement
  nncf/common/utils/progress_bar.py
  tests/common/test_progress_bar.py
Labels: NNCF Common

#1329 BNAS: Allow disabling BN Adaptation
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/experimental/torch/nas/bootstrapNAS/training/lr_scheduler.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_builder.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_controller.py
  nncf/experimental/torch/nas/bootstrapNAS/training/scheduler.py
  tests/torch/nas/creators.py
  tests/torch/nas/test_all_elasticity.py
  tests/torch/nas/test_ps_controller.py
  tests/torch/nas/test_scheduler.py
  tests/torch/nas/test_search.py
Labels: NNCF PT, experimental

#1381 Extract shared test code into own folder
  tests/common/README.md
  tests/cross_fw/install/__init__.py
  tests/cross_fw/install/conftest.py
  tests/cross_fw/install/install_checks_openvino.py
  tests/cross_fw/install/install_checks_tf.py
  tests/cross_fw/install/install_checks_torch.py
  tests/cross_fw/install/requirements.txt
  tests/cross_fw/install/test_install.py
  tests/onnx/conftest.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_min_max_ptq_graph_equal.py
  tests/onnx/sanity_tests/test_segmentation_sanity_sample.py
  tests/onnx/test_e2e_ptq.py
  tests/onnx/test_nncf_graph_builder.py
  tests/openvino/conftest.py
  tests/openvino/pytest.ini
  tests/openvino/test_install.py
  tests/post_training/test_quantize_conformance.py
  tests/shared/README.md
  tests/shared/case_collection.py
  tests/shared/command.py
  tests/shared/config_factory.py
  tests/shared/helpers.py
  tests/shared/install_fixtures.py
  tests/shared/paths.py
  tests/shared/serialization.py
  tests/tensorflow/conftest.py
  tests/tensorflow/helpers.py
  tests/tensorflow/pytest.ini
  tests/tensorflow/quantization/test_builder_state.py
  tests/tensorflow/test_init.py
  tests/tensorflow/test_install.py
  tests/tensorflow/test_models/maskrcnn.py
  tests/tensorflow/test_models/retinanet.py
  tests/tensorflow/test_models/yolo_v4.py
  tests/tensorflow/test_sanity_sample.py
  tests/tensorflow/test_sota_checkpoints.py
  tests/tensorflow/test_weekly.py
  tests/torch/conftest.py
  tests/torch/experimental/search_building_blocks/test_search_building_blocks.py
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
  tests/torch/helpers.py
  tests/torch/nas/test_sanity_sample.py
  tests/torch/pytest.ini
  tests/torch/quantization/test_hawq_precision_init.py
  tests/torch/quantization/test_manual_precision_init.py
  tests/torch/quantization/test_sanity_sample.py
  tests/torch/quantization/test_serialize_to_json.py
  tests/torch/sample_test_validator.py
  tests/torch/test_backward_compat.py
  tests/torch/test_compressed_graph.py
  tests/torch/test_compression_training.py
  tests/torch/test_config_schema.py
  tests/torch/test_extensions_build.py
  tests/torch/test_install.py
  tests/torch/test_nncf_network.py
  tests/torch/test_sanity_sample.py
  tests/torch/test_sanity_third_party.py
  tests/torch/test_sota_checkpoints.py
Labels: documentation, NNCF TF, NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX

#1386 Use ONNX opset 13 on torch export
  nncf/torch/binarization/binarize_functions.py
  nncf/torch/exporter.py
  tests/torch/quantization/test_adjust_padding.py
  tests/torch/test_onnx_export.py
Labels: NNCF PT

#1387 Fix E2E ONNX
  nncf/experimental/quantization/__init__.py
  tests/onnx/benchmarking/run_ptq.py
Labels: experimental, NNCF ONNX

#1393 Removed weights downloading in tests for searching blocks in transformers
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
  tests/torch/requirements.txt
Labels: NNCF PT

#1394 Fix CUDA version in the README.md
  README.md
Labels: documentation

#1390 Remove direct setup.py installation
  README.md
  setup.py
  tests/cross_fw/install/install_checks_torch.py
  tests/cross_fw/install/test_install.py
  tests/shared/helpers.py
Labels: documentation, dependencies

#1397 Fix HTML rendering for E2E ONNX
  tests/onnx/test_e2e_ptq.py
Labels: NNCF ONNX
