Repository openvinotoolkit/nncf, pull requests merged in 2022-05, with the labels that each got.

#1174 Update public PTQ API
  examples/experimental/onnx/onnx_ptq_classification.py
  nncf/experimental/onnx/datasets/__init__.py
  nncf/experimental/onnx/datasets/imagenet_dataset.py
  nncf/experimental/onnx/engine.py
  nncf/experimental/onnx/samplers.py
  nncf/experimental/onnx/statistics/aggregator.py
  nncf/experimental/post_training/api/dataset.py
  nncf/experimental/post_training/api/engine.py
  nncf/experimental/post_training/api/metric.py
  nncf/experimental/post_training/api/sampler.py
  nncf/experimental/post_training/compression_builder.py
  nncf/experimental/post_training/sampler.py
  nncf/experimental/post_training/samplers.py
  nncf/experimental/post_training/statistics/aggregator.py
  tests/experimental/post_training/test_api.py
  tests/onnx/data/reference_graphs/quantization/mobilenet_v2.dot
  tests/onnx/quantization/__init__.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/test_samplers.py
  tests/onnx/test_sanity_sample.py
  tests/onnx/test_statistics_aggregator.py
Labels: experimental, ready for reviews

#1175 Add Pymoo to setup. Desc. experimental schema
  nncf/config/experimental_schema.py
  setup.py
Labels: dependencies

#1176 add type casting to symmetric_quantize
  nncf/torch/quantization/quantize_functions.py
Labels: NNCF PT

#1180 Set networkx>=2.5, <2.8.1rc1
  setup.py
Labels: dependencies, ready for reviews

#1177 Fix a bug with functions_cuda_impl.cu
  nncf/torch/extensions/src/quantization/cuda/functions_cuda_impl.cu
Labels: NNCF PT

#1186 modify networkx for CI testing
  setup.py
Labels: dependencies

#1185 Fix version issue for Python3.6
  setup.py
Labels: dependencies, ready for reviews

#1184 Introduce ONNX Post-Training Quantization CamVid, Mapillary segmentation sample
  .pylintrc
  examples/experimental/onnx/classification/README.md
  examples/experimental/onnx/classification/__init__.py
  examples/experimental/onnx/classification/ac_configs/inception_v1.yml
  examples/experimental/onnx/classification/ac_configs/inception_v3.yml
  examples/experimental/onnx/classification/ac_configs/mobilenet_v2.yml
  examples/experimental/onnx/classification/ac_configs/resnet50.yml
  examples/experimental/onnx/classification/ac_configs/squeezenet_1_1l.yml
  examples/experimental/onnx/classification/onnx_ptq_classification.py
  examples/experimental/onnx/semantic_segmentation/README.md
  examples/experimental/onnx/semantic_segmentation/__init__.py
  examples/experimental/onnx/semantic_segmentation/ac_configs/icnet_camvid.yml
  examples/experimental/onnx/semantic_segmentation/ac_configs/unet_camvid.yml
  examples/experimental/onnx/semantic_segmentation/ac_configs/unet_mapillary.yml
  examples/experimental/onnx/semantic_segmentation/onnx_ptq_segmentation.py
  nncf/experimental/onnx/datasets/segmentation_dataset.py
  tests/onnx/sanity_tests/__init__.py
  tests/onnx/sanity_tests/test_classification_sanity_sample.py
  tests/onnx/sanity_tests/test_segmentation_sanity_sample.py
Labels: documentation, experimental, ready for reviews

#1187 add setting the best checkpoint before training
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/torch/accuracy_aware_training/runner.py
  tests/torch/accuracy_aware_training/test_training_loop.py
Labels: NNCF PT, NNCF Common

#1188 Exp public ptq api
  .dockerignore
  .gitignore
  docker/onnx/openvinoep/Dockerfile
  docker/onnx/openvinoep/build.sh
  examples/experimental/onnx/README.md
  examples/experimental/onnx/classification/onnx_models_configs/bvlcalexnet-12.yml
  examples/experimental/onnx/classification/onnx_models_configs/caffenet-12.yml
  examples/experimental/onnx/classification/onnx_models_configs/densenet-12.yml
  examples/experimental/onnx/classification/onnx_models_configs/efficientnet-lite4-11.yml
  examples/experimental/onnx/classification/onnx_models_configs/googlenet-12.yml
  examples/experimental/onnx/classification/onnx_models_configs/inception-v1-12.yml
  examples/experimental/onnx/classification/onnx_models_configs/inception-v2-9.yml
  examples/experimental/onnx/classification/onnx_models_configs/mobilenetv2-12.yml
  examples/experimental/onnx/classification/onnx_models_configs/resnet50-v1-12.yml
  examples/experimental/onnx/classification/onnx_models_configs/resnet50-v2-7.yml
  examples/experimental/onnx/classification/onnx_models_configs/shufflenet-9.yml
  examples/experimental/onnx/classification/onnx_models_configs/shufflenet-v2-12.yml
  examples/experimental/onnx/classification/onnx_models_configs/squeezenet1.0-12.yml
  examples/experimental/onnx/classification/onnx_models_configs/vgg16-12.yml
  examples/experimental/onnx/classification/onnx_models_configs/zfnet512-12.yml
  examples/experimental/onnx/classification/onnx_ptq_classification.py
  examples/experimental/onnx/requirements.txt
  examples/experimental/onnx/run_ptq.py
  examples/experimental/onnx/run_ptq_onnx_models.sh
  nncf/experimental/onnx/datasets/imagenet_dataset.py
  nncf/experimental/onnx/engine.py
  nncf/experimental/onnx/model_normalizer.py
  tests/onnx/sanity_tests/test_classification_sanity_sample.py
Labels: documentation, experimental, ready for reviews
