Repository openvinotoolkit/nncf, pull requests merged in 2022-04, with the labels that each got.

#1158 Metatype for BatchMatMulV2
  nncf/tensorflow/graph/metatypes/tf_ops.py
  nncf/tensorflow/quantization/default_quantization.py
Labels: NNCF TF

#1159 Fix FQs insertion for experimental quantization
  nncf/experimental/tensorflow/patch_tf.py
  nncf/experimental/tensorflow/scope.py
Labels: experimental

#1157 Adaptive compression loop: use original compression controller to dump best checkpoints
  nncf/common/accuracy_aware_training/training_loop.py
Labels: NNCF Common

#1155 Add functional test of ONNX PTQ of detection models
  nncf/experimental/onnx/algorithms/quantization/min_max_quantization.py
  nncf/experimental/onnx/hardware/fused_patterns.py
  nncf/experimental/onnx/hardware/patterns.py
  nncf/experimental/onnx/model_normalizer.py
  nncf/experimental/onnx/statistics/aggregator.py
  tests/onnx/data/reference_graphs/quantization/tiny-yolov2.dot
  tests/onnx/data/reference_graphs/quantization/yolov2-coco-9.dot
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_detection_models_graph.py
Labels: experimental

#1128 Adding saturation fix parameters to compression state for PT
  nncf/torch/checkpoint_loading.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/precision_init/adjacent_quantizers.py
  nncf/torch/utils.py
  tests/torch/nas/test_all_elasticity.py
  tests/torch/quantization/test_hawq_precision_init.py
  tests/torch/test_backward_compat.py
  tests/torch/test_compressed_graph.py
Labels: NNCF PT

#1163 Adjust kernels to switch from deprecated torch TH/THC namespaces
  examples/torch/object_detection/layers/extensions/nms/nms_kernel.cu
  nncf/torch/extensions/include/common_cuda_defs.cuh
Labels: NNCF PT
