Repository openvinotoolkit/nncf, pull requests merged in 2022-02, with the labels that each got.

#1091 Changed normalization parameters for CIFAR-10 images
  examples/torch/classification/main.py
Labels: NNCF PT

#1083 TFOpLambda layer support (Keras tensor)
  examples/tensorflow/classification/README.md
  examples/tensorflow/common/object_detection/architecture/fpn.py
  examples/tensorflow/common/object_detection/architecture/heads.py
  examples/tensorflow/common/object_detection/architecture/keras_utils.py
  examples/tensorflow/common/object_detection/architecture/resnet.py
  examples/tensorflow/common/object_detection/ops/spatial_transform_ops.py
  examples/tensorflow/object_detection/README.md
  examples/tensorflow/object_detection/models/retinanet_model.py
  examples/tensorflow/segmentation/README.md
  examples/tensorflow/segmentation/configs/quantization/mask_rcnn_coco_int8.json
  examples/tensorflow/segmentation/models/maskrcnn_model.py
  nncf/tensorflow/__init__.py
  nncf/tensorflow/graph/converter.py
  nncf/tensorflow/graph/metatypes/common.py
  nncf/tensorflow/graph/metatypes/keras_layers.py
  nncf/tensorflow/graph/metatypes/tf_ops.py
  nncf/tensorflow/graph/model_transformer.py
  nncf/tensorflow/graph/pattern_operations.py
  nncf/tensorflow/graph/patterns.py
  nncf/tensorflow/graph/utils.py
  nncf/tensorflow/hardware/fused_patterns.py
  nncf/tensorflow/pruning/operations.py
  nncf/tensorflow/quantization/algorithm.py
  tests/tensorflow/data/reference_graphs/pruning/filter_pruning/mobilenet_v3_large.pb
  tests/tensorflow/data/reference_graphs/pruning/filter_pruning/mobilenet_v3_small.pb
  tests/tensorflow/data/reference_graphs/pruning/filter_pruning/retinanet.pb
  tests/tensorflow/data/reference_graphs/pruning/filter_pruning/shared_layers_model.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/mobilenet_v3_large.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/mobilenet_v3_small.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/retinanet.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/retinanet_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/shared_layers_model.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_ch_a_asym_t/shared_layers_model_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/mobilenet_v3_large.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/mobilenet_v3_small.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/retinanet.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/retinanet_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/shared_layers_model.pb
  tests/tensorflow/data/reference_graphs/quantized/w_sym_t_a_sym_t/shared_layers_model_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/sparsity/magnitude_sparsity/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/sparsity/magnitude_sparsity/mobilenet_v3_large.pb
  tests/tensorflow/data/reference_graphs/sparsity/magnitude_sparsity/mobilenet_v3_small.pb
  tests/tensorflow/data/reference_graphs/sparsity/magnitude_sparsity/retinanet.pb
  tests/tensorflow/data/reference_graphs/sparsity/magnitude_sparsity/shared_layers_model.pb
  tests/tensorflow/data/reference_graphs/sparsity/rb_sparsity/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/sparsity/rb_sparsity/mobilenet_v3_large.dot
  tests/tensorflow/data/reference_graphs/sparsity/rb_sparsity/mobilenet_v3_small.dot
  tests/tensorflow/data/reference_graphs/sparsity/rb_sparsity/retinanet.dot
  tests/tensorflow/data/reference_graphs/sparsity/rb_sparsity/shared_layers_model.dot
  tests/tensorflow/sota_checkpoints_eval.json
  tests/tensorflow/test_compressed_graph.py
  tests/tensorflow/test_model_converter.py
  tests/tensorflow/test_transformations.py
Labels: documentation, NNCF TF

#1102 Corrected typo to fix broken TF pre-commit
  tests/tensorflow/test_compressed_graph.py
Labels: NNCF TF

#1095 Samples readme typo fix
  examples/torch/classification/README.md
  examples/torch/object_detection/README.md
Labels: documentation, NNCF PT

#1097 Fix pytest collection warnings
  tests/torch/pruning/filter_pruning/test_algo.py
  tests/torch/pruning/filter_pruning/test_layers.py
  tests/torch/pruning/helpers.py
  tests/torch/pruning/test_model_pruning_analysis.py
  tests/torch/pruning/test_onnx_export.py
  tests/torch/pruning/test_utils.py
  tests/torch/pytest.ini
  tests/torch/quantization/test_manual_precision_init.py
  tests/torch/quantization/test_quantization_metric.py
  tests/torch/sparsity/magnitude/test_modules.py
  tests/torch/sparsity/rb/test_components.py
  tests/torch/sparsity/test_common.py
  tests/torch/test_algo_common.py
  tests/torch/test_distributed_data_parallel_mode.py
  tests/torch/test_frozen_layers.py
  tests/torch/test_nncf_network.py
  tests/torch/test_resume_from_checkpoint.py
  tests/torch/test_sanity_sample.py
Labels: NNCF PT

#1096 Make NNCFNetwork deepcopy-able
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/graph_tracer.py
  nncf/torch/nncf_network.py
  nncf/torch/utils.py
  tests/torch/test_graph_building.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT

#1103 Metric update
  README.md
Labels: NNCF TF

#1101 Restore model device after ONNX export
  nncf/torch/exporter.py
Labels: NNCF PT

#1082 Meshford patch 2
  examples/tensorflow/classification/README.md
  examples/tensorflow/object_detection/README.md
  examples/tensorflow/segmentation/README.md
  examples/torch/classification/README.md
  examples/torch/object_detection/README.md
  examples/torch/semantic_segmentation/README.md
Labels: documentation, NNCF TF, NNCF PT

#1110 New FakeQuantize kernel for PT
  nncf/torch/extensions/src/quantization/cpu/functions_cpu.cpp
  nncf/torch/extensions/src/quantization/cuda/functions_cuda_impl.cu
  tests/common/helpers.py
  tests/torch/quantization/test_functions.py
Labels: bug, NNCF PT, NNCF Common

#1105 Add FC+const_mul pattern.
  nncf/torch/graph/patterns.py
  nncf/torch/hardware/fused_patterns.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/FC_ConstMul.dot
  tests/torch/test_compressed_graph.py
  tests/torch/test_models/synthetic.py
Labels: NNCF PT

#1111 Adding new command line option
  examples/torch/classification/README.md
  examples/torch/common/argparser.py
  examples/torch/common/sample_config.py
  examples/torch/object_detection/README.md
  examples/torch/semantic_segmentation/README.md
Labels: documentation, NNCF PT

#1113 Handle dimensionless tensor unstack in NNCFCollectorTensorProcessor
  nncf/common/tensor.py
  nncf/tensorflow/tensor_statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
  tests/tensorflow/tensor_statistics/test_tensor_statistics.py
  tests/torch/tensor_statistics/test_tensor_statistics.py
Labels: NNCF TF, NNCF PT, NNCF Common

#1066 Linear Ops Pruning Support
  nncf/common/pruning/mask_propagation.py
  nncf/common/pruning/node_selector.py
  nncf/common/pruning/operations.py
  nncf/common/pruning/utils.py
  nncf/tensorflow/graph/converter.py
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/tensorflow/pruning/operations.py
  nncf/tensorflow/pruning/tensor_processor.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/layers.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/pruning/operations.py
  tests/common/pruning/dummy_types.py
  tests/common/pruning/test_pruning_operations.py
  tests/tensorflow/data/reference_graphs/2.4/pruning/filter_pruning/inception_v3.pb
  tests/tensorflow/data/reference_graphs/2.4/pruning/filter_pruning/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/2.4/pruning/filter_pruning/sequential_model.pb
  tests/tensorflow/data/reference_graphs/2.4/pruning/filter_pruning/sequential_no_input_model.pb
  tests/tensorflow/data/reference_graphs/2.4/pruning/filter_pruning/vgg16.pb
  tests/tensorflow/data/reference_graphs/2.5/pruning/filter_pruning/inception_v3.pb
  tests/tensorflow/data/reference_graphs/2.5/pruning/filter_pruning/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/2.5/pruning/filter_pruning/sequential_model.pb
  tests/tensorflow/data/reference_graphs/2.5/pruning/filter_pruning/sequential_no_input_model.pb
  tests/tensorflow/data/reference_graphs/2.5/pruning/filter_pruning/vgg16.pb
  tests/tensorflow/pruning/test_tensor_processor.py
  tests/tensorflow/test_tensor.py
  tests/torch/pruning/filter_pruning/test_algo.py
  tests/torch/pruning/filter_pruning/test_set_pruning_rate.py
  tests/torch/pruning/helpers.py
  tests/torch/pruning/test_model_pruning_analysis.py
  tests/torch/pruning/test_tensor_processor.py
  tests/torch/test_tensor.py
Labels: NNCF TF, NNCF PT, NNCF Common

#1115 New FQ formula docs PT
  docs/compression_algorithms/Quantization.md
  nncf/torch/extensions/src/quantization/cpu/functions_cpu.cpp
  nncf/torch/extensions/src/quantization/cuda/functions_cuda_impl.cu
Labels: documentation, NNCF PT

#1118 Strategy threadpool fix for classification
  examples/tensorflow/classification/main.py
Labels: NNCF TF

#1116 TF precommit on CPU
  tests/tensorflow/data/reference_graphs/2.4/pruning/filter_pruning/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.4/pruning/filter_pruning/inception_v3.pb
  tests/tensorflow/data/reference_graphs/2.4/quantized/hw/CPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.4/quantized/hw/CPU/inception_v3.pb
  tests/tensorflow/data/reference_graphs/2.4/quantized/hw/GPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.4/quantized/hw/GPU/inception_v3.pb
  tests/tensorflow/data/reference_graphs/2.4/quantized/hw/VPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.4/quantized/hw/VPU/inception_v3.pb
  tests/tensorflow/data/reference_graphs/2.4/quantized/w_sym_ch_a_asym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.4/quantized/w_sym_ch_a_asym_t/inception_v3.pb
  tests/tensorflow/data/reference_graphs/2.4/quantized/w_sym_t_a_sym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.4/quantized/w_sym_t_a_sym_t/inception_v3.pb
  tests/tensorflow/data/reference_graphs/2.4/sparsity/magnitude_sparsity/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.4/sparsity/magnitude_sparsity/inception_v3.pb
  tests/tensorflow/data/reference_graphs/2.5/pruning/filter_pruning/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.5/pruning/filter_pruning/inception_v3.pb
  tests/tensorflow/data/reference_graphs/2.5/quantized/hw/CPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.5/quantized/hw/CPU/inception_v3.pb
  tests/tensorflow/data/reference_graphs/2.5/quantized/hw/GPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.5/quantized/hw/GPU/inception_v3.pb
  tests/tensorflow/data/reference_graphs/2.5/quantized/hw/VPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.5/quantized/hw/VPU/inception_v3.pb
  tests/tensorflow/data/reference_graphs/2.5/quantized/w_sym_ch_a_asym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.5/quantized/w_sym_ch_a_asym_t/inception_v3.pb
  tests/tensorflow/data/reference_graphs/2.5/quantized/w_sym_t_a_sym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.5/quantized/w_sym_t_a_sym_t/inception_v3.pb
  tests/tensorflow/data/reference_graphs/2.5/sparsity/magnitude_sparsity/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.5/sparsity/magnitude_sparsity/inception_v3.pb
  tests/tensorflow/test_compressed_graph.py
Labels: NNCF TF
