Repository openvinotoolkit/nncf, pull requests merged in 2023-01, with the labels that each got.

#1437 Adaptive Compression Training: removed exception when can't reach required accuracy drop
  examples/tensorflow/classification/main.py
  examples/tensorflow/object_detection/main.py
  examples/torch/classification/main.py
  examples/torch/object_detection/main.py
  examples/torch/semantic_segmentation/main.py
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/statistics.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/tensorflow/accuracy_aware_training/keras_model_utils.py
  nncf/tensorflow/accuracy_aware_training/runner.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/torch/accuracy_aware_training/runner.py
  nncf/torch/composite_compression.py
  nncf/torch/sparsity/magnitude/algo.py
  tests/tensorflow/accuracy_aware_training/test_keras_api.py
  tests/torch/accuracy_aware_training/test_training_loop.py
Labels: NNCF TF, NNCF PT, NNCF Common

#1475 Added nncf badges
  README.md
Labels: documentation

#1476 Data item format fix
  nncf/openvino/engine.py
Labels: NNCF OpenVINO

#1470 [OV]: fixes for quantize_with_accuracy_control
  nncf/openvino/quantization/quantize.py
Labels: NNCF OpenVINO

#1478 Enabled non-failing NAS tests
  tests/torch/data/reference_graphs/nas/shufflenetv2_depth.dot
  tests/torch/data/reference_graphs/nas/shufflenetv2_width.dot
  tests/torch/data/reference_graphs/nas/squeezenet1_0_depth.dot
  tests/torch/data/reference_graphs/nas/squeezenet1_0_width.dot
  tests/torch/nas/test_all_elasticity.py
Labels: NNCF PT

#1474 Introduced a suggestion to get_all_edges and refactored `DynamicGraph`
  nncf/common/graph/graph.py
  nncf/torch/dynamic_graph/graph.py
  tests/torch/data/reference_graphs/nas/densenet_121_depth.dot
  tests/torch/data/reference_graphs/nas/densenet_121_kernel.dot
  tests/torch/data/reference_graphs/nas/densenet_121_width.dot
Labels: NNCF PT, NNCF Common

#1480 Type hints were fixed
  nncf/openvino/quantization/quantize.py
  nncf/quantization/quantize.py
Labels: NNCF OpenVINO

#1467 Workaround for the hang in sanity tests with --cpu-only option
  tests/torch/data/configs/unet_camvid_int8.json
  tests/torch/data/configs/unet_camvid_rb_sparsity.json
  tests/torch/test_sanity_sample.py
Labels: NNCF PT

#1447 Adjust torch BKC version
  nncf/version.py
  tests/onnx/requirements.txt
Labels: NNCF ONNX

#1463 Remove CompressionBuilder
  nncf/experimental/onnx/model_normalizer.py
  nncf/experimental/quantization/__init__.py
  nncf/experimental/quantization/compression_builder.py
  nncf/experimental/quantization/telemetry_extractors.py
  tests/onnx/benchmarking/run_ptq.py
  tests/onnx/quantization/common.py
  tests/onnx/test_telemetry.py
Labels: experimental, NNCF ONNX

#1493 Wrap telemetry object to ignore exceptions triggered in the telemetry backend
  nncf/telemetry/__init__.py
  nncf/telemetry/decorator.py
  nncf/telemetry/wrapper.py
  tests/common/test_telemetry.py
  tests/shared/helpers.py
Labels: NNCF Common

#1490 Update requirements in preparation for Python 3.11
  setup.py
Labels: dependencies

#1491 Relax jsonschema requirements
  setup.py
Labels: dependencies

#1461 Update the ov.Model creation & ov version
  setup.py
  tests/openvino/native/models.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/pot/test_engine.py
Labels: dependencies, NNCF OpenVINO

#1481 Removing matplotlib from the mandatory requirements
  nncf/common/utils/decorators.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elasticity_controller.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/torch/quantization/precision_init/hawq_debug.py
  setup.py
Labels: dependencies, NNCF PT, NNCF Common, experimental

#1496 Specify license in setup.py
  setup.py
Labels: dependencies

#1497 Fix the rest of the log string creation
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/scheduler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/torch/debug.py
  nncf/torch/dynamic_graph/io_handling.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/extensions/__init__.py
  nncf/torch/pruning/base_algo.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/quantization/precision_init/autoq_init.py
  tests/onnx/opset_converter.py
Labels: NNCF PT, NNCF Common, experimental, NNCF ONNX

#1398 Add CPUExecutionProvider to the ONNX E2E
  Makefile
  tests/onnx/README.md
  tests/onnx/benchmarking/classification/onnx_models_configs/bvlcalexnet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/caffenet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/densenet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/efficientnet-lite4-11.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/googlenet-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/inception-v1-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/mobilenetv2-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/resnet50-v1-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/resnet50-v2-7.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/shufflenet-9.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/shufflenet-v2-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/squeezenet1.0-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/vgg16-12.yml
  tests/onnx/benchmarking/classification/onnx_models_configs/zfnet512-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/FasterRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/MaskRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ResNet101-DUC-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/fcn-resnet50-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/retinanet-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ssd-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/ssd_mobilenet_v1_12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/tiny-yolov3-11.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/tinyyolov2-8.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/yolov2-coco-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/yolov3-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/onnx_models_configs/yolov4.yml
  tests/onnx/conftest.py
  tests/onnx/data/reference_model_accuracy/reference.json
  tests/onnx/requirements.txt
  tests/onnx/test_e2e_ptq.py
Labels: documentation, NNCF ONNX

#1494 Calibrate tool for OpenVINO backend
  tests/openvino/requirements.txt
  tests/openvino/tools/README.md
  tests/openvino/tools/__init__.py
  tests/openvino/tools/calibrate.py
Labels: documentation, NNCF OpenVINO

#1499 ONNX Move Out Experimental
  Makefile
  nncf/common/factory.py
  nncf/experimental/onnx/graph/metatypes/__init__.py
  nncf/experimental/onnx/graph/transformations/__init__.py
  nncf/onnx/engine.py
  nncf/onnx/graph/__init__.py
  nncf/onnx/graph/metatypes/__init__.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/graph/onnx_graph.py
  nncf/onnx/graph/transformations/__init__.py
  nncf/onnx/graph/transformations/commands.py
  nncf/onnx/hardware/__init__.py
  nncf/onnx/hardware/config.py
  nncf/onnx/hardware/fused_patterns.py
  nncf/onnx/hardware/pattern_operations.py
  nncf/onnx/hardware/patterns.py
  nncf/onnx/quantization/default_quantization.py
  nncf/onnx/quantization/quantizer_parameters.py
  nncf/onnx/statistics/__init__.py
  nncf/onnx/statistics/aggregator.py
  nncf/onnx/statistics/collectors.py
  nncf/onnx/statistics/statistics.py
  nncf/onnx/tensor.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/onnx/benchmarking/README.md
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/onnx/test_metatypes.py
  tests/onnx/test_model_transformer.py
  tests/onnx/test_nncf_graph_builder.py
  tests/onnx/test_statistics_aggregator.py
  tests/onnx/weightless_model.py
Labels: documentation, NNCF Common, experimental, NNCF ONNX

#1500 Fix for compression_rate property of PTCompositeCompressionAlgorithmController
  nncf/torch/composite_compression.py
  tests/torch/composite/test_sparsity_quantization.py
Labels: NNCF PT

#1503 Use new version of requesting deterministic algorithms in PyTorch
  examples/torch/common/execution.py
Labels: NNCF PT

#1487 NodeRemoving command for OV backend.
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/transformations/commands.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/transformations/commands.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  tests/onnx/test_model_transformer.py
  tests/openvino/conftest.py
  tests/openvino/native/common.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/removed_nodes_in_QuantizedModel.dot
  tests/openvino/native/models.py
  tests/openvino/native/test_model_transformer.py
Labels: experimental, NNCF OpenVINO, NNCF ONNX

#1502 Time for the dataset's length estimation was improved
  nncf/openvino/engine.py
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#1489 Add aliases for backend extra installation
  setup.py
Labels: dependencies

#1450 Added upper bound for maximal compression rate of ACTL
  nncf/api/compression.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/common/composite_compression.py
  nncf/common/compression.py
  nncf/common/pruning/statistics.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/torch/pruning/filter_pruning/algo.py
  tests/tensorflow/accuracy_aware_training/test_keras_api.py
  tests/tensorflow/pruning/test_flops_pruning.py
  tests/torch/accuracy_aware_training/test_training_loop.py
  tests/torch/pruning/filter_pruning/test_flops_pruning.py
Labels: NNCF TF, NNCF PT, NNCF Common

#1506 Fix ignored scope setting in compression training test
  nncf/torch/model_creation.py
  tests/torch/data/configs/weekly/classification/cifar100/mobilenet_v2_rb_sparsity_int8.json
Labels: NNCF PT

#1501 Fix calibrate tool
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#1508 Fixed weekly NAS tests
  tests/torch/data/configs/weekly/classification/cifar10/mobilenet_v2_nas_SMALL.json
  tests/torch/test_compression_training.py
Labels: NNCF PT

#1492 Algorithm for searching FQs to remove
  nncf/common/quantization/quantizer_removal.py
  nncf/experimental/openvino_native/graph/metatypes/common.py
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  tests/common/quantization/metatypes.py
  tests/common/quantization/test_quantizer_removal.py
  tests/openvino/native/test_metatypes.py
Labels: NNCF Common, experimental, NNCF OpenVINO

#1510 Use safe_open across NNCF
  nncf/experimental/torch/nas/bootstrapNAS/search/evaluator.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/torch/pruning/filter_pruning/algo.py
Labels: NNCF PT, experimental

#1444 Added MinMax algorithm for OpenVINO backend
  Makefile
  nncf/common/factory.py
  nncf/common/utils/backend.py
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/graph/transformations/__init__.py
  nncf/experimental/openvino_native/graph/transformations/commands.py
  nncf/experimental/openvino_native/hardware/__init__.py
  nncf/experimental/openvino_native/hardware/config.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/experimental/openvino_native/hardware/pattern_operations.py
  nncf/experimental/openvino_native/hardware/patterns.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/experimental/openvino_native/quantization/default_quantization.py
  nncf/experimental/openvino_native/quantization/quantize.py
  nncf/experimental/openvino_native/quantization/quantizer_parameters.py
  nncf/experimental/openvino_native/statistics/__init__.py
  nncf/experimental/openvino_native/statistics/aggregator.py
  nncf/experimental/openvino_native/statistics/collectors.py
  nncf/experimental/openvino_native/statistics/statistics.py
  nncf/experimental/openvino_native/tensor.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/openvino/native/common.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/ConvModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/LinearModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/MatMul2DModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/WeightsModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/removed_nodes_in_QuantizedModel.dot
  tests/openvino/native/data/reference_graphs/quantized/ConvModel.dot
  tests/openvino/native/data/reference_graphs/quantized/LinearModel.dot
  tests/openvino/native/data/reference_graphs/quantized/MatMul2DModel.dot
  tests/openvino/native/data/reference_scales/ConvModel_mixed.json
  tests/openvino/native/data/reference_scales/ConvModel_performance.json
  tests/openvino/native/data/reference_scales/LinearModel_mixed.json
  tests/openvino/native/data/reference_scales/LinearModel_performance.json
  tests/openvino/native/data/reference_scales/MatMul2DModel_mixed.json
  tests/openvino/native/data/reference_scales/MatMul2DModel_performance.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/__init__.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/openvino/native/test_metatypes.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_nncf_graph_builder.py
  tests/openvino/native/test_statistics_aggregator.py
  tests/openvino/omz_helpers.py
Labels: NNCF Common, experimental, NNCF OpenVINO

#1518 Missing __init__.py files were added
  nncf/experimental/openvino_native/quantization/__init__.py
  nncf/experimental/openvino_native/quantization/algorithms/__init__.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/__init__.py
Labels: experimental

#1512 Fix comparing tuple with list in PTQuantizerSpec
  nncf/torch/quantization/layers.py
Labels: NNCF PT

#1520 Redundant model_transformer property was removed from algo backends
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
Labels: experimental

#1515 Use parse_voc_xml in a backwards-compatible way with old torchvision
  examples/torch/object_detection/datasets/voc0712.py
Labels: NNCF PT

#1511 Remove unnecessary dependencies
  examples/tensorflow/requirements.txt
  nncf/common/hardware/config.py
  nncf/openvino/quantization/accuracy_aware.py
  setup.py
  tests/experimental/tensorflow/test_compressed_graph.py
  tests/experimental/tensorflow/test_context_independence.py
  tests/openvino/pot/test_engine.py
  tests/tensorflow/pruning/helpers.py
  tests/tensorflow/quantization/utils.py
  tests/tensorflow/sparsity/magnitude/test_algorithm.py
  tests/tensorflow/sparsity/magnitude/test_scheduler.py
  tests/tensorflow/sparsity/rb/test_components.py
  tests/tensorflow/sparsity/test_common.py
  tests/tensorflow/test_bn_adaptation.py
  tests/tensorflow/test_compressed_graph.py
  tests/tensorflow/test_ignored_scopes.py
Labels: dependencies, NNCF TF, NNCF Common, NNCF OpenVINO

#1525 [OV] Supported different configurations of input data for OVNativeEngine
  nncf/experimental/openvino_native/engine.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/removed_nodes_in_QuantizedModel.dot
  tests/openvino/native/models.py
  tests/openvino/native/test_engine.py
  tests/openvino/native/test_model_transformer.py
Labels: experimental, NNCF OpenVINO

#1528 Fix render of math formula in docs
  docs/compression_algorithms/Quantization.md
Labels: documentation

#1513 ONNX Add new pattern for densenet
  nncf/common/graph/patterns.py
  nncf/onnx/hardware/fused_patterns.py
  nncf/onnx/hardware/patterns.py
  tests/onnx/benchmarking/classification/onnx_models_configs/densenet-12.yml
  tests/onnx/data/models/densenet-12.onnx
  tests/onnx/data/reference_graphs/quantization/densenet-12.dot
  tests/onnx/quantization/test_classification_models_graph.py
Labels: NNCF Common, NNCF ONNX

#1322 Use reference quantization on CPU if compiled extensions are unavailable
  examples/torch/object_detection/layers/extensions/__init__.py
  nncf/common/logging/logger.py
  nncf/torch/binarization/binarize_functions.py
  nncf/torch/binarization/extensions.py
  nncf/torch/binarization/reference.py
  nncf/torch/extensions/__init__.py
  nncf/torch/quantization/extensions.py
  nncf/torch/quantization/quantize_functions.py
  nncf/torch/quantization/reference.py
  tests/cross_fw/install/install_checks_torch.py
  tests/shared/isolation_runner.py
  tests/torch/binarization/test_functions.py
  tests/torch/quantization/extensions/__init__.py
  tests/torch/quantization/extensions/isolated_cases.py
  tests/torch/quantization/extensions/test_extension_unavailable.py
  tests/torch/quantization/test_algo_quantization.py
  tests/torch/quantization/test_functions.py
Labels: NNCF PT, NNCF Common

#1505 Update Readme with PTQ section
  README.md
  docs/compression_algorithms/post_training/ONNX.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

#1523 Add OpenVINO inference engine into E2E as default
  tests/onnx/benchmarking/README.md
  tests/onnx/benchmarking/classification/openvino_models_configs/bvlcalexnet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/caffenet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/densenet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/efficientnet-lite4-11.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/googlenet-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/inception-v1-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/mobilenetv2-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/resnet50-v1-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/resnet50-v2-7.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/shufflenet-9.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/shufflenet-v2-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/squeezenet1.0-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/vgg16-12.yml
  tests/onnx/benchmarking/classification/openvino_models_configs/zfnet512-12.yml
  tests/onnx/benchmarking/dataset_definitions.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/FasterRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/MaskRCNN-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/ResNet101-DUC-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/fcn-resnet50-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/retinanet-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/ssd-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/ssd_mobilenet_v1_12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/tiny-yolov3-11.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/tinyyolov2-8.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/yolov2-coco-9.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/yolov3-12.yml
  tests/onnx/benchmarking/object_detection_segmentation/openvino_models_configs/yolov4.yml
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/benchmarking/run_ptq_onnx_models.sh
  tests/onnx/conftest.py
  tests/onnx/test_e2e_ptq.py
Labels: documentation, NNCF ONNX

#1440 FastBC for OpenVINO backend
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/graph/node_utils.py
  nncf/experimental/openvino_native/graph/transformations/command_creation.py
  nncf/experimental/openvino_native/graph/transformations/commands.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/__init__.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/experimental/openvino_native/quantization/quantize.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/graph/node_utils.py
  nncf/onnx/graph/transformations/commands.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  tests/onnx/test_model_transformer.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/ConvModel.dot
  tests/openvino/native/data/reference_graphs/quantized/ConvModel.dot
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/test_metatypes.py
  tests/openvino/native/test_model_transformer.py
Labels: experimental, NNCF OpenVINO, NNCF ONNX

#1539 Adjust release command line to use build
  .github/workflows/python-publish.yml
  setup.py
Labels: dependencies
