Repository openvinotoolkit/nncf, pull requests merged in 2023-07, with the labels that each got.

#1944 Support pillow>=10.0.0
  examples/tensorflow/common/object_detection/utils/yolo_v4_utils.py
Labels: NNCF TF

#1940 [ONNX] Add search of tensors in nodes attributes; Add pattern
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/node_utils.py
  nncf/onnx/graph/onnx_graph.py
  nncf/onnx/hardware/fused_patterns.py
  tests/onnx/quantization/test_qdq_params_calculation.py
  tests/onnx/test_model_transformer.py
  tests/onnx/test_pattern_manager.py
Labels: NNCF ONNX

#1809 Extend the validation function
  nncf/experimental/openvino/__init__.py
  nncf/experimental/openvino/quantization/__init__.py
  nncf/experimental/openvino/quantization/quantize_model.py
  nncf/openvino/pot/engine.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/algorithms/accuracy_control/algorithm.py
  nncf/quantization/algorithms/accuracy_control/evaluator.py
  nncf/quantization/algorithms/accuracy_control/rank_functions.py
  nncf/quantization/algorithms/accuracy_control/ranker.py
  tests/common/accuracy_control/test_evaluator.py
  tests/common/accuracy_control/test_ranking.py
  tests/openvino/pot/test_engine.py
  tests/openvino/tools/calibrate.py
Labels: NNCF Common, experimental, NNCF OpenVINO

#1928 [PTQ][OV] ChannelAllignment algorithm implementation
  nncf/common/graph/graph.py
  nncf/common/graph/graph_matching.py
  nncf/common/graph/layer_attributes.py
  nncf/common/quantization/quantizer_removal.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/openvino/graph/layer_attributes.py
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/channel_alignment/__init__.py
  nncf/quantization/algorithms/channel_alignment/algorithm.py
  nncf/quantization/algorithms/channel_alignment/backend.py
  nncf/quantization/algorithms/channel_alignment/openvino_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/quantization/algorithms/smooth_quant/openvino_backend.py
  nncf/quantization/passes.py
  nncf/tensorflow/graph/converter.py
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
  tests/common/graph/test_graph_matching.py
  tests/common/graph/test_nncf_graph.py
  tests/common/pruning/test_pruning_operations.py
  tests/common/pruning/test_utils.py
  tests/common/quantization/mock_graphs.py
  tests/openvino/native/quantization/test_channel_alignment.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/openvino/native/quantization/test_sanity.py
  tests/openvino/native/test_layer_attributes.py
  tests/openvino/native/test_metatypes.py
  tests/post_training/test_templates/models.py
  tests/post_training/test_templates/test_channel_alignment.py
  tests/post_training/test_templates/test_smooth_quant.py
  tests/torch/ptq/helpers.py
  tests/torch/sparsity/movement/helpers/utils.py
  tests/torch/test_graph_building.py
  tests/torch/test_layer_attributes.py
Labels: NNCF TF, NNCF PT, NNCF Common, experimental, NNCF OpenVINO, API

#1950 Update Usage Guide
  README.md
Labels: documentation

#1949 Fix samples
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/algorithms/accuracy_control/evaluator.py
  tests/cross_fw/examples/example_scope.json
Labels: NNCF PT, NNCF OpenVINO

#1922 New test_quantize_conformance for HF
  .pylintrc
  tests/post_training/README.md
  tests/post_training/conftest.py
  tests/post_training/model_scope.json
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/causal_language_model.py
  tests/post_training/pipelines/image_classification_timm.py
  tests/post_training/pipelines/masked_language_modeling.py
  tests/post_training/reference_data.yaml
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Labels: documentation, NNCF PTQ

#1951 Added the transformation in all code snippets in the usage guide
  README.md
Labels: documentation

#1956 Update reference metrics of PTQ
  tests/post_training/reference_data.yaml
Labels: NNCF PTQ

#1954 Fix convert_to_dict_recursively function
  nncf/quantization/advanced_parameters.py
Labels: NNCF PTQ

#1955 Add strict parameter for find_matching_subgraphs
  nncf/common/graph/graph.py
  nncf/common/graph/graph_matching.py
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: NNCF Common, NNCF PTQ

#1952 Added redefined __class__ method for ProxyModule.
  nncf/torch/layer_utils.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT

#1957 Fix style and spellcheck
  docs/FAQ.md
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/common/pruning/statistics.py
  nncf/common/pruning/utils.py
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/sparsity/statistics.py
  nncf/common/statistics.py
  nncf/config/config.py
  nncf/config/extractors.py
  nncf/experimental/common/pruning/propagation_data.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  nncf/openvino/statistics/aggregator.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/accuracy_control/algorithm.py
  nncf/quantization/algorithms/accuracy_control/backend.py
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/channel_alignment/algorithm.py
  nncf/quantization/algorithms/channel_alignment/backend.py
  nncf/quantization/algorithms/channel_alignment/openvino_backend.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/smooth_quant/backend.py
  nncf/quantization/quantize_model.py
  nncf/scopes.py
  nncf/tensorflow/__init__.py
  nncf/tensorflow/accuracy_aware_training/runner.py
  nncf/tensorflow/exporter.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/tensorflow/pruning/utils.py
  nncf/torch/compression_method_api.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/exporter.py
  nncf/torch/nncf_module_replacement.py
  nncf/torch/quantization/precision_init/adjacent_quantizers.py
  tests/openvino/tools/calibrate.py
  tools/collect_pylint_input_files_for_backend.py
Labels: documentation, NNCF TF, NNCF PT, NNCF Common, experimental, NNCF OpenVINO, API, NNCF PTQ

#1968 Increased threshold for TF retinanet_coco
  tests/tensorflow/sota_checkpoints_eval.json
Labels: NNCF TF

#1971 Fix pylint
  tests/torch/test_nncf_network.py
Labels: NNCF PT

#1965 Enable SQ & update conformance
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  tests/post_training/model_scope.py
Labels: NNCF PTQ

#1962 Use nncf_graph for FBC
  nncf/common/factory.py
  nncf/common/graph/layer_attributes.py
  nncf/experimental/torch/sparsity/movement/layers.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  nncf/tensorflow/graph/converter.py
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/model_analyzer.py
  nncf/torch/model_transformer.py
  tests/torch/ptq/test_fast_bias_correction.py
  tests/torch/sparsity/movement/helpers/utils.py
  tests/torch/test_layer_attributes.py
Labels: NNCF TF, NNCF PT, NNCF Common, experimental, NNCF PTQ

#1969 Use unique key for statistics points
  nncf/common/tensor_statistics/statistic_point.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/channel_alignment/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  tests/post_training/test_templates/test_channel_alignment.py
  tests/post_training/test_templates/test_ptq_params.py
Labels: NNCF Common, NNCF PTQ

#1970 [PTQ] Add Maximum op to ignored_scope for ModelType.Transformer
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/quantization/default_quantization.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
Labels: NNCF ONNX, NNCF PTQ

#1976 Update metrics
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  tests/cross_fw/examples/example_scope.json
Labels: NNCF PT

#1960 openvino=2023.0.1
  Makefile
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  setup.py
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/native/data/reference_scales/yolo-v4-tiny-tf_mixed.json
  tests/openvino/native/data/reference_scales/yolo-v4-tiny-tf_performance.json
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/requirements.txt
Labels: dependencies, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#1932 Dispatch bfloat along with the rest of the types for the kernels
  nncf/torch/extensions/include/common_cpu_funcs.h
  nncf/torch/extensions/include/common_cuda_defs.cuh
  nncf/torch/extensions/include/common_cuda_funcs.cuh
  nncf/torch/extensions/include/common_defs.h
  nncf/torch/extensions/include/dispatch.h
  nncf/torch/extensions/src/binarization/cpu/functions_cpu.cpp
  nncf/torch/extensions/src/binarization/cuda/functions_cuda_impl.cu
  nncf/torch/extensions/src/quantization/cpu/functions_cpu.cpp
  nncf/torch/extensions/src/quantization/cuda/functions_cuda_impl.cu
  tests/torch/quantization/test_algo_quantization.py
  tools/benchmark.py
  tools/benchmark_quantize_layers.py
Labels: NNCF PT

#1967 Fix torch deprecation warning
  tests/torch/modules/test_rnn.py
Labels: NNCF PT

#1982 Add link to ImageBind notebook in README
  README.md
Labels: documentation

#1986 Update transformers to 4.30.0 in ptq tests
  tests/post_training/requirements.txt
Labels: NNCF PTQ

#1985 [ONNX] Update Reference metrics for ONNX after #1917
  tests/post_training/reference_data.yaml
Labels: NNCF PTQ

#1941 Initial weights compresson for pytorch models to 8 bit.
  nncf/__init__.py
  nncf/quantization/__init__.py
  nncf/quantization/quantize_model.py
  nncf/torch/__init__.py
  nncf/torch/layers.py
  nncf/torch/quantization/__init__.py
  nncf/torch/quantization/quantize_model.py
  nncf/torch/quantization/weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Labels: NNCF PT, API, NNCF PTQ

#1988 Trace for FQ nodes by torch.jit.trace
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_functions.py
  tests/torch/quantization/test_tracing.py
Labels: NNCF PT

#1994 [PTQ] Disable MMAP
  nncf/openvino/pot/quantization/quantize_model.py
Labels: NNCF OpenVINO

#1984 [PTQ] Added warning logger for pot backend
  nncf/openvino/pot/quantization/quantize_model.py
Labels: NNCF OpenVINO

#1990 [PTQ] Added hswish metatype and LINEAR_ARITHMETIC_ACTIVATIONS_ARITHMETIC pattern
  nncf/common/graph/patterns/patterns.py
  nncf/onnx/hardware/fused_patterns.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/openvino/hardware/fused_patterns.py
  nncf/openvino/hardware/pattern_operations.py
  tests/torch/test_pattern_manager.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX

#1995 Add torch.set_num_threads for ptq tests
  tests/post_training/pipelines/base.py
  tests/post_training/test_quantize_conformance.py
Labels: NNCF PTQ

#1958 [DOCS] Model Zoo refactoring
  README.md
  docs/ModelZoo.md
  examples/tensorflow/classification/README.md
  examples/tensorflow/object_detection/README.md
  examples/tensorflow/segmentation/README.md
  examples/torch/README.md
  examples/torch/classification/README.md
  examples/torch/object_detection/README.md
  examples/torch/semantic_segmentation/README.md
Labels: documentation, NNCF TF, NNCF PT

#2000 update pycocotools==2.0.6 for tf examples
  examples/tensorflow/requirements.txt
Labels: NNCF TF

#1989 Shift+Scale and Input+Shift+Scale pattern for PT
  nncf/common/graph/patterns/patterns.py
  nncf/onnx/hardware/fused_patterns.py
  nncf/openvino/hardware/fused_patterns.py
  nncf/torch/hardware/fused_patterns.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__multi_input_branch.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__normalize__multi_input_branch.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__normalize__single_input_branch.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__single_input_branch.dot
  tests/torch/test_compressed_graph.py
  tests/torch/test_models/synthetic.py
  tests/torch/test_pattern_manager.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX

#1979 [PTQ] CPU_SPR device support
  nncf/common/graph/patterns/patterns.py
  nncf/common/hardware/config.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/torch/quantization/algo.py
  tests/common/test_hardware_config.py
  tests/onnx/data/reference_graphs/quantization/resnet50_cpu_spr.dot
  tests/onnx/quantization/test_classification_models_graph.py
  tests/openvino/native/data/reference_graphs/quantized/mobilenet-v2-pytorch_performance.dot
  tests/openvino/native/data/reference_graphs/quantized/mobilenet-v3-small-1.0-224-tf_performance.dot
  tests/openvino/native/data/reference_graphs/quantized/resnet-18-pytorch_performance.dot
  tests/openvino/native/data/reference_graphs/quantized/resnet-50-pytorch_performance_CPU_SPR.dot
  tests/openvino/native/data/reference_graphs/quantized/swin-tiny-patch4-window7-224_performance_transformer.dot
  tests/openvino/native/data/reference_graphs/quantized/yolo-v4-tiny-tf_performance.dot
  tests/openvino/native/quantization/test_graphs.py
  tests/post_training/test_templates/test_ptq_params.py
  tests/post_training/test_templates/test_quantizer_config.py
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/resnet50.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/resnet50_cpu_spr.dot
  tests/torch/ptq/test_graphs.py
Labels: NNCF TF, NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#1998 Corrected condition for matching recurrent nodes
  nncf/torch/dynamic_graph/graph.py
  nncf/torch/dynamic_graph/scope.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/OrdinaryModelWithRecurrentInName.dot
  tests/torch/modules/test_rnn.py
  tests/torch/test_compressed_graph.py
  tests/torch/test_models/synthetic.py
Labels: NNCF PT

#2003 Use psutils for get_available_cpu_count
  nncf/common/utils/os.py
  nncf/quantization/algorithms/accuracy_control/algorithm.py
Labels: NNCF Common, NNCF PTQ

#1996 Add markdownlint to pre-commit
  .markdownlint.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  ReleaseNotes.md
  Security.md
  docker/README.md
  docs/Algorithms.md
  docs/ConfigFile.md
  docs/FAQ.md
  docs/Installation.md
  docs/ModelZoo.md
  docs/NNCFArchitecture.md
  docs/Usage.md
  docs/accuracy_aware_model_training/AdaptiveCompressionLevelTraining.md
  docs/accuracy_aware_model_training/EarlyExitTraining.md
  docs/compression_algorithms/BatchnormAdaptation.md
  docs/compression_algorithms/Binarization.md
  docs/compression_algorithms/KnowledgeDistillation.md
  docs/compression_algorithms/Pruning.md
  docs/compression_algorithms/Quantization.md
  docs/compression_algorithms/Sparsity.md
  docs/compression_algorithms/post_training/ONNX.md
  docs/compression_algorithms/post_training/Quantization.md
  docs/styleguide/PyGuide.md
  examples/common/README.md
  examples/experimental/torch/classification/Quickstart.md
  examples/post_training_quantization/onnx/mobilenet_v2/README.md
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/README.md
  examples/post_training_quantization/openvino/mobilenet_v2/README.md
  examples/post_training_quantization/openvino/yolov8/README.md
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/README.md
  examples/post_training_quantization/tensorflow/mobilenet_v2/README.md
  examples/post_training_quantization/torch/mobilenet_v2/README.md
  examples/post_training_quantization/torch/ssd300_vgg16/README.md
  examples/tensorflow/classification/README.md
  examples/tensorflow/object_detection/README.md
  examples/tensorflow/segmentation/README.md
  examples/torch/README.md
  examples/torch/classification/README.md
  examples/torch/object_detection/README.md
  examples/torch/semantic_segmentation/README.md
  nncf/experimental/torch/nas/bootstrapNAS/BootstrapNAS.md
  nncf/experimental/torch/replace_custom_modules/__init__.py
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
  tests/onnx/README.md
  tests/onnx/benchmarking/README.md
  tests/openvino/tools/README.md
  tests/post_training/README.md
  tests/tensorflow/README.md
  third_party_integration/huggingface_transformers/README.md
Labels: documentation, NNCF TF, NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2009 Changed NNCFEmbedding target dim for compression.
  nncf/torch/layers.py
Labels: NNCF PT

#2007 Move worst subset selection from Ranker to the QuantizationAccuracyRestorer
  nncf/quantization/algorithms/accuracy_control/algorithm.py
  nncf/quantization/algorithms/accuracy_control/ranker.py
  nncf/quantization/algorithms/accuracy_control/subset_selection.py
  tests/common/accuracy_control/test_ranking.py
Labels: NNCF Common, NNCF PTQ

#1999 [PTQ] Extend num_samples=1 for weights statistics collection for all backends
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  tests/post_training/test_templates/test_quantizer_config.py
Labels: NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2001 [PTQ] Merge quantizer insertion function for weights and activations
  nncf/common/quantization/config_assignment.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/quantization/structs.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  tests/post_training/test_templates/test_quantizer_config.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2012 [DOC] Sort tables by model name in ModelZoo.md
  docs/ModelZoo.md
Labels: documentation

#2006 Update requirements of numpy
  examples/torch/object_detection/eval.py
  examples/torch/object_detection/utils/augmentations.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/torch/automl/agent/ddpg/ddpg.py
  nncf/torch/quantization/precision_init/hawq_debug.py
  nncf/torch/utils.py
  setup.py
  tests/common/quantization/data_generators.py
  tests/openvino/data/ac_configs/mobilefacedet-v1-mxnet.yml
  tests/openvino/native/quantization/test_sanity.py
  tests/openvino/omz_helpers.py
  tests/openvino/pot/quantization/test_sanity.py
  tests/openvino/requirements.txt
Labels: dependencies, NNCF PT, NNCF Common, experimental, NNCF OpenVINO
