Repository openvinotoolkit/nncf, pull requests merged in 2023-05, with the labels that each got.

#1755 Yolo example title correction
  examples/post_training_quantization/openvino/yolov8/README.md
Labels: documentation, NNCF OpenVINO

#1727 [TF] Increased thresholds for mobilenet_v3
  tests/tensorflow/sota_checkpoints_eval.json
Labels: NNCF TF

#1751 [PTQ][TORCH] Fix NNCFNetwork creation
  nncf/experimental/torch/quantization/quantize_model.py
  tests/torch/ptq/test_quantize_model_helpers.py
Labels: NNCF PT, experimental

#1752 Fix final windows tests
  tests/shared/paths.py
  tests/tensorflow/test_sanity_sample.py
  tests/torch/test_extensions_build.py
  tests/torch/test_sanity_sample.py
Labels: NNCF TF, NNCF PT

#1767 [ReleaseV250] Remove redundant warning
  nncf/quantization/algorithms/post_training/algorithm.py
Labels: release target

#1770 Fix last win tests (#1769)
  nncf/common/accuracy_aware_training/runner.py
  tests/openvino/native/quantization/test_sanity.py
  tests/openvino/pot/quantization/test_sanity.py
  tests/tensorflow/test_compressed_graph.py
  tests/tensorflow/test_models/mobilenet_v2_slim.py
Labels: NNCF TF, NNCF Common, NNCF OpenVINO, release target

#1772 Fail informatively when compressing Torch models twice
  nncf/torch/model_creation.py
  tests/torch/test_api_behavior.py
Labels: NNCF PT

#1765 nn.MHA quantization in case of not fast path
  nncf/torch/dynamic_graph/patch_pytorch.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/MHA.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/MHA_single_input.dot
  tests/torch/test_compressed_graph.py
  tests/torch/test_models/synthetic.py
Labels: NNCF PT

#1776 Fixed typo
  nncf/common/tensor_statistics/aggregator.py
  nncf/quantization/algorithms/post_training/algorithm.py
  tests/common/test_statistics_aggregator.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/torch/ptq/test_calculation_quantizer_params.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO

#1774 [TF] Range initialization fix
  nncf/tensorflow/quantization/quantizers.py
  tests/tensorflow/quantization/test_range_init.py
Labels: NNCF TF

#1724 Fixes for MobileBERT pruning and added tests for pruning transformations
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/layers.py
  nncf/experimental/torch/sparsity/movement/scheduler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/requirements.txt
  tests/torch/sparsity/movement/helpers/__init__.py
  tests/torch/sparsity/movement/helpers/run_recipe.py
  tests/torch/sparsity/movement/test_model_saving.py
  tests/torch/sparsity/movement/test_structured_mask.py
Labels: NNCF PT, experimental

#1721 [DOCS] Readme Usage and Samples sections improvement
  README.md
Labels: documentation

#1773 [ReleaseV250] Speedup test_quantize_conformance.py
  tests/post_training/conftest.py
  tests/post_training/model_scope.json
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
Labels: release target

#1780 [ReleaseV250] Range initialization fix (#1774)
  nncf/tensorflow/quantization/quantizers.py
  tests/tensorflow/quantization/test_range_init.py
Labels: NNCF TF, release target

#1782 [Release v2.5] Fixes for MobileBERT pruning and added tests for pruning transformati
  nncf/experimental/torch/sparsity/movement/algo.py
  nncf/experimental/torch/sparsity/movement/layers.py
  nncf/experimental/torch/sparsity/movement/scheduler.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/requirements.txt
  tests/torch/sparsity/movement/helpers/__init__.py
  tests/torch/sparsity/movement/helpers/run_recipe.py
  tests/torch/sparsity/movement/test_model_saving.py
  tests/torch/sparsity/movement/test_structured_mask.py
Labels: NNCF PT, experimental, release target

#1779 [Release v2.5] nn.MHA quantization in case of not fast path (#1765)
  nncf/torch/dynamic_graph/patch_pytorch.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/MHA.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/MHA_single_input.dot
  tests/torch/test_compressed_graph.py
  tests/torch/test_models/synthetic.py
Labels: NNCF PT, release target

#1758 Introduced the drop_type parameter to the quantize_with_accuracy_control function
  nncf/__init__.py
  nncf/experimental/openvino/quantization/quantize_model.py
  nncf/openvino/pot/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/parameters.py
  nncf/quantization/algorithms/accuracy_control/algorithm.py
  nncf/quantization/quantize_model.py
  tests/openvino/tools/calibrate.py
Labels: experimental, NNCF OpenVINO, API

#1766 Replaced openvino-dev to openvino in required dependencies of nncf[openvino]
  Makefile
  nncf/__init__.py
  nncf/openvino/quantization/quantize_model.py
  setup.py
  tests/cross_fw/install/install_checks_openvino.py
Labels: dependencies, NNCF OpenVINO

#1787 [ReleaseV250] Introduced the drop_type parameter to the quantize_with_accuracy_control function
  nncf/__init__.py
  nncf/experimental/openvino/quantization/quantize_model.py
  nncf/openvino/pot/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/parameters.py
  nncf/quantization/algorithms/accuracy_control/algorithm.py
  nncf/quantization/quantize_model.py
  tests/openvino/tools/calibrate.py
Labels: experimental, NNCF OpenVINO

#1791 Fix final windows tests (#1752)
  tests/shared/paths.py
  tests/tensorflow/test_sanity_sample.py
  tests/torch/test_extensions_build.py
  tests/torch/test_sanity_sample.py
Labels: NNCF TF, NNCF PT, release target

#1785 [ReleaseV250][PTQ][Tests] Add model reshape to calibrate.py
  nncf/openvino/graph/node_utils.py
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#1789 Added more visibility for movement pruning docs
  README.md
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
Labels: documentation, experimental

#1763 [PTQ][Tests] Add model reshape to calibrate.py
  nncf/openvino/graph/node_utils.py
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#1760 [PTQ] Update pattern behavior based on model_type
  nncf/common/graph/patterns/manager.py
  nncf/common/graph/patterns/patterns.py
  nncf/experimental/torch/search_building_blocks/search_graph.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/metrics.py
  tests/openvino/native/data/reference_graphs/quantized/MatmulSoftmaxMatmulBlock.dot
  tests/openvino/native/data/reference_scales/MatmulSoftmaxMatmulBlock_mixed.json
  tests/openvino/native/data/reference_scales/MatmulSoftmaxMatmulBlock_performance.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT, NNCF Common, experimental, NNCF OpenVINO

#1788 Fixed JPQD for big Swin and MobileBERT models
  nncf/experimental/common/pruning/operations.py
  nncf/experimental/common/pruning/propagation_data.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  tests/torch/pruning/experimental/test_nodes_grouping.py
Labels: NNCF PT, experimental

#1794 [Release v2.5] more visibility for movement pruning docs
  README.md
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
Labels: documentation, experimental

#1798 [Release 2.5.0] Usage docs improvement
  README.md
Labels: documentation, release target

#1811 [Release v2.5.0] Mentioned JPQD and Intel Optimum in the main readme #1801
  README.md
Labels: documentation

#1805 [PTQ] Add check number_samples on None in StatisticsAggregator
  nncf/common/tensor_statistics/aggregator.py
  nncf/experimental/common/tensor_statistics/collectors.py
  tests/common/test_statistics_aggregator.py
  tests/onnx/test_statistics_aggregator.py
  tests/torch/test_statistics_aggregator.py
Labels: NNCF PT, NNCF Common, experimental, NNCF ONNX

#1804 Fix torch E2E
  tests/torch/test_sota_checkpoints.py
Labels: NNCF PT

#1814 Fix E2E PT
  tests/torch/test_sota_checkpoints.py
Labels: documentation, dependencies, NNCF TF, NNCF PT, experimental, NNCF OpenVINO, NNCF ONNX, release target

#1797 Fix converting FQ to native torch given `narrow_range`
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/strip.py
  tests/common/quantization/data_generators.py
  tests/torch/quantization/test_strip.py
Labels: NNCF PT, NNCF Common

#1818 [Release v2.5.0][PTQ] Add status bar for FBC, BC and statistics collection
  nncf/common/tensor_statistics/aggregator.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
Labels: NNCF Common, release target

#1813 [PTQ] Add status bar for FBC, BC and statistics collection
  nncf/common/tensor_statistics/aggregator.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
Labels: NNCF Common

#1819 Restore get_nncf_wrapped_model with deprecation warning
  nncf/torch/nncf_network.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT

#1821 Fix ignored scope for PR #1620
  nncf/openvino/pot/quantization/quantize_model.py
  nncf/tensorflow/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
Labels: NNCF TF, NNCF PT, NNCF OpenVINO

#1817 Support for models with multiple inputs was added
  nncf/openvino/pot/engine.py
Labels: NNCF OpenVINO

#1777 [PTQ][OV] Insert null biases pass for BC
  nncf/onnx/graph/transformations/commands.py
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/model_utils.py
  nncf/openvino/graph/transformations/command_creation.py
  nncf/openvino/graph/transformations/commands.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF OpenVINO, NNCF ONNX

#1826 Fix ignored scope
  nncf/openvino/pot/quantization/quantize_model.py
  nncf/tensorflow/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
Labels: NNCF TF, NNCF PT, NNCF OpenVINO, release target

#1786 [Test][PTQ] Fix `transform_fn` for AA in calibrate.py
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#1808 Add option no_strip_on_export argument for torch examples
  examples/torch/classification/README.md
  examples/torch/classification/configs/binarization/resnet18_imagenet.json
  examples/torch/classification/configs/binarization/resnet18_imagenet_binarization_dorefa.json
  examples/torch/classification/configs/binarization/resnet18_imagenet_binarization_xnor.json
  examples/torch/classification/configs/mixed_precision/mobilenet_v2_imagenet_mixed_int_autoq_staged.json
  examples/torch/classification/configs/mixed_precision/mobilenet_v2_imagenet_mixed_int_hawq.json
  examples/torch/classification/configs/mixed_precision/mobilenet_v2_imagenet_mixed_int_manual_staged.json
  examples/torch/classification/configs/mixed_precision/resnet50_imagenet_mixed_int_autoq_staged.json
  examples/torch/classification/configs/mixed_precision/resnet50_imagenet_mixed_int_hawq.json
  examples/torch/classification/configs/mixed_precision/resnet50_imagenet_mixed_int_manual.json
  examples/torch/classification/configs/mixed_precision/resnet50_imagenet_mixed_int_manual_staged.json
  examples/torch/classification/configs/mixed_precision/squeezenet1_1_imagenet_mixed_int_hawq.json
  examples/torch/classification/configs/mixed_precision/squeezenet1_1_imagenet_mixed_int_manual.json
  examples/torch/classification/configs/mixed_precision/squeezenet1_1_imagenet_mixed_int_manual_staged.json
  examples/torch/classification/main.py
  examples/torch/classification/staged_quantization_worker.py
  examples/torch/common/argparser.py
  examples/torch/common/export.py
  examples/torch/object_detection/README.md
  examples/torch/object_detection/main.py
  examples/torch/semantic_segmentation/README.md
  examples/torch/semantic_segmentation/main.py
  tests/torch/test_sota_checkpoints.py
Labels: documentation, NNCF PT

#1824 Preserve NNCFNetwork.get_nncf_wrapped_model() and deprecate it
  nncf/torch/nncf_network.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT, release target

#1815 Updated reference metric for MobileNetV3Small Quantization + Sparsity
  tests/tensorflow/sota_checkpoints_eval.json
Labels: NNCF TF

#1796 [PTQ][OV] Fix inplace statistic reducers names and hashes
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/statistics/collectors.py
  tests/common/test_statistics_aggregator.py
  tests/experimental/common/test_reducers_and_aggregators.py
  tests/onnx/test_statistics_aggregator.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_statistics_aggregator.py
  tests/post_training/test_ptq_params.py
  tests/torch/test_statistics_aggregator.py
Labels: NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX

#1806 Restore compatibility with PT 1.9.1
  nncf/torch/quantization/layers.py
Labels: NNCF PT

#1825 Fix OV sanity test - make dataset processing in separate directory
  tests/openvino/data/ov_dataset_definitions.yml
  tests/openvino/datasets_helpers.py
Labels: NNCF OpenVINO

#1828 Force range initialization to be applied in eval mode
  nncf/torch/quantization/algo.py
  tests/torch/quantization/test_range_init.py
Labels: NNCF PT

#1708 Add timeout for load extension
  docs/FAQ.md
  nncf/torch/binarization/extensions.py
  nncf/torch/extensions/__init__.py
  nncf/torch/quantization/extensions.py
  tests/torch/binarization/test_timeout_extension_loader.py
  tests/torch/quantization/extensions/test_timeout_extension_loader.py
Labels: documentation, NNCF PT

#1837 Add missed copyrights
  tests/torch/binarization/test_timeout_extension_loader.py
  tests/torch/quantization/extensions/test_timeout_extension_loader.py
Labels: NNCF PT

#1831 Tests for transformation function
  tests/onnx/quantization/test_transform_fn.py
  tests/openvino/test_transform_fn.py
  tests/tensorflow/quantization/test_transform_fn.py
  tests/torch/test_transform_fn.py
Labels: NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX

#1838 [PTQ] Fix BC subset_size usage & operations with bias list
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
Labels: NNCF OpenVINO, NNCF ONNX

#1841 [Release_v250][PTQ] Fix BC subset_size usage & operations with bias list
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
Labels: NNCF OpenVINO, NNCF ONNX, release target

#1843 Remove convert_to_mixed_preset parameter
  nncf/experimental/openvino/quantization/quantize_model.py
  nncf/openvino/pot/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
  tests/openvino/tools/calibrate.py
Labels: experimental, NNCF OpenVINO, API

#1664 FastBiasCorrection for PyTorch
  .gitignore
  nncf/common/factory.py
  nncf/common/graph/operator_metatypes.py
  nncf/common/tensor_statistics/statistics.py
  nncf/experimental/torch/quantization/quantize_model.py
  nncf/experimental/torch/replace_custom_modules/timm_custom_modules.py
  nncf/onnx/graph/node_utils.py
  nncf/onnx/graph/transformations/commands.py
  nncf/openvino/graph/transformations/commands.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/torch/composite_compression.py
  nncf/torch/compression_method_api.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/graph/transformations/command_creation.py
  nncf/torch/graph/transformations/commands.py
  nncf/torch/model_analyzer.py
  nncf/torch/model_transformer.py
  nncf/torch/nncf_module_replacement.py
  nncf/torch/nncf_network.py
  nncf/torch/tensor_statistics/collectors.py
  nncf/torch/tensor_statistics/statistics.py
  tests/common/test_statistics_aggregator.py
  tests/onnx/quantization/test_fast_bias_correction.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/test_fast_bias_correction.py
  tests/post_training/helpers.py
  tests/post_training/test_fast_bias_correction.py
  tests/post_training/test_quantize_conformance.py
  tests/torch/nas/creators.py
  tests/torch/ptq/helpers.py
  tests/torch/ptq/test_fast_bias_correction.py
  tests/torch/ptq/test_ptq_params.py
  tests/torch/test_model_transformer.py
  tests/torch/test_nncf_network.py
  tests/torch/test_statistics_aggregator.py
Labels: NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX

#1747 Disable quantization for post-processing ops
  nncf/common/quantization/quantizer_propagation/solver.py
  tests/common/quantization/test_ignore_post_processing.py
Labels: NNCF Common

#1844 [Release] Force range initialization to be applied in eval mode (#1828)
  nncf/torch/quantization/algo.py
  tests/torch/quantization/test_range_init.py
Labels: NNCF PT, release target

#1829 Fix setting forward/backward hooks on NNCFNetwork
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/nncf_network.py
  tests/torch/ptq/test_calculation_quantizer_params.py
  tests/torch/test_nncf_network.py
  tests/torch/test_onnx_export.py
Labels: NNCF PT

#1855 Use packaging instead pkg_resources
  examples/torch/common/models/segmentation/icnet.py
  examples/torch/common/models/segmentation/unet.py
  nncf/common/deprecation.py
  nncf/tensorflow/__init__.py
  nncf/torch/__init__.py
  nncf/torch/quantization/layers.py
  setup.py
  tests/tensorflow/test_compressed_graph.py
  tests/tensorflow/test_transformations.py
  tests/torch/nas/test_elastic_depth.py
  tests/torch/quantization/test_algo_quantization.py
  tests/torch/sparsity/movement/test_model_saving.py
  tests/torch/sparsity/movement/test_structured_mask.py
  tests/torch/sparsity/movement/test_training.py
  tests/torch/test_sanity_sample.py
  tests/torch/test_tracing_context.py
Labels: dependencies, NNCF TF, NNCF PT, NNCF Common

#1858 Fix test_timeout_extension_loader
  tests/torch/binarization/test_timeout_extension_loader.py
Labels: NNCF PT

#1857 Fix NNCFNetwork forward hooks
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/nncf_network.py
  tests/torch/ptq/test_calculation_quantizer_params.py
  tests/torch/test_nncf_network.py
  tests/torch/test_onnx_export.py
Labels: NNCF PT, release target

#1852 Ignore 0-th port of baddbmm in quantization
  nncf/common/graph/operator_metatypes.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/Baddbmm.dot
Labels: NNCF PT, NNCF Common

#1854 Fix PTQ example versions
  examples/post_training_quantization/openvino/quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
Labels: NNCF PT, NNCF OpenVINO

#1860 Ignore 0-th port of baddbmm in quantization (#1852)
  nncf/common/graph/operator_metatypes.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/Baddbmm.dot
Labels: NNCF PT, NNCF Common, release target

#1862 Fix PTQ example versions (#1854)
  examples/post_training_quantization/openvino/quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
Labels: NNCF PT, NNCF OpenVINO, release target

#1864 Fix "use_pot" option in calibrate.py
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#1859 Fix calculation of the accuracy drop when the drop_type is DropType.RELATIVE
  nncf/quantization/algorithms/accuracy_control/algorithm.py
  tests/common/accuracy_control/test_calculate_drop.py
Labels: NNCF Common

#1863 Return copy of scope from get_nncf_modules
  nncf/torch/nncf_network.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT

#1868 [Release_v250] Add option no_strip_on_export argument for torch examples (#1808)
  examples/torch/classification/README.md
  examples/torch/classification/configs/binarization/resnet18_imagenet.json
  examples/torch/classification/configs/binarization/resnet18_imagenet_binarization_dorefa.json
  examples/torch/classification/configs/binarization/resnet18_imagenet_binarization_xnor.json
  examples/torch/classification/configs/mixed_precision/mobilenet_v2_imagenet_mixed_int_autoq_staged.json
  examples/torch/classification/configs/mixed_precision/mobilenet_v2_imagenet_mixed_int_hawq.json
  examples/torch/classification/configs/mixed_precision/mobilenet_v2_imagenet_mixed_int_manual_staged.json
  examples/torch/classification/configs/mixed_precision/resnet50_imagenet_mixed_int_autoq_staged.json
  examples/torch/classification/configs/mixed_precision/resnet50_imagenet_mixed_int_hawq.json
  examples/torch/classification/configs/mixed_precision/resnet50_imagenet_mixed_int_manual.json
  examples/torch/classification/configs/mixed_precision/resnet50_imagenet_mixed_int_manual_staged.json
  examples/torch/classification/configs/mixed_precision/squeezenet1_1_imagenet_mixed_int_hawq.json
  examples/torch/classification/configs/mixed_precision/squeezenet1_1_imagenet_mixed_int_manual.json
  examples/torch/classification/configs/mixed_precision/squeezenet1_1_imagenet_mixed_int_manual_staged.json
  examples/torch/classification/main.py
  examples/torch/classification/staged_quantization_worker.py
  examples/torch/common/argparser.py
  examples/torch/common/export.py
  examples/torch/object_detection/README.md
  examples/torch/object_detection/main.py
  examples/torch/semantic_segmentation/README.md
  examples/torch/semantic_segmentation/main.py
  tests/torch/test_sota_checkpoints.py
Labels: documentation, NNCF PT, release target

#1870 [Release_v250] Updated reference metric for MobileNetV3Small Quantization + Sparsity
  tests/tensorflow/sota_checkpoints_eval.json
Labels: NNCF TF

#1856 [Release_v250] Update ReleaseNotes.md
  ReleaseNotes.md
Labels: release target

#1869 [Release_v250] Return copy of scope from get_nncf_modules (#1863)
  nncf/torch/nncf_network.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT

#1872 Restore compatibility with PT 1.9.1
  nncf/torch/quantization/layers.py
Labels: NNCF PT, release target

#1823 Fix compression training tests
  examples/torch/classification/main.py
  examples/torch/common/example_logger.py
  nncf/common/hardware/config.py
  nncf/common/quantization/quantizers.py
  nncf/quantization/fake_quantize.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/strip.py
  tests/torch/quantization/test_strip.py
  tests/torch/test_compression_training.py
Labels: NNCF PT, NNCF Common

#1845 BootstrapNAS - Add super-network abstraction to simplify third-party search
  examples/experimental/torch/classification/bootstrap_nas.py
  examples/experimental/torch/classification/bootstrap_nas_search.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  nncf/experimental/torch/nas/bootstrapNAS/search/supernet.py
Labels: experimental

#1875 Fix compression training tests (#1823)
  examples/torch/classification/main.py
  examples/torch/common/example_logger.py
  nncf/common/hardware/config.py
  nncf/common/quantization/quantizers.py
  nncf/quantization/fake_quantize.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/strip.py
  tests/torch/quantization/test_strip.py
  tests/torch/test_compression_training.py
Labels: NNCF PT, NNCF Common, release target

#1877 Update examples links
  examples/tensorflow/classification/README.md
  examples/tensorflow/object_detection/README.md
  examples/tensorflow/segmentation/README.md
  examples/torch/classification/README.md
  examples/torch/object_detection/README.md
  examples/torch/semantic_segmentation/README.md
Labels: documentation, NNCF TF, NNCF PT, release target
