Repository openvinotoolkit/nncf, pull requests merged in 2023-03, with the labels that each got.

#1593 Fix E2E
  examples/tensorflow/common/scheduler.py
  examples/torch/classification/README.md
  examples/torch/object_detection/README.md
  examples/torch/object_detection/configs/ssd300_vgg_voc_pruning_geometric_median.json
  examples/torch/semantic_segmentation/README.md
  examples/torch/semantic_segmentation/configs/unet_mapillary_pruning_geometric_median.json
  tools/update_eval_results.py
Labels: documentation, NNCF TF, NNCF PT

#1585 [OV] Align FQ params data type with target node precision
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/quantization/quantizer_parameters.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/test_model_transformer.py
Labels: experimental, NNCF OpenVINO

#1604 [PTQ] Dynamic shapes for OV
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  tests/openvino/native/common.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/DynamicModel.dot
  tests/openvino/native/data/reference_graphs/quantized/DynamicModel.dot
  tests/openvino/native/data/reference_scales/DynamicModel_mixed.json
  tests/openvino/native/data/reference_scales/DynamicModel_performance.json
  tests/openvino/native/models.py
Labels: NNCF Common, experimental, NNCF OpenVINO

#1599 [PTQ] `nncf.paramteres.IgnoredScope` support
  nncf/__init__.py
  nncf/common/scopes.py
  nncf/experimental/openvino_native/quantization/quantize.py
  nncf/experimental/torch/quantization/quantize.py
  nncf/onnx/quantization/quantize.py
  nncf/openvino/quantization/quantize.py
  nncf/parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/quantization/quantize.py
  nncf/scopes.py
  nncf/telemetry/events.py
  nncf/tensorflow/quantization/quantize.py
  nncf/torch/quantization/quantize.py
  tests/common/quantization/mock_graphs.py
  tests/common/test_ignored_scope.py
  tests/common/test_parameters.py
  tests/common/test_scopes.py
  tests/onnx/benchmarking/run_ptq.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/pot/quantization/test_helpers.py
  tests/openvino/tools/calibrate.py
  tests/post_training/models.py
  tests/torch/ptq/test_ptq_params.py
Labels: NNCF TF, NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX

#1598 [PTQ] Add passes for PTQ to create inference NNCFGraph
  nncf/common/graph/graph.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/passes.py
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/shape_of_model.dot
  tests/onnx/data/reference_graphs/quantization/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/ssd-12.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/shape_of_model.dot
  tests/onnx/models.py
  tests/onnx/quantization/test_classification_models_graph.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/ShapeOfModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/yolo-v4-tiny-tf.dot
  tests/openvino/native/data/reference_graphs/quantized/ShapeOfModel.dot
  tests/openvino/native/data/reference_graphs/quantized/yolo-v4-tiny-tf.dot
  tests/openvino/native/data/reference_scales/ShapeOfModel_mixed.json
  tests/openvino/native/data/reference_scales/ShapeOfModel_performance.json
  tests/openvino/native/data/reference_scales/yolo-v4-tiny-tf_mixed.json
  tests/openvino/native/data/reference_scales/yolo-v4-tiny-tf_performance.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_sanity.py
  tests/openvino/omz_helpers.py
  tests/openvino/pot/quantization/test_sanity.py
Labels: NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX

#1611 nncf.quantize_with_accuracy_control() run validation during computing statistics
  nncf/openvino/engine.py
  nncf/openvino/quantization/accuracy_aware.py
Labels: NNCF OpenVINO

#1615 [PTQ] Register statistics for weights the same as for activations
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/node_utils.py
  nncf/experimental/openvino_native/statistics/aggregator.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/graph/onnx_graph.py
  nncf/onnx/statistics/aggregator.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/test_model_transformer.py
  tests/onnx/test_statistics_aggregator.py
Labels: experimental, NNCF ONNX

#1614 Saving intermediate model was disabled
  nncf/openvino/quantization/accuracy_aware.py
Labels: NNCF OpenVINO

#1587 Yolov8 quantize with accuracy control and run with yolov8n-seg model
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/README.md
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
Labels: documentation, NNCF OpenVINO

#1621 Fix issues
  examples/experimental/openvino/bert/main.py
  examples/experimental/openvino/yolo_v5/main.py
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
Labels: NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX

#1618 Calculated ignored scope for calibrate.py
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#1627 Fix typo in Quantization.md
  docs/compression_algorithms/Quantization.md
Labels: documentation

#1617 [PTQ] Fix for models with Assigns in OV
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/quantization/default_quantization.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/LSTMModel.dot
  tests/openvino/native/data/reference_graphs/quantized/LSTMModel.dot
  tests/openvino/native/data/reference_scales/LSTMModel_mixed.json
  tests/openvino/native/data/reference_scales/LSTMModel_performance.json
  tests/openvino/native/models.py
Labels: experimental, NNCF OpenVINO

#1613 Add support int4 for convert_to_torch_fakequantizer
  nncf/torch/quantization/prepare_for_inference.py
  tests/torch/quantization/test_prepare_for_inference.py
Labels: NNCF PT

#1623 ONNX sample update validation to OV
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
Labels: NNCF ONNX

#1632 [PTQ] Fix OV patterns
  nncf/experimental/openvino_native/hardware/fused_patterns.py
Labels: experimental

#1629 Remove scikit pre-install step
  tests/tensorflow/test_sota_checkpoints.py
Labels: NNCF TF

#1638 Typo was fixed
  nncf/experimental/openvino_native/graph/node_utils.py
  tests/openvino/native/test_node_utils.py
Labels: experimental, NNCF OpenVINO

#1636 [PTQ][OV] Remove IS calculation from `calibrate.py`, move it to separate tool
  tests/openvino/tools/calibrate.py
  tools/get_ir_ignored_scope_by_model_id.py
Labels: NNCF OpenVINO

#1624 [ONNX] Add port to nncf_input_node_next_onnx_nodes
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/node_utils.py
  nncf/onnx/graph/transformations/commands.py
  nncf/onnx/statistics/aggregator.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/double_input_output_model.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/double_input_output_model.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/multi_input_output_model.dot
  tests/onnx/models.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_detection_models_graph.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/quantization/test_opset_versions.py
  tests/onnx/quantization/test_segmentation_models_graph.py
  tests/onnx/test_model_transformer.py
Labels: NNCF ONNX

#1640 [OV] Added scale_shift_activations fused pattern
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/ScaleShiftReluModel.dot
  tests/openvino/native/data/reference_graphs/quantized/ScaleShiftReluModel.dot
  tests/openvino/native/data/reference_scales/ScaleShiftReluModel_mixed.json
  tests/openvino/native/data/reference_scales/ScaleShiftReluModel_performance.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/test_pattern_manager.py
  tests/shared/patterns.py
Labels: experimental, NNCF OpenVINO

#1645 Extend fixtures in tests/torch/conftest.py
  nncf/torch/quantization/adjust_padding.py
  tests/torch/autograd_functions/test_autograd_functions.py
  tests/torch/binarization/test_functions.py
  tests/torch/conftest.py
  tests/torch/modules/test_rnn.py
  tests/torch/quantization/test_functions.py
  tests/torch/quantization/test_onnx_export.py
  tests/torch/quantization/test_prepare_for_inference.py
  tests/torch/quantization/test_range_init.py
  tests/torch/sparsity/movement/test_components.py
Labels: NNCF PT

#1630 Fix layer attribute collection for user modules
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch/quantization/test_algo_quantization.py
Labels: NNCF PT

#1626 Fix for torch.jit.script patching applied to classes
  nncf/torch/dynamic_graph/patch_pytorch.py
  tests/torch/test_pytorch_patch.py
Labels: NNCF PT

#1643 Fix torch.jit.trace for a compressed model prepared for inference
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/quantization/prepare_for_inference.py
  tests/torch/test_pytorch_patch.py
Labels: NNCF PT

#1612 Common api prepare_for_inference for controllers
  docs/Usage.md
  examples/tensorflow/classification/README.md
  examples/tensorflow/classification/main.py
  examples/tensorflow/common/argparser.py
  examples/tensorflow/common/export.py
  examples/tensorflow/object_detection/README.md
  examples/tensorflow/object_detection/main.py
  examples/tensorflow/segmentation/README.md
  examples/tensorflow/segmentation/evaluation.py
  examples/torch/classification/README.md
  examples/torch/classification/main.py
  examples/torch/classification/staged_quantization_worker.py
  examples/torch/common/argparser.py
  examples/torch/common/export.py
  examples/torch/object_detection/README.md
  examples/torch/object_detection/main.py
  examples/torch/semantic_segmentation/README.md
  examples/torch/semantic_segmentation/main.py
  nncf/api/compression.py
  nncf/common/accuracy_aware_training/runner_factory.py
  nncf/common/composite_compression.py
  nncf/common/utils/backend.py
  nncf/experimental/tensorflow/quantization/algorithm.py
  nncf/tensorflow/algorithm_selector.py
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/sparsity/base_algorithm.py
  nncf/torch/algo_selector.py
  nncf/torch/composite_compression.py
  nncf/torch/compression_method_api.py
  nncf/torch/nncf_network.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/quantization/algo.py
  nncf/torch/sparsity/base_algo.py
  tests/tensorflow/pruning/test_prepare_for_inference.py
  tests/tensorflow/quantization/test_prepare_for_inference.py
  tests/tensorflow/sparsity/test_prepare_for_inference.py
  tests/torch/pruning/filter_pruning/test_prepare_for_inference.py
  tests/torch/quantization/test_prepare_for_inference.py
  tests/torch/quantization/test_sanity_sample.py
  tests/torch/sparsity/test_prepare_for_inference.py
Labels: documentation, NNCF TF, NNCF PT, NNCF Common, experimental

#1622 Update target ONNX version to 1.13
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  nncf/onnx/graph/nncf_graph_builder.py
  setup.py
  tests/onnx/data/reference_graphs/quantization/retinanet-9.dot
  tests/onnx/weightless_model.py
Labels: dependencies, NNCF ONNX

#1551 [PTQ] Introduced common quantization parameters
  nncf/common/quantization/quantizers.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/transformations/commands.py
  nncf/experimental/openvino_native/hardware/pattern_operations.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/quantization/quantizer_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/fake_quantize.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/layers.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/onnx/test_model_transformer.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/DepthwiseConvModel.dot
  tests/openvino/native/data/reference_graphs/quantized/DepthwiseConvModel.dot
  tests/openvino/native/data/reference_scales/DepthwiseConvModel_mixed.json
  tests/openvino/native/data/reference_scales/DepthwiseConvModel_performance.json
  tests/openvino/native/data/reference_scales/fq_params_synthetic.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_configurations.py
  tests/openvino/native/test_model_transformer.py
  tests/torch/ptq/test_calculation_quantizer_params.py
  tests/torch/quantization/test_algo_quantization.py
  tests/torch/quantization/test_prepare_for_inference.py
  tests/torch/test_backward_compat.py
Labels: NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX

#1620 [PTQ] Add model_type parameter to MinMax
  nncf/common/graph/patterns/patterns.py
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/graph/node_utils.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/experimental/openvino_native/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/experimental/openvino_native/quantization/default_quantization.py
  nncf/experimental/openvino_native/quantization/quantize.py
  nncf/experimental/torch/quantization/quantize.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/graph/node_utils.py
  nncf/onnx/graph/onnx_graph.py
  nncf/onnx/hardware/fused_patterns.py
  nncf/onnx/quantization/quantize.py
  nncf/openvino/quantization/quantize.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/scopes.py
  nncf/torch/hardware/fused_patterns.py
  tests/onnx/data/reference_graphs/quantization/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/quantization/fcn-resnet50-12.dot
  tests/onnx/data/reference_graphs/quantization/ssd-12.dot
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/onnx/test_layer_attributes.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/ConvNotBiasModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/MatmulSoftmaxMatmulBlock.dot
  tests/openvino/native/data/reference_graphs/quantized/ConvNotBiasModel.dot
  tests/openvino/native/data/reference_graphs/quantized/MatmulSoftmaxMatmulBlock.dot
  tests/openvino/native/data/reference_graphs/quantized/swin-tiny-patch4-window7-224.dot
  tests/openvino/native/data/reference_scales/ConvNotBiasModel_mixed.json
  tests/openvino/native/data/reference_scales/ConvNotBiasModel_performance.json
  tests/openvino/native/data/reference_scales/MatmulSoftmaxMatmulBlock_mixed.json
  tests/openvino/native/data/reference_scales/MatmulSoftmaxMatmulBlock_performance.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/openvino/native/test_layer_attributes.py
  tests/openvino/native/test_node_utils.py
  tests/openvino/tools/calibrate.py
  tests/post_training/models.py
  tests/post_training/test_ptq_params.py
  tests/post_training/test_quantize_conformance.py
  tests/torch/ptq/helpers.py
  tests/torch/ptq/test_ptq_params.py
Labels: NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX

#1653 Fix setup.py
  setup.py
Labels: dependencies

#1654 [OV] Add get_const_value function
  nncf/experimental/openvino_native/graph/node_utils.py
  tests/openvino/native/test_node_utils.py
Labels: experimental, NNCF OpenVINO

#1649 Align PT model names in AC configs
  tests/torch/data/ac_configs/googlenet_imagenet_pruning_geometric_median.yml
  tests/torch/data/ac_configs/resnet18_imagenet_pruning_geometric_median.yml
  tests/torch/data/ac_configs/resnet18_imagenet_pruning_magnitude.yml
  tests/torch/data/ac_configs/resnet34_imagenet_pruning_geometric_median_kd.yml
  tests/torch/data/ac_configs/resnet34_imagenet_pruning_magnitude.yml
  tests/torch/data/ac_configs/resnet50_imagenet_pruning_geometric_median.yml
  tests/torch/data/ac_configs/resnet50_imagenet_pruning_magnitude.yml
Labels: NNCF PT

#1650 [OV] Support LSTM/GRU sequence quantization
  nncf/common/graph/transformations/command_creation.py
  nncf/common/hardware/configs/cpu.json
  nncf/common/hardware/opset.py
  nncf/common/quantization/quantizer_removal.py
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/graph/node_utils.py
  nncf/experimental/openvino_native/graph/transformations/command_creation.py
  nncf/experimental/openvino_native/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/experimental/openvino_native/quantization/default_quantization.py
  nncf/quantization/algorithms/accuracy_control/algorithm.py
  nncf/quantization/algorithms/accuracy_control/backend.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/LSTMSequenceModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/WeightsModel.dot
  tests/openvino/native/data/reference_graphs/quantized/LSTMSequenceModel.dot
  tests/openvino/native/data/reference_graphs/quantized/WeightsModel.dot
  tests/openvino/native/data/reference_scales/LSTMSequenceModel_mixed.json
  tests/openvino/native/data/reference_scales/LSTMSequenceModel_performance.json
  tests/openvino/native/data/reference_scales/WeightsModel_mixed.json
  tests/openvino/native/data/reference_scales/WeightsModel_performance.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/openvino/native/test_layer_attributes.py
  tests/openvino/native/test_metatypes.py
  tests/openvino/native/test_node_utils.py
Labels: NNCF Common, experimental, NNCF OpenVINO

#1641 Added new AA config on CIFAR10 and ResNet18
  docs/Usage.md
  docs/accuracy_aware_model_training/AdaptiveCompressionLevelTraining.md
  examples/torch/classification/configs/pruning/resnet18_cifar10_accuracy_aware.json
  examples/torch/common/model_loader.py
  nncf/definitions.py
Labels: documentation, NNCF PT

#1484 Export of the NNCF graph for the Netron app was added
  nncf/experimental/netron.py
Labels: experimental

#1655 [OV] Extend fused patterns
  nncf/common/graph/patterns/patterns.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  tests/onnx/test_pattern_manager.py
  tests/torch/test_pattern_manager.py
Labels: NNCF PT, NNCF Common, experimental, NNCF ONNX

#1659 Do not fail outright if cannot trace tensors
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/trace_tensor.py
  tests/torch/test_graph_building.py
Labels: NNCF PT

#1665 Add the linear squeeze activation pattern
  nncf/common/graph/patterns/patterns.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/onnx/hardware/fused_patterns.py
  tests/torch/test_pattern_manager.py
Labels: NNCF PT, NNCF Common, experimental, NNCF ONNX

#1666 [PTQ] Return Mul to ignored ops for transformers (except CPU_SPR)
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  tests/openvino/native/data/reference_graphs/quantized/swin-tiny-patch4-window7-224.dot
Labels: experimental, NNCF OpenVINO

#1669 [PTQ] Update F-/BC with the dynamism
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
Labels: experimental

#1671 Log file for calibrate tool
  nncf/common/logging/logger.py
  tests/common/test_logging.py
  tests/openvino/tools/calibrate.py
Labels: NNCF Common, NNCF OpenVINO
