Repository openvinotoolkit/nncf, pull requests merged in 2023-10, with the labels that each got.

#2162 Progress bar visuals enhancement
  nncf/common/logging/track_progress.py
Labels: NNCF Common

#2170 Update links to notebooks in README
  README.md
Labels: documentation

#2176 Fix OV precommit - update graphs with new names
  tests/openvino/native/data/reference_graphs/original_nncf_graph/googlenet-v3-pytorch.dot
  tests/openvino/native/data/reference_graphs/quantized/swin-tiny-patch4-window7-224_performance_transformer.dot
  tests/openvino/native/data/reference_graphs/quantized/swin-tiny-patch4-window7-224_sq.dot
  tests/openvino/requirements.txt
Labels: NNCF OpenVINO

#2150 Baseline mixed nf4-int8 quantization in NNCF via OV backend
  nncf/__init__.py
  nncf/openvino/quantization/quantize_model.py
  nncf/openvino/quantization/weights_compression.py
  nncf/parameters.py
  nncf/quantization/fake_quantize.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  nncf/torch/quantization/weights_compression.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/openvino/native/data/reference_scales/IntegerModel_compressed_weights_nf4.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, API, NNCF PTQ

#2175 [ONNX, Torch, OpenVINO] Add MVN, GELU, LINEAR_SHIFT_SCALE patterns
  nncf/common/graph/patterns/patterns.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/hardware/fused_patterns.py
  nncf/openvino/hardware/fused_patterns.py
  nncf/torch/hardware/fused_patterns.py
  tests/onnx/test_pattern_manager.py
  tests/openvino/native/test_pattern_manager.py
  tests/torch/test_pattern_manager.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX

#2178 Fix: missed input_shape to `convert_model` for PT backend.
  tests/post_training/pipelines/base.py
Labels: NNCF PTQ

#2161 Add table of corresponding versions for backends
  README.md
  docs/Installation.md
Labels: documentation

#2174 Update calibrate tool
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO, API

#2172 [Torch] Unused code is removed
  nncf/torch/tensor_statistics/reduction.py
  nncf/torch/tensor_statistics/statistics.py
Labels: NNCF PT

#2171 Add `cleanup_torchscript_cache` to test_quantize_conformance.py
  tests/post_training/pipelines/base.py
Labels: NNCF PTQ

#2058 Tensor for PTQ
  nncf/experimental/common/tensor_statistics/statistical_functions.py
  nncf/experimental/tensor/README.md
  nncf/experimental/tensor/functions.py
  nncf/experimental/tensor/numpy_functions.py
  nncf/experimental/tensor/tensor.py
  nncf/experimental/tensor/torch_functions.py
  nncf/onnx/quantization/quantizer_parameters.py
  nncf/openvino/graph/model_transformer.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/fake_quantize.py
  tests/onnx/quantization/common.py
  tests/post_training/test_templates/test_calculate_quantizer_parameters.py
  tests/post_training/test_templates/test_fast_bias_correction.py
  tests/shared/test_templates/template_test_nncf_tensor.py
  tests/torch/ptq/test_calculation_quantizer_params.py
  tests/torch/ptq/test_fast_bias_correction.py
Labels: documentation, NNCF PT, experimental, NNCF OpenVINO, NNCF ONNX, API, NNCF PTQ

#2173 [ONNX] Remove ONNXGraph
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/graph/node_utils.py
  nncf/onnx/graph/onnx_graph.py
  nncf/onnx/graph/onnx_helper.py
  nncf/onnx/statistics/aggregator.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_qdq_params_calculation.py
  tests/onnx/test_model_transformer.py
  tests/onnx/weightless_model.py
Labels: NNCF ONNX, NNCF PTQ

#2183 [OV] Apply output insertion transformation first for model with If node
  nncf/openvino/quantization/quantize_ifmodel.py
Labels: NNCF OpenVINO

#2185 [ONNX] Create mapping once inside Q/DQ insertion transformation
  nncf/onnx/graph/model_transformer.py
  tests/onnx/data/reference_graphs/quantization/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/quantization/bertsquad-12.dot
  tests/onnx/data/reference_graphs/quantization/retinanet-9.dot
Labels: NNCF ONNX

#2186 Use opt-out telemetry
  README.md
  nncf/telemetry/wrapper.py
  setup.py
Labels: documentation, dependencies

#2187 Supported ignored scope for OV weight compression
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF PT, NNCF OpenVINO, API, NNCF PTQ

#2191 Skipping CUDA tests for CPU setup
  tests/torch/ptq/test_fast_bias_correction.py
  tests/torch/test_tensor.py
Labels: NNCF PT

#2179 Add --no-eval arg to test_quantize_conformance.py
  tests/post_training/conftest.py
  tests/post_training/pipelines/base.py
  tests/post_training/test_quantize_conformance.py
Labels: NNCF PTQ

#2198 Fix multithreading
  nncf/quantization/algorithms/accuracy_control/ranker.py
Labels: NNCF PTQ

#2154 Add SmoothQuant and ChannelAlignment to HyperparameterTuner
  nncf/quantization/algorithms/hyperparameter_tuner/algorithm.py
  nncf/quantization/algorithms/hyperparameter_tuner/param_grid.py
  nncf/quantization/algorithms/pipeline.py
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/quantization/algorithms/post_training/pipeline.py
  nncf/quantization/quantize_model.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/post_training/test_templates/test_ptq_params.py
  tests/post_training/test_templates/test_quantizer_config.py
  tests/torch/ptq/test_fq_params_calculation.py
  tests/torch/ptq/test_ptq_params.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2202 Bump `numpy` version upper bound
  setup.py
Labels: dependencies

#2201 Add links to OneFormer and InstructPix2Pix notebooks
  README.md
Labels: documentation

#2194 Added documentation for NF4 mode
  docs/compression_algorithms/CompressWeights.md
Labels: documentation

#2177 [Torch] SE block HW fusing pattern is presented
  nncf/common/graph/graph_matching.py
  nncf/common/graph/patterns/patterns.py
  nncf/openvino/hardware/fused_patterns.py
  nncf/openvino/quantization/ignored_patterns.py
  nncf/torch/quantization/ignored_patterns.py
  tests/common/graph/test_graph_matching.py
  tests/common/test_pattern_manager.py
  tests/onnx/test_pattern_manager.py
  tests/openvino/native/data/2023.1/reference_graphs/quantized/SeBlockModel.dot
  tests/openvino/native/data/2023.1/reference_scales/SeBlockModel_mixed.json
  tests/openvino/native/data/2023.1/reference_scales/SeBlockModel_performance.json
  tests/post_training/reference_data.yaml
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/mobilenet_v3_small.dot
  tests/torch/test_pattern_manager.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2166 [PTQ][Torch][KQV self attention] Align FQ placement between OV and Torch backend
  nncf/common/graph/graph.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/passes.py
  nncf/torch/quantization/ignored_patterns.py
  tests/common/data/reference_graphs/passes/dropout_synthetic_model_after.dot
  tests/common/data/reference_graphs/passes/dropout_synthetic_model_before.dot
  tests/common/quantization/test_passes.py
  tests/common/quantization/test_quantizer_propagation_solver.py
  tests/post_training/reference_data.yaml
  tests/post_training/test_templates/models.py
  tests/post_training/test_templates/test_ptq_params.py
  tests/post_training/test_templates/test_quantizer_config.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2208 Enable SmoothQuant only for OV backend
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/quantization/algorithms/channel_alignment/algorithm.py
  nncf/quantization/algorithms/channel_alignment/backend.py
  nncf/quantization/algorithms/channel_alignment/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/pipeline.py
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/smooth_quant/backend.py
  nncf/quantization/algorithms/smooth_quant/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2214 [OV] Add caching of OMZ models
  tests/openvino/conftest.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/quantization/test_sanity.py
  tests/openvino/native/test_nncf_graph_builder.py
  tests/openvino/omz_helpers.py
  tests/openvino/pot/quantization/test_sanity.py
Labels: NNCF OpenVINO

#2216 QuantizationPreset.MIXED for ModelType.TRANSFORMER by default
  nncf/experimental/torch/quantization/quantize_model.py
  nncf/onnx/quantization/quantize_model.py
  nncf/openvino/pot/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/quantization/algorithms/post_training/pipeline.py
  nncf/quantization/quantize_model.py
  nncf/tensorflow/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  tests/common/quantization/test_minmax.py
  tests/openvino/native/quantization/test_quantization_pipeline.py
  tests/torch/ptq/test_ptq_params.py
Labels: NNCF TF, NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX, API, NNCF PTQ

#2219 Updated reference for 2023.2.0-12979-04c766e9f17
  tests/openvino/native/data/2023.2/reference_scales/yolo-v4-tiny-tf_mixed.json
  tests/openvino/native/data/2023.2/reference_scales/yolo-v4-tiny-tf_performance.json
Labels: NNCF OpenVINO

#2156 Using ov.save_model(...) in PTQ examples
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX

#2224 Fix index out of range
  nncf/quantization/algorithms/hyperparameter_tuner/param_grid.py
  nncf/quantization/algorithms/pipeline.py
Labels: NNCF PTQ

#2225 Added `keepdims` argument for min,max functions
  nncf/experimental/tensor/functions.py
  nncf/experimental/tensor/numpy_functions.py
  nncf/experimental/tensor/tensor.py
  nncf/experimental/tensor/torch_functions.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Labels: experimental

#2228 [PTQ] Avg pool is added as ignored metatype for TRANSFORMER model_type
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2211 Use torch 2.1 and remove torch 1.13
  README.md
  docs/Installation.md
  nncf/version.py
  setup.py
  tests/post_training/requirements.txt
Labels: documentation, dependencies, NNCF PTQ

#2231 [Graph visualization] Reserved dot symbols are replaced for each graph visualization
  nncf/common/graph/graph.py
  nncf/common/quantization/quantizer_propagation/graph.py
Labels: NNCF Common

#2229 [ONNX][OV] Update SE block pattern
  nncf/onnx/quantization/ignored_patterns.py
  nncf/openvino/graph/metatypes/groups.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/openvino/quantization/ignored_patterns.py
  tests/onnx/test_pattern_manager.py
  tests/openvino/native/data/2023.1/reference_graphs/quantized/mobilenet-v3-small-1.0-224-tf_performance.dot
  tests/post_training/reference_data.yaml
Labels: NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2232 Fix PT version in README.md
  README.md
Labels: documentation
