Repository openvinotoolkit/nncf, pull requests merged in 2023-08, with the labels that each got.

#1977 Add new Tensor class
  docs/api/source/conf.py
  nncf/experimental/tensor/README.md
  nncf/experimental/tensor/__init__.py
  nncf/experimental/tensor/enums.py
  nncf/experimental/tensor/functions.py
  nncf/experimental/tensor/numpy_functions.py
  nncf/experimental/tensor/tensor.py
  nncf/experimental/tensor/torch_functions.py
  tests/common/test_tensor.py
  tests/shared/test_templates/__init__.py
  tests/shared/test_templates/template_test_nncf_tensor.py
  tests/torch/test_tensor.py
Labels: documentation, NNCF PT, NNCF Common, experimental

#1991 [PTQ] Update calibrate.py with the other algorithms support
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#2002 [PTQ] Update BC for Split nodes
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/bias_correction/openvino_backend.py
  tests/onnx/quantization/test_bias_correction.py
  tests/openvino/native/test_bias_correction.py
  tests/post_training/test_templates/helpers.py
  tests/post_training/test_templates/test_bias_correction.py
Labels: NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2016 Use new property for telemetry and fix to actually send events
  nncf/telemetry/wrapper.py
  setup.py
  tests/common/test_telemetry.py
Labels: dependencies, NNCF Common

#2017 [ONNX] Fix bug in Constant subgraph traversing
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/graph/onnx_graph.py
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/weight_propagation_conv_model.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/weight_propagation_matmul_model.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/weight_propagation_conv_model.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/weight_propagation_matmul_model.dot
  tests/onnx/models.py
Labels: NNCF ONNX

#2019 [PTQ] Enable BC test for ONNX
  tests/onnx/quantization/test_bias_correction.py
  tests/openvino/native/test_bias_correction.py
  tests/post_training/test_templates/test_bias_correction.py
Labels: NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2010 Andreyan/compress weights docs
  README.md
  docs/compression_algorithms/CompressWeights.md
Labels: documentation

#2014 Updated model for the anomaly_stfpm_quantize_with_accuracy_control example
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/README.md
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  tests/cross_fw/examples/example_scope.json
Labels: documentation, NNCF OpenVINO

#2023 [PTQ]: Fixed weights compression logic for user's modules
  nncf/torch/quantization/weights_compression.py
Labels: NNCF PT

#1975 Move model type processing to Solver
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/experimental/torch/pruning/operations.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/pruning/operations.py
  nncf/torch/quantization/default_quantization.py
  tests/torch/test_graph_building.py
Labels: NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2015 [DOCS] Update CODEOWNERS, Some improves of modelzoo.md
  CODEOWNERS
  docs/ModelZoo.md
Labels: documentation

#2024 Fix variadic macros for Windows
  nncf/torch/binarization/reference.py
  nncf/torch/extensions/include/dispatch.h
  nncf/torch/quantization/reference.py
  tests/cross_fw/install/install_checks_torch.py
Labels: NNCF PT

#2027 [OV] Place EQUAL_LOGICALNOT from fused to ignored
  nncf/common/graph/patterns/patterns.py
  nncf/openvino/hardware/fused_patterns.py
  nncf/openvino/quantization/ignored_patterns.py
  tests/onnx/test_pattern_manager.py
  tests/torch/test_pattern_manager.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX

#2025 Plot NAS search progression non-interactively
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/plotting.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
Labels: NNCF Common, experimental

#2029 Fix mlflow version
  examples/torch/requirements.txt
Labels: NNCF PT

#2011 Reduced the number of graph rebuilds
  nncf/common/tensor_statistics/aggregator.py
  nncf/experimental/torch/quantization/quantize_model.py
  nncf/onnx/graph/model_utils.py
  nncf/onnx/quantization/quantize_model.py
  nncf/onnx/statistics/aggregator.py
  nncf/openvino/graph/model_utils.py
  nncf/openvino/quantization/quantize_model.py
  nncf/openvino/statistics/aggregator.py
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/quantization/algorithms/channel_alignment/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/passes.py
  nncf/torch/statistics/aggregator.py
  tests/common/test_statistics_aggregator.py
  tests/onnx/quantization/common.py
  tests/onnx/quantization/test_bias_correction.py
  tests/onnx/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/native/test_bias_correction.py
  tests/post_training/test_templates/test_bias_correction.py
  tests/post_training/test_templates/test_channel_alignment.py
  tests/post_training/test_templates/test_fast_bias_correction.py
  tests/post_training/test_templates/test_ptq_params.py
  tests/post_training/test_templates/test_smooth_quant.py
  tests/torch/ptq/test_calculation_quantizer_params.py
  tests/torch/ptq/test_fq_params_calculation.py
  tests/torch/ptq/test_graphs.py
  tests/torch/ptq/test_ptq_params.py
Labels: NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2034 [PTQ] Reshape models to original shapes after quantization in calibrate.py
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#2030 Optimize NNCFGraph
  nncf/common/graph/graph.py
  nncf/common/insertion_point_graph.py
  nncf/common/pruning/mask_propagation.py
  nncf/common/pruning/operations.py
  nncf/common/pruning/shape_pruning_processor.py
  nncf/common/pruning/utils.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/quantization/quantizer_removal.py
  nncf/experimental/common/pruning/nodes_grouping.py
  nncf/experimental/common/pruning/operations.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/visualization.py
  nncf/experimental/torch/search_building_blocks/search_graph.py
  nncf/quantization/algorithms/accuracy_control/algorithm.py
  nncf/tensorflow/graph/converter.py
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/pruning/filter_pruning/algorithm.py
  nncf/tensorflow/pruning/utils.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/torch/pruning/base_algo.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/pruning/operations.py
  nncf/torch/pruning/utils.py
  nncf/torch/quantization/metrics.py
  nncf/torch/quantization/precision_init/bitwidth_graph.py
  tests/common/pruning/test_pruning_operations.py
  tests/common/quantization/mock_graphs.py
  tests/common/quantization/test_filter_constant_nodes.py
  tests/common/quantization/test_quantizer_propagation_graph.py
  tests/common/quantization/test_quantizer_propagation_solver.py
  tests/common/test_scopes.py
  tests/openvino/native/quantization/test_channel_alignment.py
  tests/openvino/native/test_node_utils.py
  tests/tensorflow/pruning/test_flops_pruning.py
  tests/torch/pruning/filter_pruning/test_algo.py
  tests/torch/pruning/test_model_pruning_analysis.py
  tests/torch/test_nncf_network.py
Labels: NNCF TF, NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF PTQ

#2036 Rename data to attributes
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  nncf/quantization/algorithms/accuracy_control/algorithm.py
Labels: experimental, NNCF PTQ

#2038 Run coverage with pytest
  .github/workflows/precommit.yml
  Makefile
  codecov.yml
  tests/common/requirements.txt
  tests/cross_fw/examples/requirements.txt
  tests/cross_fw/install/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/tensorflow/requirements.txt
  tests/torch/requirements.txt
Labels: NNCF TF, NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#1980 Add HyperparameterTuner algorithm
  nncf/common/factory.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistic_point.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/algorithms/accuracy_control/algorithm.py
  nncf/quantization/algorithms/accuracy_control/evaluator.py
  nncf/quantization/algorithms/hyperparameter_tuner/__init__.py
  nncf/quantization/algorithms/hyperparameter_tuner/algorithm.py
  nncf/quantization/algorithms/hyperparameter_tuner/param_grid.py
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/quantization/quantize_model.py
  tests/common/accuracy_control/test_evaluator.py
  tests/common/accuracy_control/test_ranking.py
  tests/common/hyperparameter_tuner/__init__.py
  tests/common/hyperparameter_tuner/test_hyperparameter_tuner.py
Labels: NNCF Common, NNCF OpenVINO, NNCF PTQ

#2039 Bump telemetry lib version and sort common deps alphabetically
  setup.py
Labels: dependencies

#2043 Corrected references for weekly nas tests
  tests/torch/test_compression_training.py
Labels: NNCF PT

#2035 [PTQ][Experimental TensorCollector] Empty statistic aggregators containers handling
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/quantization/algorithms/channel_alignment/algorithm.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  tests/experimental/common/test_statistic_collector.py
  tests/openvino/native/test_smooth_quant.py
  tests/openvino/native/test_statistic_collector.py
  tests/post_training/test_templates/helpers.py
  tests/post_training/test_templates/test_channel_alignment.py
  tests/post_training/test_templates/test_ptq_params.py
  tests/post_training/test_templates/test_smooth_quant.py
Labels: experimental, NNCF OpenVINO, NNCF PTQ

#2041 [OV][PTQ][Inplace statistics] Always cast dims to np.int to support empty dims case
  nncf/openvino/graph/node_utils.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF OpenVINO

#1992 [PTQ] Fix SQ reduction_shape calculation
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/graph/transformations/command_creation.py
  nncf/openvino/graph/transformations/commands.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/smooth_quant/backend.py
  nncf/quantization/algorithms/smooth_quant/openvino_backend.py
  tests/openvino/native/test_layer_attributes.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_node_utils.py
  tests/openvino/native/test_smooth_quant.py
  tests/post_training/test_templates/helpers.py
  tests/post_training/test_templates/test_smooth_quant.py
Labels: NNCF OpenVINO, NNCF PTQ

#1993 [ONNX] Fix calculation of reduction_shape when quantized tensor has 1 dim
  nncf/onnx/graph/node_utils.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  tests/onnx/quantization/test_min_max.py
Labels: NNCF ONNX, NNCF PTQ

#2040 [PTQ][ONNX][OV] Quantized embedding weights
  nncf/common/hardware/configs/cpu.json
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/quantization/default_quantization.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/openvino/quantization/default_quantization.py
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/embedding_model.dot
  tests/onnx/data/reference_graphs/quantization/bertsquad-12.dot
  tests/onnx/data/reference_graphs/quantization/gpt2-10.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/embedding_model.dot
  tests/onnx/data/reference_scales/embedding_model_mixed.json
  tests/onnx/data/reference_scales/embedding_model_performance.json
  tests/onnx/models.py
  tests/onnx/quantization/test_qdq_params_calculation.py
  tests/openvino/native/data/reference_graphs/quantized/IntegerModel.dot
  tests/openvino/native/data/reference_scales/IntegerModel_mixed.json
  tests/openvino/native/data/reference_scales/IntegerModel_performance.json
  tests/post_training/test_templates/helpers.py
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/embedding_model.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/EmbeddingCatLinearModel.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/EmbeddingSumModel.dot
  tests/torch/ptq/test_graphs.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2068 [Release_v260] OV 2023.1.0 (#2037)
  nncf/quantization/algorithms/algorithm.py
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/torch/model_creation.py
  nncf/torch/model_transformer.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/mobilenet-v3-small-1.0-224-tf.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/yolo-v4-tiny-tf.dot
  tests/openvino/native/data/reference_graphs/quantized/mobilenet-v3-small-1.0-224-tf_performance.dot
  tests/openvino/native/data/reference_graphs/quantized/yolo-v4-tiny-tf_performance.dot
  tests/openvino/native/data/reference_scales/yolo-v4-tiny-tf_mixed.json
  tests/openvino/native/data/reference_scales/yolo-v4-tiny-tf_performance.json
  tests/openvino/native/quantization/test_sanity.py
  tests/openvino/native/test_bias_correction.py
  tests/openvino/native/test_fast_bias_correction.py
  tests/openvino/native/test_smooth_quant.py
  tests/openvino/pot/quantization/test_parameters.py
  tests/post_training/pipelines/base.py
  tests/torch/quantization/test_logarithm_scale.py
  tests/torch/sparsity/movement/test_model_saving.py
  tests/torch/test_model_transformer.py
Labels: NNCF PT, NNCF OpenVINO, NNCF PTQ

#2066 Update QPSG logic
  nncf/common/quantization/quantizer_propagation/graph.py
  tests/common/quantization/test_quantizer_propagation_graph.py
  tests/onnx/data/reference_graphs/quantization/synthetic/embedding_model.dot
  tests/onnx/data/reference_scales/embedding_model_performance.json
  tests/openvino/native/data/reference_graphs/quantized/IntegerModel.dot
  tests/openvino/native/data/reference_scales/IntegerModel_performance.json
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/embedding_model.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/EmbeddingCatLinearModel.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/EmbeddingSumModel.dot
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX

#2063 Revert "Run coverage with pytest (#2038)"
  Makefile
  tests/torch/sparsity/movement/test_model_saving.py
Labels: NNCF PT, release target

#2074 [Release_v260] Update QPSG logic (#2066)
  nncf/common/quantization/quantizer_propagation/graph.py
  tests/common/quantization/test_quantizer_propagation_graph.py
  tests/onnx/data/reference_graphs/quantization/synthetic/embedding_model.dot
  tests/onnx/data/reference_scales/embedding_model_performance.json
  tests/openvino/native/data/reference_graphs/quantized/IntegerModel.dot
  tests/openvino/native/data/reference_scales/IntegerModel_performance.json
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/embedding_model.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/EmbeddingCatLinearModel.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/EmbeddingSumModel.dot
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, release target

#2061 Use find_spec instead of try-import-except to detect backends
  nncf/__init__.py
Labels: release target

#2075 Work around find_spec finding local subpackages
  nncf/__init__.py
  tests/common/conftest.py
  tests/common/test_framework_detection.py
Labels: NNCF Common

#2079 Work around find_spec finding local subpackages (#2075)
  nncf/__init__.py
  tests/common/conftest.py
  tests/common/test_framework_detection.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, release target, NNCF PTQ

#2056 [PTQ][Micro refactoring] Refactor insert null bias to insert bias with value
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/model_utils.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/graph/transformations/command_creation.py
  nncf/openvino/graph/transformations/commands.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_model_utils.py
Labels: NNCF OpenVINO

#2078 Fix torch.jit.script wrapper
  nncf/torch/__init__.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  tests/torch/pytorch_patch_isolated.py
  tests/torch/test_pytorch_patch.py
Labels: NNCF PT

#2084 Fix torch.jit.script wrapper (#2078)
  nncf/torch/__init__.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  tests/torch/pytorch_patch_isolated.py
  tests/torch/test_pytorch_patch.py
Labels: NNCF PT, release target

#2083 Deprecate some methods for NNCF 2.6 release
  examples/torch/common/export.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/torch/nncf_network.py
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT, experimental

#2085 Fix PostprocessingNodeLocator
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  tests/common/quantization/test_ignore_post_processing.py
Labels: NNCF Common

#2089 [Release_v260] Fix PostprocessingNodeLocator
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  tests/common/quantization/test_ignore_post_processing.py
Labels: NNCF Common, release target

#2088 [Release] Deprecate some methods for NNCF 2.6 release
  examples/torch/common/export.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/torch/nncf_network.py
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT, experimental, release target

#2093 Updated requirements of the ptq tensorflow mobilenet_v2 example
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
Labels: NNCF TF
