Repository openvinotoolkit/nncf, pull requests merged in 2023-12, with the labels that each got.

#2047 [TF] Added a warning when training without pre-trained weights
  examples/tensorflow/object_detection/main.py
Labels: NNCF TF

#2082 [PTQ][OV] Weights layout in layer attributes is introduced
  nncf/openvino/graph/layer_attributes.py
  nncf/openvino/graph/layout.py
  nncf/openvino/graph/metatypes/groups.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/channel_alignment/algorithm.py
  nncf/quantization/algorithms/channel_alignment/backend.py
  nncf/quantization/algorithms/channel_alignment/openvino_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/smooth_quant/backend.py
  nncf/quantization/algorithms/smooth_quant/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/quantization/test_channel_alignment.py
  tests/openvino/native/test_layer_attributes.py
  tests/openvino/native/test_node_utils.py
  tests/openvino/native/test_smooth_quant.py
  tests/post_training/test_templates/models.py
  tests/post_training/test_templates/test_channel_alignment.py
  tests/post_training/test_templates/test_smooth_quant.py
Labels: NNCF OpenVINO, NNCF PTQ

#2301 Fix dump of patterns
  nncf/common/utils/dot_file_rw.py
  tests/common/graph/test_graph_pattern.py
Labels: NNCF Common

#2288 Extend weight compression with INT8 symmetric scheme
  docs/compression_algorithms/CompressWeights.md
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  tests/openvino/native/data/2023.2/reference_scales/IntegerModel_compressed_weights_int8_asym.json
  tests/openvino/native/data/2023.2/reference_scales/IntegerModel_compressed_weights_int8_sym.json
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Labels: documentation, NNCF PT, NNCF OpenVINO, API, NNCF PTQ

#2303 Update reference for test_quantize_conformance
  tests/post_training/reference_data.yaml
Labels: NNCF PTQ

#2305 Update MLFlow version
  examples/torch/requirements.txt
Labels: NNCF PT

#2311 Update links to ONNX models
  tests/onnx/quantization/test_ptq_regression.py
Labels: NNCF ONNX

#2312 Fix pt sanity tests
  tests/torch/conftest.py
  tests/torch/quantization/test_sanity_sample.py
  tests/torch/requirements.txt
  tests/torch/test_sanity_sample.py
  tests/torch/test_sota_checkpoints.py
Labels: NNCF PT

#2276 [PTQ] Quantization passes for graph with several connected components
  nncf/common/graph/layer_attributes.py
  nncf/openvino/graph/model_utils.py
  nncf/quantization/algorithms/accuracy_control/backend.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/accuracy_control/ranker.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/passes.py
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
  nncf/torch/graph/graph.py
  nncf/torch/graph/operator_metatypes.py
  tests/common/accuracy_control/backend.py
  tests/common/accuracy_control/test_ranking.py
  tests/common/data/reference_graphs/passes/test_constant_filtering_model_after.dot
  tests/common/data/reference_graphs/passes/test_constant_filtering_model_after0.dot
  tests/common/data/reference_graphs/passes/test_constant_filtering_model_after1.dot
  tests/common/data/reference_graphs/passes/test_constant_filtering_model_before.dot
  tests/common/data/reference_graphs/passes/test_constant_filtering_model_before0.dot
  tests/common/data/reference_graphs/passes/test_constant_filtering_model_before1.dot
  tests/common/quantization/metatypes.py
  tests/common/quantization/test_passes.py
  tests/common/quantization/test_quantizer_removal.py
  tests/post_training/test_templates/models.py
  tests/post_training/test_templates/test_ptq_params.py
  tests/post_training/test_templates/test_quantizer_config.py
  tests/torch/ptq/helpers.py
  tests/torch/test_graph_building.py
  tests/torch/test_layer_attributes.py
  tests/torch/test_models/synthetic.py
  tests/torch/test_nncf_graph.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2317 [Torch] `num_edges_expected` filled for each Torch metatype
  nncf/torch/graph/operator_metatypes.py
Labels: NNCF PT

#2315 [PTQ] Bump OV opset from 9 to 13
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_quantize_api.py
  tests/openvino/native/test_layer_attributes.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_node_utils.py
  tests/openvino/native/test_statistics_aggregator.py
  tests/openvino/test_telemetry.py
Labels: NNCF OpenVINO, NNCF PTQ

#2302 Trace `detach` and `to` functions
  nncf/experimental/common/pruning/operations.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/graph/operator_metatypes.py
  tests/common/pruning/test_symbolic_mask_processor.py
  tests/torch/data/reference_graphs/pruning_groups/1_layer_BERT.dot
  tests/torch/data/reference_graphs/pruning_groups/MobileBERT.dot
  tests/torch/data/reference_graphs/pruning_groups/RoBERTa.dot
  tests/torch/data/reference_graphs/pruning_groups/larger_BERT.dot
  tests/torch/data/search_building_block/bert.json
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
  tests/torch/pruning/experimental/test_nodes_grouping.py
Labels: NNCF PT, NNCF Common, experimental

#2310 [PTSQ 2/4][Torch] Nested and successive hooks
  nncf/torch/dynamic_graph/context.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/nncf_network.py
  nncf/torch/quantization/algo.py
  nncf/torch/tensor.py
  tests/common/experimental/test_statistic_collector.py
  tests/common/test_statistics_aggregator.py
  tests/onnx/test_statistics_aggregator.py
  tests/openvino/native/test_statistic_collector.py
  tests/openvino/native/test_statistics_aggregator.py
  tests/torch/helpers.py
  tests/torch/ptq/test_statistic_collector.py
  tests/torch/test_model_transformer.py
  tests/torch/test_statistics_aggregator.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX

#2318 Added option for compressing first and last layers
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, API, NNCF PTQ

#1235 RNSGA-II - BootstrapNAS sub-network search
  examples/experimental/torch/classification/bootstrap_nas.py
  examples/experimental/torch/classification/bootstrap_nas_search.py
  nncf/config/schemata/experimental_schema.py
  nncf/experimental/torch/nas/bootstrapNAS/__init__.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  tests/torch/nas/creators.py
  tests/torch/nas/models/synthetic.py
  tests/torch/nas/test_elastic_width.py
  tests/torch/nas/test_search.py
Labels: NNCF PT, experimental

#2325 Update MLFlow version
  examples/torch/requirements.txt
Labels: NNCF PT

#2326 Fix JSON schema link in docs
  .github/workflows/build_schema_page.yml
  docs/api/source/index.rst
  docs/api/source/schema/index.rst
Labels: documentation, API

#2328 [PTQ][OV] Move OV precommit to GitHub Actions
  .github/workflows/post_pr_merge.yml
  .github/workflows/precommit.yml
  Makefile
  tests/openvino/native/quantization/test_sanity.py
  tests/openvino/pot/quantization/test_sanity.py
Labels: NNCF OpenVINO

#2327 Disable tracing for DefaultBoxGenerator
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
Labels: NNCF PT

#2299 Add backup precision option
  nncf/common/quantization/quantizer_removal.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/accuracy_control/algorithm.py
  nncf/quantization/algorithms/accuracy_control/backend.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/accuracy_control/ranker.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_quantizer_removal.py
Labels: NNCF Common, NNCF OpenVINO, API, NNCF PTQ

#2330 Fix pruning compression stage check
  nncf/torch/pruning/filter_pruning/algo.py
  tests/torch/pruning/filter_pruning/test_algo.py
Labels: NNCF PT

#2331 [PTQ][OV] Named constant nodes
  nncf/openvino/graph/model_transformer.py
Labels: NNCF OpenVINO

#2321 Data-based mixed-precision for weight compression
  docs/compression_algorithms/CompressWeights.md
  nncf/parameters.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/compression_info.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/quantize.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Labels: documentation, NNCF PT, NNCF OpenVINO, API, NNCF PTQ

#2319 [PTQ] BiasCorrection update (for Whisper, etc.)
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/transformations/commands.py
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/graph/transformations/commands.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  tests/onnx/quantization/test_bias_correction.py
  tests/openvino/native/test_bias_correction.py
  tests/openvino/native/test_model_transformer.py
  tests/post_training/test_templates/helpers.py
  tests/post_training/test_templates/test_bias_correction.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2348 Deprecation note for the git patch to Transformers
  README.md
  third_party_integration/huggingface_transformers/README.md
Labels: documentation

#2340 Set disable_in_ci=True in OV telemetry object
  nncf/telemetry/wrapper.py
Labels: release target

#2349 Temporary fix for the install tests
  nncf/openvino/quantization/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/compression_info.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ

#2336 Update patch for roberta-large-mnli in third_party_integration
  tests/post_training/requirements.txt
  tests/torch/data/reference_graphs/pruning_groups/1_layer_BERT.dot
  tests/torch/data/reference_graphs/pruning_groups/1_layer_BERT_.dot
  tests/torch/data/reference_graphs/pruning_groups/CLIP.dot
  tests/torch/data/reference_graphs/pruning_groups/MobileBERT.dot
  tests/torch/data/reference_graphs/pruning_groups/RoBERTa.dot
  tests/torch/data/reference_graphs/pruning_groups/larger_BERT.dot
  tests/torch/data/search_building_block/bert.json
  tests/torch/models_hub_test/requirements.txt
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/requirements.txt
  tests/torch/sparsity/movement/test_model_saving.py
  third_party_integration/huggingface_transformers/0001-Modifications-for-NNCF-usage.patch
Labels: NNCF PT, NNCF PTQ

#2309 Update readme tutorials
  README.md
Labels: documentation

#2350 Increase thresholds for pt e2e tests
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT

#2345 Use transforms from timm
  tests/post_training/pipelines/image_classification_timm.py
  tests/post_training/reference_data.yaml
Labels: NNCF PTQ

#2352 [OV][Calibrate tool] Try to import POT instead of unconditional POT import
  tests/openvino/pot/quantization/test_helpers.py
  tests/openvino/pot/quantization/test_parameters.py
  tests/openvino/pot/quantization/test_sanity.py
  tests/openvino/pot/test_engine.py
  tests/openvino/pot/utils.py
  tests/openvino/tools/calibrate.py
  tests/openvino/tools/config.py
Labels: NNCF OpenVINO

#2353 Fix tests on relasev280
  nncf/openvino/quantization/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/compression_info.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/post_training/requirements.txt
  tests/torch/data/reference_graphs/pruning_groups/1_layer_BERT.dot
  tests/torch/data/reference_graphs/pruning_groups/1_layer_BERT_.dot
  tests/torch/data/reference_graphs/pruning_groups/CLIP.dot
  tests/torch/data/reference_graphs/pruning_groups/MobileBERT.dot
  tests/torch/data/reference_graphs/pruning_groups/RoBERTa.dot
  tests/torch/data/reference_graphs/pruning_groups/larger_BERT.dot
  tests/torch/data/search_building_block/bert.json
  tests/torch/models_hub_test/requirements.txt
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/requirements.txt
  tests/torch/sparsity/movement/test_model_saving.py
  third_party_integration/huggingface_transformers/0001-Modifications-for-NNCF-usage.patch
Labels: NNCF PT, NNCF OpenVINO, NNCF PTQ

#2354 Bump pandas version
  setup.py
Labels: dependencies

#2358 Increase thresholds for pt e2e tests
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT
