Repository openvinotoolkit/nncf, pull requests merged in 2023-06, with the labels that each got.

#1876 Known issues update
  ReleaseNotes.md
Labels: release target

#1850 Update versions of packages in requirements for post_training tests
  nncf/experimental/torch/replace_custom_modules/timm_custom_modules.py
  tests/post_training/model_scope.json
  tests/post_training/requirements.txt
  tests/torch/experimental/replace_custom_modules/test_replace_timm_custom_modules.py
  tests/torch/requirements.txt
  tests/torch/test_models/swin.py
Labels: NNCF PT, experimental

#1879 Update PyTorch examples Readme
  examples/torch/object_detection/README.md
  examples/torch/semantic_segmentation/README.md
Labels: documentation, NNCF PT, release target

#1836 More updates of Readme
  README.md
Labels: documentation

#1851 Rebuild graph after insert FQ nodes
  nncf/torch/graph/transformations/commands.py
  nncf/torch/model_transformer.py
  tests/torch/test_model_transformer.py
Labels: NNCF PT

#1759 Added quantization agnostic ops list for all backends
  nncf/common/graph/layer_attributes.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/quantization/default_quantization.py
  nncf/openvino/graph/metatypes/common.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/openvino/quantization/default_quantization.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/tensorflow/graph/converter.py
  nncf/tensorflow/graph/metatypes/common.py
  nncf/tensorflow/graph/model_transformer.py
  nncf/tensorflow/graph/pattern_operations.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/quantization/default_quantization.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/quantization/default_quantization.py
  tests/common/quantization/metatypes.py
  tests/onnx/test_metatypes.py
  tests/openvino/native/data/reference_graphs/quantized/IntegerModel.dot
  tests/openvino/native/data/reference_scales/IntegerModel_mixed.json
  tests/openvino/native/data/reference_scales/IntegerModel_performance.json
  tests/openvino/native/quantization/test_graphs.py
  tests/tensorflow/data/reference_graphs/2.8/quantized/w_sym_ch_a_asym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.8/quantized/w_sym_t_a_sym_t/mask_rcnn.dot
  tests/torch/ptq/test_calculation_quantizer_params.py
  tests/torch/test_compressed_graph.py
Labels: NNCF TF, NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX

#1882 [Release_v250] Mapping of 1836
  README.md
Labels: documentation, release target

#1878 Fix openvino version
  Makefile
  setup.py
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/requirements.txt
Labels: dependencies, NNCF PT, NNCF OpenVINO, NNCF ONNX

#1853 Make uncompressed_model_accuracy argument required for AATL creation
  examples/tensorflow/classification/main.py
  examples/tensorflow/object_detection/main.py
  examples/torch/classification/main.py
  examples/torch/object_detection/main.py
  examples/torch/semantic_segmentation/main.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/tensorflow/accuracy_aware_training/keras_model_utils.py
  tests/tensorflow/accuracy_aware_training/test_keras_api.py
  tests/torch/accuracy_aware_training/test_accuracy_aware_config.py
Labels: NNCF TF, NNCF PT, NNCF Common

#1873 Support for transpose attributes in MatMul operation
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  tests/openvino/native/data/reference_scales/LinearModel_mixed.json
  tests/openvino/native/data/reference_scales/LinearModel_performance.json
  tests/openvino/native/data/reference_scales/MatMul2DModel_mixed.json
  tests/openvino/native/data/reference_scales/MatMul2DModel_performance.json
  tests/openvino/native/data/reference_scales/ScaleShiftReluModel_mixed.json
  tests/openvino/native/data/reference_scales/ScaleShiftReluModel_performance.json
  tests/openvino/native/data/reference_scales/SeBlockModel_mixed.json
  tests/openvino/native/data/reference_scales/SeBlockModel_performance.json
  tests/openvino/native/data/reference_scales/WeightsModel_mixed.json
  tests/openvino/native/data/reference_scales/WeightsModel_overflow_fix_disable.json
  tests/openvino/native/data/reference_scales/WeightsModel_overflow_fix_enable.json
  tests/openvino/native/data/reference_scales/WeightsModel_overflow_fix_first_layer_only.json
  tests/openvino/native/data/reference_scales/WeightsModel_performance.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
Labels: NNCF OpenVINO

#1884 Update docs from release
  ReleaseNotes.md
  examples/torch/object_detection/README.md
  examples/torch/semantic_segmentation/README.md
Labels: documentation, NNCF PT

#1887 Fixed typo
  tests/openvino/native/quantization/test_fq_params_calculation.py
Labels: NNCF OpenVINO

#1847 [PTQ] Introduce Ignored patterns
  nncf/common/graph/graph.py
  nncf/common/graph/graph_matching.py
  nncf/common/graph/patterns/__init__.py
  nncf/common/graph/patterns/manager.py
  nncf/common/graph/patterns/patterns.py
  nncf/experimental/torch/search_building_blocks/search_graph.py
  nncf/onnx/hardware/fused_patterns.py
  nncf/onnx/quantization/ignored_patterns.py
  nncf/openvino/hardware/fused_patterns.py
  nncf/openvino/quantization/ignored_patterns.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/scopes.py
  nncf/tensorflow/hardware/fused_patterns.py
  nncf/torch/hardware/fused_patterns.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/ignored_patterns.py
  nncf/torch/quantization/metrics.py
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/test_pattern_manager.py
  tests/openvino/native/common.py
  tests/openvino/native/data/reference_graphs/quantized/swin-tiny-patch4-window7-224.dot
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/native/test_pattern_manager.py
  tests/post_training/test_ptq_params.py
  tests/post_training/test_quantizer_config.py
  tests/shared/patterns.py
  tests/torch/ptq/test_ptq_params.py
  tests/torch/test_model_transformer.py
  tests/torch/test_pattern_manager.py
Labels: NNCF TF, NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX

#1886 [Release_v250] Support for transpose attributes in MatMul operation
  Makefile
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  setup.py
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/native/data/reference_scales/LinearModel_mixed.json
  tests/openvino/native/data/reference_scales/LinearModel_performance.json
  tests/openvino/native/data/reference_scales/MatMul2DModel_mixed.json
  tests/openvino/native/data/reference_scales/MatMul2DModel_performance.json
  tests/openvino/native/data/reference_scales/ScaleShiftReluModel_mixed.json
  tests/openvino/native/data/reference_scales/ScaleShiftReluModel_performance.json
  tests/openvino/native/data/reference_scales/SeBlockModel_mixed.json
  tests/openvino/native/data/reference_scales/SeBlockModel_performance.json
  tests/openvino/native/data/reference_scales/WeightsModel_mixed.json
  tests/openvino/native/data/reference_scales/WeightsModel_overflow_fix_disable.json
  tests/openvino/native/data/reference_scales/WeightsModel_overflow_fix_enable.json
  tests/openvino/native/data/reference_scales/WeightsModel_overflow_fix_first_layer_only.json
  tests/openvino/native/data/reference_scales/WeightsModel_performance.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/requirements.txt
Labels: dependencies, NNCF PT, NNCF OpenVINO, NNCF ONNX

#1892 [Release_v250] Fixed type hints
  nncf/quantization/advanced_parameters.py
Labels: release target

#1894 Fix rebase
  nncf/torch/quantization/layers.py
Labels: NNCF PT, release target

#1895 [PyTorch] Fix lower PR version for strip
  examples/torch/common/export.py
Labels: NNCF PT, release target

#1898 Fix mlflow versions
  examples/torch/requirements.txt
  tests/torch/requirements.txt
Labels: release target

#1799 [Style] Enable pylint for each python file in repo
  Makefile
  docs/api/source/conf.py
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/quantize_with_accuracy_control/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  examples/tensorflow/common/utils.py
  examples/tensorflow/object_detection/main.py
  examples/torch/semantic_segmentation/datasets/__init__.py
  examples/torch/semantic_segmentation/metric/__init__.py
  nncf/__init__.py
  nncf/config/schemata/algo/filter_pruning.py
  nncf/experimental/common/graph/netron.py
  nncf/experimental/common/pruning/operations.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/torch/replace_custom_modules/timm_custom_modules.py
  nncf/telemetry/extractors.py
  nncf/torch/accuracy_aware_training/runner.py
  nncf/version.py
  tests/common/test_logging.py
  tests/cross_fw/install/test_install.py
  tests/experimental/common/test_statistic_collector.py
  tests/post_training/helpers.py
  tests/post_training/test_ptq_params.py
  tests/post_training/test_quantize_conformance.py
  tests/shared/isolation_runner.py
  tests/shared/metric_thresholds.py
  tests/shared/paths.py
  tests/shared/patterns.py
  tests/torch/accuracy_aware_training/test_training_loop.py
  tests/torch/composite/test_sparsity_quantization.py
  tests/torch/experimental/replace_custom_modules/test_replace_timm_custom_modules.py
  tests/torch/experimental/search_building_blocks/test_search_building_blocks.py
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
  tests/torch/modules/seq2seq/attention.py
  tests/torch/modules/seq2seq/decoder.py
  tests/torch/modules/seq2seq/encoder.py
  tests/torch/modules/seq2seq/gnmt.py
  tests/torch/modules/seq2seq/seq2seq_base.py
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/pruning/filter_pruning/test_layers.py
  tests/torch/ptq/helpers.py
  tests/torch/ptq/test_calculation_quantizer_params.py
  tests/torch/ptq/test_fq_params_calculation.py
  tests/torch/ptq/test_graphs.py
  tests/torch/ptq/test_quantizer_config.py
  tools/collect_pylint_input_files_for_backend.py
Labels: documentation, NNCF TF, NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX, API

#1901 Added quantization config for ReduceSum operation
  nncf/common/hardware/configs/cpu.json
  nncf/common/hardware/configs/gpu.json
Labels: NNCF Common

#1904 Fixed pylint issue in the object detection example
  examples/tensorflow/object_detection/main.py
Labels: NNCF TF

#1880 Move templates for PTQ tests to separate directory
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/onnx/quantization/test_fast_bias_correction.py
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/openvino/native/quantization/test_fq_configurations.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/openvino/native/test_fast_bias_correction.py
  tests/post_training/test_templates/helpers.py
  tests/post_training/test_templates/models.py
  tests/post_training/test_templates/test_calculate_quantizer_parameters.py
  tests/post_training/test_templates/test_fast_bias_correction.py
  tests/post_training/test_templates/test_ptq_params.py
  tests/post_training/test_templates/test_quantizer_config.py
  tests/torch/ptq/helpers.py
  tests/torch/ptq/test_calculation_quantizer_params.py
  tests/torch/ptq/test_fast_bias_correction.py
  tests/torch/ptq/test_ptq_params.py
  tests/torch/ptq/test_quantizer_config.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX

#1888 Fix onnx-1.13.1 onnxruntime-1.14.1 for torch and ptq tests
  tests/post_training/requirements.txt
  tests/torch/requirements.txt
Labels: NNCF PT

#1906 Fix convert_advanced_parameters_to_dict
  nncf/quantization/advanced_parameters.py
  nncf/tensorflow/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  tests/tensorflow/quantization/test_ptq_params.py
  tests/torch/ptq/test_ptq_params.py
Labels: NNCF TF, NNCF PT, API

#1849 Add strip option for PTQ
  nncf/__init__.py
  nncf/api/compression.py
  nncf/common/strip.py
  nncf/torch/__init__.py
  nncf/torch/model_analyzer.py
  nncf/torch/model_transformer.py
  nncf/torch/nncf_network.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/strip.py
  nncf/torch/strip.py
  tests/torch/ptq/test_strip.py
  tests/torch/quantization/test_strip.py
Labels: NNCF PT, NNCF Common, API

#1778 [PTQ] Update scales unification rules based on types
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/quantization/algo.py
  tests/common/quantization/test_quantizer_propagation_graph.py
  tests/onnx/data/reference_graphs/quantization/googlenet.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/hw/CPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/hw/GPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/hw/VPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_ch_a_asym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_t_a_sym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.4/quantized/hw/CPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.4/quantized/hw/GPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.4/quantized/hw/VPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.4/quantized/w_sym_ch_a_asym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/2.4/quantized/w_sym_ch_a_asym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.4/quantized/w_sym_ch_a_asym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.4/quantized/w_sym_ch_a_asym_t/retinanet.pb
  tests/tensorflow/data/reference_graphs/2.4/quantized/w_sym_ch_a_asym_t/retinanet_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/2.4/quantized/w_sym_t_a_sym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/2.4/quantized/w_sym_t_a_sym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.4/quantized/w_sym_t_a_sym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.4/quantized/w_sym_t_a_sym_t/retinanet.pb
  tests/tensorflow/data/reference_graphs/2.4/quantized/w_sym_t_a_sym_t/retinanet_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/2.5/quantized/hw/CPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.5/quantized/hw/GPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.5/quantized/hw/VPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.5/quantized/w_sym_ch_a_asym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/2.5/quantized/w_sym_ch_a_asym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.5/quantized/w_sym_ch_a_asym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.5/quantized/w_sym_ch_a_asym_t/retinanet.pb
  tests/tensorflow/data/reference_graphs/2.5/quantized/w_sym_ch_a_asym_t/retinanet_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/2.5/quantized/w_sym_t_a_sym_t/densenet121.pb
  tests/tensorflow/data/reference_graphs/2.5/quantized/w_sym_t_a_sym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.5/quantized/w_sym_t_a_sym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.5/quantized/w_sym_t_a_sym_t/retinanet.pb
  tests/tensorflow/data/reference_graphs/2.5/quantized/w_sym_t_a_sym_t/retinanet_quantize_outputs.pb
  tests/tensorflow/data/reference_graphs/2.8/quantized/w_sym_ch_a_asym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.8/quantized/w_sym_t_a_sym_t/mask_rcnn.dot
  tests/tensorflow/quantization/test_unified_scales.py
Labels: NNCF TF, NNCF PT, NNCF Common, NNCF ONNX

#1902 Fixed quantization OpenVINO MatMul operation with weights rank>2
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/openvino/graph/node_utils.py
  tests/openvino/native/data/reference_scales/LSTMSequenceModel_mixed.json
  tests/openvino/native/data/reference_scales/LSTMSequenceModel_performance.json
Labels: NNCF OpenVINO

#1914 Update pymoo to 0.6
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  setup.py
Labels: dependencies, experimental

#1916 Fix padding adjustment issue in elastic kernel
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_kernel.py
  tests/torch/data/reference_graphs/nas/efficient_net_b0_depth.dot
  tests/torch/data/reference_graphs/nas/efficient_net_b0_kernel.dot
  tests/torch/data/reference_graphs/nas/efficient_net_b0_width.dot
  tests/torch/data/reference_graphs/nas/squeezenet1_0_depth.dot
  tests/torch/data/reference_graphs/nas/squeezenet1_0_kernel.dot
  tests/torch/data/reference_graphs/nas/squeezenet1_0_width.dot
  tests/torch/helpers.py
  tests/torch/nas/creators.py
  tests/torch/nas/models/synthetic.py
  tests/torch/nas/test_elastic_depth.py
  tests/torch/nas/test_elastic_kernel.py
  tests/torch/nas/test_search.py
  tests/torch/nas/test_search_space.py
  tests/torch/nas/test_state.py
Labels: NNCF PT, experimental

#1903 BNAS shape pruning processor.
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/experimental/torch/pruning/operations.py
  nncf/torch/pruning/operations.py
  tests/torch/nas/test_flops.py
  tests/torch/pruning/helpers.py
  tests/torch/pruning/test_model_pruning_analysis.py
Labels: NNCF PT, experimental

#1915 Update system requirements and test environment
  README.md
Labels: documentation

#1913 BNAS KD Loss
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_builder.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_controller.py
  tests/torch/nas/test_ps_controller.py
  tests/torch/nas/test_scheduler.py
Labels: NNCF PT, experimental

#1924 Add LINEAR_ACTIVATIONS_UNSQUEEZE_BN_SQUEEZE fused pattern
  nncf/common/graph/patterns/patterns.py
  nncf/openvino/hardware/fused_patterns.py
  tests/onnx/test_pattern_manager.py
  tests/torch/test_pattern_manager.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX

#1931 Remove CUDA spec from torch installation in tests
  tests/torch/sparsity/movement/test_training_with_third_party.py
  tests/torch/test_sanity_third_party.py
Labels: NNCF PT

#1920 Add parameters `strict_check_scopes`
  nncf/common/compression.py
  nncf/common/scopes.py
  nncf/config/config.py
  nncf/config/schemata/common/targeting.py
  nncf/config/schemata/defaults.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/scopes.py
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/quantization/quantize_model.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/tensorflow/sparsity/rb/algorithm.py
  nncf/torch/compression_method_api.py
  nncf/torch/quantization/quantize_model.py
  tests/onnx/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/post_training/test_templates/test_ptq_params.py
  tests/tensorflow/test_ignored_scopes.py
  tests/torch/ptq/test_ptq_params.py
  tests/torch/test_algo_common.py
Labels: NNCF TF, NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, API

#1909 [PTQ][OV] SmoothQuant algorithm
  nncf/common/quantization/quantizer_removal.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/openvino/graph/transformations/command_creation.py
  nncf/openvino/graph/transformations/commands.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/quantization/algorithms/smooth_quant/__init__.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/smooth_quant/backend.py
  nncf/quantization/algorithms/smooth_quant/openvino_backend.py
  tests/openvino/native/data/reference_graphs/quantized/swin-tiny-patch4-window7-224_sq.dot
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/test_layer_attributes.py
  tests/openvino/native/test_metatypes.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_smooth_quant.py
  tests/post_training/test_templates/helpers.py
  tests/post_training/test_templates/test_smooth_quant.py
Labels: NNCF Common, NNCF OpenVINO, API

#1812 [PTQ][OV][ONNX] BiasCorrection update
  nncf/common/tensor_statistics/collectors.py
  nncf/common/tensor_statistics/statistics.py
  nncf/onnx/graph/model_utils.py
  nncf/onnx/statistics/collectors.py
  nncf/onnx/statistics/statistics.py
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/model_utils.py
  nncf/openvino/statistics/collectors.py
  nncf/openvino/statistics/statistics.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  tests/common/test_statistics_aggregator.py
  tests/onnx/quantization/test_bias_correction.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/exctracted_ConvModel.dot
  tests/openvino/native/data/reference_graphs/original_nncf_graph/exctracted_QuantizedModel.dot
  tests/openvino/native/test_bias_correction.py
  tests/openvino/native/test_model_transformer.py
  tests/post_training/test_templates/helpers.py
  tests/post_training/test_templates/test_bias_correction.py
Labels: NNCF Common, NNCF OpenVINO, NNCF ONNX

#1929 Use explicit port IDs for parallel edge case instead of the parallel edge count
  nncf/common/graph/graph.py
  nncf/common/insertion_point_graph.py
  nncf/torch/dynamic_graph/graph.py
  nncf/torch/graph/graph.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/nncf_network.py
  tests/common/pruning/test_pruning_operations.py
  tests/cross_fw/examples/test_examples.py
  tests/torch/test_graph_analysis.py
  tests/torch/test_graph_building.py
Labels: NNCF PT, NNCF Common

#1934 Update transformers version for tests
  tests/torch/data/search_building_block/wave2vec_2.0.json
  tests/torch/requirements.txt
  tests/torch/sparsity/movement/training_scripts/run_glue.py
Labels: NNCF PT

#1905 Move some HWFusedPatterns to IgnoredPatterns
  nncf/common/graph/graph_matching.py
  nncf/common/graph/patterns/patterns.py
  nncf/onnx/hardware/fused_patterns.py
  nncf/onnx/quantization/ignored_patterns.py
  nncf/openvino/hardware/fused_patterns.py
  nncf/openvino/quantization/ignored_patterns.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/torch/hardware/fused_patterns.py
  nncf/torch/quantization/ignored_patterns.py
  tests/common/graph/test_graph_matching.py
  tests/onnx/test_pattern_manager.py
  tests/torch/test_pattern_manager.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX

#1919 Move the FC_BN_HSWISH_ACTIVATION pattern from fused to ignored
  nncf/common/graph/patterns/patterns.py
  nncf/openvino/hardware/fused_patterns.py
  nncf/openvino/quantization/ignored_patterns.py
  tests/onnx/test_pattern_manager.py
  tests/torch/test_pattern_manager.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX

#1938 [ONNX] Remove useless methods
  nncf/onnx/graph/onnx_graph.py
Labels: NNCF ONNX
