Repository openvinotoolkit/nncf, pull requests merged in 2023-02, with the labels that each got.

#1529 [OV] Compress quantized weights
  nncf/experimental/openvino_native/quantization/quantize.py
  tests/openvino/native/quantization/test_quantization_pipeline.py
Labels: experimental, NNCF OpenVINO

#1537 Fix bug with ONNX quantization parameters for different opsets
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/onnx/quantization/quantize.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  tests/onnx/quantization/test_opset_versions.py
  tests/onnx/sanity_tests/test_classification_sanity_sample.py
Labels: experimental, NNCF ONNX

#1544 Pylint happy
  nncf/experimental/openvino_native/graph/transformations/command_creation.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
Labels: experimental

#1548 Using the offline transformation compress_quantize_weights_transformation
  nncf/openvino/quantization/quantize.py
Labels: NNCF OpenVINO

#1524 Align graph checks in OV code with common code
  tests/onnx/quantization/common.py
  tests/onnx/test_nncf_graph_builder.py
  tests/openvino/native/common.py
  tests/shared/__init__.py
  tests/shared/nx_graph.py
  tests/tensorflow/test_compressed_graph.py
  tests/tensorflow/test_transformations.py
  tests/torch/automl/test_ddpg.py
  tests/torch/binarization/test_functions.py
  tests/torch/conftest.py
  tests/torch/modules/test_rnn.py
  tests/torch/nas/test_all_elasticity.py
  tests/torch/nas/test_elastic_width.py
  tests/torch/quantization/test_autoq_precision_init.py
  tests/torch/quantization/test_functions.py
  tests/torch/quantization/test_hawq_precision_init.py
  tests/torch/test_compressed_graph.py
  tests/torch/test_utils.py
Labels: NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX

#1540 Add doc reference to the TuneRange class
  docs/compression_algorithms/Quantization.md
  nncf/torch/quantization/quantize_functions.py
Labels: documentation, NNCF PT

#1545 [PTQ][OV] Support Depthwise, Group convolutions
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/hardware/pattern_operations.py
  nncf/experimental/openvino_native/quantization/default_quantization.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/openvino/native/test_metatypes.py
Labels: experimental, NNCF OpenVINO

#1547 Added __matmul__ magic functions to the list of patched ops
  nncf/torch/dynamic_graph/patch_pytorch.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/__matmul__.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/__rmatmul__.dot
  tests/torch/test_compressed_graph.py
Labels: NNCF PT

#1549 Added YOLOv8 example
  examples/post_training_quantization/openvino/yolov8/README.md
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8/requirements.txt
Labels: documentation, NNCF OpenVINO

#1421 The example of quantization with accuracy control for OpenVINO backend
  examples/post_training_quantization/openvino/quantize_with_accuracy_control/README.md
  examples/post_training_quantization/openvino/quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/quantize_with_accuracy_control/requirements.txt
Labels: documentation, NNCF OpenVINO

#1535 Tiny fix to the architecture doc file
  docs/NNCFArchitecture.md
Labels: documentation

#1509 Fused patterns update (OV backend)
  nncf/common/graph/patterns/__init__.py
  nncf/common/graph/patterns/manager.py
  nncf/common/graph/patterns/patterns.py
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/experimental/openvino_native/hardware/pattern_operations.py
  nncf/experimental/openvino_native/hardware/patterns.py
  nncf/onnx/hardware/fused_patterns.py
  nncf/onnx/hardware/pattern_operations.py
  nncf/onnx/hardware/patterns.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/onnx/test_pattern_manager.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/openvino/native/test_pattern_manager.py
  tests/shared/patterns.py
Labels: NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX

#1530 ONNX Add regression test
  Makefile
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  tests/onnx/conftest.py
  tests/onnx/quantization/__init__.py
  tests/onnx/quantization/test_ptq_regression.py
  tests/onnx/requirements.txt
Labels: NNCF ONNX

#1574 Fixed README of quantization with accuracy control for OpenVINO backend
  examples/post_training_quantization/openvino/quantize_with_accuracy_control/README.md
Labels: documentation, NNCF OpenVINO

#1573 Added patching of torch.jit.script_if_tracing
  nncf/torch/dynamic_graph/patch_pytorch.py
  tests/torch/pytorch_patch_isolated.py
  tests/torch/test_pytorch_patch.py
Labels: NNCF PT

#1575 Updated hash of the openvino mdoel in the quantization with accuracy control example.
  examples/post_training_quantization/openvino/quantize_with_accuracy_control/main.py
Labels: NNCF OpenVINO

#1566 Migrate torch fused patterns to common representation
  nncf/common/graph/patterns/manager.py
  nncf/common/graph/patterns/patterns.py
  nncf/experimental/torch/search_building_blocks/search_graph.py
  nncf/torch/graph/pattern_operations.py
  nncf/torch/graph/patterns.py
  nncf/torch/hardware/fused_patterns.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/metrics.py
  tests/onnx/test_pattern_manager.py
  tests/openvino/native/test_pattern_manager.py
  tests/torch/quantization/test_quantization_metric.py
  tests/torch/test_nncf_network.py
  tests/torch/test_pattern_manager.py
Labels: NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX

#1564 Fix ignored scope for weights & OV
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/onnx/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_ptq_params.py
Labels: experimental, NNCF OpenVINO, NNCF ONNX

#1567 Use functools.wraps on NNCF wrappers
  nncf/telemetry/decorator.py
  nncf/telemetry/wrapper.py
  nncf/torch/dynamic_graph/wrappers.py
Labels: NNCF PT

#1577 Incorrect type for max_frop parameter
  examples/post_training_quantization/openvino/quantize_with_accuracy_control/main.py
Labels: NNCF OpenVINO

#1077 Rework NNCF module placement to track all access scopes of the replaced module
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/graph.py
  nncf/torch/dynamic_graph/scope.py
  nncf/torch/dynamic_graph/scope_access.py
  nncf/torch/dynamic_graph/transform_graph.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/nncf_module_replacement.py
  nncf/torch/nncf_network.py
  nncf/torch/quantization/metrics.py
  tests/torch/helpers.py
  tests/torch/modules/test_rnn.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/test_load_model_state.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT

#1563 Support for the OpenVINO native quantization implementation in calibrate.py
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#1578 Fix: out of sync level_ranges and signed parameter
  nncf/torch/quantization/layers.py
  tests/torch/quantization/test_algo_quantization.py
Labels: NNCF PT

#1554 Full BiasCorrection for OpenVINO backend
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/quantization/algorithms/bias_correction/__init__.py
  nncf/experimental/openvino_native/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/experimental/openvino_native/statistics/collectors.py
  nncf/experimental/openvino_native/statistics/statistics.py
  nncf/onnx/graph/model_transformer.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Labels: experimental, NNCF ONNX

#1541 Monkey patcher
  docs/NNCFArchitecture.md
  examples/post_training_quantization/torch/ssd300_vgg16/README.md
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  nncf/common/utils/patcher.py
  nncf/torch/__init__.py
  nncf/torch/dynamic_graph/context.py
  tests/common/test_monkey_patching.py
  tests/torch/test_no_nncf_trace_patching.py
Labels: documentation, NNCF PT, NNCF Common

#1581 [OV] OV dtypes extended with boolean
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/ComparisonBinaryModel.dot
  tests/openvino/native/data/reference_graphs/quantized/ComparisonBinaryModel.dot
  tests/openvino/native/models.py
Labels: experimental, NNCF OpenVINO

#1592 Fix NAS test
  tests/torch/nas/models/synthetic.py
  tests/torch/nas/test_elastic_depth.py
  tests/torch/nas/test_state.py
Labels: NNCF PT

#1588 [PTQ] Constant statistics aggregation optimization
  nncf/experimental/openvino_native/statistics/aggregator.py
  nncf/onnx/statistics/aggregator.py
Labels: experimental, NNCF ONNX

#1595 Added conv3d to first layer overflow fix check
  nncf/experimental/tensorflow/quantization/algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/torch/quantization/algo.py
Labels: NNCF TF, NNCF PT, experimental

#1596 Added average pool 3d -like ops to pruning mask forwarding ops
  nncf/tensorflow/pruning/operations.py
  nncf/torch/pruning/operations.py
Labels: NNCF TF, NNCF PT

#1569 [PTQ] Update logic of transformation usage in ModelTransformer
  nncf/common/tensor_statistics/aggregator.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/experimental/openvino_native/statistics/aggregator.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/transformations/commands.py
  nncf/onnx/statistics/aggregator.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/torch/statistics/aggregator.py
  tests/onnx/test_model_transformer.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX

#1526 Add prepare_for_inference function for PyTorch models
  examples/torch/classification/README.md
  examples/torch/classification/main.py
  examples/torch/common/argparser.py
  examples/torch/object_detection/README.md
  examples/torch/object_detection/main.py
  examples/torch/semantic_segmentation/README.md
  examples/torch/semantic_segmentation/main.py
  nncf/torch/composite_compression.py
  nncf/torch/compression_method_api.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/pruning/operations.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/prepare_for_inference.py
  nncf/torch/quantization/quantize_functions.py
  nncf/torch/sparsity/base_algo.py
  tests/common/quantization/data_generators.py
  tests/torch/pruning/filter_pruning/test_prepare_for_inference.py
  tests/torch/quantization/test_functions.py
  tests/torch/quantization/test_prepare_for_inference.py
  tests/torch/sparsity/test_prepare_for_inference.py
Labels: documentation, NNCF PT, NNCF Common

#1591 [Torch] PTQ conformance test
  nncf/experimental/torch/quantization/__init__.py
  nncf/experimental/torch/quantization/quantize.py
  tests/post_training/conftest.py
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
Labels: experimental

#1597 [Pruning] Fixed statistics computation for pruned layers
  nncf/torch/pruning/base_algo.py
Labels: NNCF PT

#1543 [Torch] test_function stabilization
  tests/torch/quantization/test_functions.py
Labels: NNCF PT

#1600 Expire traced tensors
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/trace_tensor.py
  nncf/torch/dynamic_graph/wrappers.py
  tests/torch/test_graph_building.py
  tests/torch/test_tracing_context.py
Labels: NNCF PT

#1477 Add OpenVINO regression tests
  Makefile
  tests/openvino/conftest.py
  tests/openvino/data/ac_configs/googlenet-v3-pytorch.yml
  tests/openvino/data/ac_configs/mobilefacedet-v1-mxnet.yml
  tests/openvino/data/ac_configs/mobilenet-v3-small-1.0-224-tf.yml
  tests/openvino/data/ac_configs/resnet-18-pytorch.yml
  tests/openvino/data/ac_configs/retinaface-resnet50-pytorch.yml
  tests/openvino/data/ov_dataset_definitions.yml
  tests/openvino/datasets_helpers.py
  tests/openvino/native/quantization/test_sanity.py
  tests/openvino/omz_helpers.py
  tests/openvino/pot/quantization/test_sanity.py
  tests/openvino/requirements.txt
Labels: NNCF OpenVINO

#1601 [OV] Add Clamp to ATOMIC_ACTIVATIONS_OPERATIONS
  nncf/experimental/openvino_native/hardware/pattern_operations.py
Labels: experimental
