Repository openvinotoolkit/nncf, pull requests merged in 2023-11, with the labels that each got.

#2210 [Quantization][Torch] Activations are not quantizing / BN operations are not quantizing in PTQ for TRANSFORMER model type
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/quantization/default_quantization.py
  tests/post_training/reference_data.yaml
  tests/torch/data/reference_graphs/const_sparsity/lstm_bi_seq.dot
  tests/torch/data/reference_graphs/const_sparsity/lstm_bi_stacked.dot
  tests/torch/data/reference_graphs/const_sparsity/lstm_uni_seq.dot
  tests/torch/data/reference_graphs/const_sparsity/lstm_uni_stacked.dot
  tests/torch/data/reference_graphs/magnitude_sparsity/lstm_bi_seq.dot
  tests/torch/data/reference_graphs/magnitude_sparsity/lstm_bi_stacked.dot
  tests/torch/data/reference_graphs/magnitude_sparsity/lstm_uni_seq.dot
  tests/torch/data/reference_graphs/magnitude_sparsity/lstm_uni_stacked.dot
  tests/torch/data/reference_graphs/original/lstm_bi_seq.dot
  tests/torch/data/reference_graphs/original/lstm_bi_stacked.dot
  tests/torch/data/reference_graphs/original/lstm_uni_seq.dot
  tests/torch/data/reference_graphs/original/lstm_uni_stacked.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/lstm_bi_seq.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/lstm_bi_stacked.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/lstm_cell.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/lstm_uni_seq.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/lstm_uni_stacked.dot
  tests/torch/data/reference_graphs/quantized/symmetric/lstm_bi_seq.dot
  tests/torch/data/reference_graphs/quantized/symmetric/lstm_bi_stacked.dot
  tests/torch/data/reference_graphs/quantized/symmetric/lstm_cell.dot
  tests/torch/data/reference_graphs/quantized/symmetric/lstm_uni_seq.dot
  tests/torch/data/reference_graphs/quantized/symmetric/lstm_uni_stacked.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/ELU.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/Erf.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/Hardtanh.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/LeakyReLU.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/MaxUnpool3d.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/PReLU.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/Tanh.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/lstm_bi_seq.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/lstm_bi_stacked.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/lstm_cell.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/lstm_uni_seq.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/lstm_uni_stacked.dot
  tests/torch/data/reference_graphs/rb_sparsity/lstm_bi_seq.dot
  tests/torch/data/reference_graphs/rb_sparsity/lstm_bi_stacked.dot
  tests/torch/data/reference_graphs/rb_sparsity/lstm_uni_seq.dot
  tests/torch/data/reference_graphs/rb_sparsity/lstm_uni_stacked.dot
  tests/torch/modules/test_rnn.py
  tests/torch/quantization/test_hw_config.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2238 [TORCH] Increase acceptable range for mobilenet_v2 models in compression training tests
  tests/torch/test_compression_training.py
Labels: NNCF PT

#2222 [PTQ][Experimental stats] MAD and Percentile aggregators accept dynamic tensors
  nncf/common/tensor_statistics/collectors.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/collectors.py
  nncf/openvino/statistics/collectors.py
  nncf/tensorflow/tensor_statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
Labels: NNCF TF, NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX

#2230 Added raising an exception when empty calibration dataset is provided
  nncf/common/tensor_statistics/aggregator.py
  nncf/quantization/quantize_model.py
  tests/common/test_statistics_aggregator.py
  tests/openvino/native/quantization/test_quantize_api.py
Labels: NNCF Common, NNCF OpenVINO, API, NNCF PTQ

#2227 Switch PyTorch PTQ to common implementation
  nncf/experimental/torch/quantization/__init__.py
  nncf/experimental/torch/quantization/quantize_model.py
  nncf/quantization/quantize_model.py
  nncf/torch/engine.py
  nncf/torch/quantization/quantize_model.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_timm.py
  tests/torch/ptq/test_ptq_params.py
  tests/torch/ptq/test_quantize_model_helpers.py
  tests/torch/ptq/test_strip.py
  tests/torch/test_transform_fn.py
Labels: NNCF PT, experimental, API, NNCF PTQ

#2240 [Torch] Workaroud for torch.quantile function
  nncf/torch/tensor_statistics/collectors.py
  tests/torch/ptq/test_reducers_and_aggregators.py
Labels: NNCF PT

#2213 StatisticsAggregator returns original tensor shape
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/post_training/test_templates/test_channel_alignment.py
Labels: NNCF PT, NNCF Common, experimental, NNCF PTQ

#2242 [Torch] Skip cuda test if cuda is not available
  tests/torch/ptq/test_reducers_and_aggregators.py
Labels: NNCF PT

#2196 Graph build from dataloader
  examples/torch/classification/main.py
  examples/torch/object_detection/dataset.py
  examples/torch/object_detection/main.py
  nncf/common/exporter.py
  nncf/common/graph/graph.py
  nncf/config/config.py
  nncf/config/extractors.py
  nncf/config/schema.py
  nncf/torch/dynamic_graph/graph.py
  nncf/torch/dynamic_graph/graph_tracer.py
  nncf/torch/dynamic_graph/io_handling.py
  nncf/torch/exporter.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/model_creation.py
  nncf/torch/nncf_network.py
  nncf/torch/quantization/quantize_model.py
  tests/torch/automl/test_quantization_env.py
  tests/torch/data/schema_validation_bad_configs/empty_config.json
  tests/torch/data/schema_validation_bad_configs/no_inputinfo.json
  tests/torch/helpers.py
  tests/torch/nas/creators.py
  tests/torch/nas/helpers.py
  tests/torch/pruning/test_model_pruning_analysis.py
  tests/torch/ptq/test_quantize_model_helpers.py
  tests/torch/quantization/quantization_helpers.py
  tests/torch/quantization/test_hawq_precision_init.py
  tests/torch/quantization/test_hw_config.py
  tests/torch/quantization/test_scheduler.py
  tests/torch/sparsity/movement/helpers/run_recipe.py
  tests/torch/sparsity/movement/helpers/trainer.py
  tests/torch/sparsity/movement/test_model_saving.py
  tests/torch/test_compressed_graph.py
  tests/torch/test_graph_building.py
  tests/torch/test_input_management.py
  tests/torch/test_layer_attributes.py
  tests/torch/test_model_transformer.py
  tests/torch/test_nncf_network.py
  tests/torch/test_onnx_export.py
Labels: NNCF PT, NNCF Common, API

#2243 [Release 270][Torch] Skip cuda test if cuda is not available
  tests/torch/ptq/test_reducers_and_aggregators.py
Labels: NNCF PT

#2244 Add Concat to _add_softmax_matmul ignored pattern
  nncf/onnx/quantization/ignored_patterns.py
  nncf/openvino/quantization/ignored_patterns.py
  nncf/torch/quantization/ignored_patterns.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX

#2237 Updated readme for 4-bit weight compression
  docs/compression_algorithms/CompressWeights.md
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Labels: documentation, NNCF OpenVINO, NNCF PTQ

#2252 Correct device assignment for ExactInputsInfo
  nncf/torch/dynamic_graph/io_handling.py
  tests/torch/test_graph_building.py
Labels: NNCF PT

#2250 Fix object detection sample and bump datasets version
  examples/torch/common/export.py
  examples/torch/object_detection/main.py
  nncf/torch/exporter.py
  tests/torch/quantization/test_sanity_sample.py
  tests/torch/requirements.txt
Labels: NNCF PT

#2234 BootstrapNAS External Weight Reorg.
  nncf/config/schemata/experimental_schema.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  nncf/experimental/torch/nas/bootstrapNAS/training/progressive_shrinking_builder.py
  tests/torch/nas/models/synthetic.py
  tests/torch/nas/test_all_elasticity.py
  tests/torch/nas/test_elastic_width.py
Labels: NNCF PT, experimental

#2246 [Torch][PTQ] Examples are updated for the new PTQ TORCH backend
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/passes.py
  nncf/torch/engine.py
  nncf/torch/quantization/quantize_model.py
  tests/common/data/reference_graphs/passes/test_constant_filtering_model_after.dot
  tests/common/data/reference_graphs/passes/test_constant_filtering_model_before.dot
  tests/common/quantization/test_passes.py
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/test_examples.py
  tests/post_training/test_templates/models.py
  tests/torch/test_transform_fn.py
Labels: NNCF PT, NNCF Common, NNCF PTQ

#2220 Add a provisional section on pytest code style w.r.t. fixtures
  docs/styleguide/PyGuide.md
Labels: documentation

#2258 [Release][Torch][PTQ] Examples are updated for the new PTQ TORCH backend
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/passes.py
  nncf/torch/engine.py
  nncf/torch/quantization/quantize_model.py
  tests/common/data/reference_graphs/passes/test_constant_filtering_model_after.dot
  tests/common/data/reference_graphs/passes/test_constant_filtering_model_before.dot
  tests/common/quantization/test_passes.py
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/test_examples.py
  tests/post_training/test_templates/models.py
  tests/torch/test_transform_fn.py
Labels: NNCF PT, NNCF Common, NNCF PTQ

#2241 Update networkx and remove pyparsing limitation
  nncf/common/graph/graph.py
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/utils/dot_file_rw.py
  setup.py
  tests/common/data/reference_graphs/dot_rw_reference.dot
  tests/common/graph/test_dot_file_rw.py
Labels: dependencies, NNCF Common

#2253 Supports multi-device model inference and wrapped forward functions
  examples/torch/common/export.py
  nncf/torch/dynamic_graph/graph_tracer.py
  nncf/torch/dynamic_graph/io_handling.py
  nncf/torch/exporter.py
  nncf/torch/model_creation.py
  nncf/torch/model_transformer.py
  nncf/torch/nncf_module_replacement.py
  nncf/torch/nncf_network.py
  nncf/torch/utils.py
  tests/torch/test_graph_building.py
  tests/torch/test_nncf_network.py
  tests/torch/test_transform_fn.py
Labels: NNCF PT

#2264 Fixed NAS test on Windows
  tests/torch/nas/test_elastic_width.py
Labels: NNCF PT

#2259 Fix torchvision version in the examples
  examples/torch/requirements.txt
Labels: NNCF PT

#2265 Fix torchvision version in the examples
  examples/torch/requirements.txt
Labels: NNCF PT, release target

#2254 Compress weights with a single reduction axis only
  nncf/common/graph/layer_attributes.py
  nncf/common/graph/operator_metatypes.py
  nncf/common/pruning/tensor_processor.py
  nncf/common/tensor_statistics/collectors.py
  nncf/onnx/graph/node_utils.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF Common, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2266 [Release_v270] Change storage links to 2.7.0
  docs/ModelZoo.md
  examples/tensorflow/object_detection/README.md
  examples/tensorflow/segmentation/README.md
  tools/update_eval_results.py
Labels: documentation, NNCF TF

#2260 Remove to_device from PTEngine
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  nncf/torch/engine.py
Labels: NNCF PT

#2267 Fixed typo in the warning from compress_weights
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ

#2272 Fixed output text in the ptq onnx example
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
Labels: NNCF ONNX

#2273 [Release_v270] Add known issue to ReleaseNotes
  ReleaseNotes.md
Labels: documentation, release target

#2271 [Release_v270] Update OV version
  Makefile
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  setup.py
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/requirements.txt
Labels: dependencies, NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2270 Release notes update
  ReleaseNotes.md
  docs/Installation.md
  nncf/version.py
Labels: documentation

#2274 Update OV version
  Makefile
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  setup.py
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/requirements.txt
Labels: dependencies, NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2269 Update Torch to ONNX export in conformance
  tests/post_training/pipelines/image_classification_timm.py
  tests/post_training/reference_data.yaml
Labels: NNCF PTQ

#2268 [OV] Support for ScaledDotProductAttention operation
  nncf/common/graph/graph.py
  nncf/common/graph/operator_metatypes.py
  nncf/common/hardware/configs/cpu.json
  nncf/common/hardware/opset.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/openvino/graph/metatypes/groups.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  tests/openvino/native/common.py
  tests/openvino/native/data/2023.3/reference_graphs/quantized/scaled_dot_product_attention.dot
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_graphs.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2262 [OV] remove workaround
  nncf/openvino/graph/model_transformer.py
Labels: NNCF OpenVINO

#1439 Add a paragraph on bad file names to the style guide
  docs/styleguide/PyGuide.md
Labels: documentation

#2256 Add additional arguments for test_quantize_conformance.py
  tests/post_training/README.md
  tests/post_training/conftest.py
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/causal_language_model.py
  tests/post_training/pipelines/image_classification_timm.py
  tests/post_training/pipelines/masked_language_modeling.py
  tests/post_training/reference_data.yaml
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
  tests/shared/command.py
Labels: documentation, NNCF PTQ

#2280 Dump weight compression params to IR
  nncf/openvino/quantization/quantize_model.py
  nncf/openvino/rt_info.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Labels: NNCF OpenVINO, NNCF PTQ

#2281 Enabled nf4 tests after switching to openvino==2023.2
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO

#2282 Compress first and last layer more correctly
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/data/2023.1/reference_scales/IntegerModel_compressed_weights_int4_asym.json
  tests/openvino/native/data/2023.1/reference_scales/IntegerModel_compressed_weights_int4_sym.json
  tests/openvino/native/data/2023.2/reference_scales/IntegerModel_compressed_weights_nf4.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ

#2277 OVWeightUpdateCommand copies a constant
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/node_utils.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF OpenVINO

#2285 Move SDL-related tests to their own directories
  nncf/common/compression.py
  nncf/common/utils/os.py
  nncf/config/config.py
  tests/common/data/schema_validation_bad_configs/bad_algo_name.json
  tests/common/data/schema_validation_bad_configs/hawq_bitwidth_per_scope_format_mismatch.json
  tests/common/data/schema_validation_bad_configs/params_mismatch.json
  tests/common/data/schema_validation_bad_configs/wrong_num_init_steps_placement.json
  tests/common/data/schema_validation_good_configs/full_movement_sparsity_params.json
  tests/common/data/schema_validation_good_configs/full_nas_params.json
  tests/common/sdl/__init__.py
  tests/common/sdl/test_config_schema.py
  tests/common/sdl/test_symlinks.py
  tests/cross_fw/sdl/__init__.py
  tests/cross_fw/sdl/symlinks.py
  tests/tensorflow/sdl/__init__.py
  tests/tensorflow/sdl/test_symlinks.py
  tests/torch/sdl/__init__.py
  tests/torch/sdl/test_symlinks.py
Labels: NNCF TF, NNCF PT, NNCF Common

#2289 mentioned all embeddings in weight compression docs
  docs/compression_algorithms/CompressWeights.md
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
Labels: documentation, NNCF PT, NNCF OpenVINO, API, NNCF PTQ

#2284 Not quantize AdaptiveMaxPool
  nncf/experimental/torch/pruning/operations.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/pruning/operations.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/Conv_AdaptiveMaxPool1d_Conv.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/Conv_AdaptiveMaxPool2d_Conv.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/Conv_AdaptiveMaxPool3d_Conv.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/Conv_MaxPool1d_Conv.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/Conv_MaxPool2d_Conv.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/Conv_MaxPool3d_Conv.dot
  tests/torch/test_compressed_graph.py
Labels: NNCF PT, experimental

#2291 Update MLFlow version
  examples/torch/requirements.txt
Labels: NNCF PT

#2278 [Fix] Patching nncf_model_inputs
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/trace_tensor.py
  nncf/torch/nncf_network.py
  tests/torch/ptq/test_wrap_model.py
  tests/torch/test_nncf_network.py
  tests/torch/test_tracing_context.py
Labels: NNCF PT

#2293 Updating examples
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  tests/cross_fw/examples/example_scope.json
Labels: NNCF TF, NNCF PT, NNCF OpenVINO

#2275 Add model-hub tests to check wrap_model
  .github/workflows/model_hub.yml
  Makefile
  tests/torch/models_hub_test/__init__.py
  tests/torch/models_hub_test/common.py
  tests/torch/models_hub_test/hf_transformers_models.txt
  tests/torch/models_hub_test/requirements.txt
  tests/torch/models_hub_test/requirements_secondary.txt
  tests/torch/models_hub_test/test_hf_transformers.py
  tests/torch/models_hub_test/test_speech_transformer.py
  tests/torch/models_hub_test/test_timm.py
  tests/torch/models_hub_test/test_torchvision_models.py
  tests/torch/models_hub_test/torchvision_models.txt
  tests/torch/pytest.ini
Labels: NNCF PT

#2296 Fix do_copy in strip function
  nncf/torch/nncf_network.py
  tests/torch/ptq/test_strip.py
  tests/torch/quantization/test_strip.py
Labels: NNCF PT

#2295 [PTQ][OV] Update OV references for 23.3
  tests/openvino/native/data/2023.3/reference_scales/LSTMModel_mixed.json
  tests/openvino/native/data/2023.3/reference_scales/LSTMModel_performance.json
  tests/openvino/native/data/2023.3/reference_scales/yolo-v4-tiny-tf_mixed.json
  tests/openvino/native/data/2023.3/reference_scales/yolo-v4-tiny-tf_performance.json
  tests/openvino/native/test_model_transformer.py
Labels: NNCF OpenVINO

#2290 [TORCH] Unwrap and wrap torch.return_type before and after posthooks
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/return_types.py
  tests/torch/test_nncf_network.py
  tests/torch/test_return_types.py
Labels: NNCF PT
