Repository openvinotoolkit/nncf, pull requests merged in 2023-04, with the labels that each got.

#1673 Register controller in NNCFNetwork at create_compressed_model
  nncf/torch/compression_method_api.py
  nncf/torch/model_creation.py
  nncf/torch/nncf_network.py
  tests/torch/test_algo_common.py
Labels: NNCF PT

#1672 [Torch] Set narrow_range=False for bits != 8
  nncf/torch/quantization/algo.py
  tests/torch/quantization/test_algo_quantization.py
  tests/torch/quantization/test_prepare_for_inference.py
Labels: NNCF PT

#1633 [PTQ] Quantizer scales unification
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  tests/onnx/data/reference_graphs/quantization/googlenet.dot
  tests/onnx/data/reference_graphs/quantization/inception_v3.dot
  tests/onnx/data/reference_graphs/quantization/squeezenet1_0.dot
  tests/onnx/quantization/common.py
  tests/openvino/native/data/reference_scales/yolo-v4-tiny-tf_mixed.json
  tests/openvino/native/data/reference_scales/yolo-v4-tiny-tf_performance.json
Labels: experimental, NNCF OpenVINO, NNCF ONNX

#1634 Add quantize with accuracy control to the calibrate tool for OV native
  nncf/common/quantization/quantizer_removal.py
  nncf/common/utils/timer.py
  nncf/experimental/openvino/quantization/quantize.py
  nncf/experimental/openvino_native/graph/metatypes/common.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/nncf_graph_builder.py
  nncf/experimental/openvino_native/graph/node_utils.py
  nncf/experimental/openvino_native/quantization/quantize.py
  nncf/quantization/algorithms/accuracy_control/algorithm.py
  nncf/quantization/algorithms/accuracy_control/backend.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/accuracy_control/ranker.py
  tests/openvino/native/test_node_utils.py
  tests/openvino/tools/calibrate.py
Labels: NNCF Common, experimental, NNCF OpenVINO

#1694 [OV] Fixed path to OMZ converted model
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/quantization/test_sanity.py
  tests/openvino/native/test_nncf_graph_builder.py
  tests/openvino/omz_helpers.py
  tests/openvino/pot/quantization/test_sanity.py
Labels: NNCF OpenVINO

#1690 [PTQ][PT] Added test to check export of FQ params
  tests/torch/ptq/test_calculation_quantizer_params.py
Labels: NNCF PT

#1684 Add baddbmm as a matmul alias for PT
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/graph/pattern_operations.py
  nncf/torch/hardware/fused_patterns.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/Baddbmm.dot
  tests/torch/test_compressed_graph.py
  tests/torch/test_models/synthetic.py
Labels: NNCF PT

#1693 Minor fix for calibrate tool
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#1702 Fixed version of tensorflow-metadata
  setup.py
Labels: dependencies

#1700 Support for ignored operation types in calibrate.py
  nncf/scopes.py
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#1688 Rename prepare_for_inference to strip
  docs/Usage.md
  examples/tensorflow/classification/main.py
  examples/tensorflow/object_detection/main.py
  examples/tensorflow/segmentation/evaluation.py
  examples/torch/classification/main.py
  examples/torch/classification/staged_quantization_worker.py
  examples/torch/object_detection/main.py
  examples/torch/semantic_segmentation/main.py
  nncf/api/compression.py
  nncf/common/composite_compression.py
  nncf/tensorflow/algorithm_selector.py
  nncf/torch/algo_selector.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/strip.py
  tests/tensorflow/pruning/test_strip.py
  tests/tensorflow/quantization/test_strip.py
  tests/tensorflow/sparsity/test_strip.py
  tests/torch/pruning/filter_pruning/test_strip.py
  tests/torch/quantization/test_strip.py
  tests/torch/sparsity/test_strip.py
  tests/torch/test_pytorch_patch.py
Labels: documentation, NNCF TF, NNCF PT, NNCF Common

#1685 Move solver logs into debug
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/quantization/quantizer_propagation/structs.py
Labels: NNCF Common

#1678 [OV] Fixed se_block fused pattern
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/torch/quantization/algo.py
  tests/common/quantization/test_quantizer_propagation_solver.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/SeBlockModel.dot
  tests/openvino/native/data/reference_graphs/quantized/SeBlockModel.dot
  tests/openvino/native/data/reference_scales/SeBlockModel_mixed.json
  tests/openvino/native/data/reference_scales/SeBlockModel_performance.json
  tests/openvino/native/models.py
Labels: NNCF TF, NNCF PT, NNCF Common, experimental, NNCF OpenVINO

#1656 Added support for pruning of torch.nn.functional.pad operation
  nncf/common/graph/layer_attributes.py
  nncf/common/pruning/operations.py
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/pruning/operations.py
  tests/torch/data/reference_graphs/nas/efficient_net_b0_depth.dot
  tests/torch/data/reference_graphs/nas/efficient_net_b0_kernel.dot
  tests/torch/data/reference_graphs/nas/efficient_net_b0_width.dot
  tests/torch/pruning/helpers.py
  tests/torch/pruning/test_model_pruning_analysis.py
Labels: NNCF PT, NNCF Common

#1642 [PTQ] Update ShapeOf pass with ReadValues
  nncf/common/insertion_point_graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/passes.py
  tests/onnx/data/reference_graphs/quantization/retinanet-9.dot
  tests/openvino/native/data/reference_graphs/quantized/LSTMModel.dot
  tests/openvino/native/data/reference_scales/LSTMModel_mixed.json
  tests/openvino/native/data/reference_scales/LSTMModel_performance.json
Labels: NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX

#1703 Solver hotfix
  nncf/common/quantization/quantizer_propagation/solver.py
Labels: NNCF Common

#1637 [PTQ][OV] Inplace statistics
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistic_point.py
  nncf/common/tensor_statistics/statistics.py
  nncf/experimental/common/tensor_statistics/__init__.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/graph/node_utils.py
  nncf/experimental/openvino_native/graph/transformations/commands.py
  nncf/experimental/openvino_native/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/experimental/openvino_native/quantization/quantize.py
  nncf/experimental/openvino_native/statistics/aggregator.py
  nncf/experimental/openvino_native/statistics/collectors.py
  nncf/onnx/statistics/aggregator.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/torch/statistics/aggregator.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/test_statistics_aggregator.py
  tests/experimental/common/__init__.py
  tests/experimental/common/test_statistic_collector.py
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/onnx/test_statistics_aggregator.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_statistics_aggregator.py
  tests/post_training/requirements.txt
  tests/post_training/test_ptq_params.py
  tests/post_training/test_quantizer_config.py
  tests/torch/ptq/test_calculation_quantizer_params.py
  tests/torch/ptq/test_ptq_params.py
  tests/torch/ptq/test_quantizer_config.py
  tests/torch/test_statistics_aggregator.py
Labels: NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX

#1680 [2/N] Added automatic structured pruning for DistillBERT, CLIP.
  nncf/experimental/common/pruning/block_hierarchy.py
  nncf/experimental/common/pruning/nodes_grouping.py
  nncf/experimental/common/pruning/operations.py
  nncf/experimental/common/pruning/propagation_data.py
  nncf/experimental/torch/pruning/operations.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch/data/reference_graphs/pruning_groups/1_layer_BERT.dot
  tests/torch/data/reference_graphs/pruning_groups/CLIP.dot
  tests/torch/data/reference_graphs/pruning_groups/DiffNumBranchesOnJoining.dot
  tests/torch/data/reference_graphs/pruning_groups/DistilBERT.dot
  tests/torch/data/reference_graphs/pruning_groups/MobileBERT.dot
  tests/torch/data/reference_graphs/pruning_groups/ReshapeReshape0Block.dot
  tests/torch/data/reference_graphs/pruning_groups/ReshapeReshape1Block.dot
  tests/torch/data/reference_graphs/pruning_groups/RoBERTa.dot
  tests/torch/data/reference_graphs/pruning_groups/SelfAttention.dot
  tests/torch/data/reference_graphs/pruning_groups/Swin.dot
  tests/torch/data/reference_graphs/pruning_groups/ViT.dot
  tests/torch/data/reference_graphs/pruning_groups/ViT_no_heads.dot
  tests/torch/data/reference_graphs/pruning_groups/Wave2Vec 2.0.dot
  tests/torch/data/reference_graphs/pruning_groups/larger_BERT.dot
  tests/torch/pruning/experimental/test_nodes_grouping.py
Labels: NNCF PT, experimental

#1704 [3/N] Added automatic structured pruning for MobileBERT
  nncf/experimental/common/pruning/nodes_grouping.py
  nncf/experimental/common/pruning/operations.py
  nncf/experimental/common/pruning/propagation_data.py
  nncf/experimental/torch/sparsity/movement/structured_mask_handler.py
  tests/torch/data/reference_graphs/pruning_groups/1_layer_BERT.dot
  tests/torch/data/reference_graphs/pruning_groups/CLIP.dot
  tests/torch/data/reference_graphs/pruning_groups/DiffNumBranchesOnJoining.dot
  tests/torch/data/reference_graphs/pruning_groups/DistilBERT.dot
  tests/torch/data/reference_graphs/pruning_groups/MobileBERT.dot
  tests/torch/data/reference_graphs/pruning_groups/ReshapeReshape0Block.dot
  tests/torch/data/reference_graphs/pruning_groups/ReshapeReshape1Block.dot
  tests/torch/data/reference_graphs/pruning_groups/RoBERTa.dot
  tests/torch/data/reference_graphs/pruning_groups/SelfAttention.dot
  tests/torch/data/reference_graphs/pruning_groups/Swin.dot
  tests/torch/data/reference_graphs/pruning_groups/Swin_MS.dot
  tests/torch/data/reference_graphs/pruning_groups/ViT.dot
  tests/torch/data/reference_graphs/pruning_groups/ViT_no_heads.dot
  tests/torch/data/reference_graphs/pruning_groups/Wave2Vec 2.0.dot
  tests/torch/data/reference_graphs/pruning_groups/larger_BERT.dot
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/requirements.txt
  tests/torch/test_models/swin.py
Labels: NNCF PT, experimental

#1670 [ONNX] Fix data type quantization
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/onnx/graph/onnx_graph.py
  nncf/onnx/quantization/default_quantization.py
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/float64_model.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/float64_model.dot
  tests/onnx/models.py
  tests/onnx/quantization/common.py
  tests/onnx/test_model_transformer.py
  tests/onnx/test_nncf_graph_builder.py
  tests/onnx/test_weightless_model.py
  tests/onnx/weightless_model.py
Labels: NNCF ONNX

#1699 [PTQ] Update friendly names usage
  nncf/experimental/openvino_native/engine.py
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/experimental/openvino_native/quantization/algorithms/fast_bias_correction/openvino_backend.py
  tests/openvino/native/common.py
  tests/openvino/native/models.py
  tests/openvino/native/test_engine.py
  tests/openvino/tools/calibrate.py
  tests/post_training/test_quantize_conformance.py
Labels: experimental, NNCF OpenVINO

#1711 Remove debuggable forward decorator
  nncf/torch/debug.py
  nncf/torch/nncf_network.py
Labels: NNCF PT

#1674 Skip BN adaptation in some cases to enable shorter compression configs
  nncf/common/compression.py
  nncf/config/extractors.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  tests/tensorflow/pruning/test_strip.py
  tests/tensorflow/quantization/test_strip.py
  tests/tensorflow/test_ignored_scopes.py
  tests/torch/test_algo_common.py
  tests/torch/test_compression_lr_multiplier.py
Labels: NNCF TF, NNCF PT, NNCF Common

#1714 Corrected incorrect import to restore nightly tests
  nncf/experimental/common/pruning/block_hierarchy.py
  nncf/experimental/common/pruning/operations.py
Labels: experimental

#1717 [PTQ][OV] Fix rank zero output tensor for inplace statistics
  nncf/experimental/openvino_native/graph/node_utils.py
  nncf/experimental/openvino_native/statistics/collectors.py
  tests/openvino/native/models.py
  tests/openvino/native/test_model_transformer.py
  tests/post_training/test_quantize_conformance.py
Labels: experimental, NNCF OpenVINO

#1716 Fix command line handling on Windows
  nncf/common/utils/os.py
  tests/cross_fw/install/test_install.py
  tests/shared/command.py
  tests/shared/helpers.py
  tests/shared/paths.py
  tests/tensorflow/test_sota_checkpoints.py
  tests/torch/quantization/test_sanity_sample.py
  tests/torch/sample_test_validator.py
  tests/torch/sparsity/movement/test_training.py
  tests/torch/test_backward_compat.py
  tests/torch/test_compression_training.py
  tests/torch/test_extensions_build.py
  tests/torch/test_sanity_sample.py
  tests/torch/test_sota_checkpoints.py
Labels: NNCF TF, NNCF PT, NNCF Common

#1720 Fix set_log_file_test
  tests/common/test_logging.py
Labels: NNCF Common

#1715 [OV] Fixed bug with shared weights quantization
  nncf/experimental/openvino_native/graph/model_transformer.py
  nncf/experimental/openvino_native/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/SharedConvModel.dot
  tests/openvino/native/data/reference_graphs/quantized/SharedConvModel.dot
  tests/openvino/native/data/reference_scales/SharedConvModel_mixed.json
  tests/openvino/native/data/reference_scales/SharedConvModel_performance.json
  tests/openvino/native/models.py
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/shared_model.dot
  tests/torch/ptq/test_graphs.py
Labels: NNCF PT, experimental, NNCF OpenVINO

#1709 Move Sqrt, Abs to NON_QUANTIZABLE ops
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/quantization/default_quantization.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/quantization/default_quantization.py
  nncf/tensorflow/graph/metatypes/tf_ops.py
  nncf/tensorflow/quantization/default_quantization.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/quantization/default_quantization.py
Labels: NNCF TF, NNCF PT, experimental, NNCF ONNX

#1726 Bump pandas
  setup.py
Labels: dependencies

#1696 [OV] Fix dynamic shape for depthwise conv
  nncf/experimental/openvino_native/graph/metatypes/openvino_metatypes.py
  nncf/experimental/openvino_native/hardware/fused_patterns.py
  tests/openvino/native/test_pattern_manager.py
Labels: experimental, NNCF OpenVINO

#1713 [PTQ][OV] New quantization estimators
  nncf/common/tensor_statistics/collectors.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/openvino_native/graph/node_utils.py
  nncf/experimental/openvino_native/statistics/aggregator.py
  nncf/experimental/openvino_native/statistics/collectors.py
  nncf/onnx/statistics/collectors.py
  nncf/tensorflow/tensor_statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/test_statistics_aggregator.py
  tests/experimental/common/test_reducers_and_aggregators.py
  tests/experimental/common/test_statistic_collector.py
  tests/onnx/test_statistics_aggregator.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_statistics_aggregator.py
  tests/torch/test_statistics_aggregator.py
Labels: NNCF TF, NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX

#1729 [Torch] Unbind op is added to split metatype
  nncf/torch/graph/operator_metatypes.py
  tests/torch/test_graph_building.py
Labels: NNCF PT

#1710 [PTQ][OV] Update model with optimization info
  nncf/experimental/openvino_native/quantization/quantize.py
  tests/openvino/native/quantization/test_quantization_pipeline.py
Labels: experimental, NNCF OpenVINO

#1722 deduplicate python/pip executable function
  tests/cross_fw/install/test_install.py
  tests/shared/helpers.py
  tests/torch/test_extensions_build.py
Labels: NNCF PT

#1731 Tenserflow: use set_hard_limit_num_open_files() only on Linux platform
  examples/tensorflow/common/utils.py
Labels: NNCF TF

#1735 Add licensing info for SWIN in tests
  licensing/third-party-programs.txt
  tests/torch/test_models/swin.py
Labels: NNCF PT

#1734 Update pandas
  setup.py
Labels: dependencies

#1730 [PTQ][OV] forward new estimators
  nncf/common/tensor_statistics/collectors.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/collectors.py
  nncf/openvino/quantization/algorithms/min_max/openvino_backend.py
  nncf/openvino/statistics/collectors.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/range_estimator.py
  nncf/tensorflow/tensor_statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/test_statistics_aggregator.py
  tests/experimental/common/test_reducers_and_aggregators.py
  tests/onnx/test_statistics_aggregator.py
  tests/openvino/native/test_statistics_aggregator.py
  tests/torch/test_statistics_aggregator.py
Labels: NNCF TF, NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX

#1695 Automating Code Formatting in PyGuide.md
  docs/styleguide/PyGuide.md
Labels: documentation

#1738 Align package versions with OpenVINO
  setup.py
Labels: dependencies

#1728 [PTQ][OV] Check out empty statistics
  nncf/common/tensor.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/openvino/tensor.py
  tests/experimental/common/test_statistic_collector.py
  tests/openvino/native/test_statistic_collector.py
Labels: NNCF Common, experimental, NNCF OpenVINO

#1743 Fix API description in quantize
  nncf/quantization/quantize_model.py
Labels: API

#1746 Fixed issues
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/torch/common/model_loader.py
  nncf/experimental/common/graph/netron.py
Labels: NNCF PT, experimental, NNCF OpenVINO

#1737 [PTQ][ONNX] Rollback None shape
  nncf/onnx/graph/model_transformer.py
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/non_shape_model.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/non_shape_model.dot
  tests/onnx/models.py
  tests/onnx/test_engine.py
Labels: NNCF ONNX

#1736 Drop torch 1.8.2 support
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/torch/common/model_loader.py
  examples/torch/requirements.txt
  nncf/experimental/common/graph/netron.py
  nncf/torch/binarization/binarize_functions.py
  setup.py
  tests/torch/experimental/search_building_blocks/test_transformer_blocks.py
  tests/torch/nas/test_elastic_depth.py
  tests/torch/nas/test_sanity_sample.py
Labels: dependencies, NNCF PT, experimental, NNCF OpenVINO

#1745 Moving openvino_backend.py from openvino.quantization to quantization module
  nncf/openvino/quantization/algorithms/__init__.py
  nncf/openvino/quantization/algorithms/bias_correction/__init__.py
  nncf/openvino/quantization/algorithms/fast_bias_correction/__init__.py
  nncf/openvino/quantization/algorithms/min_max/__init__.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/openvino/native/test_statistics_aggregator.py
Labels: NNCF OpenVINO
