Repository openvinotoolkit/nncf, pull requests merged in 2023-09, with the labels that each got.

#2059 Added weight compression algorithm for OpenVINO backend
  README.md
  docs/compression_algorithms/CompressWeights.md
  nncf/common/utils/backend.py
  nncf/onnx/quantization/quantizer_parameters.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/quantization/quantize_model.py
  nncf/openvino/quantization/weights_compression.py
  nncf/quantization/fake_quantize.py
  nncf/quantization/quantize_model.py
  nncf/torch/__init__.py
  nncf/torch/quantization/__init__.py
  nncf/torch/quantization/quantize_model.py
  nncf/torch/quantization/weights_compression.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/WeightsModel.dot
  tests/openvino/native/data/reference_graphs/quantized/WeightsModel.dot
  tests/openvino/native/data/reference_scales/IntegerModel_compressed_weights.json
  tests/openvino/native/data/reference_scales/IntegerModel_mixed.json
  tests/openvino/native/data/reference_scales/IntegerModel_performance.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Labels: documentation, NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, API, NNCF PTQ

#2096 [Release_v260] Added weight compression algorithm for OpenVINO backend
  README.md
  docs/compression_algorithms/CompressWeights.md
  nncf/common/utils/backend.py
  nncf/onnx/quantization/quantizer_parameters.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/quantization/quantize_model.py
  nncf/openvino/quantization/weights_compression.py
  nncf/quantization/fake_quantize.py
  nncf/quantization/quantize_model.py
  nncf/torch/__init__.py
  nncf/torch/quantization/__init__.py
  nncf/torch/quantization/quantize_model.py
  nncf/torch/quantization/weights_compression.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/WeightsModel.dot
  tests/openvino/native/data/reference_graphs/quantized/WeightsModel.dot
  tests/openvino/native/data/reference_scales/IntegerModel_compressed_weights.json
  tests/openvino/native/data/reference_scales/IntegerModel_mixed.json
  tests/openvino/native/data/reference_scales/IntegerModel_performance.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Labels: documentation, NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2095 Use num_ranking_processes = 1 for Windows
  nncf/quantization/algorithms/accuracy_control/algorithm.py
Labels: NNCF PTQ

#2097 [Release_v260] Use num_ranking_processes = 1 for Windows
  nncf/quantization/algorithms/accuracy_control/algorithm.py
Labels: NNCF PTQ

#2098 Constrain filelock package version
  tests/tensorflow/requirements.txt
Labels: NNCF TF

#2100 Fix package detection
  nncf/__init__.py
  tests/common/test_framework_detection.py
Labels: NNCF Common

#2099 [PTQ] Update MinMax logic for unified embeddings
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/unified_embedding_model.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/unified_embedding_model.dot
  tests/onnx/models.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/UnifiedEmbeddingModel.dot
  tests/openvino/native/data/reference_graphs/quantized/UnifiedEmbeddingModel.dot
  tests/openvino/native/data/reference_scales/UnifiedEmbeddingModel_mixed.json
  tests/openvino/native/data/reference_scales/UnifiedEmbeddingModel_performance.json
  tests/openvino/native/models.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2090 Skip SmoothQuant creation if alpha is negative
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
Labels: NNCF PTQ

#2106 [PTQ][Release_v260] Update MinMax logic for unified embeddings
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/unified_embedding_model.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/unified_embedding_model.dot
  tests/onnx/models.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/UnifiedEmbeddingModel.dot
  tests/openvino/native/data/reference_graphs/quantized/UnifiedEmbeddingModel.dot
  tests/openvino/native/data/reference_scales/UnifiedEmbeddingModel_mixed.json
  tests/openvino/native/data/reference_scales/UnifiedEmbeddingModel_performance.json
  tests/openvino/native/models.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, release target, NNCF PTQ

#2108 [Release] Skip SmoothQuant creation if alpha is negative
  nncf/quantization/algorithms/post_training/algorithm.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
Labels: NNCF PTQ

#2113 [PTQ][OV] Add GroupNormalization type
  nncf/common/hardware/configs/cpu.json
  nncf/common/hardware/opset.py
  nncf/openvino/graph/metatypes/groups.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  tests/openvino/native/data/reference_graphs/original_nncf_graph/GroupNormalizationModel.dot
  tests/openvino/native/data/reference_graphs/quantized/GroupNormalizationModel.dot
  tests/openvino/native/data/reference_scales/GroupNormalizationModel_mixed.json
  tests/openvino/native/data/reference_scales/GroupNormalizationModel_performance.json
  tests/openvino/native/models.py
Labels: NNCF Common, NNCF OpenVINO

#2119 [TF] Disable MaskRCNN and RetinaNet graph tests
  tests/tensorflow/test_compressed_graph.py
Labels: NNCF TF

#2118 Add message about deprecation `export_to_onnx_standard_ops`
  nncf/config/schemata/algo/quantization.py
  nncf/torch/quantization/algo.py
Labels: NNCF PT

#2115 [OV] Disable quantization of GRUSequence with linear_before_reset=True
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  tests/openvino/native/data/reference_graphs/quantized/GRUSequenceModel_linear_before_reset_F.dot
  tests/openvino/native/data/reference_graphs/quantized/GRUSequenceModel_linear_before_reset_T.dot
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_graphs.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2123 Added Whisper notebook to the list of quantization samples
  README.md
Labels: documentation

#2092 Add marks nightly and weakly for torch tests
  Makefile
  tests/torch/nas/test_sanity_sample.py
  tests/torch/pytest.ini
  tests/torch/quantization/test_functions.py
  tests/torch/quantization/test_sanity_sample.py
  tests/torch/test_sanity_sample.py
Labels: NNCF PT

#2121 [Release_v260] Disable quantization of GRUSequence with linear_before_reset=True
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  tests/openvino/native/data/reference_graphs/quantized/GRUSequenceModel_linear_before_reset_F.dot
  tests/openvino/native/data/reference_graphs/quantized/GRUSequenceModel_linear_before_reset_T.dot
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_graphs.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2125 Update README.md
  README.md
Labels: documentation

#2111 Update ReleaseNotes with 2.6.0
  ReleaseNotes.md
Labels: documentation

#2110 Fixed problem with shared weights in compression.
  nncf/torch/quantization/weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Labels: NNCF PT

#2126 [Release_v260] Update ReleaseNotes with 2.6.0
  ReleaseNotes.md
Labels: documentation

#2086 Add support for the dump_intermediate_model parameter
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO, API, NNCF PTQ

#2114 tqdm progress bar improvements
  nncf/common/tensor_statistics/aggregator.py
  nncf/data/dataset.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/channel_alignment/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  tests/common/test_dataset.py
Labels: NNCF Common, API, NNCF PTQ

#2130 Fixed problem with shared weights in compression. (#2110)
  nncf/torch/quantization/weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Labels: NNCF PT

#2133 Upgrade ultralytics to 8.0.170
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
Labels: NNCF OpenVINO

#2104 Remove upper bound from `scipy` version
  setup.py
Labels: dependencies

#2135 [Release] Upgrade ultralytics to 8.0.170 (#2133)
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
Labels: NNCF OpenVINO

#2124 [Release] Added Whisper notebook to the list of quantization samples (#2123)
  README.md
Labels: documentation

#2137 [PTQ] Fix non-optional algos in calibrate.py
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#2127 [Tests][Bug] Experemental tests moved to backend directory to run them properly by make command
  nncf/tensorflow/utils/state.py
  tests/common/experimental/__init__.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/common/experimental/test_statistic_collector.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/openvino/native/test_statistic_collector.py
  tests/tensorflow/experimental/__init__.py
  tests/tensorflow/experimental/data/reference_graphs/quantized/w_sym_ch_a_asym_t/resnet50.pb
  tests/tensorflow/experimental/data/reference_graphs/quantized/w_sym_t_a_sym_t/resnet50.pb
  tests/tensorflow/experimental/data/reference_graphs/quantized/w_sym_t_a_sym_t/simple.pb
  tests/tensorflow/experimental/test_compressed_graph.py
  tests/tensorflow/experimental/test_context_independence.py
  tests/tensorflow/experimental/test_keras_layer_model.py
  tests/tensorflow/experimental/test_models/__init__.py
  tests/tensorflow/experimental/test_models/resnet.py
Labels: NNCF TF, NNCF Common, NNCF OpenVINO

#2139 Revert "[TF] Disable MaskRCNN and RetinaNet graph tests (#2119)"
  tests/tensorflow/test_compressed_graph.py
Labels: NNCF TF

#2132 Added rich-based progress bar
  nncf/common/logging/track_progress.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/channel_alignment/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  setup.py
Labels: dependencies, NNCF Common, NNCF PTQ

#2145 Update pymoo version
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  setup.py
Labels: dependencies, experimental

#2142 linear_squeeze_arithmetical_activations pattern
  nncf/common/graph/patterns/patterns.py
  nncf/onnx/graph/metatypes/groups.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/hardware/fused_patterns.py
  nncf/openvino/hardware/fused_patterns.py
  tests/torch/test_pattern_manager.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX

#2143 [Release_v260] Update pymoo version
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  setup.py
Labels: dependencies, experimental

#2147 Update OpenVINO version
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  setup.py
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/torch/requirements.txt
Labels: dependencies, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX

#2146 [Torch] Fix classification sample metric dumps not in main process
  examples/torch/classification/main.py
  tests/torch/test_compression_training.py
Labels: NNCF PT

#2151 Update OV Version for tests
  tests/openvino/requirements.txt
Labels: NNCF OpenVINO

#2134 Move the ranker to a multi-threaded approach
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/accuracy_control/algorithm.py
  nncf/quantization/algorithms/accuracy_control/backend.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/accuracy_control/ranker.py
Labels: NNCF OpenVINO, API, NNCF PTQ

#2101 [OV] Introduce support of quantization If operation
  nncf/common/logging/track_progress.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/graph/transformations/commands.py
  nncf/openvino/quantization/quantize_ifmodel.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/openvino/native/data/reference_graphs/quantized/IfModel_else.dot
  tests/openvino/native/data/reference_graphs/quantized/IfModel_main.dot
  tests/openvino/native/data/reference_graphs/quantized/IfModel_then.dot
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_graphs.py
Labels: NNCF Common, NNCF OpenVINO, NNCF PTQ

#2159 More correct hessian trace calculation
  nncf/torch/quantization/hessian_trace.py
Labels: NNCF PT

#2164 Fix docs deps version
  docs/api/requirements.txt
Labels: documentation

#2163 Remove legacy external quantizer storage names
  nncf/torch/checkpoint_loading.py
  nncf/torch/nncf_network.py
  tests/torch/test_backward_compat.py
  tests/torch/test_load_model_state.py
Labels: NNCF PT

#2149 Use torch for CUDA 11.8 in tests
  Makefile
  tests/torch/test_sanity_sample.py
Labels: NNCF PT

#2141 Add PTQuantizerInsertionCommand
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/checkpoint_loading.py
  nncf/torch/graph/transformations/commands.py
  nncf/torch/model_transformer.py
  nncf/torch/nncf_network.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/debug_interface.py
  nncf/torch/quantization/external_quantizer.py
  nncf/torch/quantization/strip.py
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/densenet121.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/inception_v3.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/lenet.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/resnet18.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/resnet50_cpu_spr.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/shared_model.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/shufflenetv2.dot
  tests/torch/data/reference_scales/TwoConvTestModel_overflow_fix_disable.json
  tests/torch/data/reference_scales/TwoConvTestModel_overflow_fix_enable.json
  tests/torch/data/reference_scales/TwoConvTestModel_overflow_fix_first_layer_only.json
  tests/torch/ptq/test_calculation_quantizer_params.py
  tests/torch/ptq/test_fq_params_calculation.py
  tests/torch/ptq/test_strip.py
  tests/torch/quantization/test_strip.py
  tests/torch/test_backward_compat.py
  tests/torch/test_load_model_state.py
  tests/torch/test_model_transformer.py
  tests/torch/test_nncf_network.py
Labels: NNCF PT, API, NNCF PTQ

#2107 [NNCFGraph] Fix `get_input_edges` for parallel edges
  nncf/common/graph/graph.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/openvino/graph/nncf_graph_builder.py
  tests/common/graph/test_nncf_graph.py
  tests/openvino/native/models.py
  tests/openvino/native/test_nncf_graph_builder.py
  tests/torch/test_graph_analysis.py
  tests/torch/test_graph_building.py
Labels: NNCF PT, NNCF Common, experimental, NNCF OpenVINO
