Repository openvinotoolkit/nncf, pull requests merged in 2024-09, with the labels that each got.

#2939 Added link to HF compressed models
  docs/ModelZoo.md
Labels: documentation

#2903 [Quantization] Add quantizer filter pass to Solver
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/onnx/graph/metatypes/groups.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/quantization/algo.py
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/float64_model.dot
  tests/onnx/data/reference_graphs/quantization/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/float64_model.dot
  tests/onnx/models.py
  tests/openvino/native/data/2024.3/reference_graphs/quantized/GroupNormalizationModel.dot
  tests/openvino/native/data/2024.3/reference_graphs/quantized/LSTMModel.dot
  tests/openvino/native/data/2024.3/reference_graphs/quantized/ScaleShiftReluModel.dot
  tests/openvino/native/data/2024.3/reference_scales/GroupNormalizationModel_mixed.json
  tests/openvino/native/data/2024.3/reference_scales/GroupNormalizationModel_performance.json
  tests/openvino/native/data/2024.3/reference_scales/LSTMModel_mixed.json
  tests/openvino/native/data/2024.3/reference_scales/LSTMModel_performance.json
  tests/openvino/native/data/2024.3/reference_scales/LSTMSequenceModel_mixed.json
  tests/openvino/native/data/2024.3/reference_scales/LSTMSequenceModel_performance.json
  tests/openvino/native/data/2024.3/reference_scales/ScaleShiftReluModel_mixed.json
  tests/openvino/native/data/2024.3/reference_scales/ScaleShiftReluModel_performance.json
  tests/openvino/native/quantization/test_ptq_params.py
  tests/tensorflow/quantization/test_unified_scales.py
  tests/torch/data/reference_graphs/quantized/asymmetric/inception_v3.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/lstm_bi_seq.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/lstm_bi_stacked.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/lstm_cell.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/lstm_uni_seq.dot
  tests/torch/data/reference_graphs/quantized/asymmetric/lstm_uni_stacked.dot
  tests/torch/data/reference_graphs/quantized/hw/CPU/inception_v3.dot
  tests/torch/data/reference_graphs/quantized/hw/GPU/inception_v3.dot
  tests/torch/data/reference_graphs/quantized/hw/NPU/inception_v3.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/inception_v3.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/ssd_vgg.dot
  tests/torch/data/reference_graphs/quantized/symmetric/inception_v3.dot
  tests/torch/data/reference_graphs/quantized/symmetric/lstm_bi_seq.dot
  tests/torch/data/reference_graphs/quantized/symmetric/lstm_bi_stacked.dot
  tests/torch/data/reference_graphs/quantized/symmetric/lstm_cell.dot
  tests/torch/data/reference_graphs/quantized/symmetric/lstm_uni_seq.dot
  tests/torch/data/reference_graphs/quantized/symmetric/lstm_uni_stacked.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/ConvolutionWithMinModel.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/min.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/inception_v3.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/lstm_bi_seq.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/lstm_bi_stacked.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/lstm_cell.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/lstm_uni_seq.dot
  tests/torch/data/reference_graphs/quantized_rb_sparsity/lstm_uni_stacked.dot
  tests/torch/modules/test_rnn.py
  tests/torch/quantization/test_quantization_metric.py
  tests/torch/test_compressed_graph.py
  tests/torch/test_models/synthetic.py
Labels: NNCF TF, NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2926 [ONNX] Extend se block ignored pattern
  nncf/onnx/quantization/ignored_patterns.py
  tests/onnx/data/reference_graphs/quantization/mobilenet_v3_small.dot
Labels: NNCF ONNX

#2784 Support the scale estimation inside GPTQ
  nncf/quantization/algorithms/layerwise/scheduler.py
  nncf/quantization/algorithms/weight_compression/activation_stats.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_gptq.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ

#2945 [Docs] smooth_quant_alpha parameter
  nncf/quantization/advanced_parameters.py
Labels: NNCF PTQ

#2931 Extend NNCF logging by the device information where quantization was done
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#2948 Support the scale estimation inside GPTQ
  nncf/quantization/algorithms/layerwise/scheduler.py
  nncf/quantization/algorithms/weight_compression/activation_stats.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_gptq.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, release target, NNCF PTQ

#2946 [TF] Update reference after PR 2903
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_ch_a_asym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_t_a_sym_t/mask_rcnn.dot
Labels: NNCF TF

#2895 [TorchFX][MinMax] Use `get_input_edge_by_port_id` instead of `get_previous_nodes`
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
Labels: NNCF PTQ

#2941 Accuracy/Footprint trade-off with different int4 compression algorithms.
  docs/usage/post_training_compression/weights_compression/Usage.md
Labels: documentation

#2952 Accuracy/Footprint trade-off with different int4 compression algorithm
  docs/usage/post_training_compression/weights_compression/Usage.md
Labels: documentation, release target

#2949 Improve weight compression time and memory for BF16 OV models
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  tests/openvino/native/quantization/test_min_max.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/openvino/native/test_layer_attributes.py
  tests/openvino/native/test_node_utils.py
Labels: NNCF PT, NNCF OpenVINO, NNCF PTQ

#2821 Avoid squeeze for seq_len equal to one.
  nncf/quantization/algorithms/weight_compression/algorithm.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ

#2956 Added metrics for 2024.5 nightly (#2954)
  tests/post_training/data/wc_reference_data_2024.5.yaml
Labels: release target, NNCF PTQ

#2947 [TESTS] add ignored scope for mobielenet_v3 torchvision
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
Labels: NNCF PTQ

#2955 Fix segmentation fault
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
Labels: NNCF OpenVINO

#2960 Fix file comparison on windows
  tests/common/graph/test_dot_file_rw.py
Labels: NNCF Common

#2958 Added similarity for weight compression with 2024.4
  tests/post_training/data/wc_reference_data_2024.4.yaml
  tests/post_training/data/wc_reference_data_2024.5.yaml
Labels: NNCF PTQ

#2964 Added similarity for weight compression with 2024.4 (#2958)
  tests/post_training/data/wc_reference_data_2024.4.yaml
  tests/post_training/data/wc_reference_data_2024.5.yaml
Labels: release target, NNCF PTQ

#2963 Type mismatch in onnx quantize_with_accuracy_control validation_fn
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/quantize_model.py
Labels: NNCF OpenVINO, API, NNCF PTQ

#2966 Alignment behavior of get_ignored_node_names_from_ignored_scope
  nncf/common/graph/graph.py
  nncf/scopes.py
  tests/common/test_ignored_scope.py
Labels: NNCF Common

#2950 data option for test examples
  nncf/quantization/advanced_parameters.py
  tests/cross_fw/examples/conftest.py
  tests/cross_fw/examples/run_example.py
  tests/cross_fw/examples/test_examples.py
Labels: API, NNCF PTQ

#2968 Fix version of datasets for conformance test
  tests/post_training/requirements.txt
Labels: NNCF PTQ

#2971 Updated Usage.md for GPTQ and Scale Estimation
  docs/usage/post_training_compression/weights_compression/Usage.md
Labels: documentation

#2965 Remove unused weight_modifiable_node_names property
  nncf/common/insertion_point_graph.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/torch/nncf_network.py
  tests/common/quantization/mock_graphs.py
  tests/common/quantization/test_quantizer_propagation_graph.py
  tests/common/quantization/test_quantizer_propagation_solver.py
Labels: NNCF TF, NNCF PT, NNCF Common

#2969 [GA] python310
  .github/workflows/model_hub.yml
  .github/workflows/mypy.yml
  .github/workflows/pre-commit-linters.yml
  .github/workflows/precommit.yml
  README.md
  docs/Installation.md
  nncf/common/accuracy_aware_training/runner.py
Labels: documentation, NNCF Common

#2972 Updated Usage.md for GPTQ and Scale Estimation
  docs/usage/post_training_compression/weights_compression/Usage.md
Labels: documentation, release target

#2940 [Release_v2130] Update ReleaseNotes.md
  ReleaseNotes.md
Labels: documentation, release target

#2974 Update ReleaseNotes.md (#2940)
  ReleaseNotes.md
Labels: documentation

#2973 [Release_v2130] Bump OV version
  constraints.txt
  docs/Installation.md
  docs/PyPiPublishing.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Labels: documentation, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, release target

#2977 Bump OV version (#2973)
  constraints.txt
  docs/Installation.md
  docs/PyPiPublishing.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Labels: documentation, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX

#2937 [Torch Fx] PTQ Quantizer config test
  tests/torch/fx/helpers.py
  tests/torch/fx/test_quantizer_config.py
Labels: NNCF PT

#2985 Add GroupNorm to the OV list of ignored ops for ModelType.TRANSFORMER
  nncf/quantization/algorithms/min_max/openvino_backend.py
Labels: NNCF OpenVINO, NNCF PTQ

#2988 [OV] Add adaptive poolings metatypes
  nncf/openvino/graph/metatypes/groups.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
Labels: NNCF OpenVINO

#2944 [FX/PT/ONNX][MinMax] Weights nodes/ constant matmuls collection fix
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  tests/cross_fw/test_templates/models.py
  tests/cross_fw/test_templates/test_quantizer_config.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/torch/fx/test_quantizer_config.py
  tests/torch/ptq/test_quantizer_config.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2990 [TorchFX][Conformance test] Migration to `torch.export.export`
  nncf/experimental/torch/fx/nncf_graph_builder.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/pipelines/image_classification_torchvision.py
Labels: experimental, NNCF PTQ

#2983 Fix metric for tinyllama_scale_estimation_per_channel
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_reference_data_2024.4.yaml
  tests/post_training/data/wc_reference_data_2024.5.yaml
Labels: NNCF PTQ

#2918 [TorchFX] Graph tests extended with edge shapes
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithAllConstantInputsModelconv2d_conv2d.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithNotTensorBiasModelconv2d_conv2d.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_1_add__1.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_add__1.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_add__add.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_conv2d_1_add__add__1.dot
  tests/torch/data/reference_graphs/fx/extracted/MultiBranchesConnectedModelconv2d_conv2d_2.dot
  tests/torch/data/reference_graphs/fx/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/quantized/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/quantized/resnet18.dot
  tests/torch/data/reference_graphs/fx/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/quantized/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/quantized/unet.dot
  tests/torch/data/reference_graphs/fx/quantized/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/resnet18.dot
  tests/torch/data/reference_graphs/fx/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_1_5_1_ref.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_6_0_ref.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_6_1_ref.dot
  tests/torch/data/reference_graphs/fx/transformed/output_insertion_conv2d_7_None_ref.dot
  tests/torch/data/reference_graphs/fx/transformed/shared_constants_unification_transformation_test.dot
  tests/torch/data/reference_graphs/fx/unet.dot
  tests/torch/data/reference_graphs/fx/vit_b_16.dot
  tests/torch/fx/test_model_transformer.py
  tests/torch/fx/test_models.py
  tests/torch/test_compressed_graph.py
Labels: NNCF PT
