Repository openvinotoolkit/nncf, pull requests merged in 2024-02, with the labels that each got.

#2408 Update calibrate.py with FP8
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#2440 Proposal for stateful models.
  nncf/openvino/engine.py
Labels: NNCF OpenVINO

#2416 Compress weights of Conv layers to 8 bit
  docs/compression_algorithms/CompressWeights.md
  nncf/common/tensor_statistics/collectors.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/config.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Labels: documentation, NNCF PT, NNCF Common, NNCF OpenVINO, API, NNCF PTQ

#2442 [PTQ] Update get_conv_weights_layout method
  nncf/openvino/graph/layout.py
  tests/openvino/native/test_layer_attributes.py
Labels: NNCF OpenVINO

#2441 Added test for stateful model.
  tests/openvino/native/models.py
  tests/openvino/native/test_engine.py
Labels: NNCF OpenVINO

#2431 Avoiding overflow on summing 32-bit int on Windows
  nncf/quantization/algorithms/weight_compression/config.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ

#2425 Conformance test for weight compression
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  tests/post_training/README.md
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/causal_language_model.py
  tests/post_training/pipelines/image_classification_timm.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/pipelines/masked_language_modeling.py
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Labels: documentation, NNCF PTQ

#2433 Added is_floating_point to FunctionsToPatchWithoutTracing
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__normalize__multi_input_branch.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__normalize__single_input_branch.dot
Labels: NNCF PT, NNCF PTQ

#2446 [PT][WC] Add WC tests for functional models
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  tests/torch/ptq/test_weights_compression.py
Labels: NNCF PT, NNCF PTQ

#2445 Restoring state after inference only for stateful models
  nncf/common/factory.py
  nncf/openvino/engine.py
  nncf/openvino/graph/model_utils.py
  nncf/quantization/algorithms/accuracy_control/backend.py
  nncf/quantization/algorithms/accuracy_control/evaluator.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/accuracy_control/ranker.py
  tests/common/accuracy_control/test_evaluator.py
Labels: NNCF Common, NNCF OpenVINO, NNCF PTQ

#2450 nncf.quantize_with_accuracy_control fails with tune_hyperparams=True
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/quantize_model.py
Labels: NNCF OpenVINO, NNCF PTQ

#2455 Introduced `subset_size` parameter for data-aware weight compression
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, API, NNCF PTQ

#2456 Release notes for v2.8.1
  ReleaseNotes.md
  docs/Installation.md
Labels: documentation

#2444 [PTQ][OV] Force renaming for friendly names duplicates
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/model_utils.py
  nncf/openvino/quantization/quantize_ifmodel.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  tests/openvino/native/models.py
  tests/openvino/native/test_model_utils.py
Labels: NNCF PT, NNCF OpenVINO, NNCF PTQ

#2454 Fix name of params
  tests/post_training/model_scope.py
Labels: NNCF PTQ

#2459 Add progress bar for calculating ranking scores
  nncf/quantization/algorithms/accuracy_control/ranker.py
Labels: NNCF PTQ

#2457 [TF] Increase thresholds for e2e
  tests/tensorflow/sota_checkpoints_eval.json
  tests/tensorflow/test_sota_checkpoints.py
Labels: NNCF TF

#2428 Issue fixed in nncf/common/sparsity- [NNCF] Make NNCF common sparsity code pass mypy checks #22312
  .github/workflows/mypy.yml
  .mypy.ini
  .pre-commit-config.yaml
  nncf/common/schedulers.py
  nncf/common/sparsity/collector.py
  nncf/common/sparsity/controller.py
  nncf/common/sparsity/schedulers.py
  nncf/common/sparsity/statistics.py
  nncf/common/utils/registry.py
  nncf/tensorflow/sparsity/magnitude/algorithm.py
  nncf/tensorflow/sparsity/rb/algorithm.py
  nncf/torch/sparsity/base_algo.py
  nncf/torch/sparsity/rb/algo.py
  nncf/torch/sparsity/rb/loss.py
  tests/tensorflow/sparsity/test_common.py
  tests/torch/sparsity/test_common.py
Labels: NNCF TF, NNCF PT, NNCF Common, API

#2458 More strict threshold for accuracy and minor corrections
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/test_quantize_conformance.py
Labels: NNCF PTQ

#2399 Add the AAQ algorithm for the ONNX backend
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  nncf/common/factory.py
  nncf/common/quantization/quantizer_removal.py
  nncf/onnx/graph/metatypes/groups.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/transformations/command_creation.py
  nncf/onnx/graph/transformations/commands.py
  nncf/onnx/quantization/quantize_model.py
  nncf/quantization/algorithms/accuracy_control/algorithm.py
  nncf/quantization/algorithms/accuracy_control/backend.py
  nncf/quantization/algorithms/accuracy_control/evaluator.py
  nncf/quantization/algorithms/accuracy_control/onnx_backend.py
  nncf/quantization/algorithms/accuracy_control/ranker.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/quantize_model.py
  tests/common/accuracy_control/backend.py
  tests/common/accuracy_control/test_ranking.py
  tests/common/quantization/metatypes.py
  tests/common/quantization/test_quantizer_removal.py
  tests/onnx/test_model_transformer.py
  tests/openvino/native/quantization/test_quantizer_removal.py
Labels: NNCF Common, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2460 Cache ref data to accelerate conformance tests for weight compression
  tests/post_training/data/wwb_ref_answers/tinyllama__tinyllama-1.1b-step-50k-105b/ref_qa.csv
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Labels: NNCF PTQ

#2447 Add AWQ to LLM hyperparams tuning example
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/README.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Labels: documentation

#2466 subset_size and awq are keyword-only arguments in nncf.compress_weights
  nncf/quantization/quantize_model.py
Labels: API, NNCF PTQ

#2463 Added stateful model to weight compression tests
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/lm_weight_compression.py
Labels: NNCF PTQ

#2474 Fixed API Enums serialization/deserialization issue
  nncf/parameters.py
Labels: API

#2471 [PT] Update reference for dorefa
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT

#2476 [PT] Update reference for dorefa (#2471)
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT

#2475 [PTQ][OV] Added scale constant creation
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ

#2478 [PTQ][v2.9.0] Added try-catch for the OMZ imports
  tests/onnx/benchmarking/accuracy_checker.py
  tests/onnx/benchmarking/run_ptq.py
  tests/openvino/datasets_helpers.py
  tests/openvino/tools/calibrate.py
  tests/openvino/tools/config.py
Labels: NNCF OpenVINO, NNCF ONNX

#2480 [PTQ][OV][v2.9.0] Added scale constant creation (#2475)
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ

#2467 [PT] Propagate is_shared attribute from constant node
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/trace_tensor.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/model_analyzer.py
  nncf/torch/nncf_network.py
  tests/torch/helpers.py
  tests/torch/nas/helpers.py
  tests/torch/ptq/test_wrap_model.py
Labels: NNCF PT

#2483 [PTQ] Added try-catch for the OMZ imports (#2478)
  tests/onnx/benchmarking/accuracy_checker.py
  tests/onnx/benchmarking/run_ptq.py
  tests/openvino/datasets_helpers.py
  tests/openvino/tools/calibrate.py
  tests/openvino/tools/config.py
Labels: NNCF OpenVINO, NNCF ONNX

#2484 Fix TypeError: revert_operations_to_floating_point_precision() missing 2 required positional arguments
  nncf/quantization/algorithms/accuracy_control/ranker.py
Labels: NNCF PTQ

#2485 Fix TypeError: revert_operations_to_floating_point_precision() missing 2 required positional arguments
  nncf/quantization/algorithms/accuracy_control/ranker.py
Labels: release target, NNCF PTQ

#2468 Add unit tests for NNCF utils
  tests/common/sdl/test_schema.py
  tests/common/test_monkey_patching.py
  tests/common/utils/__init__.py
  tests/common/utils/test_decorators.py
  tests/common/utils/test_os.py
  tests/common/utils/test_timer.py
Labels: NNCF Common

#2443 [docs] Added perplexity for AWQ.
  docs/compression_algorithms/CompressWeights.md
Labels: documentation

#2479 [Torch] Subtract eps from quantizer parameters instead of zeroing it
  nncf/quantization/algorithms/min_max/torch_backend.py
  tests/torch/ptq/test_fq_params_calculation.py
Labels: NNCF PT, NNCF PTQ

#2462 [PTQ] Add mode based parameters
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/common/quantization/test_minmax.py
  tests/openvino/native/quantization/test_graphs.py
Labels: NNCF Common, NNCF OpenVINO, API, NNCF PTQ

#2415 Hide an irrelevant warning during tune_range call
  nncf/quantization/fake_quantize.py
  tests/post_training/test_tune_range.py
Labels: NNCF PTQ

#2487 [PTQ] Fix ModeBasedDefaults
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: NNCF PTQ

#2490 Added deprecation warning
  nncf/torch/binarization/algo.py
Labels: NNCF PT

#2477 Correct dtype handling for compressed torch.nn.Parameter
  nncf/torch/__init__.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/structs.py
  nncf/torch/dynamic_graph/trace_tensor.py
  tests/torch/ptq/test_weights_compression.py
Labels: NNCF PT

#2501 [v2.9.0] Added deprecation warning (#2490)
  nncf/torch/binarization/algo.py
Labels: NNCF PT

#2504 Bump upper bounds on pandas, ninja, and networkx
  setup.py
Labels: dependencies

#2502 torch 2.2.0
  README.md
  docs/Installation.md
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  nncf/version.py
  setup.py
  tests/cross_fw/sdl/fuzz/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/models_hub_test/requirements.txt
Labels: documentation, dependencies, NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2517 Removed the migrate from POT to NNCF notebook
  README.md
Labels: documentation

#2518 [v.2.9.0] Added AC as dependency
  Makefile
Labels: NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX

#2507 [PT] Return bias value after fusing layer for FBC
  nncf/torch/model_analyzer.py
  nncf/torch/model_transformer.py
  tests/post_training/test_templates/helpers.py
  tests/torch/test_model_analyzer.py
Labels: NNCF PT, NNCF PTQ

#2516 Makes TF tests more reliable
  tests/tensorflow/data/model_transormer/2.8/functional_insert_after.dot
  tests/tensorflow/data/model_transormer/2.8/functional_insert_before.dot
  tests/tensorflow/data/model_transormer/2.8/sequential_block_insert_after.dot
  tests/tensorflow/data/model_transormer/2.8/sequential_block_insert_before.dot
  tests/tensorflow/data/reference_graphs/2.11/pruning/filter_pruning/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/hw/CPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/hw/GPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/hw/NPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_ch_a_asym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_ch_a_asym_t/mobilenet_v1.pb
  tests/tensorflow/data/reference_graphs/2.11/quantized/w_sym_t_a_sym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.11/sparsity/magnitude_sparsity/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.11/sparsity/rb_sparsity/inception_resnet_v2.dot
  tests/tensorflow/data/reference_graphs/2.11/sparsity/rb_sparsity/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.12/quantized/w_sym_ch_a_asym_t/mobilenet_v1.pb
  tests/tensorflow/data/reference_graphs/2.12/sparsity/rb_sparsity/inception_resnet_v2.dot
  tests/tensorflow/data/reference_graphs/2.8/pruning/filter_pruning/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.8/quantized/hw/CPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.8/quantized/hw/GPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.8/quantized/hw/NPU/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.8/quantized/w_sym_ch_a_asym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.8/quantized/w_sym_ch_a_asym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.8/quantized/w_sym_t_a_sym_t/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.8/quantized/w_sym_t_a_sym_t/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/magnitude_sparsity/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/magnitude_sparsity/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/magnitude_sparsity/mobilenet_v2_slim.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/rb_sparsity/densenet121.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/rb_sparsity/inception_resnet_v2.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/rb_sparsity/inception_v3.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/rb_sparsity/mask_rcnn.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/rb_sparsity/mobilenet_v1.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/rb_sparsity/mobilenet_v2.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/rb_sparsity/mobilenet_v3_large.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/rb_sparsity/mobilenet_v3_small.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/rb_sparsity/nasnet_mobile.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/rb_sparsity/resnet50.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/rb_sparsity/resnet50v2.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/rb_sparsity/retinanet.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/rb_sparsity/sequential_model.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/rb_sparsity/sequential_no_input_model.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/rb_sparsity/shared_layers_model.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/rb_sparsity/vgg16.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/rb_sparsity/xception.dot
  tests/tensorflow/data/reference_graphs/2.8/sparsity/rb_sparsity/yolo_v4.dot
  tests/tensorflow/test_compressed_graph.py
Labels: NNCF TF

#2473 [PT] Do not trace parameters for modules inserted by NNCF
  nncf/torch/dynamic_graph/wrappers.py
  tests/torch/test_nncf_graph.py
  tests/torch/test_tracing_context.py
Labels: NNCF PT

#2525 [v2.9.0] Disable broken test in examples
  tests/cross_fw/examples/test_examples.py
Labels: release target
