Repository openvinotoolkit/nncf, pull requests merged in 2024-12, with the labels that each got.

#3115 Remove requirements.txt
  requirements.txt
Labels: dependencies

#3111 Update readme and installation
  README.md
  docs/Installation.md
Labels: documentation

#3091 Improve examples
  .github/workflows/examples.yml
  .gitignore
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/deploy.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  examples/post_training_quantization/torch_fx/resnet18/main.py
  examples/quantization_aware_training/torch/anomalib/main.py
  examples/quantization_aware_training/torch/resnet18/main.py
  nncf/quantization/algorithms/accuracy_control/evaluator.py
  tests/cross_fw/examples/conftest.py
  tests/cross_fw/examples/run_example.py
  tests/cross_fw/examples/test_examples.py
  tests/cross_fw/shared/command.py
  tests/cross_fw/shared/helpers.py
Labels: NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#3027 [TorchFX] Bias fusing is removed from default transformations
  nncf/experimental/torch/fx/constant_folding.py
  nncf/experimental/torch/fx/model_transformer.py
  nncf/experimental/torch/fx/node_utils.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/experimental/torch/fx/transformations.py
  nncf/quantization/algorithms/bias_correction/torch_fx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_fx_backend.py
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithNotTensorBiasModelconv2d_conv2d_output_1_conv2d.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithNotTensorBiasModelconv2d_output_1.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithSeveralOutputsconv2d_conv2d_output_1_conv2d.dot
  tests/torch/data/reference_graphs/fx/extracted/ConvolutionWithSeveralOutputsconv2d_output_1.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/resnet18.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/unet.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/quantized/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/quantized/resnet18.dot
  tests/torch/data/reference_graphs/fx/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/quantized/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/quantized/unet.dot
  tests/torch/data/reference_graphs/fx/quantized/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/transformed/folded_model.dot
  tests/torch/data/reference_graphs/fx/transformed/folded_model_with_constraints_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/folded_model_with_constraints_per_tensor.dot
  tests/torch/fx/helpers.py
  tests/torch/fx/test_model_transformer.py
  tests/torch/test_models/synthetic.py
Labels: NNCF PT, experimental, NNCF PTQ

#3128 [TorchFX][MicroFix] Folded constants do not require grad
  nncf/experimental/torch/fx/constant_folding.py
  tests/torch/fx/test_model_transformer.py
Labels: NNCF PT, experimental

#3110 [GHA] macos
  .github/workflows/macos.yml
  nncf/common/utils/os.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/openvino/native/test_fast_bias_correction.py
Labels: NNCF Common, NNCF OpenVINO

#3113 [GHA] tf nighlty
  .github/workflows/nightly.yml
  Makefile
  tests/tensorflow/requirements.txt
Labels: NNCF TF

#3131 Update broken latest links
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
Labels: documentation, experimental

#3107 [PT] add metatype for torch2
  nncf/experimental/torch2/function_hook/nncf_graph/nncf_graph_builder.py
  nncf/torch/__init__.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch2/conftest.py
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph.dot
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph_multi_edges.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_convnext_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_densenet121.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_efficientnet_b0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_inception_v3.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v2.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v3_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnet18.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnext50_32x4d.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_shufflenet_v2_x0_5.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_squeezenet1_0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_swin_v2_b.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_vgg16.dot
  tests/torch2/function_hook/nncf_graph/test_nncf_graph.py
  tests/torch2/test_patching.py
Labels: NNCF PT, experimental

#3126 [ONNX] Fix weight quantization for GroupConvolution
  nncf/onnx/graph/metatypes/groups.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/data/ptq_reference_data_2024.5.yaml
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_reference_data_2024.5.yaml
Labels: NNCF ONNX, NNCF PTQ

#3133 Fix badge link
  README.md
Labels: documentation

#3135 Fix badge link in PyPiPublishing.md
  docs/PyPiPublishing.md
Labels: documentation

#3132 [MinMax] Move get_statistic_collector from backend to common
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/collectors.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/torch/tensor_statistics/collectors.py
  tests/onnx/quantization/test_tensor_collector_batch_size.py
  tests/torch/ptq/test_tensor_collector_batch_size.py
Labels: NNCF PT, experimental, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#3127 Fix AAQ propagation
  nncf/common/quantization/quantizer_removal.py
Labels: NNCF Common

#3140 changed the signature of the torch compile wrarpper function (#3139)
  nncf/torch/dynamic_graph/patch_pytorch.py
Labels: NNCF PT, release target

#3142 Fix annotation for api marker (#3099)
  docs/api/source/conf.py
  nncf/common/utils/api_marker.py
Labels: documentation, NNCF Common, release target

#3122 Statistics caching update from pickle to safetensors
  docs/api/source/conf.py
  licensing/third-party-programs.txt
  nncf/__init__.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/common/tensor_statistics/statistics_validator.py
  nncf/errors.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/common/tensor_statistics/statistics.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/statistics_caching.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/dispatcher.py
  nncf/tensor/functions/io.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_io.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/torch_io.py
  nncf/tensor/functions/torch_numeric.py
  nncf/tensor/tensor.py
  pyproject.toml
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/common/test_statistics_caching.py
  tests/common/test_statistics_serializer.py
  tests/common/test_statistics_validator.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
  tests/cross_fw/test_templates/test_statistics_caching.py
  tests/cross_fw/test_templates/test_statistics_serializer.py
  tests/onnx/test_statistics_caching.py
  tests/openvino/native/test_statistics_caching.py
  tests/torch/fx/test_statistics_caching.py
  tests/torch/ptq/test_statistics_caching.py
  tests/torch/test_statistics_serializer.py
Labels: documentation, NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX, NNCF PTQ, Code Freeze

#3143 Statistics caching update from pickle to safetensors (#3122)
  docs/api/source/conf.py
  licensing/third-party-programs.txt
  nncf/__init__.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/common/tensor_statistics/statistics_validator.py
  nncf/errors.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/common/tensor_statistics/statistics.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/statistics_caching.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/dispatcher.py
  nncf/tensor/functions/io.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_io.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/torch_io.py
  nncf/tensor/functions/torch_numeric.py
  nncf/tensor/tensor.py
  pyproject.toml
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/common/test_statistics_caching.py
  tests/common/test_statistics_serializer.py
  tests/common/test_statistics_validator.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
  tests/cross_fw/test_templates/test_statistics_caching.py
  tests/cross_fw/test_templates/test_statistics_serializer.py
  tests/onnx/test_statistics_caching.py
  tests/openvino/native/test_statistics_caching.py
  tests/torch/fx/test_statistics_caching.py
  tests/torch/ptq/test_statistics_caching.py
  tests/torch/test_statistics_serializer.py
Labels: documentation, NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX, release target, NNCF PTQ

#3146 [DOCS] Update note statistics caching
  docs/usage/post_training_compression/weights_compression/Usage.md
Labels: documentation

#3148 [Release] Caching upd docs release
  README.md
  docs/usage/post_training_compression/weights_compression/Usage.md
Labels: documentation, release target

#3138 Added try for backends
  nncf/common/utils/backend.py
Labels: NNCF Common

#3149 limit version of matplot (#3147)
  examples/quantization_aware_training/torch/anomalib/requirements.txt
Labels: release target

#3145 Release notes update
  ReleaseNotes.md
Labels: documentation, release target

#3158 Release notes update (#3145)
  ReleaseNotes.md
Labels: documentation

#3159 [Release] Fix docs
  docs/Installation.md
  docs/PyPiPublishing.md
Labels: documentation, release target

#3153 Add to pyguide.md point about checking symbolic links
  docs/styleguide/PyGuide.md
Labels: documentation

#3151 Drop init message
  nncf/__init__.py
  nncf/common/utils/backend.py
  tests/common/test_framework_detection.py
Labels: NNCF Common

#3157 [Release] Bump versions
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  nncf/version.py
Labels: documentation, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, release target

#3162 openvino==2024.6
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Labels: documentation, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX

#3154 [mypy] extend mypy check
  nncf/common/graph/graph.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/passes.py
  nncf/quantization/quantize_model.py
  pyproject.toml
Labels: NNCF Common, API, NNCF PTQ

#3167 Some fixes
  constraints.txt
  docs/PyPiPublishing.md
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
Labels: documentation, NNCF TF

#3168 Remove tqdm from dependencies
  pyproject.toml
  tests/onnx/requirements.txt
Labels: NNCF ONNX
