Repository openvinotoolkit/nncf, pull requests merged in 2024-07, with the labels that each got.

#2713 [PT] Quantization of addmm function
  nncf/onnx/graph/nncf_graph_builder.py
  nncf/openvino/graph/layout.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/model_graph_manager.py
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/gpt.py
  tests/post_training/test_templates/models.py
  tests/post_training/test_templates/test_min_max.py
  tests/torch/ptq/helpers.py
  tests/torch/ptq/test_min_max.py
  tests/torch/test_model_graph_manager.py
  tests/torch/test_statistics_aggregator.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2771 Revert "Update Fast-/BC algorithms (#2747)"
  nncf/onnx/graph/node_utils.py
  nncf/openvino/graph/layout.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  tests/onnx/test_layer_attributes.py
  tests/onnx/test_node_utils.py
  tests/openvino/native/data/2024.1/reference_scales/MatMul2DModel_mixed.json
  tests/openvino/native/data/2024.1/reference_scales/MatMul2DModel_performance.json
  tests/openvino/native/models.py
  tests/openvino/native/test_layer_attributes.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2774 Extending functions by lstsq, svd, eye
  nncf/tensor/README.md
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/linalg.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_linalg.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/torch_linalg.py
  nncf/tensor/functions/torch_numeric.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Labels: documentation

#2772 Adjust NNCF to numpy 2.0 api
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/torch_numeric.py
  nncf/torch/automl/environment/quantization_env.py
  ruff.toml
  tests/torch/automl/test_quantization_env.py
Labels: NNCF PT

#2776 Update Fast-/BC with MatMul/Gemm support
  nncf/onnx/graph/node_utils.py
  nncf/openvino/graph/layout.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  tests/onnx/quantization/test_min_max.py
  tests/onnx/test_layer_attributes.py
  tests/onnx/test_node_utils.py
  tests/openvino/native/test_layer_attributes.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2767 E8M0 scale for E2M1 weights.
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/torch_numeric.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Labels: NNCF OpenVINO, NNCF PTQ

#2781 1) Fixed bug with clamp range in scale estimation.
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ

#2780 Make NNCF common utils code pass mypy checks
  .mypy.ini
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/common/deprecation.py
  nncf/common/graph/patterns/manager.py
  nncf/common/utils/api_marker.py
  nncf/common/utils/backend.py
  nncf/common/utils/debug.py
  nncf/common/utils/decorators.py
  nncf/common/utils/dot_file_rw.py
  nncf/common/utils/helpers.py
  nncf/common/utils/os.py
  nncf/common/utils/patcher.py
  nncf/common/utils/registry.py
  nncf/common/utils/tensorboard.py
  nncf/common/utils/timer.py
  nncf/tensorflow/graph/model_transformer.py
  tests/common/utils/test_timer.py
Labels: NNCF TF, NNCF Common

#2786 Compile model only for CPU
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/deploy.py
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  nncf/openvino/engine.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/onnx/quantization/test_ptq_regression.py
  tests/openvino/native/quantization/test_sanity.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/test_transform_fn.py
  tests/openvino/tools/calibrate.py
  tests/post_training/pipelines/image_classification_timm.py
Labels: NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2791 Update wc_reference_data.yaml
  tests/post_training/data/wc_reference_data.yaml
Labels: NNCF PTQ

#2797 Updated docs with MXFP4 (e2m1, e8m0) information.
  docs/Algorithms.md
  docs/usage/post_training_compression/weights_compression/Usage.md
Labels: documentation

#2795 [OpenVINO] Fix PRelu type name
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  tests/openvino/native/models.py
  tests/openvino/native/test_metatypes.py
Labels: NNCF OpenVINO

#2783 [TEST] Turn off dynamic quantization in the lm_weight_compression
  tests/post_training/pipelines/lm_weight_compression.py
Labels: NNCF PTQ

#2789 Remove unused code
  nncf/common/insertion_point_graph.py
  tests/common/quantization/test_filter_constant_nodes.py
  tests/common/test_ignored_scope.py
  tests/post_training/test_templates/models.py
Labels: NNCF Common, NNCF PTQ

#2800 Reduce test_examples logs
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
Labels: NNCF TF

#2768 Fix Readme.md links
  README.md
Labels: documentation

#2307 [PTQ][OV] BF16 support
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/graph/transformations/commands.py
  nncf/openvino/quantization/quantize_ifmodel.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/common.py
  tests/openvino/native/data/2024.2/reference_graphs/original_nncf_graph/exctracted_FPModel.dot
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/openvino/native/quantization/test_quantization_pipeline.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_node_utils.py
Labels: NNCF OpenVINO, NNCF PTQ

#2803 Lower weight compression memory footprint by sorting weights according to their size
  nncf/quantization/algorithms/weight_compression/algorithm.py
Labels: NNCF PTQ

#2785 Support per-channel mode in AWQ, GPTQ and Scale Estimation algos
  docs/usage/post_training_compression/weights_compression/Usage.md
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
Labels: documentation, NNCF OpenVINO, NNCF PTQ

#2805 Introduced versioning of reference for conformance tests
  tests/post_training/data/wc_reference_data_2024.3.yaml
  tests/post_training/test_quantize_conformance.py
Labels: NNCF PTQ

#2804 [OpenVINO] Add a new HW pattern
  nncf/common/graph/patterns/patterns.py
  nncf/openvino/hardware/fused_patterns.py
  tests/onnx/test_pattern_manager.py
  tests/torch/test_pattern_manager.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX

#2810 added references for 2024.4 nightly
  tests/post_training/data/wc_reference_data_2024.4.yaml
Labels: NNCF PTQ

#2814 Set upper limit for pydot version 3.0.0
  setup.py
Labels: dependencies

#2813 Fix pytest warnings
  tests/common/accuracy_control/test_calculate_drop.py
  tests/common/quantization/test_minmax.py
  tests/common/quantization/test_passes.py
  tests/common/quantization/test_quantizer_removal.py
  tests/common/requirements.txt
  tests/onnx/pytest.ini
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/quantization/test_opset_versions.py
  tests/onnx/test_nncf_graph_builder.py
  tests/onnx/test_weightless_model.py
  tests/post_training/test_templates/test_quantizer_config.py
  tests/tensorflow/pytest.ini
  tests/torch/nas/test_state.py
  tests/torch/nncf_network/test_hook_handlers.py
  tests/torch/nncf_network/test_nncf_network.py
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/quantization/test_tracing.py
  tests/torch/test_algo_common.py
  tests/torch/test_no_nncf_trace_patching.py
Labels: NNCF TF, NNCF PT, NNCF Common, NNCF ONNX, NNCF PTQ

#2802 Use a graph to find the output port id for the activation quantization target point
  nncf/common/graph/graph.py
  nncf/onnx/graph/node_utils.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/smooth_quant/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  tests/openvino/native/data/2024.1/reference_scales/LSTMSequenceModel_mixed.json
  tests/openvino/native/data/2024.1/reference_scales/LSTMSequenceModel_performance.json
  tests/openvino/native/models.py
  tests/post_training/test_templates/test_quantizer_config.py
Labels: NNCF Common, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2822 [OpenVINO] Add HW patterns
  nncf/common/graph/patterns/patterns.py
  nncf/openvino/hardware/fused_patterns.py
  tests/onnx/test_pattern_manager.py
  tests/torch/test_pattern_manager.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX

#2683 Post-training Activation Pruning algorithm
  README.md
  nncf/experimental/torch/sparsify_activations/ActivationSparsity.md
  nncf/experimental/torch/sparsify_activations/__init__.py
  nncf/experimental/torch/sparsify_activations/sparsify_activations_impl.py
  nncf/experimental/torch/sparsify_activations/target_scope.py
  nncf/experimental/torch/sparsify_activations/torch_backend.py
  tests/post_training/experimental/sparsify_activations/model_scope.py
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/post_training/experimental/sparsify_activations/reference_data.yaml
  tests/post_training/experimental/sparsify_activations/test_sparsify_activations_conformance.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/torch/data/experimental/sparsify_activations/dummy_llama_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/dummy_llama_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/linear_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/linear_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_ignore1_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_ignore1_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_sparse_activations.dot
  tests/torch/experimental/sparsify_activations/__init__.py
  tests/torch/experimental/sparsify_activations/helpers.py
  tests/torch/experimental/sparsify_activations/test_algo.py
  tests/torch/experimental/sparsify_activations/test_components.py
Labels: documentation, NNCF PT, experimental, NNCF PTQ

#2826 Increase approx abs
  tests/torch/sparsity/movement/test_model_saving.py
Labels: NNCF PT

#2824 [CI] Correction files for conformance tests
  tests/openvino/native/common.py
  tests/post_training/data/wc_reference_data_2024.4.yaml
  tests/post_training/test_quantize_conformance.py
Labels: NNCF OpenVINO, NNCF PTQ

#2828 Reduce test_examples logs
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  tests/cross_fw/examples/run_example.py
Labels: NNCF TF

#2834 Fix shared_memory issue with cast
  nncf/openvino/graph/model_transformer.py
Labels: NNCF OpenVINO

#2833 Set upper limit for pydot version 3.0.0 (#2814)
  setup.py
Labels: dependencies, release target

#2832 Increase approx abs (#2826)
  tests/torch/sparsity/movement/test_model_saving.py
Labels: NNCF PT, release target

#2815 [PTQ] Remove logs from autogenerated ignored node names
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2823 Fix for model transformer command
  nncf/openvino/graph/model_transformer.py
  tests/post_training/test_templates/helpers.py
Labels: NNCF OpenVINO, NNCF PTQ

#2831 [PT] Update reference for squeezenet1_1_imagenet_int8_per_tensor
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT, release target

#2787 [Torch] Use metatypes instead of types in pattern matching
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/graph/pattern_operations.py
  nncf/torch/hardware/fused_patterns.py
  nncf/torch/quantization/ignored_patterns.py
  tests/common/quantization/mock_graphs.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/MHA_single_input.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__normalize__multi_input_branch.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/ShiftScale__normalize__single_input_branch.dot
  tests/torch/test_model_transformer.py
Labels: NNCF PT, NNCF Common

#2842 Update Usage.md
  README.md
  docs/usage/post_training_compression/weights_compression/Usage.md
Labels: documentation

#2764 [Experimental] TorchFX PTQ backend
  nncf/common/factory.py
  nncf/common/graph/patterns/manager.py
  nncf/common/utils/backend.py
  nncf/experimental/torch/fx/__init__.py
  nncf/experimental/torch/fx/commands.py
  nncf/experimental/torch/fx/model_transformer.py
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/experimental/torch/fx/node_utils.py
  nncf/experimental/torch/fx/quantization/__init__.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/experimental/torch/fx/statistics/__init__.py
  nncf/experimental/torch/fx/statistics/aggregator.py
  nncf/experimental/torch/fx/transformations.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/torch_fx_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/structs.py
  nncf/torch/engine.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch/fx/__init__.py
  tests/torch/fx/helpers.py
  tests/torch/fx/test_sanity.py
  tests/torch/requirements.txt
Labels: NNCF PT, NNCF Common, experimental, NNCF PTQ

#2837 Update ReleaseNotes.md
  ReleaseNotes.md
Labels: documentation, release target

#2790 Scale for covering full range of compressed weights.
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/data/2024.1/reference_scales/IntegerModel_compressed_weights_int4_sym.json
  tests/openvino/native/data/2024.1/reference_scales/IntegerModel_compressed_weights_int8_sym.json
  tests/openvino/native/quantization/test_gptq.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/post_training/data/wc_reference_data.yaml
Labels: NNCF OpenVINO, NNCF PTQ

#2796 [TorchFX] Graph/metatypes tests implementation
  nncf/torch/graph/operator_metatypes.py
  tests/torch/data/reference_graphs/fx/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/reference_metatypes/mobilenet_v3_small.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/resnet18.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/swin_v2_s.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/vit_b_16.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/yolov8n.json
  tests/torch/data/reference_graphs/fx/resnet18.dot
  tests/torch/data/reference_graphs/fx/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/yolov8n.dot
  tests/torch/fx/test_models.py
  tests/torch/test_models/yolov8/block.py
  tests/torch/test_models/yolov8/conv.py
  tests/torch/test_models/yolov8/head.py
  tests/torch/test_models/yolov8/model.py
  tests/torch/test_models/yolov8/transformer.py
Labels: NNCF PT

#2812 [TorchFX]: Test Fast Bias Correction algorithm
  nncf/experimental/torch/fx/transformations.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch/fx/test_fast_bias_correction.py
Labels: NNCF PT, experimental

#2849 Skip inception_v3_imagenet_rb_sparsity_int8 test from Tensorflow backend
  tests/openvino/native/common.py
  tests/post_training/test_quantize_conformance.py
  tests/shared/openvino_version.py
  tests/tensorflow/sota_checkpoints_eval.json
  tests/tensorflow/test_sota_checkpoints.py
Labels: NNCF TF, NNCF OpenVINO, NNCF PTQ

#2851 Update OpenVINO version
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Labels: documentation, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX

#2856 [Torch Fx] Statistics Aggregator test
  tests/torch/fx/test_statistics_aggregator.py
Labels: NNCF PT

#2859 Update OpenVINO version (#2851)
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Labels: documentation, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX

#2850 Update ReleaseNotes.md (#2837)
  ReleaseNotes.md
Labels: documentation

#2858 [TorchFX] Test implementation of YoloV8 is removed
  tests/torch/data/reference_graphs/fx/reference_metatypes/yolov8n.json
  tests/torch/data/reference_graphs/fx/yolov8n.dot
  tests/torch/fx/test_models.py
  tests/torch/requirements.txt
  tests/torch/test_models/yolov8/block.py
  tests/torch/test_models/yolov8/conv.py
  tests/torch/test_models/yolov8/head.py
  tests/torch/test_models/yolov8/model.py
  tests/torch/test_models/yolov8/transformer.py
Labels: NNCF PT

#2847 [OpenVINO] Add Slice metatype
  nncf/common/hardware/configs/cpu.json
  nncf/common/hardware/configs/gpu.json
  nncf/common/hardware/configs/npu.json
  nncf/common/hardware/opset.py
  nncf/openvino/graph/metatypes/groups.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
Labels: NNCF Common, NNCF OpenVINO
