Repository openvinotoolkit/nncf, pull requests merged in 2024-01, with the labels that each got.

#2359 Remove pyparsing limitation from tests
  tests/tensorflow/requirements.txt
  tests/torch/requirements.txt
Labels: NNCF TF, NNCF PT

#2338 Update model hub test
  tests/torch/models_hub_test/common.py
  tests/torch/models_hub_test/hf_transformers_models.txt
  tests/torch/models_hub_test/test_hf_transformers.py
  tests/torch/models_hub_test/test_speech_transformer.py
Labels: NNCF PT

#2361 Remove pyparsing limitation from tests
  tests/tensorflow/requirements.txt
  tests/torch/requirements.txt
Labels: NNCF TF, NNCF PT, release target

#2362 Fix test_compression_movement_short_train after update transformers to 4.36
  tests/torch/sparsity/movement/test_training.py
Labels: NNCF PT

#2357 Make dockerfiles conform to hadolint
  docker/onnx/openvinoep/Dockerfile
  docker/onnx/openvinoep/build.sh
  docker/tensorflow/gpu/Dockerfile
  docker/torch/cpu/Dockerfile
  docker/torch/gpu/Dockerfile
Labels: release target

#2356 Bump pandas release
  setup.py
Labels: dependencies, release target

#2351 [Release] Readme tutorials
  README.md
Labels: documentation, release target

#2365 [Torch] Update metrics for resnet18_imagenet_binarization_xnor
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT

#2366 Update metrics for int4_int8 models
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT, release target

#2370 [CI] Calibration stopped - fix import - CVS-128463
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#2335 [Torch] Trace all tensors of `torch.return_types` containtainers
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/quantization/layers.py
  nncf/torch/return_types.py
  nncf/torch/tensor_statistics/algo.py
  tests/torch/ptq/test_reducers_and_aggregators.py
  tests/torch/quantization/test_layers.py
  tests/torch/test_nncf_network.py
  tests/torch/test_return_types.py
Labels: NNCF PT

#2337 Fix overflow in collectors
  nncf/common/graph/layer_attributes.py
  nncf/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/collectors.py
  nncf/openvino/statistics/collectors.py
  nncf/tensorflow/tensor_statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/torch/ptq/test_reducers_and_aggregators.py
Labels: NNCF TF, NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX

#2379 [release_v280] Fix TypeError: Object of type RestoreMode is not JSON serializable
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#2373 Exposed missed enum of weight_compression API
  nncf/__init__.py
Labels: release target

#2384 Revert "Fix overflow in collectors"
  nncf/common/graph/layer_attributes.py
  nncf/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/collectors.py
  nncf/openvino/statistics/collectors.py
  nncf/tensorflow/tensor_statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/torch/ptq/test_reducers_and_aggregators.py
Labels: NNCF TF, NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX

#2381 Remove third party integration patch and dockerfiles
  README.md
  docker/README.md
  docker/onnx/openvinoep/Dockerfile
  docker/onnx/openvinoep/build.sh
  docker/tensorflow/gpu/Dockerfile
  docker/torch/cpu/Dockerfile
  docker/torch/gpu/Dockerfile
  docs/Installation.md
  tests/torch/sparsity/movement/test_training_with_third_party.py
  tests/torch/test_sanity_third_party.py
  third_party_integration/huggingface_transformers/0001-Modifications-for-NNCF-usage.patch
  third_party_integration/huggingface_transformers/README.md
Labels: documentation, NNCF PT

#2368 Added example to demonstrate data-aware LLM compression with NNCF API
  examples/llm_compression/openvino/README.md
  examples/llm_compression/openvino/main.py
  examples/llm_compression/openvino/requirements.txt
  nncf/__init__.py
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Labels: documentation

#2380 Update metrics for pt e2e tests
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT

#2387 Added a SensitivityMetric enum to API (#2385)
  nncf/parameters.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
Labels: NNCF PT, NNCF OpenVINO

#2389 [ONNX] Update test requirements
  tests/onnx/data/reference_graphs/original_nncf_graph/densenet121.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/inception_v3.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/densenet121.dot
  tests/onnx/data/reference_graphs/quantization/inception_v3.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/requirements.txt
Labels: NNCF ONNX

#2332 [Experimental tensor statistics] Tensors with different sizes on aggregation axes support
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
Labels: NNCF PT, NNCF Common, experimental

#2372 Use ov.convert_model
  examples/torch/common/export.py
  tests/openvino/native/test_bias_correction.py
  tests/openvino/native/test_fast_bias_correction.py
  tests/openvino/native/test_smooth_quant.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_timm.py
  tests/post_training/pipelines/masked_language_modeling.py
Labels: NNCF PT, NNCF OpenVINO, NNCF PTQ

#2342 [OV] `mean_per_channel` inplace==True mode is enabled by default
  nncf/openvino/graph/node_utils.py
  nncf/openvino/statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/common/test_statistics_aggregator.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF Common, NNCF OpenVINO

#2360 Add release notes for release v2.8.0
  ReleaseNotes.md
Labels: documentation

#2388 BNAS: Add test for search sample
  examples/experimental/torch/classification/Quickstart.md
  tests/torch/nas/test_sanity_sample.py
  tests/torch/sample_test_validator.py
Labels: documentation, NNCF PT

#2397 Grammar / typo fixes
  examples/llm_compression/openvino/README.md
Labels: documentation

#2333 Generalization the weight compression algorithm to PyTorch model.
  docs/api/source/conf.py
  nncf/common/graph/layer_attributes.py
  nncf/common/graph/transformations/commands.py
  nncf/common/scopes.py
  nncf/experimental/common/tensor_statistics/statistical_functions.py
  nncf/experimental/tensor/README.md
  nncf/experimental/tensor/definitions.py
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/dispatcher.py
  nncf/experimental/tensor/functions/linalg.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_linalg.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_linalg.py
  nncf/experimental/tensor/functions/torch_numeric.py
  nncf/experimental/tensor/tensor.py
  nncf/onnx/graph/transformations/commands.py
  nncf/onnx/quantization/quantizer_parameters.py
  nncf/openvino/graph/transformations/commands.py
  nncf/openvino/statistics/collectors.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/bias_correction/backend.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/bias_correction/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/config.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/quantize.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/fake_quantize.py
  nncf/quantization/quantize_model.py
  nncf/tensorflow/graph/transformations/commands.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
  nncf/torch/dynamic_graph/trace_tensor.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/graph/transformations/commands.py
  nncf/torch/model_creation.py
  nncf/torch/model_transformer.py
  nncf/torch/nncf_network.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_functions.py
  nncf/torch/quantization/quantize_model.py
  nncf/torch/quantization/weights_compression.py
  nncf/torch/tensor_statistics/collectors.py
  nncf/torch/tensor_statistics/statistics.py
  tests/common/test_statistics_aggregator.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/shared/test_templates/template_test_nncf_tensor.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch/test_model_transformer.py
  tests/torch/test_tensor.py
Labels: documentation, NNCF TF, NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2401 [DOCS] Added missing PyTorch AAQ notebook
  README.md
Labels: documentation

#2395 Removed mlflow usage
  examples/experimental/torch/classification/bootstrap_nas.py
  examples/experimental/torch/classification/bootstrap_nas_search.py
  examples/torch/classification/main.py
  examples/torch/classification/staged_quantization_worker.py
  examples/torch/common/utils.py
  examples/torch/object_detection/main.py
  examples/torch/requirements.txt
  examples/torch/semantic_segmentation/main.py
  tests/torch/nas/test_sanity_sample.py
  tests/torch/quantization/test_sanity_sample.py
  tests/torch/sample_test_validator.py
  tests/torch/test_sanity_sample.py
Labels: NNCF PT

#2398 Update Tensorflow requirements with OV
  tests/tensorflow/requirements.txt
Labels: NNCF TF

#2403 Remove unused ONNXNullBiasInsertionCommand command
  nncf/onnx/graph/transformations/commands.py
  nncf/quantization/algorithms/bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
Labels: NNCF ONNX, NNCF PTQ

#2405 Added a note about execution time of data-based mixed precision weight compression
  docs/compression_algorithms/CompressWeights.md
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
Labels: documentation, NNCF PTQ

#2391 [Experimental][Collectors] Decouple inplace reducers from base reducers
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/collectors.py
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/graph/transformations/commands.py
  nncf/openvino/statistics/aggregator.py
  nncf/openvino/statistics/collectors.py
  tests/openvino/native/test_model_transformer.py
Labels: experimental, NNCF OpenVINO, NNCF ONNX

#2390 [PTQ][OV] Drop POT
  nncf/openvino/pot/__init__.py
  nncf/openvino/pot/engine.py
  nncf/openvino/pot/quantization/__init__.py
  nncf/openvino/pot/quantization/accuracy_aware.py
  nncf/openvino/pot/quantization/quantize_model.py
  nncf/openvino/pot/telemetry_extractors.py
  nncf/openvino/quantization/backend_parameters.py
  nncf/openvino/quantization/quantize_model.py
  tests/openvino/pot/__init__.py
  tests/openvino/pot/quantization/__init__.py
  tests/openvino/pot/quantization/test_helpers.py
  tests/openvino/pot/quantization/test_parameters.py
  tests/openvino/pot/quantization/test_sanity.py
  tests/openvino/pot/test_engine.py
  tests/openvino/pot/utils.py
  tests/openvino/test_transform_fn.py
  tests/openvino/tools/calibrate.py
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/reference_data.yaml
Labels: NNCF OpenVINO, NNCF PTQ

#2406 Updated release notes
  ReleaseNotes.md
Labels: documentation

#2407 Add release notes for release v2.8.0
  ReleaseNotes.md
Labels: documentation, release target

#2334 Added an example with finding optimal WC hyperparams
  docs/compression_algorithms/CompressWeights.md
  examples/llm_compression/openvino/tiny_llama/README.md
  examples/llm_compression/openvino/tiny_llama/main.py
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/README.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
Labels: documentation

#2409 fix code example error on torch part
  docs/FAQ.md
Labels: documentation

#2414 Update metrics after update OV to 2023.2
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT

#2396 [PTQ][OV] Add empty tensors handling
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/collectors.py
  nncf/openvino/statistics/collectors.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/onnx/quantization/test_reducers_and_aggregators.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/torch/ptq/test_reducers_and_aggregators.py
Labels: NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX

#2413 Adjust timm/crossvit_9_240_backend_TORCH metrics
  tests/post_training/reference_data.yaml
Labels: NNCF PTQ

#2313 [PTSQ 3/4][Torch] Removable hooks
  nncf/common/hook_handle.py
  nncf/tensorflow/layers/operation.py
  nncf/tensorflow/utils/hook_handle.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/graph/transformations/commands.py
  nncf/torch/layer_utils.py
  nncf/torch/model_transformer.py
  nncf/torch/nncf_network.py
  nncf/torch/statistics/aggregator.py
  tests/common/test_hook_handle.py
  tests/torch/helpers.py
  tests/torch/sparsity/magnitude/test_modules.py
  tests/torch/sparsity/rb/test_components.py
  tests/torch/test_model_transformer.py
  tests/torch/test_nncf_network.py
  tests/torch/test_statistics_aggregator.py
Labels: NNCF TF, NNCF PT, NNCF Common

#2394 Update NNCF/OV version
  README.md
  docs/Installation.md
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  nncf/version.py
  setup.py
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/requirements.txt
Labels: documentation, dependencies, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2418 [Experimental tensor] numeric.quantile is introduced
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/common/test_tensor.py
  tests/shared/test_templates/template_test_nncf_tensor.py
  tests/torch/test_tensor.py
Labels: NNCF PT, NNCF Common, experimental

#2421 Update NNCF/OV version
  README.md
  docs/Installation.md
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  nncf/version.py
  setup.py
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/tensorflow/requirements.txt
  tests/torch/requirements.txt
Labels: documentation, dependencies, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2423 Update anomaly_stfpm_quantize_with_accuracy_control example
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/README.md
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  tests/cross_fw/examples/example_scope.json
Labels: documentation, NNCF OpenVINO

#2420 Using FP32 precision to calculate compressed weights
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Labels: NNCF PT, NNCF PTQ

#2343 Modified AWQ implementation.
  docs/compression_algorithms/CompressWeights.md
  nncf/common/factory.py
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  nncf/openvino/graph/model_transformer.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/awq_patterns.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Labels: documentation, NNCF PT, NNCF Common, experimental, NNCF OpenVINO, API, NNCF PTQ

#2435 Use pytest 7.4.4
  tests/common/requirements.txt
  tests/cross_fw/examples/requirements.txt
  tests/cross_fw/install/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/tensorflow/requirements.txt
  tests/torch/models_hub_test/requirements.txt
Labels: NNCF TF, NNCF PT, NNCF Common, NNCF OpenVINO, NNCF PTQ

#2279 [PTSQ 4/4][Torch][PTQ] SmoothQuant algorithm implementation
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/smooth_quant/backend.py
  nncf/quantization/algorithms/smooth_quant/openvino_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/graph/transformations/command_creation.py
  nncf/torch/model_transformer.py
  tests/openvino/native/test_smooth_quant.py
  tests/post_training/model_scope.py
  tests/post_training/reference_data.yaml
  tests/post_training/test_templates/helpers.py
  tests/post_training/test_templates/test_smooth_quant.py
  tests/shared/test_templates/template_test_nncf_tensor.py
  tests/torch/ptq/test_smooth_quant.py
Labels: NNCF PT, experimental, NNCF OpenVINO, NNCF PTQ

#2417 Compress Embeddings with multiple axes to 8 bit
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/config.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF PT, NNCF OpenVINO, NNCF PTQ

#2437 Fix missed new arguments on get_clean_shallow_copy
  nncf/torch/nncf_network.py
Labels: NNCF PT

#2410 [TF] Update e2e tests
  examples/tensorflow/object_detection/preprocessing/yolo_v4_preprocessing.py
  tests/tensorflow/conftest.py
  tests/tensorflow/data/ac_configs/inception_v3_imagenet.yml
  tests/tensorflow/data/ac_configs/mobilenet_v2_hub_imagenet_magnitude_sparsity.yml
  tests/tensorflow/data/ac_configs/mobilenet_v2_imagenet.yml
  tests/tensorflow/data/ac_configs/mobilenet_v3_large_imagenet.yml
  tests/tensorflow/data/ac_configs/mobilenet_v3_small_imagenet.yml
  tests/tensorflow/data/ac_configs/resnet50_imagenet.yml
  tests/tensorflow/data/ac_configs/retinanet_coco.yml
  tests/tensorflow/data/ac_configs/yolo_v4_coco.yml
  tests/tensorflow/data/ac_configs/yolo_v4_coco_int8.yml
  tests/tensorflow/requirements.txt
  tests/tensorflow/sota_checkpoints_eval.json
  tests/tensorflow/test_init.py
  tests/tensorflow/test_sota_checkpoints.py
Labels: NNCF TF

#2436 Duplicating copyrights are removed
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
Labels: NNCF PTQ

#2439 [DOCS] Fix link to ModelZoo
  examples/torch/README.md
Labels: documentation, NNCF PT
