Repository openvinotoolkit/nncf, pull requests merged in 2024-06, with the labels that each got.

#2715 [Docs] Fix url link to quantization docs
  docs/usage/post_training_compression/weights_compression/Usage.md
Labels: documentation

#2684 [OV] GPTQ
  nncf/experimental/tensor/README.md
  nncf/experimental/tensor/definitions.py
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/dispatcher.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  nncf/experimental/tensor/tensor.py
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/transformations/commands.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/layerwise/__init__.py
  nncf/quantization/algorithms/layerwise/backend.py
  nncf/quantization/algorithms/layerwise/engine.py
  nncf/quantization/algorithms/layerwise/iterator.py
  nncf/quantization/algorithms/layerwise/openvino_backend.py
  nncf/quantization/algorithms/layerwise/openvino_iterator.py
  nncf/quantization/algorithms/layerwise/scheduler.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  tests/common/quantization/test_layerwise_scheduler.py
  tests/common/test_tensor.py
  tests/openvino/native/data/2024.1/reference_graphs/original_nncf_graph/exctracted_StatefulModel.dot
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_gptq.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/test_layerwise.py
  tests/openvino/native/test_model_transformer.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/test_templates/helpers.py
  tests/post_training/test_templates/test_layerwise.py
  tests/shared/test_templates/template_test_nncf_tensor.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch/test_tensor.py
Labels: documentation, NNCF PT, NNCF Common, experimental, NNCF OpenVINO, API, NNCF PTQ

#2706 Accuracy results for scale estimation algorithm in docs.
  docs/usage/post_training_compression/weights_compression/Usage.md
Labels: documentation

#2716 [OV] GPTQ
  nncf/experimental/tensor/README.md
  nncf/experimental/tensor/definitions.py
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/dispatcher.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  nncf/experimental/tensor/tensor.py
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/transformations/commands.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/layerwise/__init__.py
  nncf/quantization/algorithms/layerwise/backend.py
  nncf/quantization/algorithms/layerwise/engine.py
  nncf/quantization/algorithms/layerwise/iterator.py
  nncf/quantization/algorithms/layerwise/openvino_backend.py
  nncf/quantization/algorithms/layerwise/openvino_iterator.py
  nncf/quantization/algorithms/layerwise/scheduler.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  tests/common/quantization/test_layerwise_scheduler.py
  tests/common/test_tensor.py
  tests/openvino/native/data/2024.1/reference_graphs/original_nncf_graph/exctracted_StatefulModel.dot
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_gptq.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/test_layerwise.py
  tests/openvino/native/test_model_transformer.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/test_templates/helpers.py
  tests/post_training/test_templates/test_layerwise.py
  tests/shared/test_templates/template_test_nncf_tensor.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch/test_tensor.py
Labels: release target

#2725 Update metric for tinyllama_data_aware_gptq_backend_OV
  tests/post_training/data/wc_reference_data.yaml
Labels: NNCF PTQ

#2724 Fix for import matplotlib
  nncf/common/plotting.py
Labels: NNCF Common

#2714 [Release][Documentation] QAT after PTQ docs update (#2664)
  README.md
  ReleaseNotes.md
  docs/Algorithms.md
  docs/FAQ.md
  docs/accuracy_aware_model_training/AdaptiveCompressionLevelTraining.md
  docs/accuracy_aware_model_training/EarlyExitTraining.md
  docs/usage/post_training_compression/post_training_quantization/ONNX.md
  docs/usage/post_training_compression/post_training_quantization/Usage.md
  docs/usage/post_training_compression/weights_compression/Usage.md
  docs/usage/training_time_compression/other_algorithms/BatchnormAdaptation.md
  docs/usage/training_time_compression/other_algorithms/KnowledgeDistillation.md
  docs/usage/training_time_compression/other_algorithms/LegacyQuantization.md
  docs/usage/training_time_compression/other_algorithms/Pruning.md
  docs/usage/training_time_compression/other_algorithms/Sparsity.md
  docs/usage/training_time_compression/other_algorithms/Usage.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/README.md
Labels: documentation, release target

#2721 Update calibrate tool
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#2719 Fix torch operator unpatching
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/patch_pytorch_state.py
  nncf/torch/dynamic_graph/wrappers.py
  tests/torch/pytorch_patch_isolated.py
  tests/torch/test_pytorch_patch.py
Labels: NNCF PT

#2728 [CI] Fail pipeline on improvement metric
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/pipelines/base.py
Labels: NNCF PTQ

#2730 Update doc links
  nncf/parameters.py
Labels: API

#2732 [PT] Remove replace_custom_modules function
  nncf/experimental/torch/replace_custom_modules/__init__.py
  nncf/experimental/torch/replace_custom_modules/timm_custom_modules.py
  tests/torch/experimental/replace_custom_modules/test_replace_timm_custom_modules.py
Labels: NNCF PT, experimental

#2731 Implement __rpow__ for Tensor
  nncf/experimental/tensor/tensor.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Labels: experimental

#2710 Release notes v2.11
  ReleaseNotes.md
Labels: documentation

#2434 Represent symmetrically quantized weights in signed data type
  docs/usage/post_training_compression/weights_compression/Usage.md
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_functions.py
  tests/openvino/native/data/2024.1/reference_scales/IntegerModel_compressed_weights_int8_sym.json
  tests/openvino/native/quantization/test_weights_compression.py
  tests/post_training/data/wc_reference_data.yaml
  tests/torch/ptq/test_weights_compression.py
Labels: documentation, NNCF PT, NNCF OpenVINO, API, NNCF PTQ

#2733 [Release] Release notes v2.11 (#2710)
  ReleaseNotes.md
Labels: documentation, release target

#2735 GPTQ documentation
  docs/usage/post_training_compression/weights_compression/Usage.md
Labels: documentation

#2736 GPTQ documentation
  docs/usage/post_training_compression/weights_compression/Usage.md
Labels: documentation, release target

#2737 Excluded comprasion operations from quantizable operations
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2738 Added 24.3 references
  tests/openvino/native/data/2024.3/reference_graphs/original_nncf_graph/ssd-mobilenet.dot
  tests/openvino/native/data/2024.3/reference_graphs/quantized/ssd-vgg-300_performance.dot
Labels: NNCF OpenVINO

#2734 [Release] Bump OV version
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Labels: documentation, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX

#2723 Ignored scope matching working with multiple NNCFGraphs
  nncf/common/graph/graph.py
  nncf/openvino/quantization/quantize_ifmodel.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/quantize_model.py
  nncf/scopes.py
  tests/common/test_scopes.py
  tests/openvino/native/data/2024.1/reference_graphs/quantized/IfModel_2_ignored_scope_else.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/IfModel_2_ignored_scope_main.dot
  tests/openvino/native/data/2024.1/reference_graphs/quantized/IfModel_2_ignored_scope_then.dot
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_graphs.py
  tests/post_training/test_templates/test_ptq_params.py
Labels: NNCF Common, NNCF OpenVINO, NNCF PTQ

#2744 [Tests] Remove raising error when graph is not existed
  tests/openvino/native/common.py
Labels: NNCF OpenVINO

#2740 Bump OV/NNCF version
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  nncf/version.py
  tests/torch/sparsity/movement/test_model_saving.py
Labels: documentation, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX

#2742 Update main.py
  examples/post_training_quantization/openvino/yolov8/main.py
Labels: NNCF OpenVINO

#2751 xfail for test_torch_compile in windows
  tests/torch/test_pytorch_patch.py
Labels: NNCF PT

#2749 Tests revision
  tests/openvino/native/quantization/test_graphs.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_smooth_quant.py
  tests/openvino/native/test_statistic_collector.py
  tests/post_training/test_templates/test_smooth_quant.py
  tests/torch/ptq/test_statistic_collector.py
  tests/torch/sparsity/movement/test_model_saving.py
Labels: NNCF PT, NNCF OpenVINO, NNCF PTQ

#2754 Update WC metric values
  tests/post_training/data/wc_reference_data.yaml
Labels: NNCF PTQ

#2756 Bump version of scikit-learn
  tests/onnx/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/models_hub_test/requirements.txt
Labels: NNCF PT, NNCF ONNX, NNCF PTQ

#2746 [PTQ] MinMax make empty cache != initialized cache
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/common/quantization/test_minmax.py
  tests/post_training/test_templates/test_quantizer_config.py
Labels: NNCF Common, NNCF PTQ

#2757 Fix do_dequantization func
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
Labels: NNCF PTQ

#2759 Fix default value for ignored scope in calibrate.py
  tests/openvino/tools/calibrate.py
Labels: NNCF OpenVINO

#2761 [PT] Support scaled_dot_product_attention
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/graph/operator_metatypes.py
  tests/post_training/test_templates/helpers.py
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/scaled_dot_product_attention_model.dot
  tests/torch/ptq/test_graphs.py
Labels: NNCF PT, NNCF PTQ

#2745 E2M1 compression.
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/config.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, API, NNCF PTQ

#2747 Update Fast-/BC algorithms
  nncf/onnx/graph/node_utils.py
  nncf/openvino/graph/layout.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  tests/onnx/test_layer_attributes.py
  tests/onnx/test_node_utils.py
  tests/openvino/native/data/2024.1/reference_scales/MatMul2DModel_mixed.json
  tests/openvino/native/data/2024.1/reference_scales/MatMul2DModel_performance.json
  tests/openvino/native/models.py
  tests/openvino/native/test_layer_attributes.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ
