Repository openvinotoolkit/nncf, pull requests merged in 2024-03, with the labels that each got.

#2523 Add logs for user guiding better
  nncf/torch/pruning/filter_pruning/algo.py
Labels: NNCF PT

#2533 [v.2.9.0] Fix conformance & e2e tests
  tests/onnx/benchmarking/ac_wrapper.py
  tests/onnx/test_e2e_ptq.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_timm.py
  tests/post_training/pipelines/lm_weight_compression.py
Labels: NNCF ONNX, release target, NNCF PTQ

#2534 [Torch] tabulate is removed from torch examples requirements
  examples/torch/requirements.txt
Labels: NNCF PT

#2539 Corrected deprecated path to mo
  tests/torch/sparsity/movement/test_model_saving.py
Labels: NNCF PT

#2540 Fix conformance & e2e tests
  tests/onnx/benchmarking/ac_wrapper.py
  tests/onnx/test_e2e_ptq.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_timm.py
  tests/post_training/pipelines/lm_weight_compression.py
Labels: NNCF ONNX, NNCF PTQ

#2542 Revert "[Torch] tabulate is removed from torch examples requirements …
  examples/torch/requirements.txt
Labels: NNCF PT

#2536 Fix remove_shapeof_subgraphs
  nncf/quantization/algorithms/accuracy_control/ranker.py
  nncf/quantization/passes.py
  tests/common/accuracy_control/backend.py
Labels: NNCF Common, NNCF PTQ

#2515 [Torch] QAT after PTQ resnet18 example
  examples/quantization_aware_training/torch/resnet18/README.md
  examples/quantization_aware_training/torch/resnet18/main.py
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
  tests/cross_fw/examples/test_examples.py
Labels: documentation

#2541 Added references for 2024.1
  tests/openvino/native/data/2024.1/reference_scales/yolo-v3-tiny-onnx_mixed.json
  tests/openvino/native/data/2024.1/reference_scales/yolo-v3-tiny-onnx_performance.json
Labels: NNCF OpenVINO

#2500 ReleaseNotes update
  ReleaseNotes.md
  docs/Installation.md
Labels: documentation

#2546 [v2.9.0] ReleaseNotes update (#2500)
  ReleaseNotes.md
  docs/Installation.md
Labels: documentation

#2453 [CI] Move mask_rcnn model to nightly TF tests
  Makefile
  tests/tensorflow/pytest.ini
  tests/tensorflow/test_compressed_graph.py
  tests/tensorflow/test_sota_checkpoints.py
Labels: NNCF TF

#2543 Fix broken links in md files
  .github/workflows/pre-commit-linters.yml
  CONTRIBUTING.md
  README.md
  docs/Usage.md
  examples/tensorflow/object_detection/README.md
  examples/tensorflow/segmentation/README.md
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
  tests/onnx/README.md
  tests/onnx/benchmarking/README.md
Labels: documentation, NNCF TF, experimental, NNCF ONNX

#2545 [v2.9.0] Update OpenVINO version
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  setup.py
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/post_training/requirements.txt
  tests/tensorflow/requirements.txt
  tests/torch/requirements.txt
Labels: documentation, dependencies, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, release target, NNCF PTQ

#2551 Update NNCF & OV version
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  nncf/version.py
  setup.py
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/post_training/requirements.txt
  tests/tensorflow/requirements.txt
  tests/torch/requirements.txt
Labels: documentation, dependencies, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2535 Update pytest to 8.0.2
  tests/common/requirements.txt
  tests/cross_fw/examples/requirements.txt
  tests/cross_fw/install/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/tensorflow/requirements.txt
  tests/torch/conftest.py
  tests/torch/models_hub_test/requirements.txt
  tests/torch/ptq/test_wrap_model.py
  tests/torch/quantization/test_range_init.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_model_saving.py
  tests/torch/test_algo_common.py
  tests/torch/test_graph_building.py
  tests/torch/test_pytorch_patch.py
Labels: NNCF TF, NNCF PT, NNCF Common, NNCF OpenVINO, NNCF PTQ

#2554 Fix dead links
  docs/ModelZoo.md
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
Labels: documentation, experimental

#2548 Introduce an ignored subgraph
  nncf/__init__.py
  nncf/scopes.py
  tests/common/test_ignored_scope.py
Labels: NNCF Common, API

#2550 Fix anomaly_stfpm_quantize_with_accuracy_control for Win
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  tests/cross_fw/examples/run_example.py
Labels: NNCF OpenVINO

#2558 Add check on None
  nncf/quantization/advanced_parameters.py
  tests/tensorflow/quantization/test_ptq_params.py
Labels: NNCF TF, NNCF PTQ

#2561 Fix broken links
  docs/compression_algorithms/CompressWeights.md
Labels: documentation

#2422 [PT] check only major and minor version
  nncf/common/logging/logger.py
  nncf/tensorflow/__init__.py
  nncf/tensorflow/tf_internals.py
  nncf/torch/__init__.py
  nncf/version.py
  ruff.toml
Labels: NNCF TF, NNCF PT, NNCF Common, API

#2567 Fixed netron visualization
  nncf/experimental/common/graph/netron.py
  tests/common/experimental/test_netron.py
Labels: NNCF Common, experimental

#2575 Fix broken link
  docs/compression_algorithms/CompressWeights.md
Labels: documentation

#2526 Add unit tests for nncf quantization functions
  nncf/quantization/algorithms/accuracy_control/evaluator.py
  tests/common/accuracy_control/test_algorithm.py
  tests/common/accuracy_control/test_evaluator.py
  tests/common/accuracy_control/test_ranking.py
Labels: NNCF Common, NNCF PTQ

#2580 Tests for torch device and dtype utils
  nncf/torch/utils.py
  tests/torch/helpers.py
  tests/torch/test_utils.py
Labels: NNCF PT

#2512 [PT] CUDA 12.1
  Makefile
  README.md
  tests/cross_fw/install/test_install.py
  tests/torch/quantization/test_hawq_precision_init.py
Labels: documentation, NNCF PT

#2574 Use tabulate instead of texttable
  examples/quantization_aware_training/torch/resnet18/main.py
  licensing/third-party-programs.txt
  nncf/common/utils/helpers.py
  nncf/torch/pruning/base_algo.py
  nncf/torch/pruning/filter_pruning/algo.py
  setup.py
Labels: dependencies, NNCF PT, NNCF Common

#2555 [PTQ] Extend layers list for BiasCorrection
  nncf/openvino/graph/metatypes/groups.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
Labels: NNCF OpenVINO, NNCF PTQ

#2559 [PT] Extractor for fused convolution
  nncf/common/graph/layer_attributes.py
  nncf/common/graph/operator_metatypes.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
  nncf/torch/dynamic_graph/wrappers.py
  nncf/torch/extractor.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/model_graph_manager.py
  tests/post_training/test_templates/helpers.py
  tests/torch/test_extractor.py
  tests/torch/test_layer_attributes.py
  tests/torch/test_model_analyzer.py
  tests/torch/test_model_graph_manager.py
Labels: NNCF PT, NNCF Common, NNCF PTQ

#2569 Use latest optimum to not call deprecated shared_memory API
  tests/post_training/pipelines/causal_language_model.py
  tests/post_training/requirements.txt
Labels: NNCF PTQ

#2573 Fixes of examples for Windows
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/test_examples.py
  tests/shared/command.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX

#2591 Update references for 2024.1
  tests/openvino/native/data/2024.1/reference_scales/yolo-v3-tiny-onnx_mixed.json
  tests/openvino/native/data/2024.1/reference_scales/yolo-v3-tiny-onnx_performance.json
Labels: NNCF OpenVINO

#2599 [ONNX] ONNX FBC/BC metatypes groups
  nncf/onnx/graph/metatypes/groups.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/quantization/algorithms/fast_bias_correction/onnx_backend.py
  tests/onnx/test_metatypes.py
Labels: NNCF ONNX, NNCF PTQ

#2593 Fix tabulate for windows
  nncf/common/utils/helpers.py
  tests/cross_fw/examples/test_examples.py
Labels: NNCF Common

#2596 [WC, PT] Store compression scale in f16
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/quantization/layers.py
  tests/torch/ptq/test_weights_compression.py
Labels: NNCF PT, NNCF PTQ

#2602 Support string dtype for OV backend
  nncf/openvino/graph/nncf_graph_builder.py
  tests/openvino/native/test_nncf_graph_builder.py
Labels: NNCF OpenVINO

#2600 mypy checks for common graph
  .mypy.ini
  nncf/common/graph/graph.py
  nncf/common/graph/graph_matching.py
  nncf/common/graph/layer_attributes.py
  nncf/common/graph/model_transformer.py
  nncf/common/graph/operator_metatypes.py
  nncf/common/graph/patterns/manager.py
  nncf/common/graph/patterns/patterns.py
  nncf/common/graph/transformations/commands.py
  nncf/common/graph/transformations/layout.py
  nncf/common/graph/utils.py
  nncf/common/utils/registry.py
Labels: NNCF Common

#2601 Update onnx, onnxruntime versions
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  setup.py
  tests/onnx/data/reference_graphs/original_nncf_graph/MaskRCNN-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/fcn-resnet50-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/ssd-12.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/double_input_output_model.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/embedding_model.dot
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/shape_of_model.dot
  tests/onnx/data/reference_graphs/quantization/bertsquad-12.dot
  tests/onnx/data/reference_graphs/quantization/gpt2-10.dot
  tests/onnx/data/reference_graphs/quantization/retinanet-9.dot
  tests/onnx/data/reference_graphs/quantization/shufflenet_v2_x1_0.dot
  tests/onnx/data/reference_graphs/quantization/squeezenet1_0.dot
  tests/onnx/data/reference_graphs/quantization/ssd-12.dot
  tests/onnx/data/reference_graphs/quantization/synthetic/shape_of_model.dot
  tests/onnx/models.py
  tests/onnx/test_weightless_model.py
  tests/onnx/weightless_model.py
  tests/post_training/requirements.txt
Labels: dependencies, NNCF ONNX, NNCF PTQ

#2603 [PT] Fix apply_args_defaults
  nncf/torch/dynamic_graph/layer_attributes_handlers.py
  tests/torch/test_layer_attributes.py
Labels: NNCF PT

#2606 Restore total of status bar
  nncf/common/tensor_statistics/aggregator.py
Labels: NNCF Common

#2607 Update onnx and onnxruntime for torch tests
  README.md
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  setup.py
  tests/post_training/requirements.txt
  tests/torch/requirements.txt
Labels: documentation, dependencies, NNCF PT, NNCF ONNX, NNCF PTQ
