Repository openvinotoolkit/nncf, pull requests merged in 2024-04, with the labels that each got.

#2584 [Torch] Drop `PTQuantizerInsertionCommand`
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/external_hook.py
  nncf/torch/graph/transformations/command_creation.py
  nncf/torch/graph/transformations/commands.py
  nncf/torch/model_graph_manager.py
  nncf/torch/model_transformer.py
  nncf/torch/nncf_network.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/debug_interface.py
  nncf/torch/quantization/external_quantizer.py
  nncf/torch/quantization/precision_init/base_init.py
  nncf/torch/quantization/precision_init/hawq_debug.py
  nncf/torch/quantization/strip.py
  tests/torch/ptq/test_smooth_quant.py
  tests/torch/quantization/test_algo_quantization.py
  tests/torch/quantization/test_strip.py
  tests/torch/test_extractor.py
  tests/torch/test_model_graph_manager.py
  tests/torch/test_model_transformer.py
  tests/torch/test_nncf_network.py
  tests/torch/test_tracing_context.py
Labels: NNCF PT, NNCF PTQ

#2586 Update reference of copyright header in PyGuide.md
  docs/styleguide/PyGuide.md
Labels: documentation

#2604 Update notebook links
  README.md
  docs/compression_algorithms/CompressWeights.md
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/README.md
  examples/post_training_quantization/openvino/yolov8/README.md
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/README.md
Labels: documentation, NNCF OpenVINO, NNCF ONNX

#2522 PTQ quantization aware training documentation
  README.md
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

#2612 Update thresholds for e2e
  tests/tensorflow/sota_checkpoints_eval.json
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF TF, NNCF PT

#2608 Inherit OverfloFix and QuantizationPreset from StrEnum
  nncf/__init__.py
  nncf/common/quantization/structs.py
  nncf/quantization/advanced_parameters.py
Labels: NNCF Common, API, NNCF PTQ

#2615 Update refs for OV 24.1
  tests/openvino/native/data/2024.1/reference_scales/yolo-v3-tiny-onnx_mixed.json
  tests/openvino/native/data/2024.1/reference_scales/yolo-v3-tiny-onnx_performance.json
Labels: NNCF OpenVINO

#2611 Add is_subtype argument for metatype register
  nncf/common/graph/operator_metatypes.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/tensorflow/graph/metatypes/keras_layers.py
  nncf/torch/graph/operator_metatypes.py
Labels: NNCF TF, NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX

#2625 [PT] Update targets for e2e
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT

#2628 [Release] Expose some advanced quantization parameters to be available as nncf.*
  nncf/__init__.py
  nncf/common/quantization/structs.py
  nncf/quantization/advanced_parameters.py
Labels: NNCF Common, NNCF PTQ

#2622 [PTQ][MinMax][Torch] One shared quantizer is used for all unified scale quantization points
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/torch/graph/transformations/command_creation.py
  tests/onnx/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/post_training/test_templates/test_ptq_params.py
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/inception_v3.dot
  tests/torch/ptq/test_ptq_params.py
  tests/torch/test_model_transformer.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2630 [Release] Revert quantization scheme StrEnum release
  nncf/common/quantization/structs.py
Labels: NNCF Common

#2617 add int4 and int8 checks
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/lm_weight_compression.py
Labels: NNCF PTQ

#2632 [Torch] Check input_port_id in __eq__ of PTTargetPoint
  nncf/torch/graph/transformations/commands.py
Labels: NNCF PT

#2616 Deprecate install extra packages
  README.md
  docs/Installation.md
Labels: documentation

#2631 Fix missed openvino-dev version package
  tests/openvino/requirements.txt
Labels: NNCF OpenVINO

#2627 Bump transformers version
  tests/post_training/requirements.txt
  tests/torch/models_hub_test/requirements.txt
  tests/torch/requirements.txt
Labels: NNCF PT, NNCF PTQ

#2610 Update Yolov8 ignored scope utilizing subgraphs approach
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
Labels: NNCF OpenVINO, NNCF ONNX

#2623 Update ruff version
  .pre-commit-config.yaml
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  examples/torch/common/models/classification/mobilenet_v3_tv_092.py
  nncf/common/sparsity/schedulers.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/torch/nas/bootstrapNAS/search/search.py
  nncf/experimental/torch/nas/bootstrapNAS/training/scheduler.py
  nncf/experimental/torch/sparsity/movement/scheduler.py
  nncf/tensorflow/graph/converter.py
  nncf/torch/nested_objects_traversal.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/precision_init/hawq_init.py
  ruff.toml
  tests/onnx/benchmarking/ac_wrapper.py
  tests/openvino/tools/calibrate.py
  tests/openvino/tools/config.py
  tests/shared/test_templates/template_test_nncf_tensor.py
  tests/torch/nas/test_search.py
  tests/torch/qat/helpers.py
  tests/torch/qat/test_qat_segmentation.py
  tests/torch/quantization/quantization_helpers.py
  tests/torch/sparsity/magnitude/test_algo.py
  tests/torch/test_statistics_aggregator.py
  tests/torch/test_tracing_context.py
  tools/extract_ov_subgraph.py
Labels: NNCF TF, NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX

#2618 Add more hyperparams for EvolutionOptimizer
  nncf/config/schemata/algo/filter_pruning.py
  nncf/config/schemata/defaults.py
  nncf/torch/pruning/filter_pruning/global_ranking/evolutionary_optimization.py
  nncf/torch/pruning/filter_pruning/global_ranking/legr.py
Labels: NNCF PT

#2642 Deterministic order of testcases
  tests/torch/models_hub_test/test_timm.py
  tests/torch/models_hub_test/timm_models.txt
  tests/torch/test_algo_common.py
  tests/torch/test_resume_from_checkpoint.py
Labels: NNCF PT

#2538 [ONNX] Fix adding output nodes in NNCFGraph
  nncf/onnx/graph/nncf_graph_builder.py
  tests/onnx/data/reference_graphs/original_nncf_graph/synthetic/output_with_no_parents_model.dot
  tests/onnx/test_nncf_graph_builder.py
Labels: NNCF ONNX

#2537 [WC] Align compression subgraphs for both weight input data types
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ, do not merge

#2582 QAT anomaly example
  examples/quantization_aware_training/torch/anomalib/README.md
  examples/quantization_aware_training/torch/anomalib/main.py
  examples/quantization_aware_training/torch/anomalib/requirements.txt
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
  tests/cross_fw/examples/test_examples.py
Labels: documentation

#2640 Release notes 2.10
  ReleaseNotes.md
Labels: documentation, release target

#2646 [Release] Release notes 2.10 (#2640)
  ReleaseNotes.md
Labels: documentation

#2619 [PTQ] batch_size in PTQ docs
  docs/compression_algorithms/post_training/Quantization.md
Labels: documentation

#2461 [PT] Support custom modules in PTQ
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_width.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/visualization.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/torch_backend.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  nncf/torch/graph/graph_builder.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/graph/transformations/command_creation.py
  nncf/torch/graph/transformations/commands.py
  nncf/torch/model_analyzer.py
  nncf/torch/model_graph_manager.py
  nncf/torch/model_transformer.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/default_quantization.py
  nncf/torch/quantization/quantize_model.py
  nncf/torch/quantization/strip.py
  tests/post_training/pipelines/image_classification_timm.py
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/alexnet.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/densenet121.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/embedding_model.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/inception.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/inception_v3.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/lenet.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/resnet18.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/resnet50_cpu_spr.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/shared_model.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/shufflenetv2.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/squeezenet1_1.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/ssd_mobilenet.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/ssd_vgg.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/unet.dot
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/vgg16.dot
  tests/torch/data/reference_scales/TwoConvTestModel_overflow_fix_disable.json
  tests/torch/data/reference_scales/TwoConvTestModel_overflow_fix_enable.json
  tests/torch/data/reference_scales/TwoConvTestModel_overflow_fix_first_layer_only.json
  tests/torch/helpers.py
  tests/torch/ptq/helpers.py
  tests/torch/ptq/test_calculation_quantizer_params.py
  tests/torch/ptq/test_fast_bias_correction.py
  tests/torch/ptq/test_fq_params_calculation.py
  tests/torch/ptq/test_graphs.py
  tests/torch/ptq/test_ptq_params.py
  tests/torch/ptq/test_smooth_quant.py
  tests/torch/ptq/test_strip.py
  tests/torch/test_layer_attributes.py
  tests/torch/test_model_analyzer.py
  tests/torch/test_model_graph_manager.py
  tests/torch/test_model_transformer.py
  tests/torch/test_statistics_aggregator.py
Labels: NNCF PT, experimental, NNCF PTQ

#2650 [OV] Speedup precommit tests
  .github/workflows/precommit.yml
  Makefile
  tests/openvino/native/test_model_transformer.py
  tests/openvino/requirements.txt
Labels: NNCF OpenVINO

#2651 Checking model type in nncf.torch.wrap_model
  nncf/torch/model_creation.py
Labels: NNCF PT

#2643 [PTQ] Add default batch sizes for PTQ conformance test
  tests/post_training/conftest.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
Labels: NNCF PTQ

#2595 [Torch] NNCFNetwork.transformation_layout
  nncf/torch/graph/graph.py
  nncf/torch/graph/transformations/command_creation.py
  nncf/torch/graph/transformations/commands.py
  nncf/torch/nncf_network.py
  tests/torch/helpers.py
  tests/torch/nncf_network/helpers.py
  tests/torch/nncf_network/test_get_applied_modifications.py
  tests/torch/nncf_network/test_hook_handlers.py
  tests/torch/nncf_network/test_nncf_network.py
  tests/torch/test_api_behavior.py
Labels: NNCF PT

#2637 Make NNCF common accuracy aware training code pass mypy checks
  .mypy.ini
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/runner_factory.py
  nncf/common/accuracy_aware_training/statistics.py
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/common/utils/helpers.py
Labels: NNCF Common, API

#2645 [Release] Update OpenVINO version
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  setup.py
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/tensorflow/requirements.txt
  tests/torch/requirements.txt
Labels: documentation, dependencies, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2482 PT github-actions
  .github/workflows/precommit.yml
  Makefile
  tests/torch/conftest.py
  tests/torch/nncf_network/test_nncf_network.py
  tests/torch/pruning/test_tensor_processor.py
  tests/torch/ptq/test_fast_bias_correction.py
  tests/torch/ptq/test_reducers_and_aggregators.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch/pytest.ini
  tests/torch/quantization/test_algo_quantization.py
  tests/torch/quantization/test_autoq_precision_init.py
  tests/torch/quantization/test_functions.py
  tests/torch/quantization/test_hawq_precision_init.py
  tests/torch/quantization/test_range_init.py
  tests/torch/requirements.txt
  tests/torch/sparsity/const/test_algo.py
  tests/torch/sparsity/movement/test_components.py
  tests/torch/test_algo_common.py
  tests/torch/test_api_behavior.py
  tests/torch/test_distributed_data_parallel_mode.py
  tests/torch/test_extensions_build.py
  tests/torch/test_graph_building.py
  tests/torch/test_knowledge_distillation.py
  tests/torch/test_model_transformer.py
  tests/torch/test_tensor.py
  tests/torch/test_utils.py
Labels: NNCF PT

#2654 Update OpenVINO & NNCF version
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  nncf/version.py
  setup.py
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/tensorflow/requirements.txt
  tests/torch/requirements.txt
Labels: documentation, dependencies, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2581 Constraints file
  Makefile
  constraints.txt
  examples/tensorflow/requirements.txt
  examples/torch/requirements.txt
  tests/common/requirements.txt
  tests/cross_fw/examples/requirements.txt
  tests/cross_fw/install/requirements.txt
  tests/cross_fw/sdl/fuzz/requirements.txt
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/models_hub_test/requirements.txt
  tests/torch/requirements.txt
Labels: NNCF TF, NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2658 Update targets metrics for e2e (#2633)
  tests/tensorflow/sota_checkpoints_eval.json
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF TF, NNCF PT

#2549 Scale estimation/rectification for int4 compression
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/lm_weight_compression.py
Labels: NNCF PT, NNCF OpenVINO, API, NNCF PTQ
