Repository openvinotoolkit/nncf, pull requests merged in 2024-10, with the labels that each got.

#2979 NNCF helpers
  examples/llm_compression/openvino/tiny_llama_synthetic_data/README.md
  examples/llm_compression/openvino/tiny_llama_synthetic_data/main.py
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  nncf/data/__init__.py
  nncf/data/generators.py
  tests/torch/data/ref_generated_data.json
  tests/torch/test_dataset_generators.py
Labels: documentation, NNCF PT

#2997 Merge wc_reference_data_2024.4.yaml and wc_reference_data.yaml
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_reference_data_2024.4.yaml
Labels: NNCF PTQ

#2999 Synthetic data updates
  docs/usage/post_training_compression/weights_compression/Usage.md
  examples/llm_compression/openvino/tiny_llama_synthetic_data/main.py
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Labels: documentation

#2978 Support backup precision option for WC
  docs/usage/post_training_compression/weights_compression/Usage.md
  nncf/__init__.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/config.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/quantize_model.py
  nncf/tensor/definitions.py
  nncf/torch/quantization/quantize_model.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/torch/fx/test_compress_weights.py
  tests/torch/ptq/test_weights_compression.py
Labels: documentation, NNCF PT, experimental, NNCF OpenVINO, API, NNCF PTQ

#2994 [PTQ] Add option for merging quantizers strategy in advanced parameters
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/quantization/quantizer_propagation/structs.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/hyperparameter_tuner/param_grid.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/post_training/pipeline.py
  tests/common/hyperparameter_tuner/test_hyperparameter_tuner.py
  tests/common/quantization/test_quantizer_propagation_solver.py
  tests/torch/quantization/test_adjust_padding.py
Labels: NNCF PT, NNCF Common, API, NNCF PTQ

#2998 [PT] TorchFunctionMode
  .github/workflows/mypy.yml
  .github/workflows/precommit.yml
  .mypy.ini
  nncf/common/utils/backend.py
  nncf/experimental/torch2/__init__.py
  nncf/experimental/torch2/function_hook/__init__.py
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  nncf/experimental/torch2/function_hook/hook_storage.py
  nncf/experimental/torch2/function_hook/weak_map.py
  nncf/experimental/torch2/function_hook/wrapper.py
  tests/torch2/__init__.py
  tests/torch2/conftest.py
  tests/torch2/function_hook/helpers.py
  tests/torch2/function_hook/test_function_hook_mode.py
  tests/torch2/function_hook/test_hook_storage.py
  tests/torch2/function_hook/test_train.py
  tests/torch2/function_hook/test_weak_map.py
  tests/torch2/function_hook/test_wrapper.py
  tests/torch2/pytest.ini
  tests/torch2/requirements.txt
Labels: NNCF Common, experimental

#3006 [experimental][collectors] Redundant code is removed
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/onnx/statistics/collectors.py
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_fx_backend.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/experimental/test_statistic_collector.py
  tests/onnx/quantization/test_reducers_and_aggregators.py
  tests/torch/ptq/test_reducers_and_aggregators.py
Labels: NNCF PT, NNCF Common, experimental, NNCF ONNX, NNCF PTQ

#2981 pyproject.toml
  .github/workflows/mypy.yml
  .github/workflows/nightly.yml
  .github/workflows/pre-commit-linters.yml
  .github/workflows/python-publish.yml
  .isort.cfg
  .mypy.ini
  .pre-commit-config.yaml
  MANIFEST.in
  custom_version.py
  examples/torch/common/models/classification/mobilenet_v3_tv_092.py
  md_dead_link_check.toml
  nncf/experimental/torch/nas/bootstrapNAS/training/lr_scheduler.py
  pyproject.toml
  ruff.toml
  setup.py
  tests/cross_fw/shared/helpers.py
  tests/tensorflow/experimental/test_models/resnet.py
Labels: dependencies, NNCF TF, NNCF PT, experimental

#3001 [GA] test examples
  .github/workflows/examples.yml
  .github/workflows/precommit.yml
  constraints.txt
  tests/cross_fw/examples/.test_durations
  tests/cross_fw/examples/README.md
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/requirements.txt
  tests/cross_fw/examples/test_examples.py
Labels: documentation

#3003 Data aware compression statistics enhancement
  nncf/common/tensor_statistics/statistics.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/openvino/graph/model_transformer.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/graph/transformations/commands.py
  nncf/openvino/statistics/collectors.py
  nncf/quantization/algorithms/layerwise/openvino_iterator.py
  nncf/quantization/algorithms/weight_compression/activation_stats.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/lora_correction.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/test_model_transformer.py
Labels: NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF PTQ, Code Freeze

#3016 PTMeanReducer is removed
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
Labels: NNCF PT, NNCF PTQ

#3004 [NNCF][BC] Add test case with depthwise/transpose convolutions to template and backend specific tests
  nncf/experimental/torch/fx/transformations.py
  nncf/onnx/graph/metatypes/groups.py
  nncf/openvino/graph/metatypes/groups.py
  tests/cross_fw/test_templates/helpers.py
  tests/cross_fw/test_templates/test_bias_correction.py
  tests/onnx/quantization/test_bias_correction.py
  tests/openvino/native/test_bias_correction.py
  tests/torch/data/reference_graphs/fx/quantized/unet.dot
  tests/torch/fx/test_bias_correction.py
Labels: NNCF PT, experimental, NNCF OpenVINO, NNCF ONNX

#3009 Visualisation of weight compression results
  docs/usage/post_training_compression/weights_compression/Usage.md
  docs/usage/post_training_compression/weights_compression/llama2_asym.png
  docs/usage/post_training_compression/weights_compression/phi3_asym.png
  tests/tools/data/phi3_asym.csv
  tests/tools/data/phi3_asym.md
  tests/tools/requirements.txt
  tests/tools/test_compression_visualization.py
  tools/README.md
  tools/visualize_compression_results.py
Labels: documentation

#2995 Update aggregator.py
  nncf/common/tensor_statistics/aggregator.py
Labels: NNCF Common

#3019 Data-aware compression fixes
  nncf/common/tensor_statistics/statistics.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF Common, NNCF OpenVINO, NNCF PTQ

#3022 Move `activations_to_wc_statistics` to SE class
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
Labels: NNCF PTQ

#2919 Drop supports python3.8 and add support numpy2
  .github/workflows/build_html_doc.yml
  .github/workflows/build_schema_page.yml
  .github/workflows/python-publish.yml
  Makefile
  README.md
  constraints.txt
  docs/PyPiPublishing.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  nncf/tensorflow/accuracy_aware_training/keras_model_utils.py
  pyproject.toml
Labels: documentation, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, Code Freeze

#3011 compress_weights telemetry update
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/telemetry_extractors.py
  nncf/telemetry/extractors.py
  nncf/telemetry/wrapper.py
  nncf/torch/quantization/quantize_model.py
Labels: NNCF PT, NNCF OpenVINO, NNCF PTQ, Code Freeze

#3023 Remove warning from examples
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX

#2913 [TorchFX] Rensen18 example
  examples/post_training_quantization/torch_fx/resnet18/README.md
  examples/post_training_quantization/torch_fx/resnet18/main.py
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  tests/cross_fw/examples/.test_durations
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Labels: documentation, Code Freeze

#3026 set pythonpath for pytest
  examples/torch/common/restricted_pickle_module.py
  pyproject.toml
  tests/cross_fw/shared/paths.py
  tests/torch/requirements.txt
Labels: NNCF PT

#3025 Remove tensorflow_addons
  docs/api/source/conf.py
  examples/tensorflow/classification/main.py
  examples/tensorflow/common/optimizer.py
  examples/tensorflow/requirements.txt
  nncf/tensor/README.md
  nncf/tensorflow/accuracy_aware_training/runner.py
  tests/tensorflow/requirements.txt
  tests/tensorflow/sparsity/rb/test_integration.py
Labels: documentation, NNCF TF

#3031 move test_tune_range.py to common
  tests/common/quantization/test_tune_range.py
Labels: NNCF Common

#3002 Fix GPTQ for inputs with batch size != 1 and with seq len == 1
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/lora_correction.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  tests/openvino/native/quantization/test_quantize_api.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/fx/test_compress_weights.py
  tests/torch/ptq/test_weights_compression.py
Labels: NNCF PT, NNCF OpenVINO, NNCF PTQ

#3018 Use fp32 inference precision
  nncf/openvino/engine.py
  nncf/quantization/algorithms/accuracy_control/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
Labels: NNCF OpenVINO, NNCF PTQ, Code Freeze

#3029 [PT] Introduce GraphBuilderMode
  nncf/experimental/torch2/function_hook/__init__.py
  nncf/experimental/torch2/function_hook/graph/__init__.py
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/graph/graph_utils.py
  nncf/experimental/torch2/function_hook/graph/graph_visualization.py
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  nncf/experimental/torch2/function_hook/hook_storage.py
  nncf/experimental/torch2/function_hook/weak_map.py
  nncf/experimental/torch2/function_hook/wrapper.py
  tests/torch2/conftest.py
  tests/torch2/data/function_hook/graph_visualization/to_pydot_style_disable.dot
  tests/torch2/data/function_hook/graph_visualization/to_pydot_style_full.dot
  tests/torch2/data/function_hook/graph_visualization/to_pydot_style_short.dot
  tests/torch2/function_hook/graph/test_build_graph_mode.py
  tests/torch2/function_hook/graph/test_graph_visualisation.py
  tests/torch2/function_hook/helpers.py
  tests/torch2/function_hook/test_function_hook_mode.py
  tests/torch2/function_hook/test_hook_storage.py
  tests/torch2/utils.py
Labels: experimental

#3034 Fix e2e_tf
  tests/tensorflow/test_sota_checkpoints.py
Labels: NNCF TF, Code Freeze

#2942 GPTQ + Scale Eestimation conformance test
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
Labels: NNCF PTQ

#2996 [Conformance] TorchFX/OV backends Alignment
  nncf/experimental/torch/fx/transformations.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_torchvision.py
  tests/torch/data/reference_graphs/fx/transformed/compress_post_quantize_per_channel_invalid.dot
  tests/torch/data/reference_graphs/fx/transformed/compress_post_quantize_per_channel_valid.dot
  tests/torch/data/reference_graphs/fx/transformed/compress_post_quantize_per_tensor_invalid.dot
  tests/torch/data/reference_graphs/fx/transformed/compress_post_quantize_per_tensor_valid.dot
  tests/torch/fx/test_model_transformer.py
Labels: NNCF PT, experimental, NNCF PTQ, Code Freeze

#3046 Fix metric pt_e2e
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT

#3045 Fix test examples on windows
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/main.py
  examples/quantization_aware_training/torch/anomalib/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Labels: NNCF PT, Code Freeze

#3044 [AWQ] Cast `fns.quantile()` result to float32
  nncf/quantization/algorithms/weight_compression/awq.py
Labels: NNCF PTQ

#3042 Data-free mixed precision algorithm for Torch and Torch FX backends
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/quantize_model.py
  tests/post_training/data/wc_reference_data_2024.5.yaml
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
  tests/torch/fx/test_compress_weights.py
  tests/torch/ptq/test_weights_compression.py
Labels: NNCF PT, NNCF PTQ

#3017 [WeightCompression] Statistics caching
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/collectors.py
  nncf/common/tensor_statistics/statistic_point.py
  nncf/common/tensor_statistics/statistics.py
  nncf/common/tensor_statistics/statistics_serializer.py
  nncf/common/tensor_statistics/statistics_validator.py
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/common/tensor_statistics/statistics.py
  nncf/experimental/torch/fx/statistics/aggregator.py
  nncf/onnx/statistics/aggregator.py
  nncf/openvino/quantization/quantize_model.py
  nncf/openvino/statistics/aggregator.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/activation_stats.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/lora_correction.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/quantize_model.py
  nncf/quantization/statistics_caching.py
  nncf/tensor/tensor.py
  nncf/torch/statistics/aggregator.py
  tests/common/experimental/test_statistic_collector.py
  tests/common/test_statistics_caching.py
  tests/common/test_statistics_serializer.py
  tests/common/test_statistics_validator.py
  tests/cross_fw/test_templates/test_statistics_caching.py
  tests/onnx/test_statistics_caching.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/quantization/test_weights_compression_statistics_caching.py
  tests/openvino/native/test_statistics_caching.py
  tests/openvino/requirements.txt
  tests/torch/fx/test_compress_weights.py
  tests/torch/fx/test_statistics_caching.py
  tests/torch/ptq/test_statistics_caching.py
  tests/torch/ptq/test_weights_compression.py
Labels: NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX, API, NNCF PTQ, Code Freeze

#3051 [left over] Update weight compression metrics
  tests/post_training/data/wc_reference_data_2024.5.yaml
Labels: NNCF PTQ
