Repository openvinotoolkit/nncf, pull requests merged in 2024-11, with the labels that each got.

#3048 [WC][Tests] Update Scale Estimation metric
  tests/post_training/data/wc_reference_data.yaml
Labels: NNCF PTQ

#3038 Update ultralytics 8.3.22
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/deploy.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  tests/cross_fw/examples/test_examples.py
Labels: NNCF OpenVINO, NNCF ONNX

#3043 Update onnx, onnxruntime versions
  README.md
  constraints.txt
  docs/Installation.md
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
Labels: documentation, NNCF PT, NNCF ONNX

#3058 Update references
  tests/openvino/native/data/2024.5/reference_graphs/quantized/ssd-vgg-300_performance.dot
  tests/openvino/native/models.py
Labels: NNCF OpenVINO, Code Freeze

#3049 Added ignored RoPE block
  nncf/common/graph/patterns/patterns.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/openvino/quantization/ignored_patterns.py
  tests/onnx/test_pattern_manager.py
  tests/openvino/native/data/2024.4/reference_graphs/quantized/RoPEModel.dot
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_graphs.py
  tests/torch/test_pattern_manager.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, Code Freeze

#3060 Update sota_checkpoints_eval.json
  tests/tensorflow/sota_checkpoints_eval.json
Labels: NNCF TF, Code Freeze

#3063 Update PTQ reference for 24.5
  tests/post_training/data/ptq_reference_data_2024.5.yaml
Labels: NNCF PTQ

#3054 Make SE algorithm also return zero points
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ

#3047 [TorchFX] Constant folding
  nncf/experimental/torch/fx/constant_folding.py
  nncf/experimental/torch/fx/transformations.py
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/quantized/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/transformed/folded_model.dot
  tests/torch/data/reference_graphs/fx/transformed/folded_model_with_constraints_per_channel.dot
  tests/torch/data/reference_graphs/fx/transformed/folded_model_with_constraints_per_tensor.dot
  tests/torch/fx/test_model_transformer.py
  tests/torch/fx/test_models.py
  tests/torch/test_models/synthetic.py
Labels: NNCF PT, experimental

#3057 Fix windows test example
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  tests/cross_fw/examples/run_example.py
Labels: NNCF OpenVINO, Code Freeze

#3061 Collect statistics from subset in weight compression
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/statistics_caching.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ, Code Freeze

#3059 Added ignored RoPE for ONNX/PT
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/quantization/ignored_patterns.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/quantization/ignored_patterns.py
  tests/cross_fw/test_templates/helpers.py
  tests/onnx/data/reference_graphs/quantization/synthetic/rope_model.dot
  tests/onnx/models.py
  tests/onnx/quantization/test_graphs.py
  tests/onnx/test_pattern_manager.py
  tests/torch/data/reference_graphs/quantized/ptq/symmetric/rope_model.dot
  tests/torch/ptq/test_graphs.py
  tests/torch/test_pattern_manager.py
Labels: NNCF PT, NNCF ONNX

#3064 [PT] handle inner functions
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/handle_inner_functions.py
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_BatchNormModel.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_MultiHeadAttention.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_ReluModel.dot
  tests/torch2/function_hook/test_handle_inner_functions.py
Labels: experimental

#3056 [PT] builder nncf graph
  nncf/common/graph/graph.py
  nncf/experimental/torch2/function_hook/nncf_graph/nncf_graph_builder.py
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph.dot
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph_multi_edges.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_convnext_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_densenet121.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_efficientnet_b0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_inception_v3.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v2.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v3_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnet18.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnext50_32x4d.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_shufflenet_v2_x0_5.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_squeezenet1_0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_swin_v2_b.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_vgg16.dot
  tests/torch2/function_hook/graph/test_build_graph_mode.py
  tests/torch2/function_hook/helpers.py
  tests/torch2/function_hook/nncf_graph/test_nncf_graph.py
  tests/torch2/requirements.txt
  tests/torch2/utils.py
Labels: NNCF Common, experimental

#3067 Fix deprecation warning
  nncf/quantization/algorithms/weight_compression/backend.py
Labels: NNCF PTQ

#3052 Docs for statistics caching
  docs/usage/post_training_compression/weights_compression/Usage.md
Labels: documentation

#3066 ONNX examples version update
  examples/llm_compression/openvino/tiny_llama/main.py
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
Labels: NNCF OpenVINO, Code Freeze

#3065 Returned OV 2024.3 references for OV 2024.5 in Weight Compression tests
  tests/post_training/data/wc_reference_data_2024.5.yaml
Labels: NNCF PTQ, Code Freeze

#3076 Andreyan/fix links to mx docs
  docs/usage/post_training_compression/weights_compression/Usage.md
Labels: documentation

#3073 Left-overs after moving PTWC tests to Xeon Gold
  tests/post_training/data/wc_reference_data.yaml
Labels: NNCF PTQ

#3072 Fix hessian criteria statistics collector
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/openvino/statistics/collectors.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  tests/cross_fw/test_templates/test_weights_compression_backends.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/quantization/test_weights_compression_backends.py
Labels: experimental, NNCF OpenVINO, NNCF PTQ

#3070 Update thresholds for yolo_v4_coco
  tests/tensorflow/sota_checkpoints_eval.json
Labels: NNCF TF

#3082 [RELEASE] Fix hessian criteria statistics collector (#3072)
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/openvino/statistics/collectors.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  tests/cross_fw/test_templates/test_weights_compression_backends.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/quantization/test_weights_compression_backends.py
Labels: experimental, NNCF OpenVINO, release target, NNCF PTQ

#3085 [release_v2140] Update thresholds for yolo_v4_coco
  tests/tensorflow/sota_checkpoints_eval.json
Labels: NNCF TF, release target

#3088 [Release][TorchFX] Migrate example to torch.export.export_for_training
  examples/post_training_quantization/torch_fx/resnet18/main.py
Labels: release target

#2917 [TorchFX] Documetation update
  README.md
  docs/Algorithms.md
  docs/usage/post_training_compression/post_training_quantization/Usage.md
Labels: documentation

#3089 Added modification note
  tests/openvino/native/quantization/test_gptq.py
Labels: NNCF OpenVINO

#3092 [Release] Added modification note
  tests/openvino/native/quantization/test_gptq.py
Labels: NNCF OpenVINO, release target

#3093 Added a note for statistics caching
  docs/usage/post_training_compression/weights_compression/Usage.md
Labels: documentation

#3094 [Release] Added a note for statistics caching
  docs/usage/post_training_compression/weights_compression/Usage.md
Labels: documentation, release target

#3096 [Release] Update to use safe_open
  nncf/common/tensor_statistics/statistics_serializer.py
Labels: NNCF Common, release target

#3071 [Release_v2140] Update ReleaseNotes.md
  ReleaseNotes.md
Labels: documentation, release target

#3100 [Release] Bump OV version
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Labels: documentation, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, release target

#3103 Bump OV version (#3100)
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Labels: documentation, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX

#3102 Update ReleaseNotes.md (#3071)
  ReleaseNotes.md
Labels: documentation

#3099 Fix annotation for api marker
  docs/api/source/conf.py
  nncf/common/utils/api_marker.py
Labels: documentation, NNCF Common

#3101 set kv cache in f16
  examples/llm_compression/openvino/tiny_llama/main.py
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  tests/post_training/pipelines/lm_weight_compression.py
Labels: NNCF PTQ

#3104 [PT] update metrics for openvino 2024.5.0 (#3084)
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT

#3108 Remove dead links
  README.md
  docs/usage/post_training_compression/weights_compression/Usage.md
Labels: documentation

#3081 [ONNX] Fix sporadic results in BC
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/onnx/engine.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/statistics/collectors.py
  nncf/openvino/statistics/collectors.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/fake_quantize.py
  nncf/torch/tensor_statistics/collectors.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/common/quantization/test_tune_range.py
  tests/cross_fw/test_templates/test_weights_compression_backends.py
Labels: NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#3078 [TorchFX][Conformance] Move all models to export_for_training
  tests/post_training/pipelines/image_classification_torchvision.py
Labels: NNCF PTQ

#3062 FP8 example
  examples/llm_compression/openvino/smollm2_360m_fp8/README.md
  examples/llm_compression/openvino/smollm2_360m_fp8/main.py
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
  tests/cross_fw/examples/.test_durations
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Labels: documentation

#2922 Added BF16 & FP16 models to PTQ tests
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/masked_language_modeling.py
Labels: NNCF PTQ
