Repository openvinotoolkit/nncf, pull requests merged in 2024-08, with the labels that each got.

#2852 [PT] bump torch 2.4.0
  README.md
  constraints.txt
  docs/Installation.md
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  nncf/version.py
Labels: documentation, NNCF PT

#2864 [PT] Update reference for squeezenet1_1_imagenet_int8_per_tensor (#2831)
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT

#2860 [Torch Fx] Add test for quantized model graph
  tests/torch/data/reference_graphs/fx/quantized/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/quantized/resnet18.dot
  tests/torch/data/reference_graphs/fx/quantized/unet.dot
  tests/torch/data/reference_graphs/fx/reference_metatypes/unet.json
  tests/torch/data/reference_graphs/fx/unet.dot
  tests/torch/fx/test_models.py
Labels: NNCF PT

#2854 [Solver] Check all output branches are quantized before merging quantizers
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  tests/common/quantization/metatypes.py
  tests/common/quantization/test_quantizer_propagation_solver.py
  tests/openvino/native/data/2024.1/reference_graphs/quantized/scaled_dot_product_attention.dot
  tests/openvino/native/models.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/ScaledDotProductModel.dot
  tests/torch/test_compressed_graph.py
  tests/torch/test_models/synthetic.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO

#2868 Updated weight compression metrics regarding to OpenVINO 2024.3
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_reference_data_2024.3.yaml
Labels: NNCF PTQ

#2855 Optimization of the "calculate_signed_scale" function
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_gptq.py
Labels: NNCF OpenVINO, NNCF PTQ

#2869 [Torch Fx] Remove Yolov8 and Ultralytics from Torch Fx Model Test
  tests/torch/data/reference_graphs/fx/reference_metatypes/yolov8n.json
  tests/torch/data/reference_graphs/fx/yolov8n.dot
  tests/torch/fx/test_models.py
  tests/torch/requirements.txt
Labels: NNCF PT

#2871 Update commands.py
  nncf/common/graph/transformations/commands.py
Labels: NNCF Common

#2876 Limit ONNX version in examples
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
Labels: NNCF OpenVINO

#2877 Fixed unified FakeConverts duplication
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/openvino/native/data/2024.3/reference_scales/UnifiedScalesModel_fp8_e4m3.json
  tests/openvino/native/data/2024.3/reference_scales/UnifiedScalesModel_fp8_e5m2.json
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
Labels: NNCF OpenVINO, NNCF PTQ

#2861 [TorchFX] Pre-hook insertion support
  nncf/experimental/torch/fx/transformations.py
  tests/torch/data/reference_graphs/fx/quantized/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/quantized/resnet18.dot
  tests/torch/data/reference_graphs/fx/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/quantized/unet.dot
  tests/torch/data/reference_graphs/fx/quantized/vit_b_16.dot
  tests/torch/fx/test_models.py
Labels: NNCF PT, experimental

#2866 [TorchFX][FBC] Constant linear layers support
  nncf/experimental/torch/fx/commands.py
  nncf/experimental/torch/fx/model_transformer.py
  nncf/experimental/torch/fx/transformations.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/torch/graph/transformations/serialization.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/image_classification_torchvision.py
  tests/torch/data/reference_graphs/fx/extracted/ConstantModelExtractionModel.dot
  tests/torch/data/reference_graphs/fx/extracted/ModelExtractionModel.dot
  tests/torch/fx/test_model_transformer.py
  tests/torch/fx/test_models.py
  tests/torch/test_models/synthetic.py
Labels: experimental, NNCF PTQ

#2801 Memory Monitor tool
  .github/workflows/precommit.yml
  tests/post_training/conftest.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/test_quantize_conformance.py
  tests/tools/requirements.txt
  tests/tools/test_memory_monitor.py
  tools/README.md
  tools/memory_monitor.py
  tools/requirements.txt
Labels: documentation, NNCF PTQ

#2825 Add PyPi publishing file
  MANIFEST.in
  docs/PyPiPublishing.md
  setup.py
Labels: documentation, dependencies

#2819 [CI][PTQ] benchmark
  constraints.txt
  tests/post_training/README.md
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/gpt.py
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Labels: documentation, NNCF PTQ

#2901 Replace the exception with a warning
  nncf/quantization/algorithms/min_max/algorithm.py
Labels: NNCF PTQ

#2905 Revert Slice as agnostic
  nncf/openvino/graph/metatypes/groups.py
Labels: NNCF OpenVINO

#2896 [TorchFX] Deptwise convolution support
  nncf/experimental/torch/fx/nncf_graph_builder.py
  tests/torch/data/reference_graphs/fx/quantized/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/reference_metatypes/mobilenet_v3_small.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/resnet18.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/swin_v2_s.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/unet.json
  tests/torch/data/reference_graphs/fx/reference_metatypes/vit_b_16.json
  tests/torch/fx/test_models.py
Labels: NNCF PT, experimental

#2892 Add weighted progress tracking for weight compression
  nncf/common/logging/track_progress.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
Labels: NNCF Common, NNCF PTQ

#2915 Fix track context manager
  nncf/common/logging/track_progress.py
  tests/common/utils/test_progress_tracking.py
Labels: NNCF Common

#2912 [TorchFX] Fix depthwise + transpose conv weights quantization
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  tests/torch/data/reference_graphs/fx/quantized/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/quantized/unet.dot
Labels: NNCF PT, NNCF PTQ

#2816 Weight compression via Lora Correction Algorithm
  docs/usage/post_training_compression/weights_compression/Usage.md
  nncf/__init__.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/activation_stats.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/lora_correction.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  tests/openvino/conftest.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/torch/ptq/test_weights_compression.py
Labels: documentation, NNCF PT, NNCF OpenVINO, API, NNCF PTQ

#2887 Move test_templates to cross_fw directory
  tests/common/quantization/test_layerwise_scheduler.py
  tests/common/quantization/test_passes.py
  tests/cross_fw/test_templates/fq_params/fq_params.json
  tests/cross_fw/test_templates/helpers.py
  tests/cross_fw/test_templates/models.py
  tests/cross_fw/test_templates/test_bias_correction.py
  tests/cross_fw/test_templates/test_calculate_quantizer_parameters.py
  tests/cross_fw/test_templates/test_channel_alignment.py
  tests/cross_fw/test_templates/test_fast_bias_correction.py
  tests/cross_fw/test_templates/test_layerwise.py
  tests/cross_fw/test_templates/test_min_max.py
  tests/cross_fw/test_templates/test_ptq_params.py
  tests/cross_fw/test_templates/test_quantizer_config.py
  tests/cross_fw/test_templates/test_smooth_quant.py
  tests/onnx/quantization/test_bias_correction.py
  tests/onnx/quantization/test_calculation_quantizer_params.py
  tests/onnx/quantization/test_fast_bias_correction.py
  tests/onnx/quantization/test_min_max.py
  tests/onnx/quantization/test_ptq_params.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/openvino/native/quantization/test_calculation_quantizer_params.py
  tests/openvino/native/quantization/test_channel_alignment.py
  tests/openvino/native/quantization/test_min_max.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/openvino/native/test_bias_correction.py
  tests/openvino/native/test_fast_bias_correction.py
  tests/openvino/native/test_layerwise.py
  tests/openvino/native/test_smooth_quant.py
  tests/post_training/conftest.py
  tests/torch/fx/test_fast_bias_correction.py
  tests/torch/fx/test_smooth_quant.py
  tests/torch/ptq/helpers.py
  tests/torch/ptq/test_calculation_quantizer_params.py
  tests/torch/ptq/test_fast_bias_correction.py
  tests/torch/ptq/test_graphs.py
  tests/torch/ptq/test_min_max.py
  tests/torch/ptq/test_ptq_params.py
  tests/torch/ptq/test_quantizer_config.py
  tests/torch/ptq/test_smooth_quant.py
  tests/torch/test_extractor.py
  tests/torch/test_model_graph_manager.py
  tests/torch/test_nncf_graph.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2925 Compatibility table updated
  docs/Installation.md
Labels: documentation

#2923 Added statefull GPTNeox for PTQ conformance tests
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/causal_language_model.py
Labels: NNCF PTQ

#2927 Remove Yolov7 deadlink from Readme.md
  README.md
Labels: documentation

#2902 Preserve the constant subgraph
  nncf/quantization/algorithms/accuracy_control/ranker.py
  nncf/quantization/algorithms/layerwise/scheduler.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/passes.py
  tests/common/quantization/test_passes.py
  tests/common/quantization/test_quantizer_removal.py
  tests/cross_fw/test_templates/test_ptq_params.py
  tests/cross_fw/test_templates/test_quantizer_config.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2914 Fix random.sample for python312
  tests/common/quantization/mock_graphs.py
Labels: NNCF Common

#2930 Update readme and release notes
  README.md
  ReleaseNotes.md
Labels: documentation

#2865 Make NNCF common tensor statistics code pass mypy checks
  .mypy.ini
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/collectors.py
  nncf/common/tensor_statistics/reduction.py
  nncf/common/tensor_statistics/statistic_point.py
  nncf/common/tensor_statistics/statistics.py
Labels: NNCF Common

#2932 Fix torch compile applied to model forward
  nncf/torch/dynamic_graph/wrappers.py
  tests/torch/pytorch_patch_isolated.py
  tests/torch/test_pytorch_patch.py
Labels: NNCF PT
