Repository openvinotoolkit/nncf, pull requests merged in 2024-05, with the labels that each got.

#2661 Remove links to deprecated OV notebooks
  README.md
Labels: documentation

#2662 [Torch][Tests] Build cuda qantizer extentions before the DataParallel
  tests/torch/quantization/test_algo_quantization.py
Labels: NNCF PT

#2648 Fix for pre-compressed MatMuls in AWQ.
  nncf/quantization/algorithms/weight_compression/awq.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ

#2578 Fixed to dump the ignored_scope in quantization more gracefully
  nncf/openvino/rt_info.py
  tests/openvino/native/quantization/test_quantization_pipeline.py
Labels: NNCF OpenVINO

#2588 Extending functions by diag, cholesky, cholesky_inverse, inv
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/linalg.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_linalg.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_linalg.py
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Labels: experimental

#2560 Align NPU to CPU
  nncf/common/hardware/configs/cpu.json
  nncf/common/hardware/configs/npu.json
  nncf/common/utils/dot_file_rw.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/common/test_hardware_config.py
  tests/tensorflow/data/reference_graphs/2.8/quantized/hw/NPU/mobilenet_v2.pb
  tests/tensorflow/data/reference_graphs/2.8/quantized/hw/NPU/resnet50.pb
  tests/torch/data/reference_graphs/quantized/adjust_paddings/npu_all_activations_int8.dot
  tests/torch/data/reference_graphs/quantized/adjust_paddings/npu_all_activations_int8_requnt.dot
  tests/torch/data/reference_graphs/quantized/adjust_paddings/npu_all_int8.dot
  tests/torch/data/reference_graphs/quantized/adjust_paddings/npu_all_int8_requnt.dot
  tests/torch/data/reference_graphs/quantized/adjust_paddings/npu_all_weights_int8.dot
  tests/torch/data/reference_graphs/quantized/adjust_paddings/npu_all_weights_int8_requnt.dot
  tests/torch/data/reference_graphs/quantized/adjust_paddings/npu_bd_int8.dot
  tests/torch/data/reference_graphs/quantized/adjust_paddings/npu_bd_int8_requnt.dot
  tests/torch/data/reference_graphs/quantized/autoq/inception_v3_device_NPU__eval_subset_ratio_0.4__with_ignored_scopes.dot
  tests/torch/data/reference_graphs/quantized/autoq/inception_v3_device_NPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_tv_092_device_NPU.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_tv_092_device_NPU__eval_subset_ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_tv_092_device_NPU__eval_subset_ratio_0.4__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/mobilenet_v2_tv_092_device_NPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_NPU.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_NPU__eval_subset_ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_NPU__eval_subset_ratio_0.4__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_NPU__iter_number_4__warmup_iter_number_2.dot
  tests/torch/data/reference_graphs/quantized/autoq/resnet50_device_NPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/squeezenet1_1_device_NPU.dot
  tests/torch/data/reference_graphs/quantized/autoq/ssd_vgg_512_test_device_NPU__eval_subset_ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/autoq/ssd_vgg_512_test_device_NPU__ratio_0.4.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_NPU__mode_liberal__ratio_1.3__with_target_scopes.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_NPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_NPU__mode_liberal__ratio_1.5__with_ignored_scopes.dot
  tests/torch/data/reference_graphs/quantized/hawq/inception_v3_device_NPU__mode_strict__ratio_1.dot
  tests/torch/data/reference_graphs/quantized/hawq/manual_init_int4_sym_int8_asym.dot
  tests/torch/data/reference_graphs/quantized/hawq/mobilenet_v2_tv_092_device_NPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/mobilenet_v2_tv_092_device_NPU__mode_strict__ratio_1.02.dot
  tests/torch/data/reference_graphs/quantized/hawq/resnet50_device_NPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/resnet50_device_NPU__mode_strict__ratio_1.11.dot
  tests/torch/data/reference_graphs/quantized/hawq/squeezenet1_1_device_NPU__mode_strict.dot
  tests/torch/data/reference_graphs/quantized/hawq/ssd_vgg_512_test_device_NPU__mode_liberal__ratio_1.5.dot
  tests/torch/data/reference_graphs/quantized/hawq/ssd_vgg_512_test_device_NPU__mode_strict__ratio_1.09.dot
  tests/torch/data/reference_graphs/quantized/hw/NPU/inception_v3.dot
  tests/torch/data/reference_graphs/quantized/hw/NPU/mobilenet_v2.dot
  tests/torch/data/reference_graphs/quantized/hw/NPU/resnet50.dot
Labels: NNCF TF, NNCF PT, NNCF Common, NNCF PTQ

#2531 [Torch] Serialize and load NNCF transformations
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  nncf/torch/graph/transformations/serialization.py
  nncf/torch/layer_utils.py
  nncf/torch/pruning/filter_pruning/layers.py
  nncf/torch/quantization/layers.py
  nncf/torch/sparsity/layers.py
  nncf/torch/sparsity/rb/layers.py
  tests/torch/data/reference_scales/TwoConvTestModel_overflow_fix_disable.json
  tests/torch/data/reference_scales/TwoConvTestModel_overflow_fix_enable.json
  tests/torch/data/reference_scales/TwoConvTestModel_overflow_fix_first_layer_only.json
  tests/torch/helpers.py
  tests/torch/nncf_network/helpers.py
  tests/torch/nncf_network/test_transformation_layout.py
  tests/torch/ptq/helpers.py
  tests/torch/ptq/test_graphs.py
  tests/torch/test_serialization.py
Labels: NNCF PT, NNCF PTQ

#2670 [Torch] Do not change state of the compression parameter
  nncf/torch/layer_utils.py
  nncf/torch/sparsity/rb/layers.py
  tests/torch/test_serialization.py
Labels: NNCF PT

#2671 Fix argsort function
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Labels: experimental

#2644 [TF] RB sparsity integration test is made deterministic
  tests/tensorflow/sparsity/rb/test_integration.py
Labels: NNCF TF

#2674 [OpenVINO] Remove OMZ, AC dependencies
  Makefile
  tests/openvino/datasets_helpers.py
  tests/openvino/native/quantization/test_sanity.py
  tests/openvino/omz_helpers.py
Labels: NNCF OpenVINO

#2673 Updated docstrings for AdvancedAWQParameters and AdvancedScaleEstimationParameters
  nncf/quantization/advanced_parameters.py
  nncf/quantization/quantize_model.py
Labels: API, NNCF PTQ

#2656 [TF] GA precommit
  .github/workflows/precommit.yml
  Makefile
  tests/common/requirements.txt
  tests/onnx/requirements.txt
  tests/tensorflow/pruning/test_tensor_processor.py
  tests/tensorflow/requirements.txt
  tests/tensorflow/sparsity/rb/test_integration.py
  tests/tensorflow/test_ignored_scopes.py
  tests/tensorflow/test_sanity_sample.py
Labels: NNCF TF, NNCF Common, NNCF ONNX

#2659 [API][Torch] Save/Load transformations
  nncf/torch/__init__.py
  nncf/torch/model_creation.py
  nncf/torch/nncf_network.py
  tests/torch/test_serialization.py
Labels: NNCF PT

#2653 [WC] Fix ratio_defining_params
  nncf/quantization/algorithms/weight_compression/algorithm.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ

#2678 Bump version of black to 24.4.2
  .pre-commit-config.yaml
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/tensor_statistics/statistic_point.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/tensorflow/utils/node.py
  nncf/torch/quantization/init_range.py
  tests/tensorflow/test_sanity_sample.py
  tests/torch/qat/helpers.py
  tests/torch/qat/test_qat_object_detection.py
  tests/torch/test_statistics_aggregator.py
Labels: NNCF TF, NNCF PT, NNCF Common, NNCF OpenVINO, NNCF PTQ

#2675 Remove openvino-dev dependency
  constraints.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  tests/onnx/benchmarking/requirements.txt
  tests/onnx/requirements.txt
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/tensorflow/requirements.txt
  tests/torch/requirements.txt
Labels: NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#2677 [TF] Fix dependency conflict
  examples/tensorflow/requirements.txt
  tests/tensorflow/requirements.txt
Labels: NNCF TF

#2680 Added scale_estimation flag to IR metadata.
  nncf/quantization/algorithms/weight_compression/algorithm.py
Labels: NNCF PTQ

#2681 [quantization] Fix config compatible check
  nncf/common/quantization/structs.py
Labels: NNCF Common

#2687 Add more functions for experimental tensor
  nncf/experimental/tensor/functions/__init__.py
  nncf/experimental/tensor/functions/numeric.py
  nncf/experimental/tensor/functions/numpy_numeric.py
  nncf/experimental/tensor/functions/torch_numeric.py
  tests/shared/test_templates/template_test_nncf_tensor.py
Labels: experimental

#2691 Add log message for when no matches were found for AWQ algorithm
  nncf/quantization/algorithms/weight_compression/awq.py
Labels: NNCF PTQ

#2690 Bump torch to 2.3.0
  README.md
  constraints.txt
  docs/Installation.md
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  setup.py
  tests/torch/data/reference_graphs/quantized/synthetic_model/MHA.dot
  tests/torch/data/reference_graphs/quantized/synthetic_model/MHA_single_input.dot
Labels: documentation, dependencies, NNCF PT

#2693 [PT] Increase threshold for e2e reference
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT

#2676 Andreyan/awq extention
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/awq_patterns.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ

#2649 [Torch] Do not wrap not tensor inputs
  nncf/torch/dynamic_graph/io_handling.py
  tests/torch/helpers.py
  tests/torch/test_input_management.py
Labels: NNCF PT

#2686 [OV] Compress bf16 weights
  nncf/experimental/tensor/definitions.py
  nncf/experimental/tensor/functions/torch_numeric.py
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/test_nncf_graph_builder.py
Labels: experimental, NNCF OpenVINO, NNCF PTQ

#2695 Revert "Andreyan/awq extention (#2676)"
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/awq_patterns.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ

#2682 Remove compress_to_fp16=False from examples
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
Labels: NNCF TF, NNCF PT, NNCF OpenVINO

#2665 Fix NNCF compatibility with torch.compile
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/dynamic_graph/wrappers.py
  tests/torch/pytorch_patch_isolated.py
  tests/torch/test_pytorch_patch.py
Labels: NNCF PT

#2696 Remove dependency from typing_extensions
  nncf/common/accuracy_aware_training/training_loop.py
Labels: NNCF Common

#2672 Fix SQ algorithm ports usage
  nncf/quantization/algorithms/smooth_quant/algorithm.py
Labels: NNCF PTQ

#2694 Removal of installation extras in setup.py
  README.md
  examples/torch/README.md
  nncf/common/utils/decorators.py
  setup.py
  tests/cross_fw/examples/test_examples.py
  tests/cross_fw/install/test_install.py
  tests/shared/helpers.py
  tests/shared/install_fixtures.py
  tests/torch/test_extensions_build.py
Labels: documentation, dependencies, NNCF PT, NNCF Common

#2707 Fix test examples (#2703)
  tests/cross_fw/examples/example_scope.json
Labels: release target

#2709 Update reference
  tests/torch/sparsity/movement/test_model_saving.py
Labels: NNCF PT

#2702 Remove OMZ model_tools dependency
  Makefile
  tests/openvino/data/ac_configs/googlenet-v3-pytorch.yml
  tests/openvino/data/ac_configs/mobilenet-v3-small-1.0-224-tf.yml
  tests/openvino/data/ac_configs/resnet-18-pytorch.yml
  tests/openvino/data/ac_configs/retinaface-resnet50-pytorch.yml
  tests/openvino/data/ov_dataset_definitions.yml
  tests/shared/data/dataset_definitions.yml
  tests/shared/paths.py
Labels: NNCF OpenVINO
