Repository openvinotoolkit/nncf, pull requests merged in 2025-06, with the labels that each got.

#3520 [README] Used by section is extended
  .ci/cspell_dict.txt
  README.md
Labels: documentation

#3530 Follow up # 3525
  tests/onnx/quantization/test_weights_compression.py
Labels: NNCF ONNX

#3531 Bump pytorch to 2.7.1
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/llm_compression/torch/distillation_qat_with_lora/requirements.txt
  examples/llm_compression/torch/downstream_qat_with_nls/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Labels: documentation, NNCF PT

#3526 [release_v2170] Updated OV
  constraints.txt
  examples/llm_compression/onnx/tiny_llama/requirements.txt
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/llm_compression/torch/distillation_qat_with_lora/requirements.txt
  examples/llm_compression/torch/downstream_qat_with_nls/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/tensorflow/mobilenet_v2/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  tests/cross_fw/examples/test_examples.py
  tests/post_training/requirements.txt
Labels: NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, release target, NNCF PTQ

#3537 [release 2.17.0] xfail 168947
  tests/torch/sparsity/movement/test_model_saving.py
Labels: NNCF PT, release target

#3533 [fx] Fix conformance test
  tests/post_training/pipelines/fx_modelling.py
  tests/post_training/pipelines/lm_weight_compression.py
Labels: NNCF PTQ

#3539 [Release 2.17.0] Cherry-pick commits with fix tests
  tests/onnx/quantization/test_weights_compression.py
  tests/openvino/optimized_functions/test_compression_functions.py
Labels: NNCF OpenVINO, NNCF ONNX, release target

#3515 use default kv cache compression
  examples/llm_compression/openvino/tiny_llama/main.py
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  examples/llm_compression/torch/distillation_qat_with_lora/main.py
  examples/llm_compression/torch/downstream_qat_with_nls/main.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/torch2/function_hook/quantization/test_fq_lora.py
Labels: NNCF PTQ

#3541 [TorchFX] DuplicateDQPass is replaced by DuplicateDQPassNoAnnotations
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  nncf/experimental/torch/fx/transformations.py
  tests/torch2/data/fx/OpenVINOQuantizer/mobilenet_v3_small.dot
  tests/torch2/data/fx/OpenVINOQuantizer/resnet18.dot
  tests/torch2/data/fx/OpenVINOQuantizer/unet.dot
  tests/torch2/data/fx/X86InductorQuantizer/mobilenet_v3_small.dot
  tests/torch2/data/fx/X86InductorQuantizer/resnet18.dot
  tests/torch2/data/fx/XNNPACKQuantizer/mobilenet_v3_small.dot
  tests/torch2/data/fx/XNNPACKQuantizer/resnet18.dot
  tests/torch2/data/fx/XNNPACKQuantizer/swin_v2_t.dot
  tests/torch2/data/fx/XNNPACKQuantizer/unet.dot
  tests/torch2/data/fx/XNNPACKQuantizer/vit_b_16.dot
  tests/torch2/data/fx/XNNPACKQuantizer/yolo11n_sdpa_block.dot
  tests/torch2/data/fx/dynamic_shapes/post_quantization_compressed/mobilenet_v3_small.dot
  tests/torch2/data/fx/dynamic_shapes/post_quantization_compressed/resnet18.dot
  tests/torch2/data/fx/dynamic_shapes/post_quantization_compressed/synthetic_transformer.dot
  tests/torch2/data/fx/dynamic_shapes/post_quantization_compressed/unet.dot
  tests/torch2/data/fx/dynamic_shapes/post_quantization_compressed/yolo11n_sdpa_block.dot
  tests/torch2/data/fx/dynamic_shapes/quantized/mobilenet_v3_small.dot
  tests/torch2/data/fx/dynamic_shapes/quantized/resnet18.dot
  tests/torch2/data/fx/dynamic_shapes/quantized/synthetic_transformer.dot
  tests/torch2/data/fx/dynamic_shapes/quantized/unet.dot
  tests/torch2/data/fx/dynamic_shapes/quantized/yolo11n_sdpa_block.dot
  tests/torch2/data/fx/mobilenet_v3_small.dot
  tests/torch2/data/fx/post_quantization_compressed/mobilenet_v3_small.dot
  tests/torch2/data/fx/post_quantization_compressed/resnet18.dot
  tests/torch2/data/fx/post_quantization_compressed/synthetic_transformer.dot
  tests/torch2/data/fx/post_quantization_compressed/unet.dot
  tests/torch2/data/fx/post_quantization_compressed/yolo11n_sdpa_block.dot
  tests/torch2/data/fx/quantized/mobilenet_v3_small.dot
  tests/torch2/data/fx/quantized/resnet18.dot
  tests/torch2/data/fx/quantized/synthetic_transformer.dot
  tests/torch2/data/fx/quantized/unet.dot
  tests/torch2/data/fx/quantized/yolo11n_sdpa_block.dot
  tests/torch2/data/fx/resnet18.dot
  tests/torch2/data/fx/synthetic_transformer.dot
  tests/torch2/data/fx/unet.dot
  tests/torch2/data/fx/vit_b_16.dot
  tests/torch2/data/fx/yolo11n_sdpa_block.dot
  tests/torch2/fx/test_models.py
  tests/torch2/fx/test_sanity.py
Labels: experimental

#3524 [release_v2170] Release notes
  ReleaseNotes.md
Labels: documentation, release target

#3548 xfail for sporadic fail
  tests/tensorflow/test_compressed_graph.py
Labels: NNCF TF

#3536 [Torch FX][Conformance] Fix FX PTQ Conformance Test Issue with Torch Compile Call
  tests/post_training/pipelines/base.py
Labels: NNCF PTQ

#3552 Release notes for v2170
  ReleaseNotes.md
Labels: documentation
