Repository openvinotoolkit/nncf, pull requests merged in 2025-03, with the labels that each got.

#3292 OV data-free mixed precision assignment running time improvement
  nncf/openvino/graph/node_utils.py
  nncf/openvino/optimized_functions/__init__.py
  nncf/openvino/optimized_functions/functions.py
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/tensor/functions/openvino_numeric.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/test_model_transformer.py
  tests/openvino/native/test_node_utils.py
  tests/openvino/optimized_functions/test_compression_functions.py
  tests/openvino/optimized_functions/test_ov_model_parameters.py
Labels: NNCF OpenVINO, NNCF PTQ

#3291 Update default LayerwiseScheduler behavior
  nncf/quantization/algorithms/layerwise/scheduler.py
Labels: NNCF PTQ

#3310 [PT2] check overridden forward in _replicate_for_data_parallel
  nncf/experimental/torch2/function_hook/wrapper.py
  tests/torch2/function_hook/test_train.py
Labels: experimental

#3309 Refactoring of minmax algorithm parameter setup and checking
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/common/quantization/test_minmax.py
  tests/onnx/quantization/test_ptq_params.py
  tests/openvino/native/quantization/test_ptq_params.py
  tests/torch/fx/test_ptq_params.py
  tests/torch/ptq/test_ptq_params.py
Labels: NNCF PT, NNCF Common, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#3225 [FX] Dynamic Shapes Support
  nncf/experimental/torch/fx/nncf_graph_builder.py
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/resnet18.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/unet.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/yolo11n_sdpa_block.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/resnet18.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/unet.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/yolo11n_sdpa_block.dot
  tests/torch/fx/helpers.py
  tests/torch/fx/test_models.py
Labels: NNCF PT, experimental

#3330 Fixed weight compression for float16/bfloat16 Torch models
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  tests/torch/ptq/test_weights_compression.py
Labels: NNCF PT, NNCF PTQ

#3329 [PT2] Serialize and load transformations
  nncf/experimental/torch2/function_hook/serialization.py
  tests/torch2/function_hook/helpers.py
  tests/torch2/function_hook/test_serialization.py
Labels: experimental

#3210 Use regular division inside Scale Estimation
  nncf/openvino/optimized_functions/functions.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_reference_data_2025.0.yaml
Labels: NNCF OpenVINO, NNCF PTQ

#3332 cspell
  .ci/cspell.json
  .ci/cspell_dict.txt
  .ci/markdownlint.yaml
  .pre-commit-config.yaml
  ReleaseNotes.md
  docs/styleguide/PyGuide.md
  nncf/experimental/torch/fx/constant_folding.py
  nncf/experimental/torch/fx/model_transformer.py
  nncf/experimental/torch/fx/statistics/aggregator.py
  nncf/experimental/torch/fx/transformations.py
  nncf/experimental/torch/search_building_blocks/search_blocks.py
  nncf/experimental/torch2/function_hook/serialization.py
  nncf/openvino/graph/node_utils.py
  nncf/openvino/hardware/fused_patterns.py
  nncf/quantization/algorithms/channel_alignment/algorithm.py
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_fx_backend.py
  nncf/quantization/fake_quantize.py
  nncf/tensor/functions/dispatcher.py
  nncf/tensorflow/graph/metatypes/tf_ops.py
  nncf/tensorflow/sparsity/rb/operation.py
  nncf/torch/automl/environment/quantization_env.py
  nncf/torch/layer_utils.py
  nncf/torch/pruning/filter_pruning/layers.py
  nncf/torch/quantization/ignored_patterns.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/precision_init/autoq_init.py
  nncf/torch/quantization/precision_init/hawq_init.py
  nncf/torch/sparsity/layers.py
  nncf/torch/sparsity/rb/algo.py
  nncf/torch/sparsity/rb/layers.py
  tests/torch/helpers.py
  tests/torch/qat/README.md
  tests/torch2/function_hook/helpers.py
Labels: documentation, NNCF TF, NNCF PT, experimental, NNCF OpenVINO, NNCF PTQ

#3337 Set weight without overriding convert node
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ, Code Freeze

#3322 [QAT Lora 3/N] Introduced FQ with absorbable LoRA as a new weight compression format
  .ci/cspell_dict.txt
  nncf/__init__.py
  nncf/common/quantization/structs.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/parameters.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/quantization/quantize_model.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/model_creation.py
  nncf/torch/quantization/debug_interface.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_functions.py
  nncf/torch/quantization/quantize_model.py
  nncf/torch/quantization/reference.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/fx/test_compress_weights.py
  tests/torch/ptq/test_fq_lora.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch/quantization/test_layers.py
Labels: NNCF PT, NNCF Common, experimental, NNCF OpenVINO, API, NNCF PTQ, Code Freeze

#3343 [QAT Lora 6/N] torch.compile for reference implementation
  nncf/torch/quantization/reference.py
Labels: NNCF PT, Code Freeze

#3344 FP8 types support in NNCF graph building
  nncf/openvino/graph/nncf_graph_builder.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/tensor/definitions.py
  nncf/tensor/functions/openvino_numeric.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
  tests/openvino/native/data/2025.0/reference_graphs/original_nncf_graph/f8e4m3_FPModel.dot
  tests/openvino/native/data/2025.0/reference_graphs/original_nncf_graph/f8e5m2_FPModel.dot
  tests/openvino/native/test_nncf_graph_builder.py
  tests/openvino/native/test_tensor.py
Labels: NNCF OpenVINO, NNCF PTQ, Code Freeze

#3349 Revert "[QAT Lora 6/N] torch.compile for reference implementation (#3…
  nncf/torch/quantization/reference.py
Labels: NNCF PT

#3357 Use openvino instead of cpuinfo to get CPU full name
  nncf/openvino/cpu_info.py
  nncf/openvino/optimized_functions/models.py
  pyproject.toml
Labels: NNCF OpenVINO

#3341 [QAT Lora 5/N] Fixes for loading/saving compression checkpoint
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/torch/quantization/layers.py
  tests/torch/ptq/test_fq_lora.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch/quantization/test_layers.py
  tests/torch/test_models/synthetic.py
Labels: NNCF PT, NNCF PTQ, Code Freeze

#3361 [PT2] Context manager to disable tracing
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  tests/torch2/data/function_hook/disable_tracing/graph.dot
  tests/torch2/function_hook/test_disable_tracing.py
  tests/torch2/function_hook/test_train.py
Labels: NNCF PT, experimental

#3360 [PT2] Detect missed inputs for noed based on TensorMeta in arguments
  nncf/torch/graph/graph.py
  tests/torch2/function_hook/nncf_graph/test_nncf_graph.py
Labels: NNCF PT

#3348 [QAT Lora 4/N] Strip for LoRA modules
  nncf/__init__.py
  nncf/api/compression.py
  nncf/common/composite_compression.py
  nncf/common/strip.py
  nncf/experimental/tensorflow/quantization/algorithm.py
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/tensorflow/algorithm_selector.py
  nncf/tensorflow/pruning/base_algorithm.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/sparsity/base_algorithm.py
  nncf/tensorflow/strip.py
  nncf/torch/algo_selector.py
  nncf/torch/nncf_network.py
  nncf/torch/pruning/filter_pruning/algo.py
  nncf/torch/quantization/algo.py
  nncf/torch/quantization/strip.py
  nncf/torch/sparsity/base_algo.py
  nncf/torch/strip.py
  tests/torch/helpers.py
  tests/torch/ptq/test_fq_lora.py
  tests/torch/quantization/test_strip.py
  tests/torch/requirements.txt
Labels: NNCF TF, NNCF PT, NNCF Common, experimental, API, NNCF PTQ, Code Freeze

#3362 [PT2] rework ForwardWithHooks
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  nncf/experimental/torch2/function_hook/wrapper.py
  tests/torch2/function_hook/test_train.py
  tests/torch2/function_hook/test_wrapper.py
Labels: experimental

#3358 [OpenVINO] Update reference files for the new 2025.1 OpenVINO release
  tests/openvino/native/data/2025.1/reference_graphs/quantized/swin-block_performance_transformer.dot
  tests/openvino/native/data/2025.1/reference_graphs/quantized/swin-block_sq.dot
Labels: NNCF OpenVINO, Code Freeze

#3359 [PT] change api for get_config and load_from_config
  README.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
  examples/quantization_aware_training/torch/resnet18/main.py
  nncf/torch/__init__.py
  nncf/torch/model_creation.py
  tests/torch2/function_hook/test_serialization.py
Labels: documentation, NNCF PT

#3320 [MinMax] Embedding nodes as input nodes for inference graph
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_quantizer.py
  nncf/experimental/torch/fx/transformations.py
  nncf/openvino/graph/model_utils.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/min_max/backend.py
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/model_graph_manager.py
  tests/cross_fw/test_templates/models.py
  tests/cross_fw/test_templates/test_quantizer_config.py
  tests/onnx/quantization/test_quantizer_config.py
  tests/openvino/native/quantization/test_quantizer_config.py
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/post_quantization_compressed/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/dynamic_shapes/quantized/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/post_quantization_compressed/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/quantized/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/quantized/vit_b_16.dot
  tests/torch/fx/test_quantizer_config.py
  tests/torch/ptq/test_quantizer_config.py
  tests/torch2/function_hook/quantization/test_quantizer_config.py
Labels: NNCF PT, experimental, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#3366 Disable optimized compression on ARM CPUs until the next release
  nncf/openvino/cpu_info.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ, Code Freeze

#3351 [QAT Lora 7/N] Sample demonstrating QAT with absorbable LoRA adapters
  .ci/cspell_dict.txt
  examples/llm_compression/torch/qat_with_lora/README.md
  examples/llm_compression/torch/qat_with_lora/main.py
  examples/llm_compression/torch/qat_with_lora/pics/absorbable_lora_adapters.png
  examples/llm_compression/torch/qat_with_lora/pics/training_pipeline.png
  examples/llm_compression/torch/qat_with_lora/requirements.txt
Labels: documentation, Code Freeze

#3384 [Release_v2160] Updated OpenVINO & WWB versions
  constraints.txt
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/llm_compression/torch/qat_with_lora/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/tensorflow/mobilenet_v2/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  tests/cross_fw/examples/test_examples.py
  tests/post_training/requirements.txt
Labels: NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, release target, NNCF PTQ

#3372 [PT2] strip
  nncf/common/strip.py
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  nncf/experimental/torch2/function_hook/hook_storage.py
  nncf/experimental/torch2/function_hook/nncf_graph/nncf_graph_builder.py
  nncf/experimental/torch2/function_hook/serialization.py
  nncf/experimental/torch2/function_hook/strip.py
  nncf/torch/strip.py
  tests/torch2/function_hook/nncf_graph/test_nncf_graph.py
  tests/torch2/function_hook/quantization/test_quantized_graphs.py
  tests/torch2/function_hook/quantization/test_strip.py
  tests/torch2/function_hook/test_hook_storage.py
Labels: NNCF PT, NNCF Common, experimental, API

#3389 Proper handling cuda/cpu tests for weight compression
  tests/torch/fx/test_compress_weights.py
  tests/torch/ptq/test_fq_lora.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
Labels: NNCF PT

#3388 [Release2160][TorchFX] Xfails are removed from the conformance test
  tests/post_training/data/ptq_reference_data.yaml
Labels: release target, NNCF PTQ

#3391 More helpful error message in case of invalid group size
  nncf/__init__.py
  nncf/errors.py
  nncf/quantization/algorithms/weight_compression/handle_errors.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
Labels: NNCF PT, NNCF OpenVINO, NNCF PTQ

#3390 Add xfail to activation sparsity OV export test
  tests/torch/experimental/sparsify_activations/test_algo.py
Labels: NNCF PT

#3393 [Release] Add xfail to activation sparsity OV export test
  tests/torch/experimental/sparsify_activations/test_algo.py
Labels: NNCF PT, release target
