Repository openvinotoolkit/nncf, pull requests merged in 2025-05, with the labels that each got.

#3441 Updated RQ signature
  nncf/torch/quantization/quantize_functions.py
  nncf/torch/quantization/reference.py
  tests/torch/quantization/test_functions.py
Labels: NNCF PT

#3473 Disable test_not_accessible for Windows
  tests/onnx/test_external_data.py
Labels: NNCF ONNX

#3376 [ONNX] Add eliminate_nop_cast pass
  nncf/onnx/graph/passes.py
  nncf/onnx/quantization/quantize_model.py
  tests/onnx/models.py
  tests/onnx/test_passes.py
Labels: NNCF ONNX

#3477 [pt] Remove qat tests for old tracing
  tests/torch/qat/README.md
  tests/torch/qat/helpers.py
  tests/torch/qat/test_qat_classification.py
  tests/torch/qat/test_qat_object_detection.py
  tests/torch/qat/test_qat_segmentation.py
Labels: documentation, NNCF PT

#3340 Add tensorflow tensor support
  .github/workflows/mypy.yml
  docs/api/source/conf.py
  nncf/tensor/definitions.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/dispatcher.py
  nncf/tensor/functions/numpy_io.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/tf_io.py
  nncf/tensor/functions/tf_linalg.py
  nncf/tensor/functions/tf_numeric.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
  tests/tensorflow/test_tensor.py
Labels: documentation, NNCF TF

#3469 Added logging for compilation trigger
  tests/torch/test_utils.py
Labels: NNCF PT

#3478 Fix pt nightly
  tests/torch/quantization/test_hawq_precision_init.py
Labels: NNCF PT

#3465 [Conformance] Use Nightly Commit for Optimum in Conformance Test
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/requirements.txt
Labels: NNCF PTQ

#3482 [onnx] Skip test for old onnxruntime in weekly scope
  tests/onnx/test_engine.py
Labels: NNCF ONNX

#3479 [BC] Use `atleast_1d` to enable models with no batch dimention
  .ci/cspell_dict.txt
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/quantization/algorithms/bias_correction/algorithm.py
  nncf/tensor/functions/__init__.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/numpy_numeric.py
  nncf/tensor/functions/torch_numeric.py
  nncf/tensor/tensor.py
  tests/cross_fw/test_templates/helpers.py
  tests/cross_fw/test_templates/template_test_nncf_tensor.py
  tests/cross_fw/test_templates/test_bias_correction.py
  tests/onnx/quantization/test_bias_correction.py
  tests/openvino/native/test_bias_correction.py
  tests/torch2/fx/test_bias_correction.py
Labels: experimental, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#3315 Aanuf/data free awq
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/quantize_model.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_test_durations.json
  tests/post_training/model_scope.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
  tests/torch2/fx/test_compress_weights.py
Labels: NNCF OpenVINO, API, NNCF PTQ

#3369 Optimized weights compression for NF4 data type
  .ci/cspell_dict.txt
  nncf/openvino/optimized_functions/__init__.py
  nncf/openvino/optimized_functions/functions.py
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/gptq.py
  nncf/quantization/algorithms/weight_compression/lora_correction.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  nncf/tensor/functions/dispatcher.py
  nncf/tensor/functions/numeric.py
  nncf/tensor/functions/openvino_numeric.py
  nncf/tensor/tensor.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/optimized_functions/test_compression_functions.py
  tests/openvino/optimized_functions/test_ov_model_parameters.py
  tests/openvino/test_tensor.py
Labels: NNCF OpenVINO, NNCF PTQ

#3262 remove strip
  README.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/quantization_aware_training/tensorflow/mobilenet_v2/main.py
Labels: documentation, NNCF TF

#3486 QAT + LoRA sample on wikitext
  examples/llm_compression/torch/qat_with_lora/custom_eval_tasks/preprocess_wikitext.py
  examples/llm_compression/torch/qat_with_lora/custom_eval_tasks/wikitext_validation.yaml
  examples/llm_compression/torch/qat_with_lora/main.py
  examples/llm_compression/torch/qat_with_lora/requirements.txt
  nncf/parameters.py
  nncf/torch/function_hook/hook_storage.py
  nncf/torch/function_hook/strip.py
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
  tests/cross_fw/examples/test_examples.py
  tests/torch2/function_hook/quantization/strip/test_strip_in_place.py
  tests/torch2/function_hook/test_hook_storage.py
Labels: NNCF PT, API

#3489 Explicit mapping GPU target device to CPU for a8w8
  nncf/common/hardware/configs/gpu.json
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/common/quantization/test_minmax.py
  tests/common/test_hardware_config.py
Labels: NNCF Common, NNCF PTQ

#3493 Aligned bf16 tuning vs f32 inference for 4bit compression
  examples/llm_compression/torch/qat_with_lora/README.md
  nncf/torch/quantization/quantize_functions.py
  tests/cross_fw/examples/example_scope.json
  tests/torch2/function_hook/quantization/strip/test_strip_dequantize.py
  tests/torch2/function_hook/quantization/test_fq_lora.py
Labels: documentation, NNCF PT, Code Freeze

#3500 [Fix] Calculation of statistics for ignored weights
  nncf/quantization/algorithms/weight_compression/algorithm.py
Labels: NNCF PTQ

#3480 Release QAT example with NLS
  .ci/cspell_dict.txt
  examples/llm_compression/torch/qat_with_nls_downstream/README.md
  examples/llm_compression/torch/qat_with_nls_downstream/main.py
  examples/llm_compression/torch/qat_with_nls_downstream/pics/lora_vs_nls.png
  examples/llm_compression/torch/qat_with_nls_downstream/requirements.txt
  nncf/common/quantization/structs.py
  nncf/parameters.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/layers.py
  tests/cross_fw/examples/.test_durations
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Labels: documentation, NNCF PT, NNCF Common, API, NNCF PTQ, Code Freeze

#3471 Bump transformers to 4.51.3
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/data/reference_graphs/pruning_groups/ViT.dot
  tests/torch/data/reference_graphs/pruning_groups/ViT_no_heads.dot
  tests/torch/models_hub_test/requirements.txt
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/requirements.txt
  tests/torch2/data/function_hook/sparsify_activations/dummy_llama_int8_sym_weights_sparse_activations.dot
  tests/torch2/data/function_hook/sparsify_activations/dummy_llama_sparse_activations.dot
  tests/torch2/function_hook/quantization/test_fq_lora.py
  tests/torch2/requirements.txt
Labels: NNCF PT, NNCF OpenVINO, NNCF PTQ, Code Freeze

#3503 added license for autogptq and lm_eval
  .ci/cspell_dict.txt
  CONTRIBUTING.md
  examples/llm_compression/torch/qat_with_lora/custom_eval_tasks/preprocess_wikitext.py
  licensing/third-party-programs.txt
  nncf/torch/automl/agent/ddpg/memory.py
  tests/openvino/native/quantization/test_gptq.py
  tests/torch/automl/test_memory.py
  tests/torch/automl/test_ring_buffer.py
  tests/torch/nas/models/tcn.py
  tests/torch/test_models/swin.py
Labels: documentation, NNCF PT, NNCF OpenVINO, Code Freeze

#3507 Data generation: check inheritance from `GenerationMixin` instead of `PreTrainedModel.__bases__`
  nncf/data/generators.py
  tests/torch/test_dataset_generators.py
Labels: NNCF PT, Code Freeze

#3506 Made NLS sample self-contained
  examples/llm_compression/torch/qat_with_nls_downstream/main.py
Labels: Code Freeze

#3512 Fix tests for transformers==4.51.3
  tests/torch/data/search_building_block/vit.json
  tests/torch/sparsity/movement/helpers/trainer.py
  tests/torch/sparsity/movement/test_training.py
Labels: NNCF PT

#3497 [ONNX] Weight compression for opset < 21
  .ci/cspell_dict.txt
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/onnx_helper.py
  nncf/onnx/quantization/quantize_model.py
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
  tests/onnx/quantization/test_weights_compression.py
  tests/onnx/test_onnx_helper.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_test_durations.json
  tests/post_training/model_scope.py
  tests/post_training/pipelines/lm_weight_compression.py
Labels: NNCF ONNX, NNCF PTQ, Code Freeze

#3511 [TorchFX][WC Conformance] Fix Issues in WC Conformance for FX
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/pipelines/fx_modelling.py
  tests/post_training/pipelines/fx_utils.py
  tests/post_training/pipelines/lm_weight_compression.py
Labels: NNCF PTQ

#3485 Aanuf/sdpa v fp8
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
Labels: NNCF Common, NNCF OpenVINO, NNCF PTQ, Code Freeze

#3517 Use OVModelForCausalLM for ONNX weight compression example
  examples/llm_compression/onnx/tiny_llama/README.md
  examples/llm_compression/onnx/tiny_llama/main.py
Labels: documentation
