Repository openvinotoolkit/nncf, pull requests merged in 2025-08, with the labels that each got.

#3571 AWQ Support for ONNX Backend
  src/nncf/onnx/graph/model_transformer.py
  src/nncf/onnx/graph/transformations/command_creation.py
  src/nncf/onnx/graph/transformations/commands.py
  src/nncf/quantization/algorithms/weight_compression/awq.py
  src/nncf/quantization/algorithms/weight_compression/onnx_backend.py
  src/nncf/quantization/quantize_model.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_test_durations.json
  tests/post_training/model_scope.py
Labels: NNCF PTQ

#3631 [release_v2180] Bump OV to 2025.0.3 RC
  constraints.txt
  docs/Installation.md
  examples/llm_compression/onnx/tiny_llama/requirements.txt
  examples/llm_compression/onnx/tiny_llama_scale_estimation/requirements.txt
  examples/llm_compression/openvino/smollm2_360m_codebook/requirements.txt
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/llm_compression/torch/distillation_qat_with_lora/requirements.txt
  examples/llm_compression/torch/downstream_qat_with_nls/requirements.txt
  examples/llm_compression/torch_fx/tiny_llama/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/tensorflow/mobilenet_v2/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  tests/post_training/requirements.txt
Labels: documentation, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, release target, NNCF PTQ

#3633 [release_v2180] Fix version of TF packages
  tests/tensorflow/requirements.txt
Labels: NNCF TF, release target

#3634 [release_v2180] Update is_arm_cpu
  src/nncf/openvino/cpu_info.py
Labels: release target

#3639 [release_v2180] [ci] Fix bandit workflow (#3638)
  .github/workflows/sdl.yml
Labels: release target

#3616 [Torch FX] Introduce a New Method To Obtain Reduction Axes From Metatype
  src/nncf/quantization/algorithms/weight_compression/torch_backend.py
  src/nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  src/nncf/torch/graph/operator_metatypes.py
  src/nncf/torch/model_graph_manager.py
  tests/torch/test_model_graph_manager.py
Labels: NNCF PT
