Repository openvinotoolkit/nncf, pull requests merged in 2025-07, with the labels that each got.

#3559 [Solver] Move most of quantizer_config into the QuantizerConfig itself
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/quantization/structs.py
Labels: NNCF Common

#3556 [WC] Introduce flexible group size value search
  src/nncf/quantization/advanced_parameters.py
  src/nncf/quantization/algorithms/weight_compression/algorithm.py
  src/nncf/quantization/algorithms/weight_compression/config.py
  src/nncf/quantization/algorithms/weight_compression/handle_errors.py
  src/nncf/quantization/algorithms/weight_compression/mixed_precision.py
  src/nncf/quantization/algorithms/weight_compression/openvino_backend.py
  src/nncf/quantization/algorithms/weight_compression/scale_estimation.py
  src/nncf/quantization/algorithms/weight_compression/torch_backend.py
  src/nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  src/nncf/quantization/algorithms/weight_compression/weight_lowering.py
  src/nncf/quantization/statistics_caching.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_gptq.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/native/quantization/test_weights_compression_backends.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
  tests/torch2/function_hook/quantization/test_weights_compression_backends.py
  tests/torch2/fx/test_compress_weights.py
  tests/torch2/fx/test_weights_compression_backends.py
Labels: NNCF OpenVINO, API

#3577 FQLoRA: use last checkpoint with AWQ+SE as initialization
  examples/llm_compression/torch/distillation_qat_with_lora/README.md
  examples/llm_compression/torch/distillation_qat_with_lora/main.py
  examples/llm_compression/torch/downstream_qat_with_nls/main.py
  src/nncf/quantization/algorithms/smooth_quant/torch_backend.py
  src/nncf/quantization/algorithms/weight_compression/torch_backend.py
  src/nncf/torch/quantization/layers.py
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
Labels: documentation

#3587 [OpenVINO] A multihead_attention_output with ReadValue ignored pattern
  src/nncf/openvino/quantization/ignored_patterns.py
  src/nncf/quantization/algorithms/min_max/onnx_backend.py
  src/nncf/quantization/algorithms/min_max/openvino_backend.py
  src/nncf/quantization/algorithms/min_max/torch_backend.py
  src/nncf/quantization/algorithms/min_max/torch_fx_backend.py
  tests/openvino/native/quantization/test_quantizer_config.py
Labels: NNCF OpenVINO

#3487 [TorchFX] `quantize_pt2e` custom quantizers support
  src/nncf/common/quantization/quantizer_setup.py
  src/nncf/common/quantization/structs.py
  src/nncf/experimental/torch/fx/quantization/quantizer/torch_ao_adapter.py
  src/nncf/parameters.py
  src/nncf/quantization/algorithms/min_max/torch_fx_backend.py
  src/nncf/tensor/definitions.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_base.py
  tests/torch/quantization/test_serialize_to_json.py
  tests/torch2/data/fx/OpenVINOQuantizer/mobilenet_v3_small_ref_qconfig.json
  tests/torch2/data/fx/OpenVINOQuantizer/resnet18_ref_qconfig.json
  tests/torch2/data/fx/OpenVINOQuantizer/swin_v2_t_ref_qconfig.json
  tests/torch2/data/fx/OpenVINOQuantizer/synthetic_transformer_ref_qconfig.json
  tests/torch2/data/fx/OpenVINOQuantizer/unet_ref_qconfig.json
  tests/torch2/data/fx/OpenVINOQuantizer/vit_b_16_ref_qconfig.json
  tests/torch2/data/fx/OpenVINOQuantizer/yolo11n_sdpa_block_ref_qconfig.json
  tests/torch2/data/fx/X86InductorQuantizer/mobilenet_v3_small_ref_qconfig.json
  tests/torch2/data/fx/X86InductorQuantizer/resnet18_ref_qconfig.json
  tests/torch2/data/fx/X86InductorQuantizer/swin_v2_t_ref_qconfig.json
  tests/torch2/data/fx/X86InductorQuantizer/synthetic_transformer_ref_qconfig.json
  tests/torch2/data/fx/X86InductorQuantizer/unet_ref_qconfig.json
  tests/torch2/data/fx/X86InductorQuantizer/vit_b_16_ref_qconfig.json
  tests/torch2/data/fx/X86InductorQuantizer/yolo11n_sdpa_block_ref_qconfig.json
  tests/torch2/data/fx/XNNPACKQuantizer/mobilenet_v3_small_ref_qconfig.json
  tests/torch2/data/fx/XNNPACKQuantizer/resnet18_ref_qconfig.json
  tests/torch2/data/fx/XNNPACKQuantizer/swin_v2_t_ref_qconfig.json
  tests/torch2/data/fx/XNNPACKQuantizer/synthetic_transformer_ref_qconfig.json
  tests/torch2/data/fx/XNNPACKQuantizer/unet_ref_qconfig.json
  tests/torch2/data/fx/XNNPACKQuantizer/vit_b_16_ref_qconfig.json
  tests/torch2/data/fx/XNNPACKQuantizer/yolo11n_sdpa_block_ref_qconfig.json
  tests/torch2/fx/test_calculation_quantizer_params.py
  tests/torch2/fx/test_models.py
  tests/torch2/fx/test_quantizer.py
Labels: NNCF PT, NNCF PTQ

#3590 Single line installation step in samples
  examples/llm_compression/onnx/tiny_llama/README.md
  examples/llm_compression/openvino/smollm2_360m_codebook/README.md
  examples/llm_compression/openvino/smollm2_360m_fp8/README.md
  examples/llm_compression/openvino/tiny_llama/README.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/README.md
  examples/llm_compression/openvino/tiny_llama_synthetic_data/README.md
  examples/llm_compression/torch/distillation_qat_with_lora/README.md
  examples/llm_compression/torch/downstream_qat_with_nls/README.md
  examples/post_training_quantization/onnx/mobilenet_v2/README.md
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/README.md
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/README.md
  examples/post_training_quantization/openvino/mobilenet_v2/README.md
  examples/post_training_quantization/openvino/yolov8/README.md
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/README.md
  examples/post_training_quantization/tensorflow/mobilenet_v2/README.md
  examples/post_training_quantization/torch/mobilenet_v2/README.md
  examples/post_training_quantization/torch/ssd300_vgg16/README.md
  examples/post_training_quantization/torch_fx/resnet18/README.md
  examples/quantization_aware_training/tensorflow/mobilenet_v2/README.md
  examples/quantization_aware_training/torch/anomalib/README.md
  examples/quantization_aware_training/torch/resnet18/README.md
Labels: documentation, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX

#3501 fp8 weight compression into 4 bit types
  src/nncf/openvino/optimized_functions/models.py
  src/nncf/quantization/algorithms/weight_compression/algorithm.py
  src/nncf/quantization/algorithms/weight_compression/awq.py
  src/nncf/quantization/algorithms/weight_compression/config.py
  src/nncf/quantization/algorithms/weight_compression/openvino_backend.py
  src/nncf/tensor/definitions.py
  src/nncf/tensor/functions/openvino_numeric.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/openvino/native/quantization/test_gptq.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/openvino/optimized_functions/test_compression_functions.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
  tests/torch2/fx/test_compress_weights.py
Labels: NNCF OpenVINO

#3603 Update "Used by" readme section
  README.md
  docs/PyPiPublishing.md
Labels: documentation
