Repository openvinotoolkit/nncf, pull requests merged in 2025-10, with the labels that each got.

#3661 [prune] Add nncf.prune API
  examples/pruning/torch/resnet18/README.md
  examples/pruning/torch/resnet18/main.py
  examples/pruning/torch/resnet18/requirements.txt
  src/nncf/__init__.py
  src/nncf/parameters.py
  src/nncf/pruning/__init__.py
  src/nncf/pruning/prune_model.py
  src/nncf/torch/function_hook/prune/__init__.py
  src/nncf/torch/function_hook/prune/magnitude/__init__.py
  src/nncf/torch/function_hook/prune/magnitude/algo.py
  src/nncf/torch/function_hook/prune/magnitude/modules.py
  src/nncf/torch/function_hook/prune/magnitude/schedulers.py
  src/nncf/torch/function_hook/prune/prune_model.py
  src/nncf/torch/model_graph_manager.py
  tests/cross_fw/examples/.test_durations
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
  tests/torch2/function_hook/pruning/magnitude/helpers.py
  tests/torch2/function_hook/pruning/magnitude/test_algo.py
  tests/torch2/function_hook/pruning/magnitude/test_modules.py
  tests/torch2/function_hook/pruning/magnitude/test_schedulers.py
Labels: documentation, API

#3662 [ONNX] Compress quantize weights transformation
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  src/nncf/onnx/graph/onnx_helper.py
  src/nncf/onnx/graph/passes.py
  src/nncf/onnx/quantization/backend_parameters.py
  src/nncf/onnx/quantization/quantize_model.py
  tests/cross_fw/examples/example_scope.json
  tests/onnx/test_passes.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_timm.py
  tests/post_training/pipelines/image_classification_torchvision.py
Labels: NNCF ONNX, NNCF PTQ

#3677 [ONNX] Revert the temporary test changes
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_timm.py
  tests/post_training/pipelines/image_classification_torchvision.py
Labels: NNCF PTQ

#3679 Range estimator: Histogram aggregator docstrings
  src/nncf/quantization/range_estimator.py
Labels: API

#3674 Disable support of python 3.9
  .github/workflows/weekly.yml
  README.md
  constraints.txt
  examples/llm_compression/onnx/tiny_llama/README.md
  examples/llm_compression/onnx/tiny_llama_scale_estimation/README.md
  examples/llm_compression/openvino/smollm2_360m_codebook/README.md
  examples/llm_compression/openvino/smollm2_360m_fp8/README.md
  examples/llm_compression/openvino/tiny_llama/README.md
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/README.md
  examples/llm_compression/openvino/tiny_llama_synthetic_data/README.md
  examples/llm_compression/torch/distillation_qat_with_lora/README.md
  examples/llm_compression/torch/downstream_qat_with_nls/README.md
  examples/post_training_quantization/onnx/mobilenet_v2/README.md
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/README.md
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/README.md
  examples/post_training_quantization/openvino/mobilenet_v2/README.md
  examples/post_training_quantization/openvino/yolov8/README.md
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/README.md
  examples/post_training_quantization/tensorflow/mobilenet_v2/README.md
  examples/post_training_quantization/torch/mobilenet_v2/README.md
  examples/post_training_quantization/torch/ssd300_vgg16/README.md
  examples/post_training_quantization/torch_fx/resnet18/README.md
  examples/pruning/torch/resnet18/README.md
  examples/quantization_aware_training/tensorflow/mobilenet_v2/README.md
  examples/quantization_aware_training/tensorflow/mobilenet_v2/requirements.txt
  examples/quantization_aware_training/torch/anomalib/README.md
  examples/quantization_aware_training/torch/resnet18/README.md
  pyproject.toml
  src/nncf/torch/function_hook/hook_executor_mode.py
Labels: documentation, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX

#3664 [OpenVINO][WC] E2M1 -> MXFP4 and MXFP8_E4M3 weights compression support
  .ci/cspell_dict.txt
  docs/Algorithms.md
  docs/usage/post_training_compression/weights_compression/Usage.md
  src/nncf/openvino/optimized_functions/functions.py
  src/nncf/openvino/optimized_functions/models.py
  src/nncf/parameters.py
  src/nncf/quantization/algorithms/weight_compression/algorithm.py
  src/nncf/quantization/algorithms/weight_compression/config.py
  src/nncf/quantization/algorithms/weight_compression/openvino_backend.py
  src/nncf/quantization/algorithms/weight_compression/torch_backend.py
  src/nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  src/nncf/quantization/algorithms/weight_compression/weight_lowering.py
  src/nncf/quantization/quantize_model.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
Labels: documentation, NNCF OpenVINO, API
