Repository openvinotoolkit/nncf, pull requests merged in 2025-01, with the labels that each got.

#3175 [mypy] nncf/config
  nncf/common/accuracy_aware_training/training_loop.py
  nncf/config/config.py
  nncf/config/extractors.py
  nncf/config/schema.py
  nncf/config/schemata/algo/quantization.py
  nncf/config/schemata/basic.py
  nncf/config/schemata/experimental_schema.py
  nncf/config/structures.py
  pyproject.toml
Labels: NNCF Common, API

#3032 [GHA] conformance test for weight compression
  .github/scripts/pytest_md_summary.py
  .github/workflows/api_changes_check.yml
  .github/workflows/conformance_weight_compression.yml
  .github/workflows/nightly.yml
  tests/post_training/data/wc_test_durations.json
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Labels: NNCF PTQ

#3160 Suppressed UserWarning: TORCH_CUDA_ARCH_LIST
  nncf/torch/extensions/__init__.py
Labels: NNCF PT

#3171 [mypy] Enable check for some files in nncf/common
  nncf/api/compression.py
  nncf/common/hook_handle.py
  nncf/common/initialization/batchnorm_adaptation.py
  nncf/common/initialization/dataloader.py
  nncf/common/insertion_point_graph.py
  nncf/common/logging/logger.py
  nncf/common/plotting.py
  nncf/common/schedulers.py
  nncf/common/scopes.py
  nncf/common/stateful_classes_registry.py
  nncf/common/strip.py
  nncf/common/tensor.py
  nncf/tensorflow/algorithm_selector.py
  nncf/tensorflow/sparsity/rb/algorithm.py
  nncf/torch/extensions/__init__.py
  pyproject.toml
  tests/common/test_ctrl_state.py
  tests/torch/quantization/test_scheduler.py
Labels: NNCF TF, NNCF PT, NNCF Common, API

#3039 Telemetry coverage extension
  nncf/common/strip.py
  nncf/data/generators.py
  nncf/telemetry/events.py
  nncf/telemetry/extractors.py
  nncf/torch/model_creation.py
  nncf/torch/nncf_network.py
Labels: NNCF PT, NNCF Common, API

#3173 [mypy] nncf/data
  nncf/common/tensor_statistics/aggregator.py
  nncf/data/dataset.py
  nncf/data/generators.py
  nncf/telemetry/extractors.py
  pyproject.toml
Labels: NNCF Common, API

#3180 Update references for 2025.0
  tests/openvino/native/data/2025.0/reference_graphs/quantized/swin-block_performance_transformer.dot
  tests/openvino/native/data/2025.0/reference_graphs/quantized/swin-block_sq.dot
Labels: NNCF OpenVINO

#3182 Update outdate links to genai
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/README.md
  examples/llm_compression/openvino/tiny_llama_synthetic_data/README.md
  tools/README.md
Labels: documentation

#3187 [mypy] statistics.py factory.py
  nncf/common/factory.py
  nncf/common/statistics.py
  nncf/common/utils/tensorboard.py
  nncf/onnx/engine.py
  pyproject.toml
Labels: NNCF Common, NNCF ONNX, API

#3188 [mypy] deprecation.py
  nncf/common/deprecation.py
  pyproject.toml
  tests/common/test_deprecation_warnings.py
Labels: NNCF Common

#3181 [mypy] nncf/common/logging
  nncf/common/logging/progress_bar.py
  nncf/common/logging/track_progress.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/data/generators.py
  pyproject.toml
  tests/common/utils/test_progress_tracking.py
  tests/post_training/pipelines/image_classification_base.py
Labels: NNCF Common, NNCF PTQ

#3191 Typo in README.md
  README.md
Labels: documentation

#3137 Dynamic OV model builder
  nncf/openvino/graph/model_builder.py
  nncf/openvino/graph/node_utils.py
  nncf/quantization/algorithms/fast_bias_correction/algorithm.py
  nncf/quantization/algorithms/fast_bias_correction/backend.py
  nncf/quantization/algorithms/fast_bias_correction/openvino_backend.py
  tests/openvino/native/data/2024.6/reference_graphs/original_nncf_graph/built_ConvModel.dot
  tests/openvino/native/data/2024.6/reference_graphs/original_nncf_graph/built_DynamicModel.dot
  tests/openvino/native/data/2024.6/reference_graphs/original_nncf_graph/built_FPModel.dot
  tests/openvino/native/data/2024.6/reference_graphs/original_nncf_graph/built_LinearModel.dot
  tests/openvino/native/test_model_builder.py
Labels: NNCF OpenVINO, NNCF PTQ

#3190 [GHA] run tests with numpy<2
  .github/scripts/override_constraints.py
  .github/workflows/call_precommit.yml
  .github/workflows/weekly.yml
  pyproject.toml
Labels: API

#3192 [mypy] nncf/common/quantization (part 1)
  examples/torch/common/restricted_pickle_module.py
  nncf/common/hardware/config.py
  nncf/common/quantization/quantizer_propagation/structs.py
  nncf/common/quantization/quantizer_propagation/visualizer.py
  nncf/common/quantization/quantizers.py
  nncf/common/quantization/statistics.py
  nncf/common/quantization/structs.py
  nncf/common/stateful_classes_registry.py
  pyproject.toml
Labels: NNCF PT, NNCF Common, API

#3121 [Experimental][TorchFX] quantize_pt2e + X86Quantizer introduction
  nncf/experimental/quantization/algorithms/post_training/__init__.py
  nncf/experimental/quantization/algorithms/post_training/algorithm.py
  nncf/experimental/quantization/algorithms/post_training/pipeline.py
  nncf/experimental/quantization/algorithms/range_estimator/algorithm.py
  nncf/experimental/quantization/quantizers/__init__.py
  nncf/experimental/quantization/quantizers/quantizer.py
  nncf/experimental/quantization/quantizers/torch_ao_adapter.py
  nncf/experimental/torch/fx/nncf_graph_builder.py
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  nncf/experimental/torch/fx/transformations.py
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/common/quantization/test_minmax.py
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/resnet18.dot
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/unet.dot
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/experimental/X86InductorQuantizer/yolo11n_sdpa_block.dot
  tests/torch/fx/test_quantizer.py
Labels: NNCF PT, NNCF Common, experimental, NNCF PTQ

#3197 [mypy] nncf/common/quantization (part 2)
  nncf/common/quantization/initialization/range.py
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_propagation/grouping.py
  nncf/common/quantization/quantizer_propagation/solver.py
  nncf/common/quantization/quantizer_setup.py
  nncf/common/quantization/structs.py
  nncf/common/scopes.py
  nncf/common/utils/dot_file_rw.py
  pyproject.toml
Labels: NNCF Common

#3200 Remove levit model from ptq conformance tests
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/test_quantize_conformance.py
Labels: NNCF PTQ

#3204 Bump version of linters in pre-commit
  .markdownlint.yaml
  .pre-commit-config.yaml
  nncf/common/logging/track_progress.py
  tests/torch/ptq/test_wrap_model.py
  tests/torch/test_serialization.py
  tests/torch2/function_hook/test_function_hook_mode.py
Labels: NNCF PT, NNCF Common

#3205 [Common] Unified Scales for SDPA
  nncf/quantization/algorithms/min_max/onnx_backend.py
  nncf/quantization/algorithms/min_max/openvino_backend.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/min_max/torch_fx_backend.py
  tests/cross_fw/test_templates/test_unified_scales.py
  tests/openvino/native/test_unified_scales.py
  tests/torch/fx/test_unified_scales.py
  tests/torch/quantization/test_unified_scales.py
  tests/torch/test_models/synthetic.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#3194 [GHA] windows precommit
  .github/workflows/call_precommit_windows.yml
  .github/workflows/nightly.yml
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  tests/common/utils/test_timer.py
  tests/onnx/quantization/test_classification_models_graph.py
  tests/onnx/test_nncf_graph_builder.py
  tests/onnx/test_weightless_model.py
  tests/torch/test_pytorch_patch.py
Labels: NNCF PT, NNCF Common, experimental, NNCF ONNX

#3209 OV nf4 support
  nncf/openvino/graph/nncf_graph_builder.py
  tests/openvino/native/data/2024.6/reference_graphs/original_nncf_graph/nf4_FPModel.dot
  tests/openvino/native/test_nncf_graph_builder.py
Labels: NNCF OpenVINO

#3211 Follow up to #2727
  docs/api/source/conf.py
  nncf/openvino/optimized_functions/models.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/tensor/functions/openvino_numeric.py
  tests/openvino/native/test_tensor.py
  tests/openvino/optimized_functions/test_compression_functions.py
  tests/openvino/optimized_functions/test_ov_model_parameters.py
Labels: documentation, NNCF OpenVINO, NNCF PTQ

#3203 [Experimental][TorchFX] OpenVINOQuantizer
  nncf/experimental/quantization/quantizers/openvino_adapter.py
  nncf/experimental/quantization/quantizers/openvino_quantizer.py
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/resnet18.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/unet.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/yolo11n_sdpa_block.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/resnet18.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/unet.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/yolo11n_sdpa_block.dot
  tests/torch/fx/test_quantizer.py
  tests/torch/test_models/synthetic.py
Labels: NNCF PT, experimental

#3216 [Release_v2150][Experimental][TorchFX] OpenVINOQuantizer
  nncf/experimental/quantization/quantizers/openvino_adapter.py
  nncf/experimental/quantization/quantizers/openvino_quantizer.py
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/resnet18.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/unet.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/experimental/OpenVINOQuantizer/yolo11n_sdpa_block.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/mobilenet_v3_small.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/resnet18.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/swin_v2_s.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/synthetic_transformer.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/unet.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/vit_b_16.dot
  tests/torch/data/reference_graphs/fx/experimental/ao_export_quantization_OpenVINOQuantizer/yolo11n_sdpa_block.dot
  tests/torch/fx/test_quantizer.py
  tests/torch/test_models/synthetic.py
Labels: NNCF PT, experimental, release target

#3178 [PT2] Introduce PT2OpLayerAttribute
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/graph/graph_utils.py
  nncf/experimental/torch2/function_hook/graph/graph_visualization.py
  nncf/experimental/torch2/function_hook/nncf_graph/layer_attributes.py
  nncf/experimental/torch2/function_hook/nncf_graph/nncf_graph_builder.py
  nncf/torch/graph/operator_metatypes.py
  tests/torch2/function_hook/graph/test_build_graph_mode.py
  tests/torch2/function_hook/helpers.py
  tests/torch2/function_hook/nncf_graph/test_layer_attributes.py
  tests/torch2/function_hook/nncf_graph/test_nncf_graph.py
Labels: NNCF PT, experimental

#3212 [mypy] nncf/common
  nncf/api/compression.py
  nncf/common/accuracy_aware_training/runner.py
  nncf/common/accuracy_aware_training/runner_factory.py
  nncf/common/composite_compression.py
  nncf/common/compression.py
  nncf/common/quantization/config_assignment.py
  nncf/common/quantization/quantizer_propagation/graph.py
  nncf/common/quantization/quantizer_removal.py
  nncf/common/quantization/quantizer_setup.py
  nncf/common/utils/backend.py
  pyproject.toml
Labels: NNCF Common, API

#3208 add tests
  nncf/tensorflow/strip.py
  tests/tensorflow/quantization/test_strip.py
Labels: NNCF TF

#3220 xfail for bug with f16 zp
  tests/post_training/README.md
  tests/post_training/data/wc_reference_data_2025.0.yaml
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/causal_language_model.py
  tests/post_training/pipelines/gpt.py
  tests/post_training/pipelines/image_classification_base.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/pipelines/masked_language_modeling.py
Labels: documentation, NNCF PTQ

#3224 xfail for bug with f16 zp (#3220)
  tests/post_training/README.md
  tests/post_training/data/wc_reference_data_2025.0.yaml
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/causal_language_model.py
  tests/post_training/pipelines/gpt.py
  tests/post_training/pipelines/image_classification_base.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/pipelines/masked_language_modeling.py
Labels: documentation, release target, NNCF PTQ

#3219 bump md-dead-link-check to 1.1.0
  .github/workflows/nightly.yml
  .github/workflows/pre-commit-linters.yml
  docs/usage/training_time_compression/other_algorithms/LegacyQuantization.md
Labels: documentation

#3228 [release_v2150][WA][conformance][TorchFX] reshape model explicitly
  tests/post_training/pipelines/base.py
Labels: release target, NNCF PTQ

#3199 [PT] detach tensor in get_const_data
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/model_graph_manager.py
  tests/torch/test_model_graph_manager.py
Labels: NNCF PT, NNCF PTQ

#3229 [WA][conformance][TorchFX] reshape model explicitly
  tests/post_training/pipelines/base.py
Labels: NNCF PTQ

#3179 [Torch][WeightCompression] Add Scale Estimation data-aware support
  nncf/experimental/common/tensor_statistics/collectors.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/backend.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/layers.py
  nncf/torch/quantization/quantize_model.py
  tests/common/experimental/test_reducers_and_aggregators.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_reducers_and_aggregators.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/torch/experimental/sparsify_activations/test_components.py
  tests/torch/fx/test_compress_weights.py
  tests/torch/fx/test_weights_compression_backends.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch/ptq/test_weights_compression_backends.py
Labels: NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF PTQ

#3232 [PTQ] Remove HWConfig hardcode from calculate_quantizer_parameters
  nncf/common/quantization/quantizers.py
  nncf/quantization/fake_quantize.py
  tests/cross_fw/shared/json.py
  tests/cross_fw/test_templates/fq_params/fq_params.json
  tests/cross_fw/test_templates/test_calculate_quantizer_parameters.py
Labels: NNCF Common, NNCF PTQ
