Repository openvinotoolkit/nncf, pull requests merged in 2025-02, with the labels that each got.

#3239 [Common] Add init file to ensure installation
  nncf/experimental/torch2/function_hook/nncf_graph/__init__.py
Labels: experimental

#3010 [Conformance][TorchFX] GPU quantization support
  nncf/experimental/torch/fx/constant_folding.py
  nncf/quantization/algorithms/smooth_quant/torch_fx_backend.py
  tests/post_training/conftest.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_base.py
  tests/post_training/pipelines/image_classification_torchvision.py
  tests/post_training/test_quantize_conformance.py
  tests/torch/data/reference_graphs/fx/transformed/folded_scalar_clone_model.dot
  tests/torch/fx/test_model_transformer.py
  tests/torch/test_models/synthetic.py
Labels: NNCF PT, experimental, NNCF PTQ

#3233 [Release] Set environment variable on LNL CPUs before compression model compilation
  nncf/common/utils/backend.py
  nncf/common/utils/cpu_info.py
  nncf/common/utils/helpers.py
  nncf/openvino/optimized_functions/models.py
  pyproject.toml
  tests/common/utils/test_helpers.py
Labels: NNCF Common, NNCF OpenVINO, release target

#3248 [Conformance] Microfix
  tests/post_training/pipelines/base.py
Labels: NNCF PTQ

#3247 [Release] Parse OV version on demand
  nncf/common/utils/backend.py
Labels: NNCF Common, release target

#3246 Set environment variable on LNL CPUs before compression model compilation
  nncf/common/utils/backend.py
  nncf/common/utils/cpu_info.py
  nncf/common/utils/helpers.py
  nncf/openvino/optimized_functions/models.py
  pyproject.toml
  tests/common/utils/test_helpers.py
Labels: NNCF Common, NNCF OpenVINO

#3240 [TORCH] Add xfail for conformance
  tests/post_training/data/wc_reference_data_2025.0.yaml
Labels: NNCF PTQ

#3217 Update TF QAT docs. Deprecate TF create_compressed_model method
  README.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/quantization_aware_training/tensorflow/mobilenet_v2/main.py
  nncf/tensorflow/__init__.py
  nncf/tensorflow/helpers/model_creation.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/quantization/quantize_model.py
  nncf/tensorflow/utils/state.py
  nncf/torch/model_creation.py
Labels: documentation, NNCF TF, NNCF PT

#3254 Update TF QAT docs. Deprecate TF create_compressed_model method (#3217)
  README.md
  docs/usage/training_time_compression/quantization_aware_training/Usage.md
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/quantization_aware_training/tensorflow/mobilenet_v2/main.py
  nncf/tensorflow/__init__.py
  nncf/tensorflow/helpers/model_creation.py
  nncf/tensorflow/quantization/algorithm.py
  nncf/tensorflow/quantization/quantize_model.py
  nncf/tensorflow/utils/state.py
  nncf/torch/model_creation.py
Labels: documentation, NNCF TF, NNCF PT, release target

#3251 [DOCS] Updating references to OV docs - port 3250
  README.md
  docs/Installation.md
  docs/ModelZoo.md
  docs/usage/post_training_compression/weights_compression/Usage.md
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
Labels: documentation, experimental, release target

#3250 [DOCS] Updating references to OV docs
  README.md
  docs/Installation.md
  docs/ModelZoo.md
  docs/usage/post_training_compression/weights_compression/Usage.md
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
Labels: documentation, experimental

#3256 Bump OV version (#3236)
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/tensorflow/mobilenet_v2/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
Labels: documentation, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX

#3259 [Conformance][TorchFX] Run CUDA test only with --cuda argument enabled
  tests/post_training/test_quantize_conformance.py
Labels: NNCF PTQ

#3261 [ruff] Enable ISC rule
  examples/tensorflow/common/object_detection/architecture/fpn.py
  nncf/common/quantization/quantizer_setup.py
  nncf/quantization/algorithms/bias_correction/torch_fx_backend.py
  nncf/tensorflow/quantization/init_range.py
  nncf/torch/model_creation.py
  pyproject.toml
  tests/openvino/tools/calibrate.py
Labels: NNCF TF, NNCF PT, NNCF Common, NNCF OpenVINO, NNCF PTQ

#3257 Xfails for OV 2025.0
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
  tests/torch/sota_checkpoints_eval.json
Labels: NNCF PT

#3263 [OpenVINOQuantizer] return annotated model
  nncf/experimental/torch/fx/quantization/quantizer/openvino_quantizer.py
Labels: experimental

#3241 [TESTS] WhoWhatBench version update
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/README.md
  examples/llm_compression/openvino/tiny_llama_synthetic_data/main.py
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/data/wwb_ref_answers/tinyllama__tinyllama-1.1b-step-50k-105b/ref_qa.csv
  tests/post_training/requirements.txt
  tests/post_training/test_quantize_conformance.py
Labels: documentation, NNCF PTQ

#3266 [PT] disable grad for extracted module
  nncf/torch/extractor.py
  tests/torch/test_extractor.py
Labels: NNCF PT

#3270 [TorchFX] Refines for ExecuTorch OpenVINO backend integration
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_adapter.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_quantizer.py
Labels: experimental

#3274 [MinMax] set_ignored_scope method
  nncf/quantization/algorithms/min_max/algorithm.py
  tests/cross_fw/test_templates/test_min_max.py
Labels: NNCF PTQ

#3275 Add TorchFX backend in the PyPiPublishing.md
  docs/PyPiPublishing.md
Labels: documentation

#3271 [PT2] Use unique inport_port_id for list of tensors
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  tests/torch2/data/function_hook/graph_visualization/to_pydot_style_full.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_MultiHeadAttention.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_densenet121.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_inception_v3.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_shufflenet_v2_x0_5.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_squeezenet1_0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_swin_v2_b.dot
  tests/torch2/data/quantization/test_quantized_graphs/densenet121.dot
  tests/torch2/data/quantization/test_quantized_graphs/inception.dot
  tests/torch2/data/quantization/test_quantized_graphs/inception_v3.dot
  tests/torch2/data/quantization/test_quantized_graphs/shufflenetv2.dot
  tests/torch2/data/quantization/test_quantized_graphs/squeezenet1_1.dot
  tests/torch2/data/quantization/test_quantized_graphs/unet.dot
  tests/torch2/function_hook/nncf_graph/test_layer_attributes.py
  tests/torch2/function_hook/nncf_graph/test_nncf_graph.py
  tests/torch2/function_hook/test_function_hook_mode.py
Labels: experimental

#3285 Fix: GPTQ fails with per-channel int4 compression.
  nncf/quantization/algorithms/weight_compression/gptq.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ

#3278 [PT2] no use gradient for building graph
  nncf/experimental/torch2/function_hook/graph/build_graph_mode.py
  nncf/experimental/torch2/function_hook/graph/graph_utils.py
  tests/torch2/data/function_hook/graph_visualization/to_pydot_style_full.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_BatchNormModel.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_MultiHeadAttention.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_ReluModel.dot
  tests/torch2/function_hook/graph/test_build_graph_mode.py
  tests/torch2/function_hook/nncf_graph/test_layer_attributes.py
Labels: experimental

#3265 [TESTS] Make a common entry point for conformance tests
  tests/post_training/README.md
  tests/post_training/conftest.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/experimental/sparsify_activations/model_scope.py
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/post_training/experimental/sparsify_activations/test_sparsify_activations_conformance.py
  tests/post_training/model_scope.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_base.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/test_quantize_conformance.py
Labels: documentation, NNCF PTQ

#3276 [PT2] SmoothQuant
  nncf/experimental/torch2/commands.py
  nncf/experimental/torch2/model_transformer.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/algorithm.py
  nncf/quantization/algorithms/smooth_quant/backend.py
  nncf/quantization/algorithms/smooth_quant/openvino_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_fx_backend.py
  nncf/torch/graph/transformations/command_creation.py
  nncf/torch/layer_utils.py
  tests/torch2/function_hook/quantization/test_smooth_quant.py
Labels: NNCF PT, experimental, NNCF OpenVINO, NNCF PTQ

#3294 [ruff] isort
  .pre-commit-config.yaml
  docs/styleguide/PyGuide.md
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  pyproject.toml
  tests/cross_fw/sdl/fuzz/quantize_api.py
  tests/torch2/function_hook/quantization/test_quantized_graphs.py
Labels: documentation, NNCF PT, experimental

#3298 Remove dead link to examples in optimum-intel
  README.md
  docs/PyPiPublishing.md
  nncf/experimental/torch/sparsity/movement/MovementSparsity.md
Labels: documentation, experimental

#3300 Bump pydot
  pyproject.toml
  tests/common/data/reference_graphs/dot_rw_reference.dot
  tests/torch2/data/function_hook/graph_visualization/to_pydot_style_disable.dot
  tests/torch2/data/function_hook/graph_visualization/to_pydot_style_full.dot
  tests/torch2/data/function_hook/graph_visualization/to_pydot_style_short.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_BatchNormModel.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_MultiHeadAttention.dot
  tests/torch2/data/function_hook/handle_inner_functions/inner_functions_ReluModel.dot
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph.dot
  tests/torch2/data/function_hook/nncf_graph/convert_to_nncf_graph_multi_edges.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_convnext_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_densenet121.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_efficientnet_b0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_inception_v3.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v2.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_mobilenet_v3_small.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnet18.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_resnext50_32x4d.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_shufflenet_v2_x0_5.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_squeezenet1_0.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_swin_v2_b.dot
  tests/torch2/data/function_hook/nncf_graph/model_graph_vgg16.dot
  tests/torch2/data/quantization/test_quantized_graphs/alexnet.dot
  tests/torch2/data/quantization/test_quantized_graphs/densenet121.dot
  tests/torch2/data/quantization/test_quantized_graphs/embedding_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/inception.dot
  tests/torch2/data/quantization/test_quantized_graphs/inception_v3.dot
  tests/torch2/data/quantization/test_quantized_graphs/lenet.dot
  tests/torch2/data/quantization/test_quantized_graphs/mobilenet_v2.dot
  tests/torch2/data/quantization/test_quantized_graphs/mobilenet_v3_small.dot
  tests/torch2/data/quantization/test_quantized_graphs/resnet18.dot
  tests/torch2/data/quantization/test_quantized_graphs/rope_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/scaled_dot_product_attention_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/shared_model.dot
  tests/torch2/data/quantization/test_quantized_graphs/shufflenetv2.dot
  tests/torch2/data/quantization/test_quantized_graphs/squeezenet1_1.dot
  tests/torch2/data/quantization/test_quantized_graphs/unet.dot
  tests/torch2/data/quantization/test_quantized_graphs/vgg16.dot
Labels: NNCF Common

#3272 Bump transformers version
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  nncf/torch/exporter.py
  tests/openvino/native/quantization/test_weights_compression_statistics_caching.py
  tests/openvino/requirements.txt
  tests/post_training/requirements.txt
  tests/torch/data/experimental/sparsify_activations/dummy_llama_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/dummy_llama_sparse_activations.dot
  tests/torch/data/reference_graphs/pruning_groups/1_layer_BERT.dot
  tests/torch/data/reference_graphs/pruning_groups/CLIP.dot
  tests/torch/data/reference_graphs/pruning_groups/DistilBERT.dot
  tests/torch/data/reference_graphs/pruning_groups/RoBERTa.dot
  tests/torch/data/reference_graphs/pruning_groups/ViT.dot
  tests/torch/data/reference_graphs/pruning_groups/ViT_no_heads.dot
  tests/torch/data/reference_graphs/pruning_groups/Wave2Vec_2.0.dot
  tests/torch/data/reference_graphs/pruning_groups/larger_BERT.dot
  tests/torch/data/search_building_block/bert.json
  tests/torch/data/search_building_block/vit.json
  tests/torch/data/search_building_block/wave2vec_2.0.json
  tests/torch/models_hub_test/requirements.txt
  tests/torch/pruning/experimental/test_nodes_grouping.py
  tests/torch/requirements.txt
  tests/torch/sparsity/movement/helpers/trainer.py
  tests/torch/sparsity/movement/test_algo.py
  tests/torch/sparsity/movement/test_model_saving.py
  tests/torch/sparsity/movement/test_structured_mask.py
  tests/torch/test_onnx_export.py
Labels: NNCF PT, NNCF OpenVINO, NNCF PTQ

#3279 [Torch] AWQ support for WeightCompression
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/model_transformer.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/openvino/native/models.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_reference_data_2025.0.yaml
  tests/post_training/model_scope.py
  tests/torch/ptq/test_weights_compression.py
Labels: NNCF PT, NNCF OpenVINO, NNCF PTQ

#3277 [OpenVINOQuantizer] Mark quantizer and quantize_pt2e as API
  docs/api/source/conf.py
  nncf/experimental/torch/fx/__init__.py
  nncf/experimental/torch/fx/quantization/quantize_pt2e.py
  nncf/experimental/torch/fx/quantization/quantizer/openvino_quantizer.py
Labels: documentation, experimental, API

#3304 Update reference for 2025.1
  tests/openvino/native/data/2025.1/reference_graphs/quantized/swin-block_performance_transformer.dot
  tests/openvino/native/data/2025.1/reference_graphs/quantized/swin-block_sq.dot
Labels: NNCF OpenVINO

#3297 [PT2] cache for shared parameters
  nncf/experimental/torch2/function_hook/hook_executor_mode.py
  nncf/experimental/torch2/function_hook/wrapper.py
  tests/torch2/data/function_hook/nncf_graph/model_graph_with_shared_parameters.dot
  tests/torch2/function_hook/helpers.py
  tests/torch2/function_hook/nncf_graph/test_nncf_graph.py
  tests/torch2/function_hook/test_function_hook_mode.py
  tests/torch2/utils.py
Labels: experimental

#3305 [TESTS] Remove tinyllama_scale_estimation_group_size_64 from reference
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/data/wc_reference_data_2025.0.yaml
Labels: NNCF PTQ

#3311 [PT] less atol on windows for test_same_outputs_in_torch_and_exported_onnx
  tests/torch/sparsity/movement/test_model_saving.py
Labels: NNCF PT
