Repository openvinotoolkit/nncf, pull requests merged in 2025-04, with the labels that each got.

#3401 Proper handling cuda/cpu tests for weight compression (#3389)
  tests/torch/fx/test_compress_weights.py
  tests/torch/ptq/test_fq_lora.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
Labels: NNCF PT, release target

#3394 More helpful error message in case of invalid group size (#3391)
  nncf/__init__.py
  nncf/errors.py
  nncf/quantization/algorithms/weight_compression/handle_errors.py
  nncf/quantization/algorithms/weight_compression/openvino_backend.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/cross_fw/test_templates/template_test_weights_compression.py
  tests/openvino/native/quantization/test_weights_compression.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
Labels: NNCF PT, NNCF OpenVINO, release target, NNCF PTQ

#3398 Fixed bug with FQ_LORA for shared weights (#3397)
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/quantization/strip.py
  tests/cross_fw/shared/nx_graph.py
  tests/torch/data/reference_graphs/compress_weights/fq_lora/shared_weights_all_layers_False.dot
  tests/torch/data/reference_graphs/compress_weights/fq_lora/shared_weights_all_layers_True.dot
  tests/torch/ptq/test_fq_lora.py
Labels: NNCF PT, release target, NNCF PTQ

#3403 [Release_v2160] Minor strip updates (#3402)
  nncf/torch/quantization/strip.py
  tests/torch/quantization/test_strip.py
Labels: NNCF PT, release target

#3386 Added qat lora sample to test_examples
  .github/workflows/examples.yml
  examples/llm_compression/torch/qat_with_lora/main.py
  examples/llm_compression/torch/qat_with_lora/requirements.txt
  nncf/quantization/advanced_parameters.py
  nncf/torch/quantization/layers.py
  tests/cross_fw/examples/.test_durations
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
  tests/cross_fw/examples/test_examples.py
Labels: NNCF PT, API, NNCF PTQ

#3406 Added qat lora sample to test_examples (#3386)
  .github/workflows/examples.yml
  examples/llm_compression/torch/qat_with_lora/main.py
  examples/llm_compression/torch/qat_with_lora/requirements.txt
  nncf/quantization/advanced_parameters.py
  nncf/torch/quantization/layers.py
  tests/cross_fw/examples/.test_durations
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
  tests/cross_fw/examples/test_examples.py
Labels: NNCF PT, release target, NNCF PTQ

#3410 Fix disable_caching context manager
  nncf/common/utils/caching.py
  tests/common/utils/test_cache_results_decorator.py
Labels: NNCF Common

#3380 [Release_v2160] Update Release notes
  ReleaseNotes.md
Labels: documentation, release target

#3414 [Release_v2160] FP8 example minor changes
  examples/llm_compression/openvino/smollm2_360m_fp8/main.py
Labels: release target

#3404 [PT2] strip for dequantize format
  nncf/experimental/torch2/function_hook/strip.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/torch/quantization/quantize_functions.py
  nncf/torch/quantization/strip.py
  tests/torch/quantization/test_strip.py
  tests/torch2/data/reference_graphs/compress_weights/fq_lora/shared_weights_all_layers_False.dot
  tests/torch2/data/reference_graphs/compress_weights/fq_lora/shared_weights_all_layers_True.dot
  tests/torch2/function_hook/quantization/strip/test_strip_dequantize.py
  tests/torch2/function_hook/quantization/strip/test_strip_native.py
  tests/torch2/function_hook/quantization/test_fq_lora.py
  tests/torch2/requirements.txt
Labels: NNCF PT, experimental, NNCF PTQ

#3418 [Release_v2160] Bump OV version
  constraints.txt
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/llm_compression/torch/qat_with_lora/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/tensorflow/mobilenet_v2/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  tests/cross_fw/examples/test_examples.py
  tests/post_training/requirements.txt
Labels: NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, release target, NNCF PTQ

#3422 Remove xfail for test_mixed_precision_e2m1
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO

#3423 [Release_v2160] Update for installation.md
  docs/Installation.md
Labels: documentation, release target

#3425 Bump OV version
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/smollm2_360m_fp8/requirements.txt
  examples/llm_compression/openvino/tiny_llama/requirements.txt
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/requirements.txt
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/llm_compression/torch/qat_with_lora/requirements.txt
  examples/post_training_quantization/onnx/mobilenet_v2/requirements.txt
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/openvino/mobilenet_v2/requirements.txt
  examples/post_training_quantization/openvino/yolov8/requirements.txt
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/requirements.txt
  examples/post_training_quantization/tensorflow/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/tensorflow/mobilenet_v2/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  tests/post_training/requirements.txt
Labels: documentation, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#3420 Eliminated the redundant model copy on the strip.
  examples/llm_compression/torch/qat_with_lora/main.py
  tests/torch/ptq/test_fq_lora.py
  tests/torch2/function_hook/quantization/test_fq_lora.py
Labels: NNCF PT

#3426 no download from hf in test for checkpoint load
  tests/torch/ptq/test_fq_lora.py
  tests/torch2/function_hook/quantization/test_fq_lora.py
Labels: NNCF PT

#3345 Updated PTWC references for 2025.1
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/data/wc_reference_data_2025.0.yaml
Labels: NNCF PTQ

#3430 Add quotes to memory monitor command example
  tools/README.md
  tools/memory_monitor.py
Labels: documentation

#3431 Added results on wikitext for QAT + LoRA
  .ci/cspell_dict.txt
  examples/llm_compression/torch/qat_with_lora/README.md
Labels: documentation

#3387 Update NF4 quantile centers
  nncf/quantization/algorithms/weight_compression/weight_lowering.py
  tests/openvino/native/quantization/test_weights_compression.py
Labels: NNCF OpenVINO, NNCF PTQ

#3338 Enable FunctionHookMode tracing by default
  .gitignore
  examples/llm_compression/torch/qat_with_lora/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  nncf/common/factory.py
  nncf/common/utils/backend.py
  nncf/experimental/common/check_feature.py
  nncf/experimental/torch2/function_hook/serialization.py
  nncf/experimental/torch2/model_transformer.py
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/quantize_model.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/dynamic_graph/patch_pytorch.py
  nncf/torch/graph/graph.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/model_creation.py
  nncf/torch/strip.py
  tests/cross_fw/examples/example_scope.json
  tests/torch/conftest.py
  tests/torch2/conftest.py
  tests/torch2/function_hook/test_serialization.py
  tests/torch2/test_patching.py
Labels: NNCF PT, NNCF Common, experimental, NNCF PTQ

#3373 remove jstyleson
  .ci/cspell_dict.txt
  .github/workflows/build_schema_page.yml
  docs/ConfigFile.md
  examples/common/sample_config.py
  examples/torch/classification/configs/mixed_precision/mobilenet_v2_imagenet_mixed_int_manual.json
  examples/torch/classification/configs/mixed_precision/mobilenet_v2_imagenet_mixed_int_manual_staged.json
  examples/torch/classification/configs/mixed_precision/resnet50_imagenet_mixed_int_manual.json
  examples/torch/classification/configs/mixed_precision/resnet50_imagenet_mixed_int_manual_staged.json
  examples/torch/classification/configs/mixed_precision/squeezenet1_1_imagenet_mixed_int_hawq_old_eval.json
  examples/torch/classification/configs/mixed_precision/squeezenet1_1_imagenet_mixed_int_manual.json
  examples/torch/classification/configs/mixed_precision/squeezenet1_1_imagenet_mixed_int_manual_staged.json
  examples/torch/classification/configs/pruning/resnet34_imagenet_pruning_geometric_median_kd.json
  examples/torch/classification/configs/quantization/mobilenet_v2_imagenet.json
  examples/torch/classification/configs/quantization/squeezenet1_1_imagenet.json
  examples/torch/object_detection/configs/ssd300_mobilenet_voc_magnitude_int8.json
  examples/torch/object_detection/configs/ssd300_vgg_voc.json
  examples/torch/object_detection/configs/ssd300_vgg_voc_pruning_geometric_median.json
  examples/torch/object_detection/configs/ssd512_vgg_voc.json
  nncf/common/hardware/config.py
  nncf/common/hardware/configs/cpu.json
  nncf/common/hardware/configs/npu.json
  nncf/common/hardware/configs/template.md
  nncf/config/config.py
  pyproject.toml
  tests/common/data/schema_validation_bad_configs/hawq_bitwidth_per_scope_format_mismatch.json
  tests/torch/sparsity/movement/test_training.py
  tests/torch/sparsity/movement/training_scripts/run_glue.py
Labels: documentation, NNCF PT, NNCF Common

#3413 Enable mypy for nncf/quantization/*py
  nncf/common/graph/graph.py
  nncf/experimental/torch/fx/quantization/quantize_model.py
  nncf/openvino/quantization/quantize_model.py
  nncf/quantization/algorithms/hyperparameter_tuner/algorithm.py
  nncf/quantization/fake_quantize.py
  nncf/quantization/quantize_model.py
  nncf/torch/quantization/quantize_model.py
  pyproject.toml
Labels: NNCF PT, NNCF Common, experimental, NNCF OpenVINO, NNCF PTQ

#3411 [ruff] perflint
  nncf/common/pruning/node_selector.py
  nncf/common/tensor_statistics/aggregator.py
  nncf/common/tensor_statistics/collectors.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/elastic_depth.py
  nncf/experimental/torch/nas/bootstrapNAS/elasticity/multi_elasticity_handler.py
  nncf/experimental/torch/search_building_blocks/search_blocks.py
  nncf/quantization/algorithms/min_max/algorithm.py
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/torch/automl/environment/quantization_env.py
  nncf/torch/dynamic_graph/context.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/quantization/metrics.py
  pyproject.toml
  tests/cross_fw/test_templates/test_ptq_params.py
  tests/torch/automl/test_ddpg.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch/quantization/test_algo_quantization.py
  tests/torch/quantization/test_range_init.py
  tests/torch/test_get_modules_by_type.py
  tests/torch/test_graph_building.py
  tools/extract_ov_subgraph.py
Labels: NNCF PT, NNCF Common, experimental, NNCF PTQ

#3433 [pt2] activation sparsity
  nncf/experimental/torch/sparsify_activations/sparsify_activations_impl.py
  nncf/experimental/torch/sparsify_activations/torch_backend.py
  nncf/torch/model_creation.py
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/torch/data/experimental/sparsify_activations/dummy_llama_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/dummy_llama_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/linear_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/linear_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_ignore1_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_ignore1_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_int8_sym_weights_sparse_activations.dot
  tests/torch/data/experimental/sparsify_activations/three_linear_sparse_activations.dot
  tests/torch2/data/sparsify_activations/dummy_llama_int8_sym_weights_sparse_activations.dot
  tests/torch2/data/sparsify_activations/dummy_llama_sparse_activations.dot
  tests/torch2/data/sparsify_activations/linear_int8_sym_weights_sparse_activations.dot
  tests/torch2/data/sparsify_activations/linear_sparse_activations.dot
  tests/torch2/data/sparsify_activations/three_linear_ignore1_int8_sym_weights_sparse_activations.dot
  tests/torch2/data/sparsify_activations/three_linear_ignore1_sparse_activations.dot
  tests/torch2/data/sparsify_activations/three_linear_int8_sym_weights_sparse_activations.dot
  tests/torch2/data/sparsify_activations/three_linear_sparse_activations.dot
  tests/torch2/function_hook/sparsify_activations/__init__.py
  tests/torch2/function_hook/sparsify_activations/helpers.py
  tests/torch2/function_hook/sparsify_activations/test_algo.py
  tests/torch2/function_hook/sparsify_activations/test_components.py
Labels: NNCF PT, experimental, NNCF PTQ

#3435 Remove disable patching for fx examples and docs
  README.md
  examples/post_training_quantization/torch_fx/resnet18/main.py
  tests/post_training/pipelines/image_classification_torchvision.py
Labels: documentation, NNCF PTQ

#3438 Add nncf version to openvino model rt info
  nncf/openvino/rt_info.py
  tests/openvino/native/quantization/test_quantization_pipeline.py
Labels: NNCF OpenVINO

#3436 Fix activation sparsity conformance test fp32 model saving
  tests/post_training/experimental/sparsify_activations/pipelines.py
Labels: NNCF PTQ

#3382 [ONNX] 4 bits and 8 bits data-free WeightCompression
  .ci/cspell_dict.txt
  nncf/onnx/graph/metatypes/groups.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/onnx_helper.py
  nncf/onnx/quantization/quantize_model.py
  nncf/quantization/algorithms/weight_compression/algorithm.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
  nncf/quantization/quantize_model.py
  tests/onnx/quantization/test_weights_compression.py
Labels: NNCF ONNX, NNCF PTQ

#3286 Add SELU activation metatype
  nncf/onnx/graph/metatypes/groups.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/openvino/graph/metatypes/groups.py
  nncf/openvino/graph/metatypes/openvino_metatypes.py
  nncf/torch/graph/operator_metatypes.py
  nncf/torch/graph/pattern_operations.py
Labels: NNCF PT, NNCF OpenVINO, NNCF ONNX

#3447 PEP585 for examples and tools
  docs/api/source/conf.py
  examples/llm_compression/openvino/tiny_llama_find_hyperparams/main.py
  examples/llm_compression/torch/qat_with_lora/main.py
  examples/post_training_quantization/onnx/mobilenet_v2/main.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/deploy.py
  examples/post_training_quantization/onnx/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/anomaly_stfpm_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/openvino/mobilenet_v2/main.py
  examples/post_training_quantization/openvino/yolov8/main.py
  examples/post_training_quantization/openvino/yolov8_quantize_with_accuracy_control/main.py
  examples/post_training_quantization/tensorflow/mobilenet_v2/main.py
  examples/post_training_quantization/torch/mobilenet_v2/main.py
  examples/post_training_quantization/torch/ssd300_vgg16/main.py
  examples/post_training_quantization/torch_fx/resnet18/main.py
  examples/quantization_aware_training/tensorflow/mobilenet_v2/main.py
  examples/quantization_aware_training/torch/anomalib/main.py
  examples/quantization_aware_training/torch/resnet18/main.py
  examples/tensorflow/classification/datasets/preprocessing/cifar.py
  examples/tensorflow/classification/datasets/preprocessing/imagenet.py
  examples/tensorflow/classification/datasets/preprocessing/utils.py
  examples/tensorflow/common/callbacks.py
  examples/torch/classification/models/mobilenet_v2_32x32.py
  examples/torch/common/model_loader.py
  examples/torch/common/models/classification/mobilenet_v2_tv_092.py
  examples/torch/common/models/classification/mobilenet_v3_tv_092.py
  examples/torch/common/utils.py
  examples/torch/object_detection/dataset.py
  examples/torch/object_detection/datasets/voc0712.py
  examples/torch/object_detection/utils/augmentations.py
  tools/benchmark.py
  tools/benchmark_quantize_layers.py
  tools/extract_ov_subgraph.py
  tools/get_ir_ignored_scope_by_model_id.py
  tools/memory_monitor.py
Labels: documentation, NNCF TF, NNCF PT, NNCF OpenVINO, NNCF ONNX

#3446 [pt2] Remove support old tracing for ptq
  nncf/quantization/algorithms/min_max/torch_backend.py
  nncf/quantization/algorithms/smooth_quant/torch_backend.py
  nncf/quantization/algorithms/weight_compression/torch_backend.py
  nncf/quantization/quantize_model.py
  tests/torch/fx/test_compress_weights.py
  tests/torch/fx/test_ptq_params.py
  tests/torch/ptq/test_calculation_quantizer_params.py
  tests/torch/ptq/test_fast_bias_correction.py
  tests/torch/ptq/test_fq_lora.py
  tests/torch/ptq/test_fq_params_calculation.py
  tests/torch/ptq/test_graphs.py
  tests/torch/ptq/test_min_max.py
  tests/torch/ptq/test_ptq_params.py
  tests/torch/ptq/test_quantizer_config.py
  tests/torch/ptq/test_reducers_and_aggregators.py
  tests/torch/ptq/test_smooth_quant.py
  tests/torch/ptq/test_statistic_collector.py
  tests/torch/ptq/test_statistics_caching.py
  tests/torch/ptq/test_strip.py
  tests/torch/ptq/test_tensor_collector_batch_size.py
  tests/torch/ptq/test_weights_compression.py
  tests/torch/ptq/test_wrap_model.py
  tests/torch/quantization/test_strip.py
  tests/torch/test_pytorch_patch.py
  tests/torch/test_statistics_aggregator.py
  tests/torch2/function_hook/quantization/helper.py
  tests/torch2/function_hook/quantization/test_fq_lora.py
  tests/torch2/function_hook/quantization/test_ptq_params.py
  tests/torch2/function_hook/quantization/test_quantizer_config.py
  tests/torch2/function_hook/quantization/test_transform_fn.py
  tests/torch2/function_hook/quantization/test_weights_compression.py
  tests/torch2/function_hook/quantization/test_weights_compression_backends.py
Labels: NNCF PT, NNCF PTQ

#3450 Fix version of torch and tf in doc
  docs/Installation.md
Labels: documentation

#3321 [FX][Conformance] Enable Conformance Test for FX Backend
  tests/post_training/conftest.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/post_training/experimental/sparsify_activations/pipelines.py
  tests/post_training/experimental/sparsify_activations/test_sparsify_activations_conformance.py
  tests/post_training/pipelines/base.py
  tests/post_training/pipelines/image_classification_base.py
  tests/post_training/pipelines/image_classification_torchvision.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/post_training/test_quantize_conformance.py
Labels: NNCF PTQ

#3409 [FX][AWQ][Scale Estimation][Mixed Precision] Add Data Aware Algorithm Support for FX Backend
  .ci/cspell_dict.txt
  nncf/quantization/algorithms/weight_compression/awq.py
  nncf/quantization/algorithms/weight_compression/mixed_precision.py
  nncf/quantization/algorithms/weight_compression/scale_estimation.py
  nncf/quantization/algorithms/weight_compression/torch_fx_backend.py
  nncf/quantization/quantize_model.py
  tests/post_training/data/wc_reference_data.yaml
  tests/post_training/model_scope.py
  tests/post_training/pipelines/fx_utils.py
  tests/post_training/pipelines/lm_weight_compression.py
  tests/torch/fx/test_compress_weights.py
  tests/torch/fx/test_weights_compression_backends.py
Labels: NNCF PT, NNCF PTQ

#3464 Fix broken link in README.md
  README.md
Labels: documentation

#3381 Updated reference with torch.compile
  nncf/torch/quantization/reference.py
  nncf/torch/utils.py
  tests/torch/quantization/test_functions.py
  tests/torch/test_utils.py
  tests/torch2/function_hook/quantization/strip/test_strip_dequantize.py
Labels: NNCF PT

#3455 Bump PyTorch to 2.7.0
  .github/workflows/call_precommit.yml
  .github/workflows/examples.yml
  .github/workflows/install.yml
  constraints.txt
  docs/Installation.md
  examples/llm_compression/openvino/tiny_llama_synthetic_data/requirements.txt
  examples/llm_compression/torch/qat_with_lora/requirements.txt
  examples/post_training_quantization/torch/mobilenet_v2/requirements.txt
  examples/post_training_quantization/torch/ssd300_vgg16/requirements.txt
  examples/post_training_quantization/torch_fx/resnet18/requirements.txt
  examples/quantization_aware_training/torch/resnet18/requirements.txt
  nncf/version.py
  tests/cross_fw/examples/example_scope.json
  tests/cross_fw/examples/run_example.py
  tests/onnx/quantization/test_qdq_params_calculation.py
  tests/openvino/native/quantization/test_fq_params_calculation.py
  tests/post_training/data/ptq_reference_data.yaml
  tests/torch/data/ref_generated_data.json
  tests/torch/test_dataset_generators.py
  tests/torch/test_utils.py
Labels: documentation, NNCF PT, NNCF OpenVINO, NNCF ONNX, NNCF PTQ

#3443 [ONNX] Add external_data_dir backend parameter
  .ci/cspell_dict.txt
  nncf/onnx/engine.py
  nncf/onnx/graph/metatypes/onnx_metatypes.py
  nncf/onnx/graph/model_metadata.py
  nncf/onnx/graph/model_transformer.py
  nncf/onnx/graph/model_utils.py
  nncf/onnx/graph/onnx_helper.py
  nncf/onnx/quantization/backend_parameters.py
  nncf/onnx/quantization/quantize_model.py
  nncf/quantization/advanced_parameters.py
  nncf/quantization/algorithms/accuracy_control/onnx_backend.py
  nncf/quantization/algorithms/weight_compression/onnx_backend.py
  tests/onnx/models.py
  tests/onnx/quantization/test_backend_parameters.py
  tests/onnx/test_engine.py
  tests/onnx/test_external_data.py
  tests/onnx/test_model_metadata.py
  tests/onnx/test_onnx_helper.py
Labels: NNCF ONNX, API, NNCF PTQ
